<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">

  <div class="container-fluid report-layout">
    <div class=" margin-top-15">
      <div class="card card-main">
        <div class="card-header">
          <div class="row ">
            <div class="col-xl-7 col-md-6">
              <div class="text-uppercase text-title-gray font-18 semibold-montserrat padding-top-5">
                Reports / {{Report[reportName - 1].name}}
              </div>
            </div>

            <div class="col-xl-5 col-md-6">
              <div class="">
                <div class="form-group mb-0 row">
                  <div class="col-md-5">
                    <label class="col-form-label float-right" for="select1">Select&nbsp;Report</label>
                  </div>
                  <div class="col-md-7 pl-1">
                    <select class="form-control" (change)="reportSelected($any($event.target).value)" required
                      name="reportName" [(ngModel)]="reportName"
                      class="form-control common-text-box font-14 text-dark-blue">
                      <option *ngFor="let report of Report;let i = index;" [value]="report.id">
                        {{report.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <div *ngIf="selectedReport == 0">
        <h2>Please Select any report type</h2>
      </div> -->
      <div *ngIf="selectedReport == 1 && Users" class="reports">
        <app-dashboard-report [Users]="Users"></app-dashboard-report>
      </div>
      <div *ngIf="selectedReport == 2" class="reports">
        <app-quotes-accepted-report [Users]="Users"></app-quotes-accepted-report>
      </div>
      <div *ngIf="selectedReport == 3" class="reports">
        <app-quotes-rejected-report [Users]="Users"></app-quotes-rejected-report>
      </div>
      <div *ngIf="selectedReport == 4" class="reports">
        <app-notes-and-history [Users]="Users"></app-notes-and-history>
      </div>
    </div>
  </div>
</div>