<div class="main-container main-container-compress fixed-main-container">
  <div class="padding-bottom-20">
    <div class="nav-tabs-wrapper">
      <ul
        class="nav nav-tabs dragscroll horizontal common-tabs margin-left-0 margin-right-0"
      >
        <li
          class="nav-item"
          *ngIf="currentUser.role.description !== constants.GeneralUser"
        >
          <a
            (click)="tabString = 'manageUser'"
            class="nav-link active show"
            href="#manageUser"
            data-toggle="tab"
            >Manage User(s)</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="currentUser.role.description === constants.SuperAdmin"
        >
          <a
            (click)="tabString = 'configuration'"
            class="nav-link"
            href="#configuration"
            data-toggle="tab"
            >Configuration</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="currentUser.role.description !== constants.GeneralUser"
        >
          <a
            (click)="tabString = 'accessMatrix'"
            class="nav-link"
            href="#accessMatrix"
            data-toggle="tab"
            >Access Matrix</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="currentUser.role.description !== constants.GeneralUser"
        >
          <a
            (click)="tabString ='taxMatrix'"
            class="nav-link"
            href="#taxMatrix"
            data-toggle="tab"
            >Tax Rates</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="tabString = 'pricicngMethods'"
            class="nav-link"
            [ngClass]="{'active show' : currentUser.role.description === constants.GeneralUser}"
            href="#pricingMethod"
            data-toggle="tab"
            >Pricing Methods</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="tabString = 'categorySubcategory'"
            class="nav-link"
            href="#categoryAndSubcategory"
            data-toggle="tab"
            >Categories and Subcategories</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="tabString = 'unitOfMeasures'"
            class="nav-link"
            href="#unitOfMeasures"
            data-toggle="tab"
            >Units of Measure</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="tab-content">
        <div
          *ngIf="currentUser.role.description !== constants.GeneralUser"
          class="tab-pane fade active show"
          id="manageUser"
        >
          <div *ngIf="tabString === 'manageUser'">
            <app-manageUser></app-manageUser>
          </div>
        </div>

        <!-- <div *ngIf=" currentUser.role.description === constants.SuperAdmin" class="tab-pane fade" id="configuration">
          <div *ngIf="tabString === 'configuration'">
            <app-configuration></app-configuration>
          </div>
        </div> -->

        <div
          *ngIf="currentUser.role.description !== constants.GeneralUser"
          class="tab-pane fade"
          id="accessMatrix"
        >
          <div *ngIf="tabString === 'accessMatrix'">
            <app-access-matrix></app-access-matrix>
          </div>
        </div>

        <div
          *ngIf=" currentUser.role.description !== constants.GeneralUser"
          class="tab-pane fade"
          id="taxMatrix"
        >
          <div *ngIf="tabString === 'taxMatrix'">
            <app-tax-matrix></app-tax-matrix>
          </div>
        </div>

        <div
          [ngClass]="{'active show' : currentUser.role.description === constants.GeneralUser}"
          class="tab-pane fade"
          id="pricingMethod"
        >
          <div *ngIf="tabString === 'pricicngMethods'">
            <app-pricing-method></app-pricing-method>
          </div>
        </div>

        <div class="tab-pane fade" id="categoryAndSubcategory">
          <div *ngIf="tabString === 'categorySubcategory'">
            <app-category-subcategory></app-category-subcategory>
          </div>
        </div>
        <div class="tab-pane fade" id="unitOfMeasures">
          <div *ngIf="tabString === 'unitOfMeasures'">
            <app-unit-of-measures></app-unit-of-measures>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
