<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-10 col-md-12">
        <div class="card ">
          <div class="success-card-header">
            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            <span class="h4"> Password Created</span>
          </div>
          <div class="card-block">
            <h4 class="success-lead">Your password was successfully created.
              <a class="color-blue" routerLink="['/account/login']">Click here to Sign in</a>
            </h4>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-12">
          <div class="input-group mb-3">
            <span class="success-msg">
              <i class="fa fa-check fa-lg" aria-hidden="true"></i>
              <p>Thanks, for your verification. A confirmation mail will be sent to your registered email id on activation. please
                <a routerLink="['/pages/login']">click Here</a> to Login</p>
            </span>
          </div>
        </div> -->
    </div>
  </div>
</div>