<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<header class="header-quofinity  fixed-header">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand logo-main" [routerLink]="['/superadmin/configuration']">
              <img src="assets/img/main-logo.png" />
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 padding-left-0">
          <div class="row float-right padding-top-5 profile-section ">
            <div *ngIf="isLogin" class="  margin-right-15">
              <div class="mt-1  pull-right">
                <a (click)="LogOut()">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

</header>
<div class="app-body superadmin">
  <div class="left-side-menubar menu-display" [ngStyle]="{'display':isLogin === true ? 'block':'none'}">
    <div class="toggle-menu-btn" (click)="toggleSidebar()">
      <button type="button">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="left-menubar">
      <ul>
        <li class="">
          <a id="dashboard" routerLinkActive="active" [routerLink]="['/superadmin/configuration']">
            <span class="icon-main">
              <!-- <img class="img-fluid" title="Home" src="assets/img/home.svg" /> -->
              <i class="fa fa-cog fa-2x" title="Configuration"></i>
            </span>
            <span class="menu-text show-menu">Configuration</span>
          </a>
        </li>
        <li>
          <a id="accounts" routerLinkActive="active" [routerLink]="['/superadmin/access-matrix']">
            <span class="icon-main">
              <!-- <img class="img-fluid" title="Accounts" src="assets/img/account.svg" /> -->
              <i class="fa fa-universal-access fa-2x" title="Access Matrix"></i>
            </span>
            <span class="menu-text show-menu">Access Matrix</span>
          </a>
        </li>
        <li>
          <a id="accounts" routerLinkActive="active" [routerLink]="['/superadmin/users-in-trial-report']">
            <span class="icon-main">
              <!-- <img class="img-fluid" title="Accounts" src="assets/img/account.svg" /> -->
              <i class="fa fa-users fa-2x" title="Users in Trial Period"></i>
            </span>
            <span class="menu-text show-menu">Users in Trial Period</span>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <!-- Main content -->
  <main class="main">
    <!-- <router-outlet></router-outlet> -->

    <body class="app">

    </body>
  </main>
</div>


<footer class="app-footer pl-4">
  <a href="http://www.quofinity.com">&copy; Quofinity.</a> 2018. All Rights Reserved
  <span class="float-right">Powered by
    <a href="#" target="blank">Quofinity</a>
  </span>
</footer>

<style>
  .menu-display {
    width: 165px !important;
    transition: 0.35s ease-in;
  }

</style>
