<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px' }"
></ngx-loading>
<header class="header-quofinity fixed-header">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div
          (click)="resetForm(searchForm)"
          class="col-12 col-md-2 col-lg-2 col-xl-2"
        >
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a
              *ngIf="expiryDays !== 0"
              class="navbar-brand logo-main"
              [routerLink]="['/dashboard']"
            >
              <img src="assets/img/main-logo.png" />
              <!-- <img *ngIf="company.logo" src="{{company.logo}}" /> -->
            </a>
            <a *ngIf="expiryDays === 0" class="navbar-brand logo-main">
              <img src="assets/img/main-logo.png" />
              <!-- <img *ngIf="company.logo" src="{{company.logo}}" /> -->
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-12 col-md-3 col-lg-4 col-xl-6">
          <div class="row">
            <div class="main-header-mobile-menu">
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav left-navbar-nav">
                  <li>
                    <a routerLinkActive="active" [routerLink]="['/dashboard']">
                      <span class="icon-main">
                        <img src="assets/img/home.svg" />
                      </span>
                      <span
                        class="menu-text show-menu"
                        [ngClass]="{'text-danger': isExpiry}"
                        >Home</span
                      >
                    </a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/accounts/accounts-list']"
                    >
                      <span class="icon-main">
                        <img src="assets/img/account.svg" />
                      </span>
                      <span class="menu-text show-menu">Accounts</span>
                    </a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/contacts/contact-list']"
                    >
                      <span class="icon-main">
                        <img src="assets/img/contact.svg" />
                      </span>
                      <span class="menu-text show-menu">Contacts</span>
                    </a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/quotes/quotes-list']"
                    >
                      <span class="icon-main">
                        <img src="assets/img/quotes.svg" />
                      </span>
                      <span class="menu-text show-menu">Quotes</span>
                    </a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/products/products-list']"
                    >
                      <span class="icon-main">
                        <img src="assets/img/product.svg" />
                      </span>
                      <span class="menu-text show-menu">Products</span>
                    </a>
                  </li>
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLink]="['/kits/kits-list']"
                    >
                      <span class="icon-main">
                        <img src="assets/img/kits.svg" />
                      </span>
                      <span class="menu-text show-menu">Kits</span>
                    </a>
                  </li>
                  <li>
                    <a routerLinkActive="active" [routerLink]="['/reports']">
                      <span class="icon-main">
                        <img src="assets/img/report.svg" />
                      </span>
                      <span class="menu-text show-menu">Reports</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="search-bar padding-top-5">
            <form
              novalidate
              #searchForm="ngForm"
              autocomplete="off"
              aria-autocomplete="none"
            >
              <div class="mt-1">
                <button type="submit">
                  <img src="assets/img/search.png" alt="search" />
                </button>
              </div>
              <input
                name="body"
                [disabled]="expiryDays === 0"
                id="search-input"
                [(ngModel)]="body"
                (input)="onSearch(body);"
                type="text"
                placeholder="Search for..."
              />
              <div *ngIf="showSearch" class="search-dropdown">
                <div>
                  <nav class="nav nav-tabs" id="myTab" role="tablist">
                    <a
                      (click)="collection='All';index=0;onSearch(body);showUndoBtn(0);"
                      class="nav-item nav-link active"
                      id="nav-home-all"
                      data-toggle="tab"
                      href="#nav-all"
                      role="tab"
                      aria-controls="nav-all"
                      aria-expanded="true"
                      title="ALL"
                      >All</a
                    >
                    <a
                      (click)="collection=collections[0];index=3;onSearch(body);showUndoBtn(3)"
                      class="nav-item nav-link"
                      id="nav-account-tab"
                      data-toggle="tab"
                      href="#nav-account"
                      role="tab"
                      aria-controls="nav-account"
                      title="ACCOUNTS"
                    >
                      <img class="svg" src="assets/img/account-black.svg" />
                    </a>
                    <a
                      (click)="collection=collections[1];index=2;onSearch(body);showUndoBtn(2)"
                      class="nav-item nav-link"
                      id="nav-contact-tab"
                      data-toggle="tab"
                      href="#nav-contact"
                      role="tab"
                      aria-controls="nav-contact"
                      title="CONTACTS"
                    >
                      <img class="svg" src="assets/img/contact-black.svg" />
                    </a>
                    <a
                      (click)="collection=collections[2];index=1;onSearch(body);showUndoBtn(1)"
                      class="nav-item nav-link"
                      id="nav-quotes-tab"
                      data-toggle="tab"
                      href="#nav-quotes"
                      role="tab"
                      aria-controls="nav-quotes"
                      title="QUOTES"
                    >
                      <img class="svg" src="assets/img/quotes-black.svg" />
                    </a>
                    <a
                      (click)="collection=collections[3];index=4;onSearch(body);showUndoBtn(4)"
                      class="nav-item nav-link"
                      id="nav-product-tab"
                      data-toggle="tab"
                      href="#nav-product"
                      role="tab"
                      title="PRODUCTS"
                    >
                      <img class="svg" src="assets/img/product-black.svg" />
                    </a>
                    <a
                      (click)="collection=collections[4];index=5;onSearch(body);showUndoBtn(5)"
                      class="nav-item nav-link"
                      id="nav-kits-tab"
                      data-toggle="tab"
                      href="#nav-kits"
                      role="tab"
                      title="KITS"
                    >
                      <img class="svg" src="assets/img/kits-black.svg" />
                    </a>
                  </nav>
                  <div
                    style="max-height: 35vh; overflow: auto;"
                    class="tab-content"
                    id="nav-tabContent"
                  >
                    <div *ngFor="let result of searched">
                      <div
                        role="tabpanel"
                        *ngIf="(showBtn===1||showBtn===0)&& result.collectionName === collections[2]"
                      >
                        <ul
                          class="list-style-none mb-0"
                          *ngFor="let kv of result.collectionData"
                        >
                          <li *ngIf="result.collectionData.length !==  0">
                            <span class="search-list-icon quotes-black"></span>
                            <div
                              class="pl-3"
                              (click)="goToDetails(collections[2],kv.id)"
                            >
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Name: {{kv.name}}
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Account Name: {{kv?.contact?.accounts?.name}}
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Contact Name: {{kv?.contact?.firstName}}
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div
                        role="tabpanel"
                        *ngIf="(showBtn === 2 ||showBtn === 0)&& result.collectionName === collections[1]"
                      >
                        <ul
                          class="list-style-none mb-0"
                          *ngFor="let kv of result.collectionData"
                        >
                          <li *ngIf="result.collectionData.length !==  0">
                            <span class="search-list-icon contact-black"></span>
                            <div
                              class="pl-3"
                              (click)="goToDetails(collections[1],kv.id)"
                            >
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Contact name: {{kv.firstName}}
                              </div>
                              <!-- <div class="col-lg-12 col-md-12 col-sm-12">Last name: {{kv.lastName}}</div> -->
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div
                        role="tabpanel"
                        *ngIf="(showBtn===3||showBtn===0)&& result.collectionName === collections[0]"
                      >
                        <ul
                          class="list-style-none mb-0"
                          *ngFor="let kv of result.collectionData"
                        >
                          <li *ngIf="result.collectionData.length !==  0">
                            <span class="search-list-icon account-black"></span>
                            <div
                              class="pl-3"
                              (click)="goToDetails(collections[0],kv.id)"
                            >
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Name: {{kv.name}}
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div
                        role="tabpanel"
                        *ngIf="(showBtn === 4 ||showBtn === 0)&& result.collectionName === collections[3]"
                      >
                        <ul
                          class="list-style-none mb-0"
                          *ngFor="let kv of result.collectionData"
                        >
                          <li *ngIf="result.collectionData.length !==  0">
                            <span class="search-list-icon product-black"></span>
                            <div
                              class="pl-3"
                              (click)="goToDetails(collections[3],kv.id)"
                            >
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Name: {{kv.name}}
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Part No: {{kv.partNo}}
                              </div>
                              <div
                                *ngIf="kv.manufacturerPartNumber"
                                class="col-lg-12 col-md-12 col-sm-12"
                              >
                                Manufacturer Part Number: {{
                                kv?.manufacturerPartNumber }}
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div
                        role="tabpanel"
                        *ngIf="(showBtn === 5 ||showBtn === 0)&& result.collectionName === collections[4]"
                      >
                        <ul
                          class="list-style-none mb-0"
                          *ngFor="let kv of result.collectionData"
                        >
                          <li *ngIf="result.collectionData.length !==  0">
                            <span class="search-list-icon kits-black"></span>
                            <div
                              class="pl-3"
                              (click)="goToDetails(collections[4],kv.id)"
                            >
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Name: {{kv.name}}
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                Kit No: {{kv.number}}
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      style="max-height: 35vh; overflow: auto;"
                      class="tab-content"
                      id="nav-tabContent"
                      *ngIf="(!searched.length)"
                    >
                      <ul class="list-style-none mb-0">
                        <li>
                          <div
                            class="pl-3"
                            class="col-lg-12 col-md-12 col-sm-12 text-center"
                          ></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div
          (click)="resetForm(searchForm)"
          class="col-12 col-md-7 col-lg-6 col-xl-4 padding-left-0"
        >
          <div class="row">
            <div class="col-12 col-lg-5 col-md-5 col-xl-5 pr-0">
              <div class="mt-1 float-right" *ngIf="trialmessage">
                <span class="badge badge-pill badge-info font-sm align-bottom"
                  >{{trialmessage}}</span
                >
              </div>
            </div>
            <div class="col-12 col-lg-1 col-md-1 col-xl-1 pr-0"></div>
            <div
              class="col-12 col-lg-6 col-md-6 col-xl-6 pl-0 manage-acc-dropdown"
            >
              <div
                class="row float-right"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="mr-2">
                  <div class="profile-dp">
                    <!-- <img *ngIf="currentUser.profilePicture == undefined" src="assets/img/profile-pic.png" /> -->

                    <div
                      *ngIf="currentUser?.profilePicture == undefined"
                      class="avatar-circle"
                    >
                      <span class="initials text-uppercase">{{initials}}</span>
                    </div>

                    <img
                      *ngIf="currentUser?.profilePicture"
                      [src]="currentUser?.profilePicture"
                    />
                  </div>
                </div>
                <div class="mr-2">
                  <!-- {{currentUser.lastName}} -->
                  <div class="font-12 text-name-profile text-capitalize">
                    {{currentUser?.firstName}} {{currentUser?.lastName}}
                    <i class="fa fa-angle-down pl-1 fa-lg"></i>
                  </div>
                  <div class="font-10 text-post">
                    <strong>{{company.name}}</strong>
                  </div>
                </div>
                <!-- <div class=""> -->

                <!-- </div> -->
              </div>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a [routerLink]="['/settings/profile']">My Profile</a>
                </li>
                <li>
                  <a [routerLink]="['/settings/change-password']"
                    >Change Password</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/settings/setting']">Settings</a>
                </li>
                <li>
                  <a [routerLink]="['/settings/my-plans']"
                    >My Subscription Plan</a
                  >
                </li>
                <li
                  *ngIf="currentUser?.role?.description !== constants.GeneralUser"
                >
                  <a [routerLink]="['/admin/company']">Company Profile</a>
                </li>
                <li>
                  <a href="#" (click)="LogOut()">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<div (focus)="resetForm(searchForm)" class="app-body">
  <div
    (click)="resetForm(searchForm)"
    class="left-side-menubar menu-display"
    [ngStyle]="{'display':expiryDays === 0 ? 'none' : 'block' }"
  >
    <div class="toggle-menu-btn" (click)="toggleSidebar()">
      <button type="button">
        <i class="fa fa-bars" title="Menu"></i>
      </button>
    </div>
    <div class="left-menubar">
      <ul>
        <li class="">
          <a
            id="dashboard"
            routerLinkActive="active"
            [routerLink]="['/dashboard']"
          >
            <span class="icon-main">
              <img class="img-fluid" title="Home" src="assets/img/home.svg" />
            </span>
            <span class="menu-text show-menu">Home</span>
          </a>
        </li>
        <li>
          <a
            id="accounts"
            routerLinkActive="active"
            [routerLink]="['/accounts/accounts-list']"
          >
            <span class="icon-main">
              <img
                class="img-fluid"
                title="Accounts"
                src="assets/img/account.svg"
              />
            </span>
            <span class="menu-text show-menu">Accounts</span>
          </a>
        </li>
        <li>
          <a
            id="contacts"
            routerLinkActive="active"
            [routerLink]="['/contacts/contact-list']"
          >
            <span class="icon-main">
              <img title="Contacts" src="assets/img/contact.svg" />
            </span>
            <span class="menu-text show-menu">Contacts</span>
          </a>
        </li>
        <li>
          <a
            id="quotes"
            routerLinkActive="active"
            [routerLink]="['/quotes/quotes-list']"
          >
            <span class="icon-main">
              <img title="Quotes" src="assets/img/quotes.svg" />
            </span>
            <span class="menu-text show-menu">Quotes</span>
          </a>
        </li>
        <li>
          <a
            id="products"
            routerLinkActive="active"
            [routerLink]="['/products/products-list']"
          >
            <span class="icon-main">
              <img title="Products" src="assets/img/product.svg" />
            </span>
            <span class="menu-text show-menu">Products</span>
          </a>
        </li>
        <li>
          <a
            id="kit"
            routerLinkActive="active"
            [routerLink]="['/kits/kits-list']"
            [routerLinkActiveOptions]="{exact:
            true}"
          >
            <span class="icon-main">
              <img title="Kits" src="assets/img/kits.svg" />
            </span>
            <span class="menu-text show-menu">Kits</span>
          </a>
        </li>
        <li>
          <a
            id="kit"
            routerLinkActive="active"
            [routerLink]="['/reports']"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <span class="icon-main">
              <img title="Reports" src="assets/img/report.svg" />
            </span>
            <span class="menu-text show-menu">Reports</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main content -->
  <main
    (click)="resetForm(searchForm)"
    class="main"
    [ngStyle]="{'margin-left':expiryDays === 0 ? '0px' : '' }"
  >
    <!-- <div class="container-fluid"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
  </main>
</div>
<footer
  (click)="resetForm(searchForm)"
  class="app-footer"
  [ngStyle]="{'margin-left':expiryDays === 0 ? '0px' : '' }"
>
  <a href="http://www.quofinity.com" target="blank">&copy; Quofinity.</a> 2018 -
  2024. All Rights Reserved
  <span class="float-right"
    >Powered by
    <a href="http://www.quofinity.com" target="blank">Quofinity</a>
  </span>
</footer>

<div
  bsModal
  [ngClass]="{ show: show }"
  [style.display]="show ? 'block' : 'none'"
  #ConfirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <app-toaster
    [notification]="notification"
    [typeofMessage]="typeofMessage"
    [message]="messageToDisplay"
    [note]="noteToDisplay"
    [data]="dataToDisplay"
    [showButtons]="showButtons"
    (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)"
    (hide)="hide(ConfirmModal)"
  ></app-toaster>
</div>
