<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="padding-left-15 padding-right-15 padding-top-15 padding-bottom-15">
  <div id="content">
    <div class="accordion-container" id="manageUser">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">

            <div class="right-float padding-right-15 padding-bottom-15 row">
              <div class=" add-common-btn add-more-btn addUserBtn">
              </div>


              <div class=" input-group dropdownUser  right-float">
                <label class="right-float inline-label">Show</label>&nbsp;&nbsp;
                <select name="KitspageSize" [(ngModel)]="usersList.pageSize" (change)="getUsersList(0)"
                  class="ml-4 form-control addUserBtnshow common-text-box font-14 text-dark-blue medium-montserrat">
                  <option *ngFor="let obj of constants.PageViewSize" [value]="obj">{{obj}} items</option>
                </select>


                <div class=" add-common-btn add-more-btn addUserBtn">
                  <div *ngIf="allowAddUser">
                    <a href="#" title="Add User" class="semibold-montserrat" data-toggle="modal"
                      (click)="AddUserPopup(addUserModal);setFocus()">add
                      user</a>
                  </div>
                  <div *ngIf="!allowAddUser">
                    <a href="#" title="Add User" class="semibold-montserrat" data-toggle="modal"
                      (click)="alertToUser()">add
                      user</a>
                  </div>
                </div>

              </div>

            </div>
            <br>
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

              <table class="table table-responsive table-stripped ">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Role</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr
                    *ngFor="let usr of usersList.records| paginate: { itemsPerPage: usersList.pageSize, currentPage: usersList.pageNumber, totalItems: usersList.totalCount }">
                    <td [innerHTML]="usr.firstName"></td>
                    <td [innerHTML]="usr.lastName"></td>

                    <td [innerHTML]="usr?.role?.description"></td>
                    <td [innerHTML]="usr.contactNo"></td>
                    <td [innerHTML]="usr.email"></td>
                    <td>

                      <i *ngIf="usr.isActive" [hidden]="usr.id === currentUser.id" class="fa fa-pencil" title="Edit"
                        (click)="editUser(addUserModal, usr, ConfirmModal)" area-hidden="true"></i>
                      <i *ngIf="usr.isActive" [hidden]="usr.id === currentUser.id"
                        class="fa fa-toggle-on color-green fa-lg" title="deactivate"
                        [hidden]="usr.id === currentUser.id"
                        (click)="user=usr;activeDeactiveUser('deactiveUser',usr, ConfirmModal);" area-hidden="true"></i>

                      <i *ngIf="!usr.isActive" class="fa fa-toggle-off fa-lg" title="Activate"
                        [hidden]="usr.id === currentUser.id"
                        (click)="user=usr;activeDeactiveUser('activeUser' ,usr, ConfirmModal);" area-hidden="true"></i>
                    </td>
                  </tr>
                  <!-- <tr class="text-center" *ngIf="GenralUsers.length == 0">
                    <td colspan="8">Currently no data available.</td>
                  </tr> -->
                </tbody>
              </table>
            </form>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- code for popup -->




<div bsModal [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'" #ConfirmModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">

  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>

<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header common-modal-header">
        <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat"
          [innerHTML]="isEdit?'Edit User':'Add User'"></h4>
        <button type="reset" class="close common-close" (click)="addUserModal.hide();resetforms(userForm) "
          aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
        <!-- addUserModal.hide(onModelClose()) #Revisit_PreviousCode -->
      </div>
      <div class="modal-body">
        <form novalidate *ngIf="addUserModal.isShown" autocomplete="off"
          (ngSubmit)="onSubmit(userForm.valid,addUserModal,userForm)" #userForm="ngForm">
          <div class="row form-group">
          </div>
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>
                First Name
                <sup class="text-danger">*</sup>
              </label>
              <div class="input-group">
                <input type="text" [(ngModel)]="user.firstName" required #FirstName="ngModel" #FirstNam name="FirstName"
                  [maxlength]="constants.MaxLengthConstants.Name" placeholder="First Name"
                  [pattern]="constants.NAME_REGEXP"
                  [ngClass]="{'has-error': FirstName.invalid && (FirstName.dirty || userForm.submitted) }"
                  class="form-control">
                {{isOpenPopup ? FirstNam.focus() : null}}
                <!-- {{isOpenPopup ? FirstName.reset() : null}} -->
              </div>
              <div *ngIf="FirstName.invalid && (FirstName.dirty || userForm.submitted)" class="text-danger"
                role="tooltip">
                <div [hidden]="!FirstName.errors['required']">
                  Enter first name
                </div>
                <div [hidden]="!FirstName.errors['pattern']">
                  Enter valid first name
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>
                Last Name
                <sup class="text-danger">*</sup>
              </label>
              <input type="text" [(ngModel)]="user.lastName" required [maxlength]="constants.MaxLengthConstants.Name"
                #LastName="ngModel" name="LastName" placeholder="Last Name" [pattern]="constants.NAME_REGEXP"
                [ngClass]="{'has-error': LastName.invalid && (LastName.dirty || LastName.touched || userForm.submitted) }"
                class="form-control">
              <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched || userForm.submitted)"
                class="text-danger" role="tooltip">
                <div [hidden]="!LastName.errors['required']">
                  Enter last name
                </div>
                <div [hidden]="!LastName.errors['pattern']">
                  Enter valid last name
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>
                Email
                <sup class="text-danger">*</sup>
              </label>
              <input type="email" [(ngModel)]="user.email" required maxlength="50" #Email="ngModel"
                (keyup)="onEmailBlur()" name="Email" (input)="isEmailRepated = false"
                (keydown)="findSupplier(user.email)" [pattern]="constants.EMAIL_REGEXP" placeholder="Email"
                [ngClass]="{'has-error': Email.invalid && (Email.dirty || Email.touched || userForm.submitted) }"
                class="form-control">
              <div *ngIf="Email.invalid && (Email.dirty || Email.touched || userForm.submitted)" class="text-danger"
                role="tooltip">
                <div [hidden]="!Email.errors?.['required']">
                  Enter email
                </div>
                <div [hidden]="!Email.errors?.['pattern']">
                  Enter valid email
                </div>
              </div>
              <div *ngIf="isEmailRepated" class="text-danger">
                Duplicate contact email
              </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <label>
                Contact Number
                <sup class="text-danger">*</sup>
              </label>
              <!-- [mask]="{mask: mask}" #Revisit_PreviousCode -->
              <input type="text" [(ngModel)]="user.contactNo" [pattern]="constants.PHONE_REGEXP" required
                #Mobile="ngModel" name="Mobile" prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
                placeholder="Contact Number" [maxlength]="constants.MaxLengthConstants.Phone"
                [ngClass]="{'has-error': Mobile.invalid && (Mobile.dirty || Mobile.touched || userForm.submitted) }"
                class="form-control">
              <div *ngIf="Mobile.invalid && (Mobile.dirty || Mobile.touched || userForm.submitted)" class="text-danger"
                role="tooltip">
                <div [hidden]="!Mobile.errors['required']">
                  Enter contact no
                </div>
                <div [hidden]="!Mobile.errors['pattern']">
                  Enter valid contact no
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <label>
                User Role
                <sup class="text-danger">*</sup>
              </label>
              <select class="form-control" (change)="getUserRole($event)" [(ngModel)]="user.role.id" #Role="ngModel"
                name="url"
                [ngClass]="{'has-error': Role.invalid && (Role.dirty || Role.touched || userForm.submitted) }" required>
                <option [value]="null" disabled="true" [selected]="user.role.id === null">Select Role</option>
                <option *ngFor="let item of userRoles ;let in = index" value="{{item.id}}">
                  {{item.description}}
                </option>
              </select>


              <div *ngIf="Role.invalid && (Role.dirty || Role.touched || userForm.submitted)" class="text-danger">
                <div [hidden]="!Role.errors['required']">
                  Select user role
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" *ngIf="!isEdit" class="btn primary-btn btn-add">Save</button>
            <button type="button" *ngIf="isEdit" (click)="updateUser(userForm.valid,addUserModal,usersList.pageNumber)"
              class="btn primary-btn btn-add">Update</button>
            <button type="reset" class="btn secondary-btn btn-default" (click)="addUserModal.hide()">Close</button>
            <!-- addUserModal.hide(onModelClose()) #Revisit_PreviousCode -->
          </div>
        </form>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>