<div class="common-detail-box margin-bottom-15">
  <div class="header-box">
    <div class="row">
      <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <div class="font-14 medium-montserrat text-capitalize text-dark-blue">
          categories
        </div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="icon-box text-right font-18 text-status-blue">
          <button type="button" [disabled]="!isEdit" [ngClass]="{'btn-disabled': !isEdit}"
            [title]="!isEdit?'Access denied':'Add categories'" class="btn-add-category text-status-blue"
            data-toggle="modal" data-target="#addCategoryModal"
            (click)="addCategoryModal.show();formCategory.description = null;resetforms(categoryForm);setFocus();">
            <i class="fa fa-plus-square-o"></i>
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div *ngIf="category?.length" class="content-box contact-list-all h-200" slimScroll>
    <div *ngFor="let item of category; let i=index"
      class="text-dark-blue border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
      <div class="left-float padding-left-15 medium-montserrat contact-name">
        {{item?.description}}
      </div>
      <div class="right-float">
        <button type="button" (click)="index= i; popupOpen(popupFor='deleteCategory');deleteConfirmModal.show();"
          [disabled]="!isEdit" [ngClass]="{'btn-disabled': !isEdit}" [title]="!isEdit?'Access denied':'Delete category'"
          class="btn-delete">
          <!-- deleteConfirmModal.show(popupFor='deleteCategory'); #Revisit_PreviousCode -->
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div *ngIf="category?.length" class="common-detail-box margin-bottom-15">
  <div class="header-box">
    <div class="row">
      <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <div class="font-14 medium-montserrat text-capitalize text-dark-blue">
          subcategories
        </div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="icon-box text-right font-18">
          <button type="reset" [disabled]="!isEdit" [ngClass]="{'btn-disabled': !isEdit}"
            [title]="!isEdit?'Access denied':'Add subcategories'" class="btn-add-category text-status-blue"
            data-dismiss="modal" data-toggle="modal" data-target="#addSubCategoryModal"
            (click)="addSubCategoryModal.show();">
            <!-- addSubCategoryModal.show(formCategory.description=start);#Revisit_PreviousCode -->
            <i class="fa fa-plus-square-o"></i>
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div *ngIf="subCategory?.length" class="content-box contact-list-all h-200" slimScroll>
    <div *ngFor="let item of subCategory; let i=index"
      class="text-dark-blue border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
      <div class="left-float padding-left-15 medium-montserrat contact-name">
        {{item?.categories?.description}} - {{item?.description}}
      </div>
      <div class="right-float">
        <button type="button" (click)="index=i; popupOpen(popupFor='deleteSubcategory');deleteConfirmModal.show();"
          [disabled]="!isEdit" [ngClass]="{'btn-disabled': !isEdit}"
          [title]="!isEdit?'Access denied':'Delete subcategory'" class="btn-delete">
          <!-- popupFor = 'deleteSubcategory' #Revisit_PreviousCode -->
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div bsModal #addCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <form novalidate name="categoryForm" #categoryForm="ngForm"
      (ngSubmit)="titletoClose();addCategory(categoryForm,addCategoryModal,categoryForm)">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Category
          </h4>
          <button type="button" class="close common-close"
            (click)="titletoClose();addCategoryModal.hide();formCategory.description = null;presentCategory=false"
            aria-label="Close">
            <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">Category Name</label>
                <ng-template #customItemTemplate let-model="item" let-index="index">
                  <span class="mb-0">{{model.description}}</span>
                </ng-template>

                <input name="CategoryName" placeholder="Category" autocomplete="off"
                  [maxlength]="constants.MaxLengthConstants.Category"
                  [ngClass]="{'has-error':(CategoryName.invalid && (CategoryName.dirty || isFormSubmitted))}"
                  [pattern]="constants.Category_REGEXP" #CategoryName="ngModel" #CategoryNam
                  [(ngModel)]="formCategory.description" [typeahead]="categoryList"
                  [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="description"
                  (keyup)="findCategory(formCategory.description)" class="form-control focus"
                  (input)="presentCategory=false" required />
                <!-- {{CategoryNam.focus()}} -->
                {{isOpenPopup ? CategoryNam.focus() : null}}
                <!-- {{isOpenPopup ? CategoryName.reset() : null}} -->
              </div>
            </div>

            <div class="text-danger" *ngIf="(CategoryName.invalid && (CategoryName.dirty || isFormSubmitted))">
              <div [hidden]="!CategoryName.errors['required']" class="popover-body">
                Enter category
              </div>
              <div [hidden]="!CategoryName.errors['pattern']" class="popover-body">
                Enter valid value
              </div>
            </div>
            <div class="text-danger" *ngIf="presentCategory">
              Category already present
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="Submit" class="btn primary-btn btn-add">Add</button>
          <button type="button" class="btn secondary-btn btn-default"
            (click)="addCategoryModal.hide();titletoClose();formCategory.description = null;presentCategory=false">
            Cancel
          </button>
        </div>
      </div>
    </form>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #addSubCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <form novalidate name="subcategoryForm" autocomplete="off"
      (ngSubmit)="titletoClose();addSubCategory(subcategoryForm.valid,subcategoryForm,addSubCategoryModal);"
      #subcategoryForm="ngForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Subcategory
          </h4>
          <button type="reset" class="close common-close"
            (click)="titletoClose();addSubCategoryModal.hide();resetforms(subcategoryForm);presentSubCategory=false;deletedcategory=false"
            aria-label="Close">
            <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
          </button>
          <!-- addSubCategoryModal.hide(categoryDropdown = false) #Revisit_PreviousCode-->
        </div>
        <div class="modal-body">
          <div class="">
            <div class="form-group row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="text-dark-blue medium-montserrat text-capitalize">Category
                </label>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <select required [ngModelOptions]="{standalone: true}" name="Category" #Category="ngModel" id="Category"
                  (change)="getSubcatForCategory($any($event.target).value);deletedcategory=false"
                  (click)="formSubCategory.description=null;"
                  [ngClass]="{'has-error':(Category.invalid && (Category.dirty || Category.touched || subcategoryForm.submitted)) && categoryDropdown}"
                  (ngModelChange)="getSubcatForCategory($event.target);formSubCategory.categories.id = formCategory.description;deletedcategory=false"
                  [(ngModel)]="formCategory.description" value="{{formCategory?.description}}"
                  class="form-control common-text-box margin-top-5 font-14 text-dark-blue medium-montserrat">
                  <option disabled [value]="start" selected="true">
                    Select Category</option>
                  <option *ngFor="let item of category" [value]="item.id">{{item.description}}</option>
                </select>
                <div class="text-danger"
                  *ngIf="(Category.invalid && (Category.dirty || Category.touched || subcategoryForm.submitted)) && categoryDropdown">
                  <div [hidden]="!Category.errors?.['required']">
                    Select category
                  </div>
                </div>
                <div *ngIf="deletedcategory" class="text-danger">
                  This category is deleted, sub-category cannot be added.
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="text-dark-blue medium-montserrat text-capitalize">Subcategory
                </label>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ng-template #customItemTemplateSubcategory let-model="item" let-index="index">
                  <span class="mb-0">{{model?.description}}</span>
                </ng-template>
                <input (keypress)="categoryDropdown = true" placeholder="Subcategory" name="Sub" autocomplete="off"
                  #Sub="ngModel" [maxlength]="constants.MaxLengthConstants.SubCategory"
                  [pattern]="constants.Category_REGEXP" [(ngModel)]="formSubCategory.description"
                  [typeahead]="subCategoryList"
                  [ngClass]="{'has-error':Sub.invalid && (Sub.dirty || Sub.touched || subcategoryForm.submitted)&& categoryDropdown}"
                  [typeaheadItemTemplate]="customItemTemplateSubcategory" typeaheadOptionField="description"
                  class="form-control" (input)="presentSubCategory=false;" required />
                <div class="text-danger"
                  *ngIf="(Sub.invalid && (Sub.dirty || Sub.touched || subcategoryForm.submitted)&& categoryDropdown)">
                  <div [hidden]="!Sub.errors?.['required']">
                    Enter subcategory
                  </div>
                  <div [hidden]="!Sub.errors?.['pattern']">
                    Enter valid value
                  </div>
                </div>
                <div *ngIf="presentSubCategory" class="text-danger">
                  Subcategory already present
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add">Add</button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
            (click)="titletoClose();addSubCategoryModal.hide();resetforms(subcategoryForm);presentSubCategory=false;deletedcategory=false">
            Cancel
          </button>
          <!-- addSubCategoryModal.hide(categoryDropdown= false) #Revisit_PreviousCode-->
        </div>
      </div>
    </form>
    <!-- /.modal -->
  </div>
</div>
<div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <!-- <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Hello</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div *ngIf="tobeDelete === 'category'" class="">
          <span>Are you sure you want to delete this category?
          </span>
        </div>
        <div *ngIf="tobeDelete === 'subcategory'" class="">
          <span>Are you sure you want to delete this Subcategory?
          </span>
        </div>
      </div>
      <div class="mb-3 pl-3">
        <button type="button" *ngIf="tobeDelete === 'category'" class="btn btn-default" (click)="deleteConfirmModal.hide(onDeleteCategory(index))">Yes</button>
        <button type="button" *ngIf="tobeDelete === 'subcategory'" class="btn btn-default" (click)="deleteConfirmModal.hide(onDeleteSubcategory(index))">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide()">No</button>
      </div>
    </div>
  </div> -->

  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(deleteConfirmModal)"
    (no)="no(deleteConfirmModal)" (hide)="hide(deleteConfirmModal);"></app-toaster>
</div>