<div class="padding-top-15 padding-bottom-15">
  <!-- <div class="right-float padding-right-15 padding-bottom-15">
    <div *ngIf="!showbtn" class="add-common-btn add-more-btn">
      <a href="#" class="semibold-montserrat" data-toggle="modal" (click)="showbtn = true;resetforms(taxForm)">add more</a>
    </div>
  </div> -->
  <div class="clearfix"></div>

  <div class="tab-pane fade active show" id="configuration">
    <div class="padding-left-15 padding-right-15 padding-top-15 padding-bottom-15">
      <div id="content">
        <div class="accordion-container" id="config-accordion">
          <div class="content-entry article-title">
            <!-- <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true"> -->
            <form novalidate name="taxForm" #taxForm="ngForm">
              <button class="btn-quote-delete btn-close-matrix" type="button">
                <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
              </button>
              <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                  <div class="form-group mb-0">
                    <label class="text-other-gray medium-montserrat">Name</label>
                    <ng-template #customItemTemplate let-model="item" let-index="index">
                      <span class="mb-0">{{model.name}}</span>
                    </ng-template>
                    <input required name="TaxName" #TaxName="ngModel" #TaxNam (input)="isTaxPresent=false;editTax=false"
                      [(ngModel)]="taxInAddForm.name" [typeahead]="taxListToSelect"
                      [typeaheadItemTemplate]="customItemTemplate" [pattern]="constants.String_REXEXP"
                      [maxlength]="constants.MaxLengthConstants.Name" typeaheadOptionField="name"
                      [ngClass]="{'has-error': TaxName.invalid && (TaxName.dirty || taxForm.submitted)}"
                      (input)="findTax(tax.name);clearTName = true;" class="form-control common-text-box" type="text" />
                    {{isOpenPopup ? TaxNam.focus() : null}}
                    <!-- {{isOpenPopup ? TaxName .reset() : null}} -->
                    <i (click)="clearTName = false;taxInAddForm.name=null;"
                      *ngIf="(clearTName === true) && (taxInAddForm.name)"
                      class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                    <div *ngIf="TaxName.invalid && (TaxName.dirty || isFormSubmitted)">
                      <div [hidden]="!TaxName.errors['required']" class="text-danger">
                        Enter name
                      </div>
                      <div [hidden]="!TaxName.errors['pattern']" class="text-danger">
                        Enter valid name
                      </div>
                    </div>
                    <div *ngIf="isTaxPresent" class="text-danger">
                      Tax already present
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                  <div class="form-group mb-0">
                    <label class="text-other-gray medium-montserrat">Percent</label>
                    <input (keyup)="checkForMax(taxInAddForm.value, 'Add')" required autocomplete="off" name="TaxValue"
                      #TaxValue="ngModel" [(ngModel)]="taxInAddForm.value" class="form-control common-text-box"
                      type="text" [onlyNumber]="true" [pattern]="constants.Margin_REXEXP"
                      [ngClass]="{'has-error': (TaxValue.invalid && (TaxValue.dirty || TaxValue.touched || taxForm.submitted)) ||
                      (isValueValid && !(TaxValue.invalid && ( TaxValue.dirty || TaxValue.touched || isFormSubmitted))) ||
                           (isAddMaximum && !(TaxValue.invalid && (TaxValue.dirty || TaxValue.touched || taxForm.submitted)))}" [maxlength]="constants.MaxLengthConstants.Cost"
                      (ngModelChange)="clearTPercent = true;" />
                    <i (click)="clearTPercent = false;taxInAddForm.value=null;"
                      *ngIf="(clearTPercent === true) && (taxInAddForm.value)"
                      class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                    <div *ngIf="TaxValue.invalid && (TaxValue.dirty || TaxValue.touched || isFormSubmitted)">
                      <div [hidden]="!TaxValue.errors['required']" class="text-danger">
                        Enter percent
                      </div>
                      <div [hidden]="!TaxValue.errors?.['pattern']" class="text-danger">
                        Enter valid percent
                      </div>
                    </div>
                    <div class="text-danger"
                      *ngIf="!(TaxValue.invalid && (TaxValue.dirty || TaxValue.touched || isFormSubmitted))">
                      <div *ngIf="isAddMaximum" class="text-danger">
                        Enter valid percent
                      </div>
                    </div>
                    <div
                      *ngIf="isValueValid && !(TaxValue.invalid && ( TaxValue.dirty || TaxValue.touched || isFormSubmitted))"
                      class="text-danger">
                      Percent can not be zero
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                  <div class="form-group mb-0 margin-top-30">
                    <button (click)="addTax(taxForm)" class="btn primary-btn btn-add mr-2" type="submit">
                      Save
                    </button>
                    <button (click)="showbtn = false;resetforms(taxForm);isAddMaximum = false;isTaxPresent=false"
                      class="btn secondary-btn btn-default" type="reset">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="common-table table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Percent</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let obj of taxList.records | paginate: { id:'taxPage', itemsPerPage: taxList.pageSize, currentPage: taxList.pageNumber, totalItems: taxList.totalCount }"
          class="matrix-row">
          <td class="matrix-action">
            <input *ngIf="!editTax || taxID !== obj.id" class="medium-montserrat disable-box" type="text"
              value="{{obj.name}}" />
            <form novalidate name="TName" #TNameForm="ngForm">
              <div *ngIf="editTax && taxID === obj.id">
                <input required name="TName" [pattern]="constants.String_REXEXP"
                  [maxlength]="constants.MaxLengthConstants.Name" autocomplete="off" #TName="ngModel"
                  (input)="taxUsed=false" [(ngModel)]="taxName"
                  [ngClass]="{'has-error':TName.invalid && ( TName.dirty || TName.touched || TNameForm.submitted)}"
                  [ngClass]="{'has-error': TName.invalid && (TName.dirty || TName.touched || TNameForm.submitted)}"
                  class="medium-montserrat" type="text" value="{{obj.name}}" />
                <div *ngIf="TName.invalid && ( TName.dirty || TName.touched || TNameForm.submitted)"
                  class="text-danger">
                  <div [hidden]="!TName.errors?.['required']">
                    Enter name
                  </div>
                  <div [hidden]="!TName.errors['pattern']">
                    Enter valid name
                  </div>
                </div>
                <div *ngIf="taxUsed" class="text-danger">
                  Tax already present
                </div>
              </div>
            </form>
          </td>
          <td class="matrix-action">
            <input *ngIf="!editTax || taxID !== obj.id" class="medium-montserrat disable-box" type="text"
              value="{{obj.value}}" />
            <form novalidate name="TValueForm" #TValueForm="ngForm">
              <div *ngIf="editTax && taxID === obj.id" class="form-group mb-0">
                <input required [pattern]="constants.Margin_REXEXP" [maxlength]="constants.MaxLengthConstants.Cost"
                  (keyup)="checkForMax(taxValue, 'Update')" name="TValue" autocomplete="off" #TValue="ngModel"
                  [ngClass]="{'has-error': (isUpdateMaximum && !(TValue.invalid && ( TValue.dirty || TValue.touched || TValueForm.submitted))) ||
                           (TValue.invalid && ( TValue.dirty || TValue.touched || TValueForm.submitted))}"
                  [(ngModel)]="taxValue" class="medium-montserrat" type="text" [onlyNumber]="true"
                  value="{{obj.value}}" />
                <div *ngIf="TValue.invalid && ( TValue.dirty || TValue.touched || TValueForm.submitted)"
                  class="text-danger">
                  <div [hidden]="!TValue.errors?.['required']">
                    Enter percent
                  </div>
                  <div [hidden]="!TValue.errors['pattern']">
                    Enter valid percent
                  </div>
                </div>
                <div
                  *ngIf="isUpdateMaximum && !(TValue.invalid && ( TValue.dirty || TValue.touched || TValueForm.submitted))"
                  class="text-danger">
                  Enter valid percent
                </div>
                <div
                  *ngIf="isValueValid && !(TaxValue.invalid && ( TaxValue.dirty || TaxValue.touched || isFormSubmitted))"
                  class="text-danger">
                  Percent can not be zero
                </div>
              </div>
            </form>
          </td>
          <td class="matrix-action">
            <div *ngIf="!editTax || (obj.id && (taxID !== obj.id ))">
              <button (click)="editTax = true;showbtn=false; taxID = obj.id;taxName = obj.name; taxValue = obj.value"
                class="btn-edit-acc-detail text-status-blue" type="button">
                <i class="fa fa-pencil"></i>
              </button>
              <!-- ConfirmModal.show(popupFor = 'tax') #Revisit_PreviousCode  -->
              <button (click)="editTax = false; taxID = obj.id;tax=obj;showbtn=false;taxUsed=false;
               obj.isActive = false;popupOpen(popupFor='tax'); ConfirmModal.show();page=taxList.pageNumber"
                class="btn-edit-acc-detail text-status-blue" type="button">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
            <div *ngIf="editTax && (taxID ===  obj.id)">
              <button
                (click)="obj.name=taxName; obj.value=taxValue;taxUsed=false; updateTax(obj,TValueForm,TNameForm,taxList?.pageNumber)"
                type="button" class="btn-save-acc-detail text-status-blue">
                <i class="fa fa-save"></i>
              </button>
              <button (click)="editTax = false;getTaxList(taxList?.pageNumber);isUpdateMaximum = false;taxUsed=false"
                type="reset" class="btn-save-acc-detail text-danger">
                <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
              </button>
            </div>
          </td>
        </tr>
        <!-- <tr *ngIf="!(taxList.records)" class="text-center">
          <td colspan="7">Currently no data available</td>
        </tr> -->
      </tbody>
    </table>
    <div class="mt-2">
      <pagination-controls id="taxPage" (pageChange)="taxpageChanged($event)" #taxPage></pagination-controls>
    </div>
  </div>
</div>

<div bsModal [ngClass]="{'show':show}" #ConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>

<!--
<div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Hello</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <span>Are you sure you want to delete this tax?
          </span>
        </div>

      </div>
      <div class="mb-3 pl-3">
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide(deleteTax(tax, page))">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div> -->