<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container">
  <div class="padding-bottom-20">
    <div class="padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <div class="text-uppercase text-title-gray font-16 semibold-montserrat padding-top-5">
              contacts
              <span class="quote-count bg-notif-blue semibold-montserrat">{{
                contactsList.totalCount
                }}</span>
            </div>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="right-float">
              <div class="add-common-btn left-float">
                <button type="button" data-toggle="modal" data-target="#add-account" [disabled]="!accessValid.create"
                  [ngClass]="{ 'btn-disabled': !accessValid.create }" [title]="
                    !accessValid.create ? 'Access denied' : 'Add contact'
                  " (click)="addContactModal.show(); discardEdit(); setFocus()" class="semibold-montserrat">
                  Add contact
                </button>
              </div>
              <div class="view-btn common-blue-btn dropdown left-float margin-left-15">
                <button type="button" data-toggle="dropdown">
                  <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> -->
                  <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                  <i class="icon-menu icons d-block" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" [disabled]="!accessValid.import"
                      [ngClass]="{ 'btn-disabled': !accessValid.import }"
                      [title]="!accessValid.import ? 'Access denied' : 'Import'" data-toggle="modal"
                      data-target="#importModal" (click)="importModal.show(); discardEdit()">
                      <i class="fa fa-download" aria-hidden="true"></i> Import
                    </button>
                  </li>
                  <li>
                    <button type="button" [disabled]="!accessValid.export"
                      [ngClass]="{ 'btn-disabled': !accessValid.export }"
                      [title]="!accessValid.export ? 'Access denied' : 'Export'" (click)="exportToCSV(); discardEdit()">
                      <i class="fa fa-upload" aria-hidden="true"></i> Export
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sorting-btn-list padding-left-15 padding-right-15 padding-bottom-15">
      <div class="row">
        <div class="col-12 col-xl-10 col-md-12 mb-2">
          <ul>
            <li *ngFor="let data of constants?.Alphabets">
              <button type="button" (click)="SearchAccount(data); discardEdit()"
                [ngClass]="{ active: data == selectedAlpha }">
                {{ data }}
              </button>
            </li>

            <li>
              <button type="button" (click)="SearchAccount('Other'); discardEdit()"
                [ngClass]="{ active: data == 'Other' }">
                Other
              </button>
            </li>
          </ul>
        </div>
        <div class="col-12 col-xl-2 col-md-4 mb-2 ml-auto">
          <div class="input-group mb-0 right-float">
            <label class="left-float inline-label">Show</label>&nbsp;&nbsp;
            <select name="KitspageSize" [(ngModel)]="contactsList.pageSize" (change)="getContactsList(0); discardEdit()"
              class="ml-4 form-control common-text-box font-14 text-dark-blue medium-montserrat width-100-percent">
              <option *ngFor="let obj of constants.PageViewSize" [value]="obj">
                {{ obj }} items
              </option>
            </select>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="common-table table-responsive">
      <p-table id="contacts-grid" [value]="items" editMode="row" [rows]="contactsList.pageSize" [lazy]="true"
        [autoLayout]="true" (onLazyLoad)="getContactsList($event)" [paginator]="true"
        [totalRecords]="contactsList.totalCount" [resizableColumns]="true" dataKey="contacts.id"
        styleClass="p-datatable-striped" columnResizeMode="fit">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.property" pResizableColumn>
              <span [tooltip]="column.header">{{
                column.header}}</span>
              <p-sortIcon [field]="column.property"></p-sortIcon>
            </th>
            <th style="width:3rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="item">
            <td [style]="{'width':'90px'}">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="ContactGridNameForm" #ContactGridNameForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="ContactGridName" #ContactGridName="ngModel" maxlength="30"
                            [pattern]="constants.FULL_NAME_REGEXP" [(ngModel)]="item.contacts.firstName"
                            class="form-control" [ngClass]="{
                                        'has-error':
                                          ContactGridName.invalid &&
                                          (ContactGridName.dirty ||
                                            ContactGridName.touched ||
                                            ContactGridNameForm.submitted)
                                      }" required [autofocus]="toBeEdit === 'name'" />

                        </div>
                        <div *ngIf="
                                      ContactGridName.invalid &&
                                      (ContactGridName.dirty ||
                                        ContactGridName.touched ||
                                        ContactGridNameForm.submitted)
                                    " class="text-danger">
                          <span [hidden]="!ContactGridName.errors?.['required']">
                            Enter contact name
                          </span>
                          <span [hidden]="!ContactGridName.errors?.['pattern']">
                            Enter valid contact name
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span style="cursor: pointer;" class="color-blue" (click)="goToDetails(item?.contacts?.id)"
                    [tooltip]="item?.contacts?.firstName">{{
                    item?.contacts?.firstName }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td><span [tooltip]="item?.contacts?.accounts?.name" class="editable-txt">{{ item?.contacts?.accounts?.name
                }}</span>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="ContactGridEmailForm" #ContactGridEmailForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="ContactGridEmail" #ContactGridEmail="ngModel"
                            [pattern]="constants.EMAIL_REGEXP" [(ngModel)]="item.contacts.email"
                            (input)="isEmailRepated = false" class="form-control" [ngClass]="{
                        'has-error':
                          ContactGridEmail.invalid &&
                          (ContactGridEmail.dirty ||
                            ContactGridEmail.touched ||
                            ContactGridEmailForm.submitted)
                      }" required [autofocus]="toBeEdit === 'email'" />
                        </div>
                        <div *ngIf="
                      ContactGridEmail.invalid &&
                      (ContactGridEmail.dirty ||
                        ContactGridEmail.touched ||
                        ContactGridEmailForm.submitted)
                    " class="text-danger">
                          <span [hidden]="!ContactGridEmail.errors?.['required']">
                            Enter email
                          </span>
                          <span [hidden]="!ContactGridEmail.errors?.['pattern']">
                            Enter valid email
                          </span>
                        </div>
                        <div *ngIf="isEmailRepated" class="text-danger">
                          Duplicate contact email
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item.contacts.email">{{
                    item.contacts.email }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="ContactGridPhoneForm" #ContactGridPhoneForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="ContactGridPhone" #ContactGridPhone="ngModel"
                            [pattern]="constants.PHONE_REGEXP" placeholder="Work No" prefix="+1" [mask]="newMask"
                            [dropSpecialCharacters]="false" [maxlength]="constants.MaxLengthConstants.Phone"
                            [value]="item.contacts.phone" [(ngModel)]="item.contacts.phone" class="form-control"
                            [ngClass]="{
                        'has-error':
                          ContactGridPhone.invalid &&
                          (ContactGridPhone.dirty ||
                            ContactGridPhone.touched ||
                            ContactGridPhoneForm.submitted)
                      }" [autofocus]="toBeEdit === 'phone'" />

                        </div>
                        <div *ngIf="
                      ContactGridPhone.invalid &&
                      (ContactGridPhone.dirty ||
                        ContactGridPhone.touched ||
                        ContactGridPhoneForm.submitted)
                    " class="text-danger">
                          <!-- <span [hidden]="!ContactGridPhone.errors?.required ">
                      Enter work no
                    </span> -->
                          <span [hidden]="!ContactGridPhone.errors?.['pattern']">
                            Enter valid work no
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item.contacts.phone">{{ item.contacts.phone }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="ContactGridHomeForm" #ContactGridHomeForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="ContactGridHome" #ContactGridHome="ngModel"
                            [pattern]="constants.PHONE_REGEXP" placeholder="Mobile No" prefix="+1" [mask]="newMask"
                            [dropSpecialCharacters]="false" [maxlength]="constants.MaxLengthConstants.homeNo"
                            [value]="item.contacts.homeNo" [(ngModel)]="item.contacts.homeNo" class="form-control"
                            [ngClass]="{
                        'has-error':
                          ContactGridHome.invalid &&
                          (ContactGridHome.dirty ||
                            ContactGridHome.touched ||
                            ContactGridHomeForm.submitted)
                      }" [autofocus]="toBeEdit === 'homeNo'" />
                        </div>
                        <div *ngIf="
                      ContactGridHome.invalid &&
                      (ContactGridHome.dirty ||
                        ContactGridHome.touched ||
                        ContactGridHomeForm.submitted)
                    " class="text-danger">
                          <span [hidden]="!ContactGridHome.errors?.['required']">
                            Enter work no
                          </span>
                          <span [hidden]="!ContactGridHome.errors?.['pattern']">
                            Enter valid work no
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item.contacts.homeNo">{{ item.contacts.homeNo }}</span>
                </ng-template>
              </p-cellEditor>
            </td>

            <!-- <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="ContactGridFaxForm" #ContactGridFaxForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="ContactGridFax" #ContactGridFax="ngModel"
                            [pattern]="constants.PHONE_REGEXP" placeholder="Fax No" prefix="+1" [mask]="newMask"
                            [dropSpecialCharacters]="false" [maxlength]="constants.MaxLengthConstants.Phone"
                            [value]="item.contacts.faxNo" [(ngModel)]="item.contacts.faxNo" class="form-control"
                            [ngClass]="{
                        'has-error':
                          ContactGridFax.invalid &&
                          (ContactGridFax.dirty ||
                            ContactGridFax.touched ||
                            ContactGridFaxForm.submitted)
                      }" [autofocus]="toBeEdit === 'faxNo'" />

                        </div>
                        <div *ngIf="
                      ContactGridFax.invalid &&
                      (ContactGridFax.dirty ||
                        ContactGridFax.touched ||
                        ContactGridFaxForm.submitted)
                    " class="text-danger">
                          <span [hidden]="!ContactGridFax.errors?.['pattern']">
                            Enter valid fax no
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item.contacts.faxNo">{{ item.contacts.faxNo }}</span>
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="ContactGridExtensionForm"
                    #ContactGridExtensionForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="ContactGridExtension" #ContactGridExtension="ngModel"
                            placeholder="Extension No" [onlyNumber]="true" [value]="item.contacts.extensionNo"
                            [maxlength]="constants.MaxLengthConstants.ExtensionNo" prefix="+1" [mask]="newMask"
                            [dropSpecialCharacters]="false" (keyup)="CheckExtensionNo(item.contacts.extensionNo)"
                            [pattern]="constants.Num_REXEXP" [(ngModel)]="item.contacts.extensionNo"
                            class="form-control" [ngClass]="{
                        'has-error':
                          (ContactGridExtension.invalid &&
                            (ContactGridExtension.dirty ||
                              ContactGridExtension.touched ||
                              ContactGridExtensionForm.submitted)) ||
                          (isExtensionNovalid &&
                            !(
                              ContactGridExtension.invalid &&
                              (ContactGridExtension.dirty ||
                                ContactGridExtension.touched ||
                                ContactGridExtensionForm.submitted)
                            ))
                      }" [autofocus]="toBeEdit === 'extensionNo'" />
                        </div>
                        <div *ngIf="
                      ContactGridExtension.invalid &&
                      (ContactGridExtension.dirty ||
                        ContactGridExtension.touched ||
                        ContactGridExtensionForm.submitted)
                    " class="text-danger">
                          <span [hidden]="!ContactGridExtension.errors?.['pattern']">
                            Enter valid extension no
                          </span>
                        </div>
                        <div *ngIf="
                      isExtensionNovalid &&
                      !(
                        ContactGridExtension.invalid &&
                        (ContactGridExtension.dirty ||
                          ContactGridExtension.touched ||
                          ContactGridExtensionForm.submitted)
                      )
                    " class="text-danger">
                          <span class="new-line"> Extension no can not be zero</span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item.contacts.extensionNo">{{ item.contacts.extensionNo }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
             -->
            <td><span [tooltip]="item.quotes">{{ item?.quotes }}</span></td>
            <td>
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div bsModal #addContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <form novalidate id="ContactsDetailsForm" #ContactsDetailsForm="ngForm" name="ContactsDetailsForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Contact
          </h4>
          <button type="reset" class="close common-close"
            (click)="cancelContactDetail(ContactsDetailsForm, addContactModal)" aria-label="Close">
            <i class="fa fa-times-thin align-bottom fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Contact Name</label>
            <input type="text" placeholder="Contact Name" autocomplete="off"
              [maxlength]="constants.MaxLengthConstants.LastName" [pattern]="constants.FULL_NAME_REGEXP"
              class="form-control" #firstName="ngModel" #firstNam [ngClass]="{
                'has-error':
                  firstName.invalid &&
                  (firstName.dirty || ContactsDetailsForm.submitted)
              }" id="firstName" name="firstName" [(ngModel)]="contact.firstName" required />
            {{ isOpenPopup ? firstNam.focus() : null }}
            <!-- {{isOpenPopup ? firstName.reset() : null}} -->
            <!-- <div *ngIf="firstName.invalid && ( firstName.dirty || firstName.touched || ContactsDetailsForm.submitted )" -->
            <div *ngIf="
                firstName.invalid &&
                (firstName.dirty || ContactsDetailsForm.submitted)
              " class="text-danger">
              <div [hidden]="!firstName.errors?.['required']">
                Enter contact name
              </div>
              <div [hidden]="!firstName.errors?.['pattern']">
                Enter valid contact name
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Mobile No</label>

            <input type="text" autocomplete="off" prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
              class="form-control" [maxlength]="constants.MaxLengthConstants.Phone" #homeNo="ngModel" id="homeNo"
              Enabled="True" MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
              InputDirection="LeftToRight" placeholder="Mobile no" name="homeNo" [(ngModel)]="contact.homeNo"
              [pattern]="constants.PHONE_REGEXP" />

            <div *ngIf="
                !homeNo.valid &&
                (homeNo.dirty ||
                  homeNo.touched ||
                  ContactsDetailsForm.submitted)
              " class="text-danger">
              <!-- <div [hidden]="!homeNo.errors?.required">
                Enter mobile no
              </div> -->
              <div [hidden]="!homeNo.errors?.['pattern']">
                Enter valid mobile no
              </div>
            </div>
            <!-- <input type="text" placeholder="Work No" autocomplete="off" [maxlength]="constants.MaxLengthConstants.Phone" class="form-control" #phone="ngModel"
              id="phone" name="phone" [pattern]="constants.PHONE_REGEXP"
              [ngClass]="{'has-error': phone.invalid && (phone.dirty || phone.touched || ContactsDetailsForm.submitted) }" [(ngModel)]="contact.phone"
              [textMask]="{mask: mask}">

            <div *ngIf="phone.invalid && ( phone.dirty || phone.touched || ContactsDetailsForm.submitted)" class="text-danger">
              required <div [hidden]="!phone.errors?.required">
                Enter work no
              </div>
              <div [hidden]="!phone.errors?.pattern">
                Enter valid work no
              </div>
            </div> -->
          </div>

          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Email</label>
            <input type="Email" placeholder="Email" [pattern]="constants.EMAIL_REGEXP" (input)="isUniqueContactEmail()"
              autocomplete="off" class="form-control" #email="ngModel" [ngClass]="{
                'has-error':
                  email.invalid &&
                  (email.dirty ||
                    email.touched ||
                    ContactsDetailsForm.submitted)
              }" id="email" name="email" [(ngModel)]="contact.email" required />
            <div *ngIf="
                email.invalid &&
                (email.dirty || email.touched || ContactsDetailsForm.submitted)
              " class="text-danger">
              <div [hidden]="!email.errors?.['required']">Enter email</div>
              <div [hidden]="!email.errors?.['pattern']">Enter valid email</div>
            </div>
            <div *ngIf="isEmailRepated" class="text-danger">
              Duplicate contact email
            </div>
          </div>
          <div class="form-group">
            <label>Account</label>
            <select class="form-control" #Account="ngModel" id="Account" name="Account"
              [(ngModel)]="contact.accounts.id">
              <option [value]="null" [selected]="!contact.accounts.id">
                Select Account
              </option>
              <option *ngFor="let item of accountCntlist" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
          </div>

          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add" (click)="
              addContactDetailModal(
                ContactsDetailsForm.valid,
                addContactModal,
                ContactsDetailsForm
              )
            ">
            Add
          </button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
            (click)="cancelContactDetail(ContactsDetailsForm, addContactModal)">
            Cancel
          </button>
        </div>
      </div>
      <!-- /.modal -->
    </form>
  </div>
</div>

<div bsModal #importModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" #kitForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title">Import Contact Details</h4>
          <button type="button" class="close" (click)="
              importModal.hide();
              showData = false;
              showWarning = false;
              getContactsList(0)
            " aria-label="Close">
            <!-- importModal.hide(CancelUpload()); -->
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="image-upload-section padding-top-30 padding-bottom-30 import-image-upload">
              <div class="file-upload">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">
                    <i class="fa fa-file-text"></i>
                  </div>
                  <div class="file-select-name font-14 medium-montserrat text-capitalize" id="noFile">
                    upload
                  </div>

                  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary"
                    (change)="fileChangeListener($event)" accept=".csv" />
                  <div *ngIf="showWarning">
                    <label class="text-capitalize semibold-montserrat text-danger">
                      * Please select valid file</label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showData">
              <label class="text-capitalize semibold-montserrat">Total Contact(s) Imported :</label>
              <span> {{ totalContact }}</span>
              <br />
              <!-- <div class="row">&nbsp;&nbsp; -->
              <label class="text-capitalize semibold-montserrat text-status-green">Valid Imports:</label>
              <span class="text-status-green"> {{ validContacts }}</span>
              <label class="text-capitalize semibold-montserrat text-danger right-float">InValid Imports:
                <span class="text-danger"> {{ invalidContact }}</span>
              </label>
              <!-- </div> -->
            </div>
            <div class="margin-top-15 upload-import-file">
              <div class="row">
                <div class="col-xl-1 col-12 col-sm-1">
                  <div class="text-center">
                    <div class="import-file-type">
                      <i class="fa fa-download"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-11 col-12 col-sm-11">
                  <!-- <div class="text-right import-upload-btn"> -->
                  <!-- <button type="button" (click)="CancelUpload()" class="image-delete">
                      <i class="fa fa-times"></i>
                    </button> -->
                  <!-- </div> -->
                  <div *ngIf="showFile" lass="text-dark-blue font-14 semibold-montserrat margin-bottom-5">
                    {{ myFilename }}
                  </div>
                  <!-- <a (click)="DownloadTemplate()">Download Template</a> -->
                  <a (click)="DownloadTemplate()" class="text-table-record-blue semibold-montserrat">
                    Download Sample Template</a>
                  <!-- <div class="file-upload-progress">
                    <div class="progress">
                      <div class="progress-bar" style="width:40%"></div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <!-- <button type="submit" class="btn primary-btn btn-add" (click)="addContactFile();importModal.hide(CancelUpload())">Add</button> -->
            <button type="submit" class="btn primary-btn btn-add" (click)="
                importModal.hide();
                showData = false;
                showWarning = false;
                getContactsList(0)
              ">
              Done
            </button>
            <!-- importModal.hide(CancelUpload()); -->

            <!-- <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal" (click)="importModal.hide(CancelUpload())">Cancel</button> -->
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{ show: show }" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel)">
  </app-toaster>
</div>