<div class="padding-top-15 padding-bottom-15">
  <!-- <div class="right-float padding-right-15 padding-bottom-15">
    <div *ngIf="!showbtn"
         class="add-common-btn add-more-btn">
      <a href="#"
         class="semibold-montserrat"
         data-toggle="modal"
         (click)="showbtn = true;pricingMethod.name=start;pricingMethod.value=null;PmethodFormSubmitted=false; editMethod =false;">add more</a>
    </div>
  </div> -->
  <div class="clearfix"></div>
  <div class="tab-pane fade active show" id="configuration">
    <div class="padding-left-15 padding-right-15 padding-top-15 padding-bottom-15">
      <div id="content">
        <div class="accordion-container" id="config-accordion">
          <div class="content-entry article-title">
            <!-- <a data-toggle="collapse"
               data-parent="#accordion"
               aria-expanded="true"> -->

            <form name="PmethodForm" #PmethodForm="ngForm">
              <button class="btn-quote-delete btn-close-matrix" type="button">
                <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
              </button>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xl-3 col-md-3 col-lg-3">
                    <label>Name</label>
                    <div class="form-group">
                      <input type="text" autocomplete="off" name="PName" #PName="ngModel" #PNam [ngClass]="{'has-error': (PName.invalid && (PName.dirty || PmethodForm.submitted) && PmethodFormSubmitted) ||
                           (isAddMaximum && (PName.invalid && (PName.dirty || PmethodFormSubmitted)))}"
                        [maxlength]="constants.MaxLengthConstants.MethodName" (ngModelChange)="clearMName = true;"
                        (input)="isMethodPrecent=false;editMethod=false" [(ngModel)]="addPricingMethod.name"
                        class="form-control" required />
                      {{isOpenPopup ? PNam.focus() : null}}
                      <!-- {{isOpenPopup ? PName.reset() : null}} -->
                      <i (click)="clearMName = false;addPricingMethod.name=null;"
                        *ngIf="(clearMName === true) && (addPricingMethod.name)"
                        class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                      <div
                        *ngIf="!isMethodPrecent && PName.invalid && ( PName.dirty || PmethodFormSubmitted) && PmethodFormSubmitted"
                        class="text-danger">
                        <div [hidden]="!PName.errors?.['required']">
                          Enter name
                        </div>
                        <div [hidden]="!PName.errors?.['pattern']">
                          Enter valid name
                        </div>
                      </div>
                      <div *ngIf="isMethodPrecent" class="text-danger">
                        Method already present
                      </div>
                      <!-- <div *ngIf="isAddMaximum && !(PName.invalid && ( PName.dirty || PName.touched || PmethodFormSubmitted))" class="text-danger ">
                        Enter valid name
                      </div> -->
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3">
                    <div *ngIf="masterMethodList.length">
                      <label>Method</label>
                      <select
                        [ngClass]="{'has-error': PMethodName.invalid && (PMethodName.dirty || PMethodName.touched || PmethodForm.submitted) && PmethodFormSubmitted}"
                        name="PMethodName" #PMethodName="ngModel" required
                        (change)="addPricingMethod.value=null;PmethodFormSubmitted=false;isAddMaximum=false;editMethod=false"
                        [(ngModel)]="addPricingMethod.method" [ngModelOptions]="{standalone: true}"
                        class="form-control common-text-box margin-top-4 font-14 text-dark-blue medium-montserrat">
                        <option disabled [value]="start">Select Method</option>
                        <option
                          (click)="addPricingMethod.value=null;isAddMaximum=false;PmethodFormSubmitted=false;editMethod=false"
                          *ngFor="let m of masterMethodList " [value]="m?.name" [hidden]="m.name=='List'">
                          {{m.name}}
                        </option>
                      </select>
                      <div
                        *ngIf="(PMethodName.invalid && ( PMethodName.dirty || PMethodName.touched || PmethodForm.submitted )&& PmethodFormSubmitted)"
                        class="text-danger">
                        <div [hidden]="!PMethodName.errors?.['required']">
                          Select Method
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-md-3 col-lg-3">
                    <label
                      *ngIf="(addPricingMethod?.method === masterMethodList[0]?.name)|| (addPricingMethod?.method === start)">Percent</label>
                    <label
                      *ngIf="(addPricingMethod?.method === masterMethodList[1]?.name||addPricingMethod?.method === masterMethodList[2]?.name ||addPricingMethod?.method === masterMethodList[3]?.name)">Percent</label>

                    <div
                      *ngIf="(addPricingMethod?.method === masterMethodList[1]?.name) || (addPricingMethod?.method === masterMethodList[2]?.name) || (addPricingMethod?.method === masterMethodList[3]?.name)"
                      class="form-group">
                      <input type="text" [onlyNumber]="true" autocomplete="off"
                        (keyup)="checkForMax(addPricingMethod.value, masterMethodList[2]?.name, 'Add')" name="PMargin"
                        #PMargin="ngModel"
                        [ngClass]="{'has-error': (PMargin.invalid && (PMargin.dirty || PMargin.touched || PmethodForm.submitted)) ||
                           (isAddMaximum && (PMargin.invalid && (PMargin.dirty || PMargin.touched || PmethodFormSubmitted)))}"
                        [pattern]="constants.Margin_REXEXP" (input)="isMethodPrecent=false;editMethod=false"
                        [maxlength]="constants.MaxLengthConstants.Cost" [(ngModel)]="addPricingMethod.value"
                        (ngModelChange)="clearMPercent = true;" class="form-control" required />
                      <i (click)="clearMPercent = false;addPricingMethod.value=null;"
                        *ngIf="(clearMPercent === true) && (addPricingMethod.value)"
                        class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                      <div *ngIf="PMargin.invalid && ( PMargin.dirty || PMargin.touched || PmethodFormSubmitted)"
                        class="text-danger">
                        <div [hidden]="!PMargin.errors?.['required']">
                          Enter percent
                        </div>
                        <div [hidden]="!PMargin.errors?.['pattern']">
                          Enter valid percent
                        </div>
                      </div>
                      <div
                        *ngIf="isAddMaximum && !(PMargin.invalid && ( PMargin.dirty || PMargin.touched || PmethodFormSubmitted))"
                        class="text-danger">
                        Enter valid percent
                      </div>
                    </div>
                    <div *ngIf="(addPricingMethod?.method === masterMethodList[0]?.name)" class="form-group">
                      <!-- disabled="true" -->
                      <input #ListValue="ngModel" name="ListValue" autocomplete="off" [onlyNumber]="true"
                        [ngModelOptions]="{standalone: true}" type="text" value="-" placeholder="-"
                        [(ngModel)]="addPricingMethod.value" class="form-control" required />
                    </div>
                    <div *ngIf="(addPricingMethod.method === start)" class="form-group">
                      <input name="ListValue" disabled="true" autocomplete="off" [onlyNumber]="true" type="text"
                        value="-" class="form-control" required />
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-lg-3 padding-left-0">
                    <div class="form-group mb-0 margin-top-30">
                      <button type="submit" [disabled]="!accessValid.create"
                        [ngClass]="{'btn-disabled': !accessValid.create}"
                        [title]="!accessValid.create?'Access denied':'Add Pricing Method'"
                        (click)="addMethod(PmethodForm)" class="btn primary-btn btn-add mr-2">
                        Add Pricing Method
                      </button>
                      <!-- <button (click)="addPricingMethod.method = start;addPricingMethod.value = null;resetforms(PmethodForm);PmethodFormSubmitted=false;isAddMaximum=false;"
                        class="btn secondary-btn btn-default" type="reset">Cancel</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="common-table table-responsive pricing-md">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Method</th>
          <th>Percent</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody [hidden]="!accessValid.view" *ngIf="methodList.records">
        <tr
          *ngFor="let obj of methodList?.records | paginate: { id: 'shortpagination', itemsPerPage: methodList?.pageSize, currentPage: methodList?.pageNumber, totalItems: methodList?.totalCount } "
          class="matrix-row">
          <td class="matrix-action">
            <input *ngIf="(!editMethod || methodID !== obj.id) && obj.name" class="medium-montserrat disable-box"
              type="text" [onlyNumber]="true" value="{{obj?.name}}" />
            <form novalidate name="PricingNameForm" #PricingNameForm="ngForm">
              <div>
                <div *ngIf="(editMethod &&( methodID === obj.id))" class="form-group mb-0">
                  <input #Name="ngModel" required name="Name" autocomplete="off"
                    [maxlength]="constants.MaxLengthConstants.MethodName"
                    [ngClass]="{'has-error': (Name.invalid && (Name.dirty || Name.touched || PricingNameForm.submitted) ) ||
                    isUpdateMaximum && !(Name.invalid && ( Name.dirty || Name.touched || PricingNameForm.submitted || isUpdateMaximum))}" type="text"
                    [(ngModel)]="methodName" (input)="isFormMethodPrecent=false" />
                  <div *ngIf="Name.invalid && ( Name.dirty || Name.touched || PricingNameForm.submitted)"
                    class="text-danger">
                    <div [hidden]="!Name.errors?.['required']">
                      Enter name
                    </div>
                    <div [hidden]="!Name.errors?.['pattern']">
                      Enter valid name
                    </div>
                  </div>
                  <div *ngIf="isFormMethodPrecent" class="text-danger">
                    Method already present
                  </div>
                  <!-- <div *ngIf="isUpdateMaximum && !(Mark.invalid && ( Mark.dirty || Mark.touched || PricingValueForm.submitted || isUpdateMaximum))"
                    class="text-danger ">
                    Enter valid value
                  </div> -->
                </div>
              </div>
            </form>
          </td>
          <td class="matrix-action">
            <input class="medium-montserrat disable-box" type="text" value="{{obj.method}}" />
          </td>
          <td class="matrix-action">
            <input *ngIf="(!editMethod || methodID !== obj.id) && (obj.method !== masterMethodList[0]?.name)"
              class="medium-montserrat disable-box" type="text" [onlyNumber]="true" value="{{obj.value}}" />

            <input *ngIf="(!editMethod || methodID !== obj.id) && (obj.method === masterMethodList[0]?.name)"
              class="medium-montserrat disable-box" type="text" [onlyNumber]="true" value="{{obj.value}}" />
            <form novalidate name="PricingValueForm" #PricingValueForm="ngForm">
              <div>
                <div
                  *ngIf="editMethod &&( methodID === obj?.id) && ((obj?.method === masterMethodList[1]?.name) || (obj?.method === masterMethodList[2]?.name) || (obj?.method === masterMethodList[3]?.name))"
                  class="form-group mb-0">
                  <input #Mark="ngModel" required name="Mark" [onlyNumber]="true" autocomplete="off"
                    [pattern]="constants.Margin_REXEXP" [maxlength]="constants.MaxLengthConstants.Cost"
                    [ngClass]="{'has-error': (Mark.invalid && (Mark.dirty || Mark.touched || PricingValueForm.submitted) ) ||
                    isUpdateMaximum && !(Mark.invalid && ( Mark.dirty || Mark.touched || PricingValueForm.submitted || isUpdateMaximum))}" type="text" [(ngModel)]="methodValue"
                    (keyup)="checkForMax(methodValue, masterMethodList[1]?.name , 'Update')" />
                  <div *ngIf="Mark.invalid && ( Mark.dirty || Mark.touched || PricingValueForm.submitted)"
                    class="text-danger">
                    <div [hidden]="!Mark.errors?.['required']">
                      Enter percent
                    </div>
                    <div [hidden]="!Mark.errors?.['pattern']">
                      Enter valid percent
                    </div>
                  </div>
                  <div
                    *ngIf="isUpdateMaximum && !(Mark.invalid && ( Mark.dirty || Mark.touched || PricingValueForm.submitted || isUpdateMaximum))"
                    class="text-danger">
                    Enter valid percent
                  </div>
                </div>
              </div>
            </form>
          </td>
          <td class="matrix-action">
            <div *ngIf="!editMethod || (obj.id && (methodID !== obj.id ))">
              <button
                (click)=" isMethodPrecent=false;isFormMethodPrecent=false; showbtn = false;editMethod = true;methodID = obj.id;mathod=obj.method; methodName = obj.name; methodValue = obj.value"
                [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                [title]="!accessValid.update?'Access denied':'Edit'" class="btn-edit-acc-detail text-status-blue"
                *ngIf="obj.method !=='List'" type="button">
                <i class="fa fa-pencil" [ngClass]="{'btn-disabled': !accessValid.update}"></i>
              </button>
              <!-- ConfirmModal.show(popupFor = 'deletepricingMethod')  #Revisit_PreviousCode -->
              <button
                (click)="isMethodPrecent=false;isFormMethodPrecent=false; pricingMethod = obj;showbtn = false;editMethod = false; methodID = obj.id;
                    obj.isActive = false;popupOpen(popupFor='deletepricingMethod'); ConfirmModal.show() ;page=methodList?.pageNumber;PmethodFormSubmitted=false;"
                [disabled]="!accessValid.delete" [ngClass]="{'btn-disabled': !accessValid.delete}"
                [title]="!accessValid.delete?'Access denied':'Delete'" class="btn-edit-acc-detail text-status-blue"
                *ngIf="obj.method !=='List'" type="button">
                <i class="fa fa-trash-o" [ngClass]="{'btn-disabled': !accessValid.delete}"></i>
              </button>
            </div>
            <div *ngIf="editMethod && (methodID ===  obj.id)">
              <button
                (click)="isMethodPrecent=false ;isFormMethodPrecent=false; obj.value=methodValue; obj.name = methodName;obj.method = mathod;  updateMethod(obj,PricingValueForm.valid,methodList?.pageNumber)"
                type="button" class="btn-save-acc-detail text-status-blue">
                <i class="fa fa-save"></i>
              </button>
              <button
                (click)="isMethodPrecent=false ;isFormMethodPrecent=false; editMethod = false;getMethodList(methodList.pageNumber);isUpdateMaximum = false"
                type="reset" class="btn-save-acc-detail text-danger">
                <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
              </button>
            </div>
          </td>
        </tr>
        <!-- <tr *ngIf="!(methodList?.records) " class="text-center">
          <td></td>
          <td>Currently no data available</td>
          <td></td>
        </tr> -->
      </tbody>
      <tbody *ngIf="!accessValid.view">
        <tr class="text-center">
          <td colspan="4">
            <span>Access denied</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2">
      <pagination-controls id="shortpagination" (pageChange)="getMethodList($event)" #shortpagination>
      </pagination-controls>
    </div>
  </div>
</div>

<div bsModal #ConfirmModal="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>

<!-- <div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div class="">
          <span>Are you sure you want to delete this method?
          </span>
        </div>

      </div>
      <div class="mb-3 pl-3">
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide(deleteMethod(pricingMethod, page))">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide(getMethodList(methodList.pageNumber));">No</button>
      </div>

    </div>

  </div>
</div> -->