<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card card-main">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-4 col-md-2 col-12">
        <!-- <div class="text-uppercase text-title-gray font-18 semibold-montserrat padding-top-5">
              REPORTS/ Dashboard
            </div> -->
      </div>
      <div class="col-xl-8 col-md-10 col-12">
        <div class=" row">
          <div class="form-group mb-0 col-xl-6 col-md-6 col-12">
            <div class="row">
              <div class="col-md-3 ">
                <label class="col-form-label float-right" for="select1">Select&nbsp;User</label>
              </div>
              <div class="col-md-9">
                <select class="form-control" (change)="getData()" required name="UserId" [(ngModel)]="UserId" class="form-control common-text-box font-14 text-dark-blue">
                  <option [value]="'0'">
                    All Users</option>
                  <option *ngFor="let User of Users" [value]="User.id">
                    {{User.FullName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group mb-0 col-xl-6 col-md-6 col-12">
            <div class="row">
              <div class="col-md-3 ">
                <label class="col-form-label float-right" for="select1">Period</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" type="text" name="daterangeInput" daterangepicker (selected)="getData($event)" (applyDaterangepicker)="someFunction($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-block">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3 mt-2">
            <div class="card-block">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="card-title color-grey-shade medium-montserrat">Total Quotes Sent</h5>
                </div>
                <div class="col-md-2">
                  <div class="circle-status bg-blue pull-right">
                    <img src="assets/img/quoted.svg">
                  </div>
                </div>
              </div>
              <p class="card-text bold-montserrat" style="color: #5296e4;">{{this.TotalQuotesSent.TotalQuotesSent}}</p>
              <div>${{this.TotalQuotesSent.TotalRevenue | number : '1.2-2'}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3 mt-2">
            <div class="card-block">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="card-title color-grey-shade medium-montserrat">% Accepted </h5>
                </div>
                <div class="col-md-2">
                  <div class="circle-status bg-green pull-right">
                    <img src="assets/img/accepted.svg">
                  </div>
                </div>
              </div>
              <p class="card-text bold-montserrat" style="color: #49bc47;"> {{this.TotalQuotesSent.Accepted}} </p>
              <div *ngIf="this.TotalQuotesSent.Accepted > 0"> {{this.TotalQuotesSent.Accepted / this.TotalQuotesSent.TotalQuotesSent * 100 | number : '1.2-2'}}%</div>
              <div *ngIf="this.TotalQuotesSent.Accepted <= 0"> 0%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3 mt-2">
            <div class="card-block">
              <div class="row mb-5">
                <div class="col-md-10">
                  <h5 class="card-title color-grey-shade medium-montserrat">Total Revenue </h5>
                </div>
                <div class="col-md-2">
                  <!-- <div class="circle-status bg-green pull-right">
                    <img src="assets/img/accepted.svg">
                  </div> -->
                </div>
              </div>
              <!-- <p class="card-text">Sa</p> -->
              <div>${{this.TotalQuotesSent.AcceptedRevenue | number : '1.2-2'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let Quote of QuoteStatus">
          <div class="col-md-6" *ngIf="Quote._id == 'Expired'">
            <div class="card mb-3 mt-2">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title color-grey-shade medium-montserrat">Quotes {{Quote._id}}</h5>
                  </div>
                  <div class="col-md-6">
                    <div class="circle-status  bg-violet pull-right">
                      <img src="assets/img/rejected.svg">
                    </div>
                  </div>
                </div>
                <p class="card-text bold-montserrat" style="color: #be29ec;">{{Quote.TotalQuotes}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="Quote._id == 'Rejected'">
            <div class="card mb-3 mt-2">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title color-grey-shade medium-montserrat">Quotes {{Quote._id}}</h5>
                  </div>
                  <div class="col-md-6">
                    <div class="circle-status  bg-pink pull-right">
                      <img src="assets/img/expired.svg">
                    </div>
                  </div>
                </div>
                <p class="card-text bold-montserrat" style="color: #e12541;">{{Quote.TotalQuotes}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row" *ngIf="UserId == 0">
        <div class="col-md-6">
          <div class="card mb-3 mt-2">
            <div class="card-block">
              <h5 class="card-title color-grey-shade medium-montserrat mb-4">Top Performer </h5>
              <p class="card-text bold-montserrat mb-0">{{TopPerformer.UserName}}</p>
              <div class="bold-montserrat">${{TopPerformer.TotalRevenue | number : '1.2-2'}} / {{TopPerformer.TotalQuotesAccepted}} Quotes Accepted
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3 mt-2">
            <div class="card-block">
              <h5 class="card-title color-grey-shade medium-montserrat mb-4">Most Quotes Sent </h5>
              <p class="card-text bold-montserrat mb-0">{{MostQuotesSentByUserId.UserName}}</p>
              <div class="bold-montserrat">{{MostQuotesSentByUserId.NumberOfQuotesSent}} Quotes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
