<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '14px' }"
></ngx-loading>

<div class="main-container main-container-compress">
  <div class="container-fluid">
    <div class="product-details padding-top-15">
      <div class="row">
        <div
          class="
            col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12
            first-section-product
          "
        >
          <div class="common-detail-box common-width-full synopsys-box">
            <div class="content-box textarea-box">
              <div class="row p-4">
                <div class="col-12 col-lg-6 col-md-4 col-xl-6 col-sm-6">
                  <div class="row">
                    <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                      <div class="text-title-gray font-14 semibold-montserrat">
                        {{ account?.name }}
                      </div>
                      <div class="text-title-gray font-14 semibold-montserrat">
                        {{ quotesInfo?.name }}
                      </div>
                      <div
                        class="left-float margin-right-15 profile-info-quote"
                      >
                        <div
                          class="
                            left-float
                            font-13
                            medium-montserrat
                            text-status-blue
                            margin-right-10
                          "
                        >
                          QID: {{ quotesInfo?.uniqueId }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-xl-6 col-sm-12">
                  <div class="text-right">
                    <a target="_blank" href="https://www.quofinity.com/">
                      <img width="100" src="../assets/img/main-logo.png" />
                    </a>
                  </div>
                </div>
                <hr />
              </div>
              <div class="pl-4 pr-4 row">
                <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <div class="text-title-gray font-16 semibold-montserrat">
                    Total Revenue
                  </div>
                  <div class="left-float margin-right-15 profile-info-quote">
                    <div
                      class="
                        left-float
                        font-14
                        mt-n5
                        medium-montserrat
                        text-status-blue
                        margin-right-10
                      "
                    >
                      ${{
                        quotesInfo.subtotal - quotesInfo.discount
                          | number: "1.2-2"
                      }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="card card-dark mb-0">
                    <div class="card-body card-block">
                      <div class="row">
                        <div
                          class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12"
                        >
                          <div class="text-center">
                            <div class="medium-montserrat font-14 text-white">
                              Cost
                            </div>
                            <div
                              class="
                                semibold-montserrat
                                font-20
                                text-status-orange
                              "
                            >
                              ${{ roundNumber(GetCost(), 2) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="card card-dark mb-0">
                    <div class="card-body card-block">
                      <div class="row">
                        <div
                          class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12"
                        >
                          <div class="text-center">
                            <div class="medium-montserrat font-14 text-white">
                              Profit Margin
                            </div>
                            <div
                              class="
                                semibold-montserrat
                                font-20
                                text-status-violet
                              "
                            >
                              {{ GetProfitMargin() }}%
                            </div>
                            <!-- <div
                              *ngIf="GetProfitMargin() < 0"
                              class="semibold-montserrat font-20 text-status-violet"
                            >
                              Error
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="card card-dark mb-0">
                    <div class="card-body card-block">
                      <div class="row">
                        <div
                          class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12"
                        >
                          <div class="text-center">
                            <div class="medium-montserrat font-14 text-white">
                              Profit
                            </div>
                            <div
                              class="
                                semibold-montserrat
                                font-20
                                text-status-green
                              "
                            >
                              ${{ quotesInfo?.profit | number: "1.2-2" }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                  <hr />
                </div>
              </div>
              <div
                class="row pl-4 pr-4 pt-3 pb-3"
                *ngFor="let item of groupByProducts"
              >
                <div
                  class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 pb-4"
                >
                  <div class="text-title-gray font-14 semibold-montserrat">
                    {{ item.name }}
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="bottom-box-pricing p-0">
                    <div class="row">
                      <div
                        class="
                          col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6
                          border-right
                        "
                      >
                        <div class="circle-common-bottom border-orange m-0">
                          <img src="assets/img/quote-bottom-cost.svg" />
                        </div>
                      </div>
                      <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                        <div class="text-center">
                          <div
                            class="
                              semibold-montserrat
                              font-16
                              text-status-orange
                            "
                          >
                            ${{ GetProductWiseCost(item) | number: "1.2-2" }}
                          </div>
                          <div class="medium-montserrat font-14 text-dark-blue">
                            Cost
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="bottom-box-pricing p-0">
                    <div class="row">
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-2 col-sm-6"
                      ></div>
                      <div
                        class="
                          col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6
                          border-right
                        "
                      >
                        <div class="circle-common-bottom border-violet m-0">
                          <img
                            src="assets/img/quote-bottom-profit-margin.svg"
                          />
                        </div>
                      </div>
                      <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                        <div class="text-center">
                          <div
                            class="
                              semibold-montserrat
                              font-16
                              text-status-violet
                            "
                          >
                            {{
                              GetProjectWiseProfitMargin(item)
                                | number: "1.2-2"
                            }}%
                          </div>
                          <!-- *ngIf="GetProjectWiseProfitMargin(item) >= 0" -->

                          <!-- <div
                            *ngIf="GetProjectWiseProfitMargin(item) < 0"
                            class="semibold-montserrat font-16 text-status-violet"
                          >
                            Error
                          </div> -->
                          <div class="medium-montserrat font-14 text-dark-blue">
                            Profit Margin
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-2 col-sm-6"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="bottom-box-pricing p-0">
                    <div class="row">
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6"
                      ></div>
                      <div
                        class="
                          col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6
                          border-right
                        "
                      >
                        <div class="circle-common-bottom border-green m-0">
                          <img src="assets/img/quote-bottom-profit.svg" />
                        </div>
                      </div>
                      <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                        <div class="text-center">
                          <div
                            class="
                              semibold-montserrat
                              font-16
                              text-status-green
                            "
                          >
                            ${{ GetProjectWiseProfit(item) | number: "1.2-2" }}
                          </div>
                          <!-- <div
                            *ngIf="GetProjectWiseProfit(item) < 0"
                            class="semibold-montserrat font-16 text-status-green"
                          >
                            Error
                          </div> -->
                          <div class="medium-montserrat font-14 text-dark-blue">
                            Profit
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row pl-4 pr-4 pt-3 pb-3">
                <div
                  class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 pb-4"
                >
                  <div class="text-title-gray font-14 semibold-montserrat">
                    Custom Products
                    <!-- {{ item.name }} -->
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="bottom-box-pricing p-0">
                    <div class="row">
                      <div
                        class="
                          col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6
                          border-right
                        "
                      >
                        <div class="circle-common-bottom border-orange m-0">
                          <img src="assets/img/quote-bottom-cost.svg" />
                        </div>
                      </div>
                      <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                        <div class="text-center">
                          <div
                            class="
                              semibold-montserrat
                              font-16
                              text-status-orange
                            "
                          >
                            ${{ getCustomProductCost() | number: "1.2-2" }}
                          </div>
                          <div class="medium-montserrat font-14 text-dark-blue">
                            Cost
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="bottom-box-pricing p-0">
                    <div class="row">
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-2 col-sm-6"
                      ></div>
                      <div
                        class="
                          col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6
                          border-right
                        "
                      >
                        <div class="circle-common-bottom border-violet m-0">
                          <img
                            src="assets/img/quote-bottom-profit-margin.svg"
                          />
                        </div>
                      </div>
                      <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                        <div class="text-center">
                          <div
                            class="
                              semibold-montserrat
                              font-16
                              text-status-violet
                            "
                          >
                            {{
                              getCustomProductProfitMargin() | number: "1.2-2"
                            }}
                            %
                            <!-- *ngIf="getCustomProductProfitMargin() > 0" -->

                            <!-- {{
                            GetProjectWiseProfitMargin(item)
                              | number: "1.2-2"
                          }}% -->
                          </div>
                          <!-- <div
                            *ngIf="getCustomProductProfitMargin() <= 0"
                            class="semibold-montserrat font-16 text-status-violet"
                          >
                            Error
                          </div> -->
                          <div class="medium-montserrat font-14 text-dark-blue">
                            Profit Margin
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-2 col-sm-6"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                  <div class="bottom-box-pricing p-0">
                    <div class="row">
                      <div
                        class="d-none col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6"
                      ></div>
                      <div
                        class="
                          col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6
                          border-right
                        "
                      >
                        <div class="circle-common-bottom border-green m-0">
                          <img src="assets/img/quote-bottom-profit.svg" />
                        </div>
                      </div>
                      <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                        <div class="text-center">
                          <div
                            class="
                              semibold-montserrat
                              font-16
                              text-status-green
                            "
                          >
                            ${{ getCustomProductProfit() | number: "1.2-2" }}
                          </div>
                          <!-- <div
                            *ngIf="getCustomProductProfit() <= 0"
                            class="semibold-montserrat font-16 text-status-green"
                          >
                            Error
                          </div> -->
                          <div class="medium-montserrat font-14 text-dark-blue">
                            Profit
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row pl-4 pr-4 mb-2">
                  <div
                    class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 pb-4 pt-4"
                  >
                    <div class="text-title-gray font-14 semibold-montserrat">
                      Total Revenue
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <div class="bottom-box-pricing p-0">
                      <div class="row">
                        <div
                          class="col-6 col-lg-4 col-md-4 col-xl-4 col-sm-6 border-right"
                        >
                          <div class="circle-common-bottom border-orange m-0">
                            <img src="assets/img/quote-bottom-cost.svg" />
                          </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4 col-sm-6">
                          <div class="text-center">
                            <div
                              class="semibold-montserrat font-16 text-status-orange"
                            >
                              ${{ GetCost() | number: '1.2-2' }}
                            </div>
                            <div
                              class="medium-montserrat font-14 text-dark-blue"
                            >
                              Cost
                            </div>
                          </div>
                        </div>
                        <div
                          class="d-none col-6 col-lg-4 col-md-4 col-xl-4 col-sm-6"
                        ></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <div class="bottom-box-pricing p-0">
                      <div class="row">
                        <div
                          class="d-none col-6 col-lg-6 col-md-8 col-xl-2 col-sm-6"
                        ></div>
                        <div
                          class="col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6 border-right"
                        >
                          <div class="circle-common-bottom border-violet m-0">
                            <img
                              src="assets/img/quote-bottom-profit-margin.svg"
                            />
                          </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                          <div class="text-center">
                            <div
                              class="semibold-montserrat font-16 text-status-violet"
                              [hidden]="isInfinity"
                            >
                              {{ GetProfitMargin() | number: '1.2-2' }}%
                            </div>
                            <div
                              class="semibold-montserrat font-20 text-status-violet"
                              [hidden]="!isInfinity"
                            >
                              Error
                            </div>
                            <div
                              class="medium-montserrat font-14 text-dark-blue"
                            >
                              Profit Margin
                            </div>
                          </div>
                        </div>
                        <div
                          class="d-none col-6 col-lg-6 col-md-8 col-xl-2 col-sm-6"
                        ></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <div class="bottom-box-pricing p-0">
                      <div class="row">
                        <div
                          class="d-none col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6"
                        ></div>
                        <div
                          class="col-6 col-lg-6 col-md-4 col-xl-4 col-sm-6 border-right"
                        >
                          <div class="circle-common-bottom border-green m-0">
                            <img src="assets/img/quote-bottom-profit.svg" />
                          </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-8 col-xl-4 col-sm-6">
                          <div class="text-center">
                            <div
                              class="semibold-montserrat font-16 text-status-green"
                            >
                              ${{ quotesInfo?.profit | number: '1.2-2' }}
                            </div>
                            <div
                              class="medium-montserrat font-14 text-dark-blue"
                            >
                              Profit
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <footer>
  <a href="http://www.quofinity.com" target="blank">&copy; Quofinity.</a> 2018 -
  2024. All Rights Reserved
  <span class="float-right"
    >Powered by
    <a href="http://www.quofinity.com" target="blank">Quofinity</a>
  </span>
</footer> -->
<div>
  <span class="pull-right mt-4 pr-3" style="font-size: 11px"
    >*Profit margin and profit calculations are based on the projected potential
    value; actuals are based on many factors. Discounts are not accounted for in
    calculations by product type.</span
  >
</div>
<footer class="app-footer ml-0 mt-5">
  <a href="http://www.quofinity.com">&copy; Quofinity.</a> 2018. All Rights
  Reserved
  <span class="float-right"
    >Powered by
    <a href="#" target="blank">Quofinity</a>
  </span>
</footer>
