<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


<div class='outer-div'>
  <div class='sign-up-middle'>
    <div class="text-center margin-bottom-20">
      <img src="../assets/img/main-logo-white.png" />
    </div>
    <div class="white-box">
      <div class="margin-bottom-30">
        <div class="row">
          <div class="col-xl-4 col-12 col-sm-4 col-lg-4">
            <div class="medium-montserrat font-24 text-dark-blue text-capitalize title-form-sign">sign up</div>
          </div>
          <div class="col-xl-8 col-12 col-sm-8 col-lg-8">
            <div class="sign-links right-float">
              <a routerLink="['/account/login']" class="semibold-montserrat">sign in
                <i class="fa fa-sign-in margin-left-5"></i>
              </a>
              <a routerLink="['/account/register']" class="semibold-montserrat active">sign up
                <i class="fa fa-file-text margin-left-5"></i>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <form novalidate autocomplete="off" (ngSubmit)="onSubmit(myForm.valid)" #myForm="ngForm">
        <div class="sign-form">
          <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">first name
                  <sup class="text-danger">*</sup>
                </label>
                <input type="text" #FirstName="ngModel" [(ngModel)]="User.firstName"
                  [ngClass]="{'has-error':  FirstName?.invalid && (FirstName?.dirty || FirstName?.touched || myForm.submitted) }"
                  name="FirstName" [maxlength]="constants.MaxLengthConstants.Name" [pattern]="constants.NAME_REGEXP"
                  class="form-control semibold-montserrat font-14 text-dark-blue" required>
                <div *ngIf="(FirstName.invalid || FirstName.dirty ) && myForm.submitted" class="text-danger">
                  <div [hidden]="!FirstName.errors?.['required']">
                    Enter first name
                  </div>
                  <div [hidden]="!FirstName.errors?.['pattern']">
                    Enter valid first name
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label for="usr" class="font-14 text-label-sign text-uppercase">last name
                  <sup class="text-danger">*</sup>
                </label>
                <input type="text" [(ngModel)]="User.lastName" required [maxlength]="constants.MaxLengthConstants.Name"
                  #LastName="ngModel" name="LastName" [pattern]="constants.NAME_REGEXP"
                  [ngClass]="{'has-error': LastName.invalid && (LastName.dirty || LastName.touched || myForm.submitted) }"
                  class="form-control semibold-montserrat font-14 text-dark-blue">
                <div *ngIf="( LastName.invalid || LastName.dirty || LastName.touched ) && myForm.submitted"
                  class="text-danger">
                  <div [hidden]="!LastName.errors?.['required']">
                    Enter last name
                  </div>
                  <div [hidden]="!LastName.errors?.['pattern']">
                    Enter valid last name
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">contact number
                  <sup class="text-danger">*</sup>
                </label>


                <button type="button" class="btn-danger-tooltip right-float"
                  *ngIf="ContactNo.invalid && (ContactNo.dirty || ContactNo.touched || myForm.submitted)"
                  placement="top" triggers="" #pop2="bs-popover" [popover]="popTemplate2" (click)="pop2.show()">
                  <i class=" fa fa-exclamation-circle right-float" (click)="pop2.hide()"></i>
                  <ng-template #popTemplate2>

                    <!-- <button type="button" class="close common-close" (click)="pop2.hide()" aria-label="Close"> -->
                    <i class="fa fa-times right-float" aria-label="Close" (click)="pop2.hide()"></i>
                    <!-- </button> -->
                    <!-- <div *ngIf="cnt"> -->
                    <!-- <div> -->
                    <label class="text-red ">Provide valid contact number.&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                      Eg.&nbsp; &nbsp;+1 (123) 433-3933</label>
                    <!-- </div> -->
                    <!-- </div> -->

                  </ng-template>
                </button>
                <input type="text" [(ngModel)]="User.contactNo" required #ContactNo="ngModel" name="ContactNo"
                  prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
                  [maxlength]="constants.MaxLengthConstants.Phone"
                  [ngClass]="{'has-error': ContactNo.invalid && (ContactNo.dirty || ContactNo.touched || myForm.submitted) }"
                  [pattern]="constants.PHONE_REGEXP" class="form-control semibold-montserrat font-14 text-dark-blue">
                <!-- [mask]="{mask: mask}" #Revisit_PreviousCode -->
                <div *ngIf=" ( ContactNo.invalid  || ContactNo.dirty || ContactNo.touched )&&  myForm.submitted"
                  class="text-danger">
                  <div [hidden]="!ContactNo.errors?.['required']">
                    Enter contact no
                  </div>
                  <div [hidden]="!ContactNo.errors?.['pattern']">
                    Enter valid contact no
                  </div>
                </div>
                <div *ngIf="isContactDuplicate && User.contactNo" class="text-danger">
                  <span> Contact number already used</span>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">email ID
                  <sup class="text-danger">*</sup>
                </label>
                <button type="button" class="btn-danger-tooltip right-float"
                  *ngIf="Email.invalid && ( Email.dirty || Email.touched || myForm.submitted)" placement="top"
                  triggers="" #pop="bs-popover" [popover]="popTemplate" (blur)="pop.hide()" (click)="pop.show();">
                  <i class=" fa fa-exclamation-circle right-float"></i>
                  <ng-template class="w-90 h-100" #popTemplate>
                    <div class="form-group">
                      <i class="fa fa-times right-float" aria-label="Close" (click)="pop.hide()"></i>
                      <label class="text-red ">Provide valid email. Eg.&nbsp;abc@example.com</label>
                    </div>
                  </ng-template>
                </button>
                <input type="text" [(ngModel)]="User.email" required [maxlength]="constants.MaxLengthConstants.Email"
                  #Email="ngModel" name="Email" (input)="isEmailDuplicate = false"
                  [ngClass]="{'has-error': Email.invalid && (Email.dirty || Email.touched || myForm.submitted) }"
                  [pattern]="constants.EMAIL_REGEXP" class="form-control semibold-montserrat font-14 text-dark-blue">
                <div *ngIf="(Email.invalid || Email.dirty || Email.touched ) &&  myForm.submitted" class="text-danger">
                  <div [hidden]="!Email.errors?.['required']">
                    Enter email
                  </div>
                  <div [hidden]="!Email.errors?.['pattern']">
                    Enter valid email
                  </div>
                </div>
                <div *ngIf="isEmailDuplicate && User.email" class="text-danger">
                  Duplicate company email
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>


          <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">password
                  <sup class="text-danger">*</sup>
                </label>
                <button type="button" class="btn-danger-tooltip right-float"
                  *ngIf="Password?.invalid && ( Password?.dirty || Password?.touched || myForm.submitted) "
                  placement="top" triggers="" #pop1="bs-popover" [popover]="popTemplate1" (blur)="pop1.hide()"
                  (click)="pop1.show();">
                  <i class=" fa fa-exclamation-circle right-float"></i>
                  <ng-template class="w-90 h-100" #popTemplate1>
                    <div class="form-group">
                      <i class="fa fa-times right-float" aria-label="Close" (click)="pop1.hide()"></i>
                      <label class="text-red ">Use 8 or more characters with a mix of letters, numbers & symbols.
                        Eg.&nbsp;Pass@123</label>

                    </div>

                  </ng-template>
                </button>
                <input type="password" [(ngModel)]="User.password" required
                  [maxlength]="constants.MaxLengthConstants.Password" [pattern]="constants.PASSWORD_REGEXP"
                  [ngClass]="{'has-error': Password.invalid && (Password.dirty || Password.touched || myForm.submitted) }"
                  #Password="ngModel" validateEqual="ConfirmPassword" reverse="true" name="Password"
                  class="form-control semibold-montserrat font-14 text-dark-blue">
                <div *ngIf="(Password.invalid || Password.dirty || Password.touched ) && myForm.submitted"
                  class="text-danger">
                  <div [hidden]="!Password.errors?.['required']">
                    Enter password
                  </div>
                  <div [hidden]="!Password.errors?.['pattern']">
                    Enter valid password
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">confirm password
                  <sup class="text-danger">*</sup>
                </label>
                <input type="password" [(ngModel)]="Confirm" required
                  [maxlength]="constants.MaxLengthConstants.Password" #ConfirmPassword="ngModel"
                  validateEqual="Password" name="ConfirmPassword"
                  [ngClass]="{'has-error': ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched || myForm.submitted) }"
                  reverse="false" class="form-control semibold-montserrat font-14 text-dark-blue">
                <div
                  *ngIf="(ConfirmPassword.invalid || ConfirmPassword.dirty || ConfirmPassword.touched) && myForm.submitted"
                  class="text-danger">
                  <div [hidden]="!ConfirmPassword.errors?.['required']">
                    Confirm password
                  </div>
                  <div
                    *ngIf="(!ConfirmPassword?.valid || !ConfirmPassword?.pristine) && Confirm && (ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched || myForm.submitted) ) ">
                    Password mismatch
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">company name
                  <sup class="text-danger">*</sup>
                </label>
                <input type="text" [(ngModel)]="Company.name" required #CompanyName="ngModel"
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP" name="CompanyName"
                  (input)="isCompanyDuplicate = false"
                  [ngClass]="{'has-error': CompanyName.invalid && (CompanyName.dirty || CompanyName.touched || myForm.submitted) }"
                  [maxlength]="constants.MaxLengthConstants.CompanyName"
                  class="form-control semibold-montserrat font-14 text-blue-gray">
                <div *ngIf="(CompanyName.invalid || CompanyName.dirty || CompanyName.touched ) && myForm.submitted"
                  class="text-danger">
                  <div class="arrow"></div>
                  <div [hidden]="!CompanyName.errors?.['required']">
                    Enter company name
                  </div>
                  <div [hidden]="!CompanyName.errors?.['pattern']">
                    Enter valid company name
                  </div>
                </div>
                <div *ngIf="isCompanyDuplicate && Company.name" class="text-danger">
                  <span>Company name already used</span>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">address
                  <sup class="text-danger">*</sup>
                </label>
                <input type="text" [(ngModel)]="Company.street" required
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP" #Street="ngModel" name="Street"
                  [ngClass]="{'has-error': Street.invalid && (Street.dirty || Street.touched || myForm.submitted) }"
                  [maxlength]="constants.MaxLengthConstants.Street"
                  class="form-control semibold-montserrat font-14 text-blue-gray">
                <div *ngIf="(Street.invalid || Street.dirty || Street.touched ) && myForm.submitted"
                  class="text-danger">
                  <div [hidden]="!Street.errors?.['required']">
                    Enter address
                  </div>
                  <div [hidden]="!Street.errors?.['pattern']">
                    Enter valid address
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">city
                  <sup class="text-danger">*</sup>
                </label>
                <input type="text" [(ngModel)]="Company.city" required #City="ngModel" name="City"
                  [pattern]="constants.NAME_REGEXP"
                  [ngClass]="{'has-error': City.invalid && (City.dirty || City.touched || myForm.submitted) }"
                  [maxlength]="constants.MaxLengthConstants.City"
                  class="form-control semibold-montserrat font-14 text-blue-gray">
                <div *ngIf=" ( City.invalid || City.dirty || City.touched) && myForm.submitted" class="text-danger">
                  <div [hidden]="!City.errors?.['required']">
                    Enter city
                  </div>
                  <div [hidden]="!City.errors?.['pattern']">
                    Enter valid city
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">state
                  <sup class="text-danger">*</sup>
                </label>
                <select class="form-control height-31 w-100 semibold-montserrat font-14 text-blue-gray" #State="ngModel"
                  [ngClass]="{'has-error': State.invalid && (State.dirty || State.touched || myForm.submitted) }"
                  name="State" required [(ngModel)]="Company.state">
                  <option value=null selected="true" disabled="true">Select State</option>
                  <option *ngFor="let item of states" value="{{item.abbreviation}}">
                    {{item.abbreviation}}
                  </option>
                </select>
                <div *ngIf="( State.invalid || State.dirty || State.touched ) && myForm.submitted" class="text-danger">
                  <div [hidden]="!State.errors?.['required']">
                    Select state
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-sm-6 col-lg-6">
              <div class="form-group margin-bottom-30">
                <label class="font-14 text-label-sign text-uppercase">zip
                  <sup class="text-danger">*</sup>
                </label>
                <input type="text" [(ngModel)]="Company.zip" required #Zip="ngModel"
                  [maxlength]="constants.MaxLengthConstants.Zip" name="Zip"
                  [ngClass]="{'has-error': Zip.invalid && (Zip.dirty || Zip.touched || myForm.submitted) }"
                  [pattern]="constants.ZIP_REGEXP" class="form-control semibold-montserrat font-14 text-blue-gray">
                <div *ngIf="( Zip.invalid || Zip.dirty || Zip.touched ) && myForm.submitted" class="text-danger">
                  <div [hidden]="!Zip.errors?.['required']">
                    Enter zip
                  </div>
                  <div [hidden]="!Zip.errors?.['pattern']">
                    Enter valid zip
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">

            <div class="col-xl-12 col-sm-12 col-lg-12 col-12">
              <!-- <div class="form-group margin-bottom-30">
                  <input type="checkbox" class="form-check-input">
                  <label class="font-14 text-label-sign text-uppercase">I agree to the Terms of Use

                  </label>
                </div> -->
              <div class="form-group margin-bottom-30">
                <span>
                  <input id="terms" name="IsTerms" (change)="agree = !agree" required type="checkbox"> I agree to the
                  <a (click)="termsofUseModal.show();getConfiguration();" data-toggle="modal"
                    style="color:rgb(0, 119, 255);">Terms of Use</a>
                </span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-btn">
            <button type="submit" class="semibold-montserrat primary-btn">Sign Up
            </button>
            <!-- <button type="submit"
                    *ngIf="agree"
                    class="semibold-montserrat primary-btn">Sign Up
            </button>
            <button type="submit"
                    *ngIf="!agree"
                    (click)="ConfirmModal.show(); show = true;
           popupOpen(this.popupFor = 'Accept terms');"
                    class="semibold-montserrat primary-btn">Sign Up
            </button> -->
            <button type="reset" routerLink="['/pages/app-home']"
              class="semibold-montserrat secondary-btn btn-default margin-left-10">cancel
              <i class="fa fa-times margin-left-5"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- code for popup -->
<div bsModal #termsofUseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content termsofUse">
      <div class="modal-header common-modal-header">
        <h4 class="modal-title">Terms of Use</h4>
        <button type="button" class="close  common-close" (click)="termsofUseModal.hide()" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body custom-scroll">
        <div class="card-block">
          <div class="row">
            <!-- <div [innerHTML]="terms | safe : 'html'"></div> -->
            <div class="ql-editor quill-editor ql-container ql-snow" [innerHTML]="terms | safe : 'html'"></div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div bsModal [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'" #ConfirmModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [notification]="notification" [typeofMessage]="typeofMessage" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>