<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-md-offset-1">
        <div class="card success">
          <div class="success-card-header  text-capitalize font-18 text-dark-blue medium-montserrat">
            <h4 class="modal-title  text-capitalize font-18 text-dark-blue medium-montserrat"><i
                class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Thanks
              For Joining Quofinity </h4>
          </div>
          <div class="card-block">
            <!-- <h5 class="success-lead">Congratulations!</h5> -->
            <br>
            <h5 class="success-lead">
              An email has been sent to you with an activation link. Please follow the instructions provided in the
              email to activate your
              account.
              <a class="color-blue" routerLink="['/pages/app-home']">Sign In.</a>
            </h5>
            <h5 class="success-lead">
              <b>Note:</b> Please check your Junk/Spam folder just in case your confirmation email was delivered there
              instead of your inbox.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>