<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="padding-bottom-20">
    <div class="padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <div class="text-uppercase text-title-gray font-16 semibold-montserrat padding-top-5">
              Kits
              <span *ngIf="kitList.totalCount"
                class="quote-count bg-notif-blue semibold-montserrat">{{kitList.totalCount}}</span>
              <span *ngIf="!kitList.totalCount" class="quote-count bg-notif-blue semibold-montserrat">0</span>
            </div>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="right-float">
              <div class="add-common-btn left-float">
                <button type="button" data-toggle="modal" data-target="#addKitModal"
                  (click)="addKitModal.show();discardEdit();setFocus()" [disabled]="!accessValid.create"
                  [ngClass]="{'btn-disabled': !accessValid.create}"
                  [title]="!accessValid.create?'Access denied':'Add kit'" class="semibold-montserrat">
                  Add kit
                </button>
              </div>
              <div class="view-btn common-blue-btn dropdown left-float margin-left-15">
                <button type="button" data-toggle="dropdown">
                  <i class="icon-menu icons d-block" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" [disabled]="!accessValid.export"
                      [ngClass]="{'btn-disabled': !accessValid.export}"
                      [title]="!accessValid.export?'Access denied':'Export'" (click)="exportToCSV();discardEdit();">
                      <i class="fa fa-upload" aria-hidden="true"></i> Export
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-box kit-filter-box sorting-btn-list padding-left-15 padding-right-15 padding-bottom-15">
      <form novalidate name="SearchForm" #SearchForm="ngForm">
        <div class="row">
          <div class="col-6 col-xl-4 col-md-4 mb-2">
            <ng-template #CategoryItemTemplate let-model="item" let-index="index">
              <span class="mb-0">{{model?.description}}</span>
            </ng-template>

            <input name="KitCategory" autocomplete="off" [maxlength]="constants.MaxLengthConstants.Category"
              #KitCategory="ngModel" [(ngModel)]="kitList.category" [typeahead]="categories"
              [typeaheadItemTemplate]="CategoryItemTemplate" typeaheadOptionField="description"
              (keydown)="onKeyDown();toBeEdit = 'none'" (keyup)="showClearButton = true;toBeEdit = 'none'"
              (typeaheadOnSelect)="getKitList(0);showClearButton = true;toBeEdit = 'none'" class="form-control"
              placeholder="Category" required />
            <i *ngIf="!showClearButton" class="fa fa-search"></i>
            <i *ngIf="showClearButton"
              (click)="kitList.category = null;showClearButton = false;getKitList(0);toBeEdit = 'none'"
              class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </div>
          <div class="col-6 col-xl-4 col-md-4 mb-2">
            <ng-template #TagCustomItemTemplate let-model="item" let-index="index">
              <span class="mb-0">{{model?.description}}</span>
            </ng-template>

            <input name="KitTag" autocomplete="off" #KitTag="ngModel" [(ngModel)]="kitList.tags" [typeahead]="tags"
              [typeaheadItemTemplate]="TagCustomItemTemplate" typeaheadOptionField="description"
              (keydown)="onKeyDown();toBeEdit = 'none'" (keyup)="showTagClearButton = true;toBeEdit = 'none'"
              (typeaheadOnSelect)="getKitList(0);showTagClearButton = true;" class="form-control" placeholder="Tag"
              required />
            <i *ngIf="!showTagClearButton" class="fa fa-search"></i>
            <i *ngIf="showTagClearButton" (click)="kitList.tags = null;showTagClearButton = false;getKitList(0);"
              class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </div>
          <div class="col-6 col-xl-2 col-md-4 mb-2 ml-auto">
            <div class="input-group mb-0 right-float">
              <label class="left-float inline-label">Show</label>&nbsp;&nbsp;
              <select name="KitspageSize" [(ngModel)]="kitList.pageSize" (change)="getKits(0);discardEdit();"
                class="ml-4 form-control common-text-box font-14 text-dark-blue medium-montserrat width-100-percent">
                <option *ngFor="let obj of constants.PageViewSize" [value]="obj">{{obj}} items</option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
    <div class="common-table">
      <p-table id="quotes-grid" [value]="items" editMode="row" [rows]="kitList.pageSize" [lazy]="true"
        [autoLayout]="true" (onLazyLoad)="getKits($event)" [paginator]="true" [totalRecords]="kitList.totalCount"
        [resizableColumns]="true" dataKey="id" styleClass="p-datatable-striped" columnResizeMode="fit">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.property" pResizableColumn>
              <span [tooltip]="column.header">{{
                column.header}}</span>
              <p-sortIcon [field]="column.property"></p-sortIcon>
            </th>
            <th style="width:3rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="item">
            <td><span style="cursor: pointer;" [tooltip]="item.uniqueId" class="color-blue"
                (click)="getKitDetails(item.id)">{{item.uniqueId }}</span></td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="kitGridNumberForm" #kitGridNumberForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="KitGridNumber" #KitGridNumber="ngModel"
                            [maxlength]="constants.MaxLengthConstants.kitNumber"
                            [pattern]="constants.AnythingWhithoutSpace_REGEXP" [(ngModel)]="item.number"
                            class="form-control"
                            [ngClass]="{'has-error': KitGridNumber.invalid && (KitGridNumber.dirty || KitGridNumber.touched || kitGridNumberForm.submitted) }"
                            required [autofocus]="(toBeEdit === 'number')" />
                        </div>
                        <div
                          *ngIf="KitGridNumber.invalid && ( KitGridNumber.dirty || KitGridNumber.touched || kitGridNumberForm.submitted)"
                          class="text-danger">
                          <span [hidden]="!KitGridNumber.errors?.['required'] ">
                            Enter kit no
                          </span>
                          <span [hidden]="!KitGridNumber.errors?.['pattern'] ">
                            Enter valid kit no
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [ngClass]="showKitNoAsLink ? 'color-blue' : ''" [tooltip]="item.number"
                    (click)="showKitNoAsLink ? getKitDetails(item.id) : null">{{item.number }}</span>
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="kitGridNameForm" #kitGridNameForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="KitGridTitle" #KitGridTitle="ngModel"
                            [(ngModel)]="item.name" class="form-control"
                            [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                            [maxlength]="constants.MaxLengthConstants.KitTitle"
                            [ngClass]="{'has-error': KitGridTitle.invalid && (KitGridTitle.dirty || KitGridTitle.touched || kitGridNameForm.submitted) }"
                            required [autofocus]="(toBeEdit === 'name')" />
                        </div>
                        <div class="text-danger"
                          *ngIf="KitGridTitle.invalid && (KitGridTitle.dirty || KitGridTitle.touched || kitGridNameForm.submitted)">
                          <div [hidden]="!KitGridTitle.errors['required']">
                            Enter kit title
                          </div>
                          <div [hidden]="!KitGridTitle.errors['pattern']">
                            Enter valid kit title
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span style="cursor: pointer;" class="editable-txt color-blue" [tooltip]="item.name"
                    *ngIf="!(toBeEdit === 'name') || editProperty !== item.id"
                    (click)="getKitDetails(item.id)">{{item.name }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <span tooltip="${{item.total | number : '1.2-2'}}">${{item.total | number : '1.2-2'}}</span>
            </td>
            <td>
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div bsModal #addKitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" #kitForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Kit
          </h4>
          <button type="reset" class="close common-close" (click)="addKitModal.hide();" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">kit no.</label>
                <input type="text" name="KitNumber" #KitNumber="ngModel" #KitNumbe placeholder="Kit No"
                  [maxlength]="constants.MaxLengthConstants.kitNumber" [(ngModel)]="kit.number"
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                  [ngClass]="{'has-error': KitNumber.invalid && (KitNumber.dirty || kitForm.submitted) }" required
                  class="form-control" />
                {{isOpenPopup ? KitNumbe.focus() : null}}
                <!-- {{isOpenPopup ? KitNumber.reset() : null}} -->
              </div>

              <div class="text-danger" *ngIf="KitNumber.invalid && (KitNumber.dirty || kitForm.submitted)">
                <div [hidden]="!KitNumber.errors['required']">
                  Enter kit no
                </div>
                <div [hidden]="!KitNumber.errors['pattern']">
                  Enter valid kit no
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">kit title</label>
                <input type="text" name="KitTitle" #KitTitle="ngModel"
                  [maxlength]="constants.MaxLengthConstants.KitTitle" placeholder="Kit Title" [(ngModel)]="kit.name"
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                  [ngClass]="{'has-error': KitTitle.invalid && (KitTitle.dirty || KitTitle.touched || kitForm.submitted) }"
                  required class="form-control" />
              </div>
              <div class="text-danger"
                *ngIf="KitTitle.invalid && (KitTitle.dirty || KitTitle.touched || kitForm.submitted)">
                <div [hidden]="!KitTitle.errors['required']">
                  Enter kit title
                </div>
                <div [hidden]="!KitTitle.errors['pattern']">
                  Enter valid kit title
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add" (click)="addKit(kitForm,addKitModal)">
              Add
            </button>
            <!-- (click)="addKitModal.hide(onModelClose());" //#Revisit_PreviousCode -->
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="addKitModal.hide();">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #importModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" #importKitForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Import Kit Details
          </h4>
          <button type="reset" class="close common-close" (click)="importModal.hide()" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="image-upload-section padding-top-30 padding-bottom-30 import-image-upload">
              <div class="file-upload">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">
                    <i class="fa fa-file-text"></i>
                  </div>
                  <div class="file-select-name font-14 medium-montserrat text-capitalize" id="noFile">
                    upload
                  </div>
                  <input type="file" name="chooseFile" id="chooseFile" />
                </div>
              </div>
            </div>
            <div class="margin-top-15 upload-import-file">
              <div class="row">
                <div class="col-xl-1 col-12 col-sm-1">
                  <div class="text-center">
                    <div class="import-file-type">
                      <i class="fa fa-file-excel-o"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-11 col-12 col-sm-11">
                  <div class="text-right import-upload-btn">
                    <button type="button" class="image-delete">
                      <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
                    </button>
                  </div>
                  <div class="text-dark-blue font-14 semibold-montserrat margin-bottom-5">
                    flexCPQ
                  </div>
                  <div class="file-upload-progress">
                    <div class="progress">
                      <div class="progress-bar" style="width: 40%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin-top-20 margin-bottom-10 upload-import-file">
              <div class="row">
                <div class="col-xl-1 col-12 col-sm-1">
                  <div class="text-center">
                    <div class="import-file-type">
                      <i class="fa fa-file-excel-o"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-11 col-12 col-sm-11">
                  <div class="text-right import-upload-btn">
                    <button type="button" class="image-delete">
                      <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
                    </button>
                  </div>
                  <div class="text-dark-blue font-14 semibold-montserrat margin-bottom-5">
                    flexCPQ
                  </div>
                  <div class="file-upload-progress">
                    <div class="progress">
                      <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add" (click)="addKit(importKitForm.valid,importModal)">
              Add
            </button>
            <!-- (click)="importModal.hide(onModelClose())" //#Revisit_PreviousCode -->
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="importModal.hide()">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel);"></app-toaster>
</div>