<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="animated fadeIn FormClient">
    <div class="FormClient">
        <div class="form-group">
            <form>
                <div class="card">
                    <div class="card-header">
                        <h5>
                            My Profile

                            <button *ngIf="!isEdit" (click)="onEdit()" class="btn-edit pull-right">
                                <i class="fa fa-pencil" area-hidden="true"></i>
                            </button>
                        </h5>
                    </div>
                    <form novalidate autocomplete="off" (ngSubmit)="onSubmit(myForm.valid); isNotImage = false"
                        #myForm="ngForm">
                        <div class="card-block" *ngIf="user">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-2 form-group">
                                            <div class="company-logo col-lg-12">
                                                <div class="img-preview">
                                                    <img *ngIf="user.profilePicture == undefined" class="img-avatar"
                                                        width="100%" height="100%"
                                                        src="assets/img/avatars/default-profile.png" />
                                                    <img *ngIf="user.profilePicture" class="img-avatar" width="100%"
                                                        height="100%" [src]="user.profilePicture" />
                                                </div>
                                                <div class="edit" *ngIf="isEdit">
                                                    <label class="fileUpload">
                                                        <i class="fa fa-pencil fa-lg"></i>
                                                        <input id="uploadBtn" type="file" class="upload"
                                                            (change)="uploadDoc($event); isNotImage = false" />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="text-danger" *ngIf="isImageSizeLarge">
                                                <alert type="danger">
                                                    File size exceeds the allowable limit of 1MB
                                                </alert>
                                            </div>
                                            <div class="text-danger" *ngIf="isNotImage">
                                                Please upload images only
                                            </div>
                                        </div>

                                        <div class="col-sm-9 form-group">
                                            <div class="company-profile col-lg-12" *ngIf="!isEdit">
                                                <button (click)="onEdit()" class="edit">
                                                    <i class="fa fa-pencil fa-lg" area-hidden="true"></i>
                                                </button>
                                                <div class="company-profile col-lg-12" *ngIf="!isEdit">
                                                    <div class="col-lg-12">
                                                        <div class="company-right">
                                                            <h5>{{ user.firstName }} {{ user.lastName }}</h5>
                                                            <p>
                                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                                                {{ user.contactNo }}
                                                            </p>
                                                            <p>
                                                                <i class="fa fa-envelope-o" area-hidden="true"></i>
                                                                {{ user.email }}
                                                            </p>
                                                        </div>
                                                        <!-- <button type="button" data-toggle="modal" data-target="#TaxJarModal" (click)="TaxJarModal.show()"
                            class="btn btn-default semibold-montserrat">TaxJar</button> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="isEdit">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div class="form-group">
                                                        <label>First Name
                                                            <sup class="text-danger">*</sup>
                                                        </label>
                                                        <div class="input-group">
                                                            <input type="text" [(ngModel)]="user.firstName" required
                                                                #FirstName="ngModel" [ngClass]="{
                                  'has-error':
                                    FirstName.invalid &&
                                    (FirstName.dirty ||
                                      FirstName.touched ||
                                      myForm.submitted)
                                }" name="FirstName" [maxlength]="constants.ConstantsAccess.MaxLengthConstants.Name"
                                                                placeholder="First Name"
                                                                [pattern]="constants.ConstantsAccess.FULL_NAME_REGEXP"
                                                                class="form-control" />
                                                        </div>
                                                        <div *ngIf="
                                FirstName.invalid &&
                                (FirstName.dirty ||
                                  FirstName.touched ||
                                  myForm.submitted)
                              " class="text-danger">
                                                            <div [hidden]="!FirstName.errors['required']">
                                                                Enter first name
                                                            </div>
                                                            <div [hidden]="!FirstName.errors['pattern']">
                                                                Enter valid first name
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div class="form-group">
                                                        <label>Last Name
                                                            <sup class="text-danger">*</sup>
                                                        </label>
                                                        <!-- <div class="input-group"> -->
                                                        <input type="text" [(ngModel)]="user.lastName" required
                                                            [maxlength]="constants.ConstantsAccess.MaxLengthConstants.Name"
                                                            #LastName="ngModel" name="LastName" placeholder="Last Name"
                                                            [pattern]="constants.ConstantsAccess.FULL_NAME_REGEXP"
                                                            [ngClass]="{
                                'has-error':
                                  LastName.invalid &&
                                  (LastName.dirty ||
                                    LastName.touched ||
                                    myForm.submitted)
                              }" class="form-control" />
                                                        <!-- </div> -->
                                                        <div *ngIf="
                                LastName.invalid &&
                                (LastName.dirty ||
                                  LastName.touched ||
                                  myForm.submitted)
                              " class="text-danger">
                                                            <div [hidden]="!LastName.errors['required']">
                                                                Enter last name
                                                            </div>
                                                            <div [hidden]="!LastName.errors['pattern']">
                                                                Enter valid last name
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div class="form-group">
                                                        <label>Email
                                                            <sup class="text-danger">*</sup>
                                                        </label>
                                                        <!-- <div class="input-group"> -->
                                                        <input type="email" [(ngModel)]="user.email" required
                                                            [maxlength]="constants.ConstantsAccess.MaxLengthConstants.Email"
                                                            #email="ngModel" name="email" maxlength="50"
                                                            (input)="isEmail = false"
                                                            [pattern]="constants.ConstantsAccess.EMAIL_REGEXP"
                                                            placeholder="User email" class="form-control" required />

                                                        <div *ngIf="
                                email.invalid &&
                                (email.dirty ||
                                  email.touched ||
                                  myForm.submitted)
                              " class="text-danger">
                                                            <div [hidden]="!email.errors?.['required']">
                                                                Enter email
                                                            </div>
                                                            <div [hidden]="!email.errors?.['pattern']">
                                                                Enter valid email
                                                            </div>
                                                            <!-- </div> -->
                                                        </div>
                                                        <div *ngIf="isEmail" class="text-danger">
                                                            Email already exists
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div class="form-group">
                                                        <label>Contact Number
                                                            <sup class="text-danger">*</sup>
                                                        </label>
                                                        <!-- [textMask]="{ mask: mask }" //#Revisit_PreviousCode -->
                                                        <div class="input-group">
                                                            <input type="text" [(ngModel)]="user.contactNo" required
                                                                #UserContactNo="ngModel" prefix="+1" [mask]="newMask"
                                                                [dropSpecialCharacters]="false" name="UserContactNo"
                                                                Enabled="True" MinimumValue="1" MaskType="Number"
                                                                AutoComplete="true" AutoCompleteValue=""
                                                                InputDirection="LeftToRight"
                                                                placeholder="Contact number"
                                                                [maxlength]="constants['MaxLengthConstants'].Phone"
                                                                [ngClass]="{
                                  'has-error':
                                    UserContactNo.invalid &&
                                    (UserContactNo.dirty ||
                                      UserContactNo.touched ||
                                      myForm.submitted)
                                }" [pattern]="constants['PHONE_REGEXP']" class="form-control" />
                                                        </div>
                                                        <div *ngIf="
                                UserContactNo.invalid &&
                                (UserContactNo.dirty ||
                                  UserContactNo.touched ||
                                  myForm.submitted)
                              " class="text-danger">
                                                            <div [hidden]="!UserContactNo.errors['required']">
                                                                Enter contact number
                                                            </div>
                                                            <div [hidden]="!UserContactNo.errors['pattern']">
                                                                Enter valid contact no
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-lg-12">
                                                    <div class="pull-right form-group">
                                                        <button type="submit" class="btn primary-btn btn-add">
                                                            Submit
                                                        </button>
                                                        <button type="reset" (click)="
                                onDiscard();
                                isEmail = false
                              " class="btn secondary-btn btn-default">
                                                            Cancel
                                                        </button>
                                                        <!-- #Revisit_PreviousCode  (click)="onDiscard((isImageSizeLarge = false)); -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-footer"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div bsModal [ngClass]="{ show: show }" [style.display]="show ? 'block' : 'none'" #ConfirmModal="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: false }">
    <app-toaster notification="notification" typeofMessage="Hello"
        message="Your email-ID is updated successfully. Please login with new email-ID to continue."
        [showButtons]="showButton" (Ok)="Ok(ConfirmModal)"></app-toaster>
</div>

<!-- <div bsModal #TaxJarModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" #productForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">Tax Jar For Saas</h4>
          <button type="reset" class="close common-close" (click)="TaxJarModal.hide(); TaxData = {}" aria-label="Close">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">From zip</label>
                <input type="text" name="fromzip" placeholder="From zip"
                  #fromzip="ngModel" [(ngModel)]="Taxjar.from_zip"
                  required class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">From state</label>
                <input type="text" name="fromstate"  #fromstate="ngModel" placeholder="From state"
                  [(ngModel)]="Taxjar.from_state"
                  required class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">To Zip</label>
                <input type="text" name="tozip"  #tozip="ngModel" placeholder="To Zip"
                  [(ngModel)]="Taxjar.to_zip"
                  required class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">To state</label>
                <input type="text" name="tostate"  #tostate="ngModel" placeholder="To state"
                  [(ngModel)]="Taxjar.to_state"
                  required class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">Amount</label>
                <input type="text" [onlyNumber]=true name="amount"  #amount="ngModel" placeholder="Amount"
                  [(ngModel)]="Taxjar.amount"
                  required class="form-control">
              </div>
            </div>
          </div>
          <div *ngIf="TaxData.amount_to_collect" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
             <p> <span class="clearfix">Taxable Amount - {{TaxData.amount_to_collect | json}}</span>
              <span class="clearfix">Tax Rate - {{TaxData.rate | json}}</span>


             JSON - {{TaxData | json}}
            </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add" (click)="SubmitTaxJar()">Calculate Tax</button>
            <button type="reset" class="btn secondary-btn btn-default" (click)="TaxJarModal.hide(); TaxData = {}" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->