<div class="padding-left-30 padding-right-15 padding-top-15 padding-bottom-15">
  <div id="content">

    <div class="accordion-container" id="config-accordion">
      <div
        (click)="formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;"
        class="content-entry">
        <a data-toggle="collapse" (click)="resetforms(TrialPeriodForm);formConfiguration.disclaimer = configuration.disclaimer;
        istermsAndConditionsClicked = false;
        isTPClicked = !isTPClicked;isRQClicked  = false;isSBlicked = false;isDiscClicked = false;isTLlicked = false;"
          class="text-black article-title medium-montserrat " data-parent="#config-accordion" href="#TrialPeriod"
          aria-expanded="true" aria-controls="TrialPeriod">
          Trial Period
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isTPClicked,'fa-minus-circle':isTPClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="TrialPeriod" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="TrialPeriodForm" #TrialPeriodForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Trial" [onlyNumber]="true" placeholder="{{configuration.trialPeriod}}" [ngClass]="{'has-error': (isTrialValid && !(Trial.invalid && ( Trial.dirty || Trial.touched || isTrialFormSubmitted))) ||
                  (Trial.invalid && ( Trial.dirty || Trial.touched || isTrialFormSubmitted))}" autocomplete="off"
                    #Trial="ngModel" [pattern]="constants.Num_REXEXP" required
                    (keyup)="CheckTrialLimit(formConfiguration.trialPeriod)" [(ngModel)]="formConfiguration.trialPeriod"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Trial.invalid && (Trial.dirty || Trial.touched || isTrialFormSubmitted)">
                    <div [hidden]="!Trial.errors['required']">
                      Enter trial period
                    </div>
                    <div [hidden]="!Trial.errors['pattern']">
                      Enter valid trial period
                    </div>
                  </div>
                  <div
                    *ngIf="isTrialValid && !(Trial.invalid && ( Trial.dirty || Trial.touched || isTrialFormSubmitted))"
                    class="text-danger ">
                    Trial period can not be zero
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addTrial(TrialPeriodForm, formConfiguration.trialPeriod)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" (click)="resetForms()" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div
        (click)="formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;"
        class="content-entry">
        <a data-toggle="collapse" class="text-black article-title medium-montserrat" (click)="resetforms(quoteForm);
        istermsAndConditionsClicked = false;
        isRQClicked = !isRQClicked;
        isTPClicked = false;isSBlicked = false;isTLlicked = false;isDiscClicked = false;"
          data-parent="#config-accordion" href="#RecentQuote" aria-expanded="true" aria-controls="TrialPeriod">Recent
          Quote (Time span)
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isRQClicked,'fa-minus-circle':isRQClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="RecentQuote" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="quoteForm" #quoteForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Quote" [onlyNumber]="true" placeholder="{{configuration.recentQuote}}" [ngClass]="{'has-error': (isRQuoteValid && !(Quote.invalid && ( Quote.dirty || Quote.touched || isQuoteFormSubmitted))) ||
                  (Quote.invalid && ( Quote.dirty || Quote.touched || isQuoteFormSubmitted))}"
                    [pattern]="constants.Num_REXEXP" autocomplete="off" #Quote="ngModel" required
                    (keyup)="CheckRQuoteLimit(formConfiguration.recentQuote)"
                    [(ngModel)]="formConfiguration.recentQuote" class="form-control height-43-textbox common-text-box"
                    type="text">
                  <div class="text-danger"
                    *ngIf="Quote.invalid && (Quote.dirty || Quote.touched || isQuoteFormSubmitted)">
                    <div [hidden]="!Quote.errors['required']">
                      Enter recent quote count (time span)
                    </div>
                    <div [hidden]="!Quote.errors['pattern']">
                      Enter valid quote count(time span)
                    </div>
                  </div>
                  <div
                    *ngIf="isRQuoteValid && !(Quote.invalid && ( Quote.dirty || Quote.touched || isQuoteFormSubmitted))"
                    class="text-danger ">
                    Quote count(time span) can not be zero
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addRecentQuote(quoteForm , formConfiguration.recentQuote)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" (click)="resetForms()" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div
        (click)="formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;"
        class="content-entry">
        <a data-toggle="collapse" class="text-black article-title medium-montserrat" (click)="resetforms(tagForm);isTLlicked = !isTLlicked;isRQClicked = false;
        istermsAndConditionsClicked = false;
        isSBlicked = false;isTPClicked = false;isDiscClicked = false;" data-parent="#config-accordion" href="#TagLimit"
          aria-expanded="true" aria-controls="TrialPeriod">
          Tag Limit
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isTLlicked,'fa-minus-circle':isTLlicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="TagLimit" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="tagForm" #tagForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Tag" [onlyNumber]="true" placeholder="{{configuration.tagLimit}}" [ngClass]="{'has-error': (isTagValid && !(Tag.invalid && ( Tag.dirty || Tag.touched || isTagFormSubmitted))) ||
                  (Tag.invalid && ( Tag.dirty || Tag.touched || isTagFormSubmitted))}" [pattern]="constants.Num_REXEXP"
                    autocomplete="off" #Tag="ngModel" required [(ngModel)]="formConfiguration.tagLimit"
                    (keyup)="CheckTagLimit(formConfiguration.tagLimit)"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger" *ngIf="Tag.invalid && (Tag.dirty || Tag.touched || isTagFormSubmitted)">
                    <div [hidden]="!Tag.errors['required']">
                      Enter tag limit
                    </div>
                    <div [hidden]="!Tag.errors['pattern']">
                      Enter valid tag limit
                    </div>
                  </div>
                  <div *ngIf="isTagValid && !(Quote.invalid && ( Quote.dirty || Quote.touched || isQuoteFormSubmitted))"
                    class="text-danger ">
                    Tag limit can not be zero
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addRecentTagLimit(tagForm, formConfiguration.tagLimit)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" (click)="resetForms()" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div
        (click)="formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;"
        class="content-entry">
        <a data-toggle="collapse" class="text-black article-title medium-montserrat" (click)="resetforms(subscriptionForm);isSBlicked = !isSBlicked;isTLlicked = false;isRQClicked = false;isTPClicked = false;
        istermsAndConditionsClicked = false;
        isDiscClicked = false;" data-parent="#config-accordion" href="#SubscriptionPlan" aria-expanded="true"
          aria-controls="TrialPeriod">
          Subscription Plan
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isSBlicked,'fa-minus-circle':isSBlicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="SubscriptionPlan" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate autocomplete="off" name="subscriptionForm" #subscriptionForm="ngForm">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">Plan</label>
                  <select (change)="getPlan($any($event?.target)?.value);" value="{{planName}}" class="form-control"
                    name="PlanName" #PlanName="ngModel" [(ngModel)]="planName">
                    <option disabled [value]="null" selected="true"> Select Plan</option>
                    <option *ngFor="let plan of subscriptionPlans" [value]="plan?.id">{{plan?.planName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">

              </div>
            </div>
            <div *ngIf="!isPlanEditDisabled" class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">Name</label>
                  <input required [maxlength]="constants.MaxLengthConstants.ProductTitle"
                    [ngClass]="{'has-error': Name.invalid && ( Name.dirty || Name.touched || isSubscriptionFormSubmitted)}"
                    [pattern]="constants.Title_REGEXP" placeholder="{{configuration?.subscriptionPlan?.planName}}"
                    name="Name" autocomplete="off" #Name="ngModel" required [(ngModel)]="plan.planName"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Name.invalid && (Name.dirty || Name.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!Name.errors['required']">
                      Enter name
                    </div>
                    <div [hidden]="!Name.errors['pattern']">
                      Enter valid name
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0 mobile-text-margin">
                  <label class="text-other-gray medium-montserrat">Cost ($)</label>
                  <input name="Cost" [onlyNumber]="true" placeholder="{{configuration?.subscriptionPlan?.cost}}"
                    [ngClass]="{'has-error': (isCostValid && !(Cost.invalid && ( Cost.dirty || Cost.touched || isSubscriptionFormSubmitted))) ||
                  (Cost.invalid && ( Cost.dirty || Cost.touched || isSubscriptionFormSubmitted))}"
                    [pattern]="constants.Cost_REXEXP" [maxlength]="constants.MaxLengthConstants.Cost" autocomplete="off"
                    #Cost="ngModel" (keyup)="CheckCost(plan.cost)" required [(ngModel)]="plan.cost"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Cost.invalid && (Cost.dirty || Cost.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!Cost.errors['required']">
                      Enter cost
                    </div>
                    <div [hidden]="!Cost.errors['pattern']">
                      Enter valid cost
                    </div>
                  </div>
                  <div
                    *ngIf="isCostValid && !(Cost.invalid && ( Cost.dirty || Cost.touched || isSubscriptionFormSubmitted))"
                    class="text-danger ">
                    Cost can not be zero
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
            </div>
            <div *ngIf="!isPlanEditDisabled" class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">User Limit</label>
                  <input name="ULimit" [ngClass]="{'has-error': (isUserLimitValid && !(ULimit.invalid && ( ULimit.dirty || ULimit.touched || isSubscriptionFormSubmitted))) ||
                  (ULimit.invalid && ( ULimit.dirty || ULimit.touched || isSubscriptionFormSubmitted))}"
                    placeholder="{{configuration?.subscriptionPlan?.userLimit}}" [pattern]="constants.Num_REXEXP"
                    [onlyNumber]="true" autocomplete="off" #ULimit="ngModel" required
                    (keyup)="CheckUserLimit(plan.userLimit)" [(ngModel)]="plan.userLimit"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="ULimit.invalid && (ULimit.dirty || ULimit.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!ULimit.errors['required']">
                      Enter user limit
                    </div>
                    <div [hidden]="!ULimit.errors['pattern']">
                      Enter valid user limit
                    </div>
                  </div>
                  <div
                    *ngIf="isUserLimitValid && !(ULimit.invalid && ( ULimit.dirty || ULimit.touched || isSubscriptionFormSubmitted))"
                    class="text-danger ">
                    User limit can not be zero
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0 mobile-text-margin">
                  <label class="text-other-gray medium-montserrat">Time Span (Month)</label>
                  <input name="Span" [onlyNumber]="true" [ngClass]="{'has-error': (isTimeSpanValid && !(Span.invalid && ( Span.dirty || Span.touched || isSubscriptionFormSubmitted))) ||
                  (Span.invalid && ( Span.dirty || Span.touched || isSubscriptionFormSubmitted))}"
                    placeholder="{{configuration?.subscriptionPlan?.timeSpan}}" [pattern]="constants.Num_REXEXP"
                    autocomplete="off" #Span="ngModel" (keyup)="CheckTimeSpanLimit(plan.timeSpan)" required
                    [(ngModel)]="plan.timeSpan" class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Span.invalid && (Span.dirty || Span.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!Span.errors['required']">
                      Enter time span
                    </div>
                    <div [hidden]="!Span.errors['pattern']">
                      Enter valid time span
                    </div>
                  </div>
                  <div
                    *ngIf="isTimeSpanValid && !(Span.invalid && ( Span.dirty || Span.touched || isSubscriptionFormSubmitted))"
                    class="text-danger ">
                    Time span can not be zero
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
            </div>
            <div *ngIf="!isPlanEditDisabled" class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="btn-sub-plan pull-right">
                  <button (click)="addSubsciption(subscriptionForm, plan.cost,plan.userLimit,plan.timeSpan)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" (click)="resetForms()"
                    type="reset">Cancel</button>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div
        (click)="formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;"
        class="content-entry">
        <a data-toggle="collapse" (click)="formConfiguration.disclaimer = configuration.disclaimer;isExtendClicked = !isExtendClicked;
        istermsAndConditionsClicked = false;
        isDiscClicked = false;isTPClicked = false;isRQClicked  = false;isSBlicked = false;isTLlicked = false;"
          class="text-black article-title medium-montserrat " data-parent="#config-accordion" href="#SubscriptionExtend"
          aria-expanded="true" aria-controls="SubscriptionExtend">
          Extend Trial period
          <i class="fa pull-right"
            [ngClass]="{'fa-plus-circle':!isExtendClicked,'fa-minus-circle':isExtendClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="SubscriptionExtend" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="subscriptionExtendForm" #subscriptionExtendForm="ngForm">
            <div class="row">
              <div class="col-xl-3 col-md-3 col-lg-3">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">Company</label>
                  <select class="form-control" #Company="ngModel"
                    [ngClass]="{'has-error': (Company.invalid && (Company.dirty || Company.touched || subscriptionExtendForm.submitted)) && isExtendFormSubmitted }"
                    required name="Company" [(ngModel)]="Extend.id" (change)="onSelectCompany(Extend.id)">
                    <option [value]=null selected="true" disabled="true">Select Company</option>
                    <option *ngFor="let item of Companies" value="{{item.id}}">
                      {{item.name}}
                    </option>
                  </select>
                  <div
                    *ngIf="(Company.invalid && (Company.dirty || Company.touched || subscriptionExtendForm.submitted)) && isExtendFormSubmitted"
                    class="text-danger">
                    <div [hidden]="!Company.errors['required']">
                      Select company
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-3 col-lg-3">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">Created Date</label>
                  <input type="text" [value]="GetDate(Extend.id) | date" name="Date" disabled="disabled"
                    class="form-control">
                </div>
              </div>
              <div class="col-xl-3 col-md-3 col-lg-3">
                <div class="form-group margin-bottom-0 mobile-text-margin">
                  <label class="text-other-gray medium-montserrat">Extend Days</label>
                  <input type="text" (keyup)="CheckDaysLimit(Extend.trialPeriod)" [onlyNumber]="true"
                    [ngClass]="{'has-error': (isDaysValid && !(Days.invalid && ( Days.dirty || Days.touched || subscriptionExtendForm.submitted))) ||
                  (isExtendFormSubmitted && (Days.invalid && ( Days.dirty || Days.touched || subscriptionExtendForm.submitted)))}" [(ngModel)]="Extend.trialPeriod" #Days="ngModel" name="Days"
                    [maxlength]=2 class="form-control">
                  <div
                    *ngIf="((Days.invalid && (Days.dirty || Days.touched || subscriptionExtendForm.submitted)) && isExtendFormSubmitted)"
                    class="text-danger">
                    <div [hidden]="!Days.errors?.['required']">
                      Enter days
                    </div>
                  </div>
                  <div
                    *ngIf="isDaysValid && !(Days.invalid && ( Days.dirty || Days.touched || subscriptionExtendForm.submitted))"
                    class="text-danger ">
                    Days can not be zero
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-3 col-lg-3 padding-left-0">
                <div class="form-group margin-bottom-0 mobile-text-margin">
                  <label class="text-other-gray medium-montserrat">No Of Users</label>
                  <input type="text" (keyup)="CheckNumberLimit(Extend.noOfUsers)" [onlyNumber]="true"
                    [ngClass]="{'has-error': (isNumberValid && !(Users.invalid && ( Users.dirty || Users.touched || subscriptionExtendForm.submitted))) ||
                  (isExtendFormSubmitted &&(Users.invalid && ( Users.dirty || Users.touched || subscriptionExtendForm.submitted)))}" [(ngModel)]="Extend.noOfUsers" required #Users="ngModel"
                    name="Users" [maxlength]=3 class="form-control">
                  <div
                    *ngIf="isExtendFormSubmitted &&(Users.invalid && (Users.dirty || Users.touched || subscriptionExtendForm.submitted))"
                    class="text-danger">
                    <div [hidden]="!Users.errors?.['required']">
                      Enter number of users
                    </div>
                  </div>
                  <div
                    *ngIf="isNumberValid && !(Users.invalid && ( Users.dirty || Users.touched || subscriptionExtendForm.submitted))"
                    class="text-danger ">
                    Number of users can not be zero
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="btn-sub-plan pull-right">
                  <button (click)="ExtendCompanyTrail(subscriptionExtendForm)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" (click)="resetForms()" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div
        (click)="getConfiguration();formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;"
        class="content-entry">
        <a data-toggle="collapse" (click)="formConfiguration.disclaimer = configuration.disclaimer;isDiscClicked = !isDiscClicked;
        istermsAndConditionsClicked = false;
        isExtendClicked=false;isTPClicked = false;isRQClicked  = false;isSBlicked = false;isTLlicked = false;"
          class="text-black article-title medium-montserrat " data-parent="#config-accordion" href="#Disclaimer"
          aria-expanded="true" aria-controls="Disclaimer">
          Disclaimer
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isDiscClicked,'fa-minus-circle':isDiscClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="Disclaimer" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="disclaimerForm" #disclaimerForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Disclaim"
                    [ngClass]="{'has-error': ((Disclaim.invalid && ( Disclaim.dirty || Disclaim.touched)) && isDisclaimerFormSubmitted)}"
                    autocomplete="off" #Disclaim="ngModel" required [(ngModel)]="formConfiguration.disclaimer"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Disclaim.invalid && (Disclaim.dirty || Disclaim.touched || isDisclaimerFormSubmitted)&& isDisclaimerFormSubmitted">
                    <div [hidden]="!Disclaim.errors['required']">
                      Enter disclaimer
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addDisclaimer(disclaimerForm)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel"
                    (click)="formConfiguration.disclaimer = configuration.disclaimer;" type="button"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div (click)="getConfiguration();formConfiguration.disclaimer = configuration.disclaimer;" class="content-entry">
        <a data-toggle="collapse" (click)="formConfiguration.disclaimer = configuration.disclaimer;formConfiguration.termsAndConditions = configuration.termsAndConditions;istermsAndConditionsClicked = ! istermsAndConditionsClicked;
        isDiscClicked = false;isExtendClicked=false;isTPClicked = false;
        isRQClicked  = false;isSBlicked = false;isTLlicked = false;"
          class="text-black article-title medium-montserrat " data-parent="#config-accordion" href="#TermsAndConditions"
          aria-expanded="true" aria-controls="TermsAndConditions">
          Terms and Conditions
          <i class="fa pull-right"
            [ngClass]="{'fa-plus-circle':!istermsAndConditionsClicked,'fa-minus-circle':istermsAndConditionsClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="TermsAndConditions" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="termsAndConditionForm" #termsAndConditionForm="ngForm">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-lg-12">
                <div class="form-group margin-bottom-0" *ngIf="istermsAndConditionsClicked">
                  <!-- <quill-editor name="termsAndConditions" *ngIf="formConfiguration" [(ngModel)]="formConfiguration.termsAndConditions" [options]="editorOptions"></quill-editor> -->
                  <quill-editor [(ngModel)]="formConfiguration.termsAndConditions" name="termsandConditions"
                    [required]="true" #termsandConditions="ngModel"
                    [ngClass]="{'has-error': termsandConditions.invalid && (termsandConditions.dirty || termsandConditions.touched || termsAndConditionForm.submitted) }">
                  </quill-editor>
                  <div
                    *ngIf="termsandConditions.invalid && (termsandConditions.dirty || termsandConditions.touched || termsAndConditionForm.submitted)"
                    class="text-danger">
                    <div [hidden]="!termsandConditions.errors['required']" class="popover-body">
                      Enter terms and conditions
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8"></div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config pull-right">
                  <button (click)="addTermsAndConditions(termsAndConditionForm,formConfiguration.termsAndConditions)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel"
                    (click)="formConfiguration.termsAndConditions = configuration.termsAndConditions;" type="button"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

    </div>
  </div>
</div>