<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="p-3">
      <!-- <span class="font-22 color-blue pr-2">
        <i class="fa fa-question"></i>
      </span>
      <span class="font-22 font-weight-bold">{{typeofMessage}}</span> -->
      <!-- <button *ngIf="showButtons" type="button" class="close" (click)="noButton(true)" aria-label="Close">
        <span class=" font-26" aria-hidden="true">&times;</span>
      </button> -->
      <button *ngIf="!showButtons" type="button" class="close" (click)="popupClose(true)" aria-label="Close">
        <span class=" font-26" aria-hidden="true">&times;</span>
      </button><br>
      <span *ngIf="message">{{message}}
        <!-- <br *ngIf="data"> -->
        <span *ngIf="data" class="color-blue new-line">{{data}}</span>
      </span>

      <span *ngIf="notification" [innerHTML]="notification">
        <p *ngIf="note" class="note">* {{note}}</p>
        <br *ngIf="data">
        <span *ngIf="data" class="color-blue new-line">{{data}}</span>
      </span>


    </div>
    <div *ngIf="!showButtons" class="mb-3 text-center">
      <button type="button" class="btn btn-default" (click)="popupClose(true)">Ok</button>
    </div>
    <div *ngIf="showButtons" class="mb-3 text-center">
      <button type="button" class="btn btn-default" (click)="yesButton(true)">Yes</button>
      <button type="button" class="btn btn-default" (click)="noButton(true)">No</button>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
