<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>
<div class="main-container main-container-compress">
  <div class="padding-bottom-20">
    <div class="padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <div class="text-uppercase text-title-gray font-16 semibold-montserrat padding-top-5">
              Products
              <span *ngIf="productsList?.records?.length !== 0 "
                class="quote-count bg-notif-blue semibold-montserrat">{{productsList?.totalCount}}</span>
              <span *ngIf="productsList?.records?.length === 0 "
                class="quote-count bg-notif-blue semibold-montserrat">0</span>
            </div>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="right-float">
              <div class="add-common-btn left-float">
                <!-- (click)="addProductModal.show(isPartNovalid=false,duplicatePartNo = false) -->
                <button type="button" data-toggle="modal" data-target="#addKitModal"
                  (click)="addProductModal.show();discardEdit();setFocus()" [disabled]="!accessValid.create"
                  [ngClass]="{'btn-disabled': !accessValid.create}"
                  [title]="!accessValid.create?'Access denied':'Add product'" class="semibold-montserrat">
                  Add product
                </button>
              </div>
              <div class="view-btn common-blue-btn dropdown left-float margin-left-15">
                <button type="button" data-toggle="dropdown">
                  <i class="icon-menu icons d-block" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" [disabled]="!accessValid.import"
                      [ngClass]="{'btn-disabled': !accessValid.import}"
                      [title]="!accessValid.import?'Access denied':'Import'" data-toggle="modal"
                      data-target="#importModal" (click)="importModal.show();discardEdit();">
                      <i class="fa fa-download" aria-hidden="true"></i> Import
                    </button>
                  </li>
                  <li>
                    <button (click)="exportToCSV();discardEdit()" [disabled]="!accessValid.export"
                      [ngClass]="{'btn-disabled': !accessValid.export}"
                      [title]="!accessValid.export?'Access denied':'Export'" type="button">
                      <i class="fa fa-upload" aria-hidden="true"></i> Export
                    </button>
                  </li>
                  <li>
                    <!-- (click)="ConfirmationModel.show(popupFor = messageForDeleteProducts) -->
                    <button (click)="ConfirmationModel.show();popupOpen(popupFor = messageForDeleteProducts)"
                      [disabled]="!accessValid?.delete || !(isProductSelectedForDelete > 0)"
                      [ngClass]="{'btn-disabled': !accessValid.delete || !(isProductSelectedForDelete > 0)}"
                      [title]="!accessValid.delete?'Access denied':'Product delete'" type="button">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                  </li>
                  <!-- Bulk delete change **END**-->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-box sorting-btn-list padding-left-15 padding-right-15 padding-bottom-15">
      <div class="row">
        <div class="col-4 col-xl-2 col-md-6 mb-2">
          <ng-template #CategoryItemTemplate let-model="item" let-index="index">
            <span class="mb-0">{{model?.description}}</span>
          </ng-template>
          <input name="ProductCategory" autocomplete="off" [maxlength]="constants.MaxLengthConstants.Category"
            #ProductCategory="ngModel" [(ngModel)]="productsList.category" [typeahead]="categories"
            [typeaheadItemTemplate]="CategoryItemTemplate" typeaheadOptionField="description"
            (keyup)="showCatClearButton = true;" (keydown)="onKeyDown();discardEdit();"
            (typeaheadOnSelect)="getProductList(0);showCatClearButton =true;discardEdit();" class="form-control"
            placeholder="Category" required />
          <i *ngIf="!showCatClearButton" class="fa fa-search"></i>
          <i *ngIf="showCatClearButton"
            (click)="productsList.category = null;showCatClearButton = false;getProductList(0);discardEdit();"
            class="fa fa-times-thin fa-2x color-grey-shade align-bottom"></i>
        </div>

        <div class="col-4 col-xl-2 col-md-6 mb-2">
          <ng-template #ManufacturerItemTemplate let-model="item" let-index="index">
            <span class="mb-0">{{model}}</span>
          </ng-template>
          <input name="ProductManufacturer" autocomplete="off" [maxlength]="constants.MaxLengthConstants.Category"
            #ProductManufacturer="ngModel" [(ngModel)]="productsList.manufacturer" [typeahead]="manufacturers"
            [typeaheadItemTemplate]="ManufacturerItemTemplate" typeaheadOptionField="manufacturer"
            (keydown)="onKeyDown();discardEdit();" (keyup)="showManClearButton = true;discardEdit();"
            (typeaheadOnSelect)="getProductList(0);showManClearButton = true;" class="form-control"
            placeholder="Manufacturer" required />
          <i *ngIf="!showManClearButton" class="fa fa-search"></i>
          <i *ngIf="showManClearButton"
            (click)="productsList.manufacturer = null;showManClearButton = false;getProductList(0);discardEdit();"
            class="fa fa-times-thin fa-2x color-grey-shade align-bottom"></i>
        </div>

        <div class="col-4 col-xl-2 col-md-6 mb-2">
          <ng-template #TagCustomItemTemplate let-model="item" let-index="index">
            <span class="mb-0">{{model?.description}}</span>
          </ng-template>
          <input name="ProductTag" autocomplete="off" #ProductTag="ngModel" [(ngModel)]="productsList.tags"
            [typeahead]="tags" [typeaheadItemTemplate]="TagCustomItemTemplate" typeaheadOptionField="description"
            (keydown)="onKeyDown();discardEdit();" (keyup)="showTagClearButton = true;discardEdit();"
            (typeaheadOnSelect)="getProductList(0);showTagClearButton = true;" class="form-control" placeholder="Tag"
            required />
          <i *ngIf="!showTagClearButton" class="fa fa-search"></i>
          <i *ngIf="showTagClearButton"
            (click)="productsList.tags = null;showTagClearButton = false;getProductList(0);discardEdit();"
            class="fa fa-times-thin fa-2x color-grey-shade align-bottom"></i>
        </div>

        <div class="col-4 col-xl-2 col-md-6 mb-2">
          <ng-template #SupplierCustomItemTemplate let-model="item" let-index="index">
            <span class="mb-0">{{ model?.description }}</span>
          </ng-template>
          <!-- <input name="ProductSupplier" autocomplete="off" #ProductSupplier="ngModel" [(ngModel)]="productsList.suppliers" [typeahead]="suppliersList"
            [typeaheadItemTemplate]="SupplierCustomItemTemplate" typeaheadOptionField="description" (keydown)="onKeyDown(); discardEdit()" (keyup)="showSupplierClearButton = true; discardEdit()"
            (typeaheadOnSelect)="
                getProductList(0); showSupplierClearButton = true
              " class="form-control" placeholder="Supplier"
            required /> -->
          <input placeholder="Supplier" autocomplete="off" name="ProductSupplier" #ProductSupplier="ngModel"
            [(ngModel)]="productsList.suppliers" [typeahead]="suppliers"
            [typeaheadItemTemplate]="SupplierCustomItemTemplate" typeaheadOptionField="description"
            (typeaheadOnSelect)="getProductList(0); showSupplierClearButton = true"
            (input)="findSupplier(productsList.suppliers);" (keydown)="onKeyDown(); discardEdit()"
            (keyup)="showSupplierClearButton = true; discardEdit()" required class="form-control" />
          <i *ngIf="!showSupplierClearButton" class="fa fa-search"></i>
          <i *ngIf="showSupplierClearButton" (click)="
                productsList.suppliers = null;
                showSupplierClearButton = false;
                getProductList(0);
                discardEdit()
              " class="fa fa-times-thin fa-2x color-grey-shade align-bottom"></i>
        </div>

        <div class="col-6 col-xl-2 col-md-4 mb-2 ml-auto">
          <div class="input-group mb-0 right-float">
            <label class="left-float inline-label">Show</label>&nbsp;&nbsp;
            <select name="KitspageSize" [(ngModel)]="productsList.pageSize" (change)="getProductList(0);discardEdit();"
              class="ml-4 form-control common-text-box font-14 text-dark-blue medium-montserrat width-100-percent">
              <option *ngFor="let obj of constants.PageViewSize" [value]="obj">{{obj}} items</option>
            </select>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- </div> -->
        <div class="clearfix"></div>
      </div>
      <!-- Commenting dynamic columns until David comes up with Default Columns List -->
      <!-- <div class="eyeIcon">
        <i class="fa fa-eye" aria-hidden="true" (click)="openModal(template)"></i>
      </div> -->
      <ng-template #template class="modalColumn">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body checkboxList">
          <div *ngFor="let item of checkBoxDataList">
            <input type="checkbox" name="" id="" [(ngModel)]="item.ischecked" ng-checked="item.ischecked"
              (change)="changeSelection()">{{item.header}}
          </div>
        </div>
      </ng-template>
      <div class="common-table table-responsive productTable">
        <p-table [columns]="columns" id="contacts-grid" [value]="items" editMode="row" [rows]="productsList.pageSize"
          [lazy]="true" [autoLayout]="true" (onLazyLoad)="getProductList($event)" [paginator]="true"
          [totalRecords]="productsList.totalCount" [resizableColumns]="true" dataKey="id"
          styleClass="p-datatable-striped" columnResizeMode="expand">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let column of columns" [pSortableColumn]="column.property" pResizableColumn>
                <span [tooltip]="column.header">{{
                  column.header}}</span>
                <p-sortIcon [field]="column.property"></p-sortIcon>
              </th>
              <th style="width:3rem"></th>
              <!-- <th *ngFor="let col of columns"[pSortableColumn]="col.property" sortMode="multiple"  pReorderableColumn pResizableColumn>
                <span [tooltip]="col.header" >{{col.header}}<p-sortIcon [field]="col.property"></p-sortIcon></span>  
              </th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">

            <tr [pEditableRow]="item">
              <td class="ui-resizable-column" *ngIf="isProductID">
                <span style="cursor: pointer;" class="editable-txt color-blue" [tooltip]="item?.uniqueId"
                  (click)="goToDetails(item?.id)">
                  {{item?.uniqueId}}</span>
                <a (click)="goToDetails(item?.id)"></a>
              </td>
              <td class="ui-resizable-column" *ngIf="isPartNo">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridNumberForm" #productGridNumberForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input pInputText type="text" name="ProductPartNumber" #ProductPartNumber="ngModel"
                              (keyup)="CheckPartNo(item)" [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                              [maxlength]="constants.MaxLengthConstants.PartNumber" [(ngModel)]="item.partNo"
                              class="form-control"
                              [ngClass]="{'has-error': ProductPartNumber.invalid && (ProductPartNumber.dirty || ProductPartNumber.touched || productGridNumberForm.submitted) }"
                              required [autofocus]="(toBeEdit === 'partNo')" />


                          </div>
                          <div
                            *ngIf="ProductPartNumber.invalid && ( ProductPartNumber.dirty || ProductPartNumber.touched || productGridNumberForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductPartNumber.errors?.['required'] ">
                              Enter part no
                            </span>
                            <span [hidden]="!ProductPartNumber.errors?.['pattern'] ">
                              Enter valid part no
                            </span>
                          </div>
                          <div
                            *ngIf="isPartNovalid && !duplicatePartNo && !(ProductPartNumber.invalid &&(ProductPartNumber.dirty || ProductPartNumber.touched || productGridNumberForm.submitted))"
                            class="text-danger">
                            Part no can not be zero
                          </div>
                          <div
                            *ngIf="duplicatePartNo && !isPartNovalid && !(ProductPartNumber.invalid &&(ProductPartNumber.dirty || ProductPartNumber.touched || productGridNumberForm.submitted))"
                            class="text-danger">
                            Duplicate part no
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span [tooltip]="item?.partNo">{{item?.partNo}}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngIf="isProductTitle">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridNameForm" #productGridNameForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input pInputText type="text" name="ProductName" #ProductName="ngModel"
                              [maxlength]="constants.MaxLengthConstants.ProductTitle" [(ngModel)]="item.name"
                              class="form-control" [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                              [ngClass]="{'has-error': ProductName.invalid && (ProductName.dirty || ProductName.touched || productGridNameForm.submitted) }"
                              required [autofocus]="(toBeEdit === 'name')" />


                          </div>
                          <div
                            *ngIf="ProductName.invalid && ( ProductName.dirty || ProductName.touched || productGridNameForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductName.errors?.['required'] ">
                              Enter product title
                            </span>
                            <span [hidden]="!ProductName.errors?.['pattern'] ">
                              Enter valid product title
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span style="cursor: pointer;" class="editable-txt color-blue" (click)="goToDetails(item.id)"
                      [tooltip]="item?.name">{{ item?.name}}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="ui-resizable-column" *ngIf="isMsrp">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridMsrpForm" #productGridMsrpForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input type="text" name="ProductMsrp" #ProductMsrp="ngModel" (keyup)="CheckMsrp(item.msrp)"
                              [pattern]="constants.Cost_REXEXP" [maxlength]="constants.MaxLengthConstants.Cost"
                              [(ngModel)]="item.msrp" class="form-control"
                              [ngClass]="{'has-error': ProductMsrp.invalid && (ProductMsrp.dirty || ProductMsrp.touched || productGridMsrpForm.submitted) }"
                              required [autofocus]="(toBeEdit === 'msrp')" />


                          </div>
                          <div
                            *ngIf="ProductMsrp.invalid && ( ProductMsrp.dirty || ProductMsrp.touched || productGridMsrpForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductMsrp.errors?.['required']">
                              Enter MSRP
                            </span>
                            <span [hidden]="!ProductMsrp.errors?.['pattern']">
                              Enter valid MSRP
                            </span>
                          </div>
                          <div
                            *ngIf="isMsrpValid && !(ProductMsrp.invalid && ( ProductMsrp.dirty || ProductMsrp.touched || productGridMsrpForm.submitted))"
                            class="text-danger">
                            MSRP can not be zero
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span class="editable-txt" tooltip="${{item.msrp | number : '1.2-2'}}">${{item.msrp | number :
                      '1.2-2' }}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="ui-resizable-column" *ngIf="isCost">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridCostForm" #productGridCostForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input type="text" name="ProductCost" #ProductCost="ngModel" (keyup)="CheckCost(item.cost)"
                              [pattern]="constants.Cost_REXEXP" [maxlength]="constants.MaxLengthConstants.Cost"
                              [(ngModel)]="item.cost" class="form-control"
                              [ngClass]="{'has-error': ProductCost.invalid && (ProductCost.dirty || ProductCost.touched || productGridCostForm.submitted) }"
                              required [autofocus]="(toBeEdit === 'cost')" />


                          </div>
                          <div
                            *ngIf="ProductCost.invalid && ( ProductCost.dirty || ProductCost.touched || productGridCostForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductCost.errors?.['required']">
                              Enter cost
                            </span>
                            <span [hidden]="!ProductCost.errors?.['pattern']">
                              Enter valid cost
                            </span>
                          </div>
                          <div class="text-danger"
                            *ngIf="isCostValid && !(ProductCost.invalid && ( ProductCost.dirty || ProductCost.touched || productGridCostForm.submitted))"
                            class="text-danger">
                            Cost can not be zero
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span class="editable-txt" tooltip="${{item.cost | number : '1.2-2'}}">${{item.cost | number :
                      '1.2-2'}}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <!-- <td class="ui-resizable-column" *ngIf="isUnit">
                <ng-template pTemplate="input">
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item?.unitOfMeasure"> {{item?.unitOfMeasure}}</span>
                </ng-template>
              </td> -->
              <td class="ui-resizable-column" *ngIf="isUPC">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridUpcForm" #productGridUpcForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input type="text" name="ProductUpc" #ProductUpc="ngModel"
                              [maxlength]="constants.MaxLengthConstants.UPC" [pattern]="constants.Num_REXEXP"
                              [(ngModel)]="item.upc" class="form-control"
                              [ngClass]="{'has-error': ProductUpc.invalid && (ProductUpc.dirty || ProductUpc.touched || productGridUpcForm.submitted) }"
                              [autofocus]="(toBeEdit === 'upc')" />


                          </div>
                          <div
                            *ngIf="ProductUpc.invalid && ( ProductUpc.dirty || ProductUpc.touched || productGridUpcForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductUpc.errors?.['pattern'] ">
                              Enter valid UPC
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span [tooltip]="item?.upc"> {{ item?.upc}}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="ui-resizable-column" *ngIf="isSupplier">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" [ngClass]="{'supplier-dropup':toBeEdit==='supplier'}"
                      name="productGridSupplierForm" #productGridSupplierForm="ngForm">

                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <!-- <input type="text" name="ProductSupplier-{{item.id}}" #ProductSupplier="ngModel" [maxlength]="constants.MaxLengthConstants.ProductTitle"
                      [pattern]="constants.Title_REGEXP" [(ngModel)]="supplier.description" class="form-control " [ngClass]="{'has-error': ProductSupplier.invalid && (ProductSupplier.dirty || ProductSupplier.touched || productGridSupplierForm.submitted) }"
                      [autofocus]="(toBeEdit === 'supplier')"> -->
                            <ng-template #customItemTemplate let-model="item" let-index="index">
                              <span>{{model.description}}</span>
                              <!-- 499 [maxlength]="constants.MaxLengthConstants.ProductTitle"  [pattern]="constants.Title_REGEXP" -->
                            </ng-template>
                            <input pInputText placeholder="Supplier" name="ProductSupplier-{{item.uniqueId}}"
                              [maxlength]="constants.MaxLengthConstants.ProductTitle" [pattern]="constants.Title_REGEXP"
                              #ProductSupplier="ngModel" #productsupplier class="form-control" [ngClass]="{'has-error':ProductSupplier.invalid && (ProductSupplier.dirty||ProductSupplier.touched
                     )}" [(ngModel)]="supplier.description" [typeahead]="suppliers"
                              [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="description"
                              (input)="findSupplier(supplier.description);" />

                          </div>
                          <div
                            *ngIf="ProductSupplier.invalid && ( ProductSupplier.dirty || ProductSupplier.touched || productGridSupplierForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductSupplier.errors?.['pattern'] ">
                              Enter valid supplier
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span class="editable-txt" [hidden]="i !== 0" *ngFor="let supply of item.suppliers; index as i"
                      [tooltip]="supply.description">{{ supply.description }}</span>
                    <span></span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="ui-resizable-column" *ngIf="isManufacturer">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridManufacturerForm"
                      #productGridManufacturerForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input type="text" name="ProductManufacturer" #ProductManufacturer="ngModel"
                              [maxlength]="constants.MaxLengthConstants.ProductTitle" [pattern]="constants.Title_REGEXP"
                              [(ngModel)]="item.manufacturer" class="form-control"
                              [ngClass]="{'has-error': ProductManufacturer.invalid && (ProductManufacturer.dirty || ProductManufacturer.touched || productGridManufacturerForm.submitted) }"
                              [autofocus]="(toBeEdit === 'manufacturer')" />


                          </div>
                          <div
                            *ngIf="ProductManufacturer.invalid && ( ProductManufacturer.dirty || ProductManufacturer.touched || productGridManufacturerForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductManufacturer.errors?.['pattern'] ">
                              Enter valid manufacturer
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span [tooltip]="item?.manufacturer"> {{ item?.manufacturer}}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="ui-resizable-column" *ngIf="isManufacturerPartNo">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridManufacturerPartNumberForm"
                      #productGridManufacturerPartNumberForm="ngForm">
                      <div class="form-group row mb-0">
                        <div class="col-md-12">
                          <div class="input-group">
                            <input pInputText type="text" name="ProductManufacturerPartNumber"
                              #ProductManufacturerPartNumber="ngModel"
                              [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                              [maxlength]="constants.MaxLengthConstants.PartNumber"
                              [(ngModel)]="item.manufacturerPartNumber" class="form-control"
                              [ngClass]="{'has-error': ProductManufacturerPartNumber.invalid && (ProductManufacturerPartNumber.dirty || ProductManufacturerPartNumber.touched || productGridManufacturerPartNumberForm.submitted) }"
                              [autofocus]="(toBeEdit === 'manufacturerPartNumber')" />
                          </div>
                          <div
                            *ngIf="ProductManufacturerPartNumber.invalid && ( ProductManufacturerPartNumber.dirty || ProductManufacturerPartNumber.touched || productGridManufacturerPartNumberForm.submitted)"
                            class="text-danger">
                            <span [hidden]="!ProductManufacturerPartNumber.errors?.['pattern'] ">
                              Enter valid manufacturer part number
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span [tooltip]="item?.manufacturerPartNumber"> {{ item?.manufacturerPartNumber}}</span>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="ui-resizable-column" *ngIf="isProductType"><span [tooltip]="item?.productType?.description"
                  class="editable-txt text-status-blue">{{ item?.productType?.description }}</span></td>
              <!-- <td class="ui-resizable-column" *ngIf="isTaxable">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <form novalidate autocomplete="off" name="productGridTaxableForm" #productGridTaxableForm="ngForm">
                      <input [disabled]="!accessValid.update" [title]="!accessValid.update?'Access denied':'Update'"
                        class="ml-3 form-check-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.isTaxable"
                        type="checkbox" (change)="saveChanges(item,productGridTaxableForm)" value="item?.isTaxable" />
                    </form>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span [tooltip]="item?.isTaxable"> {{ item?.isTaxable}}</span>
                  </ng-template>
                </p-cellEditor>
              </td> -->
              <td style="text-align:center" class="ui-resizable-column">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              </td>

            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>

  <div bsModal #addProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form novalidate autocomplete="off" #productForm="ngForm">
          <div class="modal-header common-modal-header">
            <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
              Add Product
            </h4>
            <button type="reset" class="close common-close"
              (click)="addProductModal.hide(product.name = null && product.partNo = null );resetforms(productForm)"
              aria-label="Close">
              <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div claas="input-group">
                  <label class="text-dark-blue medium-montserrat text-capitalize">part no.</label>
                  <input type="text" autocomplete="off" placeholder="Part No" name="ProductNumber"
                    [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                    [maxlength]="constants.MaxLengthConstants.PartNumber" #ProductNumber="ngModel" #ProductNumbe
                    (keyup)="CheckPartNo(product.partNo)" [(ngModel)]="product.partNo"
                    [ngClass]="{'has-error': (ProductNumber.invalid && (ProductNumber.dirty || productForm.submitted))
                      || (isPartNovalid &&!duplicatePartNo&& !(ProductNumber.invalid &&(ProductNumber.dirty || productForm.submitted))) ||
                      (duplicatePartNo&& !isPartNovalid&& !(ProductNumber.invalid &&(ProductNumber.dirty || productForm.submitted)))}" required class="form-control" />
                  {{isOpenPopup ? ProductNumbe.focus() : null}}
                  <!-- {{isOpenPopup ? ProductNumber.reset() : null}} -->
                </div>

                <div class="text-danger"
                  *ngIf="ProductNumber.invalid && (ProductNumber.dirty || productForm.submitted)">
                  <div [hidden]="!ProductNumber.errors['required']" class="popover-body">
                    Enter part no
                  </div>
                  <div [hidden]="!ProductNumber.errors['pattern']" class="popover-body">
                    Enter valid part no
                  </div>
                </div>
                <div
                  *ngIf="isPartNovalid && !duplicatePartNo && !(ProductNumber.invalid &&(ProductNumber.dirty || ProductNumber.touched || productForm.submitted))"
                  class="text-danger">
                  Part no can not be zero
                </div>
                <div
                  *ngIf="duplicatePartNo && !isPartNovalid && !(ProductNumber.invalid &&(ProductNumber.dirty || ProductNumber.touched || productForm.submitted))"
                  class="text-danger">
                  Duplicate part no
                </div>
              </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div claas="input-group">
                  <label class="text-dark-blue medium-montserrat text-capitalize">product title</label>
                  <input type="text" placeholder="Product Title" autocomplete="off" name="ProductTitle"
                    [maxlength]="constants.MaxLengthConstants.ProductTitle" #ProductTitle="ngModel"
                    [(ngModel)]="product.name"
                    [ngClass]="{'has-error': ProductTitle.invalid && (ProductTitle.dirty || ProductTitle.touched || productForm.submitted) }"
                    [pattern]="constants.AnythingWhithoutSpace_REGEXP" required class="form-control" />
                </div>
                <div class="text-danger"
                  *ngIf="ProductTitle.invalid && (ProductTitle.dirty || ProductTitle.touched || productForm.submitted)">
                  <div [hidden]="!ProductTitle.errors['required']" class="popover-body">
                    Enter product title
                  </div>
                  <div [hidden]="!ProductTitle.errors['pattern']" class="popover-body">
                    Enter valid product title
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <button type="submit" class="btn primary-btn btn-add"
                (click)="addProduct(productForm.valid,addProductModal);">
                Add
              </button>
              <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
                (click)="addProductModal.hide(product.name = null && product.partNo = null);resetforms(productForm)">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div bsModal #importModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form novalidate autocomplete="off" #kitForm="ngForm">
          <div class="modal-header common-modal-header">
            <h4 class="modal-title">Import Product Details</h4>
            <button type="button" class="close"
              (click)="showData = false;showWarning=false;getProductList(0);importModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="image-upload-section padding-top-30 padding-bottom-30 import-image-upload">
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">
                      <i class="fa fa-file-text"></i>
                    </div>
                    <div class="file-select-name font-16 medium-montserrat text-capitalize" id="noFile">
                      upload
                    </div>

                    <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary"
                      (change)="fileChangeListener($event)" accept=".csv" />
                    <br />
                    <div *ngIf="showWarning">
                      <label class="text-capitalize semibold-montserrat text-danger">
                        * Please select valid file</label>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="showData">
                <label class="text-capitalize semibold-montserrat">Total Product(s) Imported :</label>
                <span> {{totalProduct}}</span>
                <br />
                <label class="text-capitalize semibold-montserrat text-status-green">Valid Imports:</label>
                <span class="text-status-green"> {{validPoduct}}</span>
                <label class="text-capitalize semibold-montserrat text-danger right-float">Invalid Imports:
                  <span class="text-danger"> {{invalidProduct}}</span>
                </label>
              </div>
              <div class="margin-top-15 upload-import-file">
                <div class="row">
                  <div class="col-xl-1 col-12 col-sm-1">
                    <div class="text-center">
                      <div class="import-file-type">
                        <i class="fa fa-download"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-11 col-12 col-sm-11">
                    <div *ngIf="showFile" lass="text-dark-blue font-14 semibold-montserrat margin-bottom-5">
                      {{myFilename}}
                    </div>

                    <a (click)="DownloadTemplate() " class="text-table-record-blue semibold-montserrat">
                      Download Sample Template
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <!-- (click)="importModal.hide(CancelUpload()); -->
              <button type="submit" class="btn primary-btn btn-add"
                (click)="importModal.hide();showData = false;showWarning=false;getProductList(0)">
                Done
              </button>
              <!-- <button type="submit" class="btn primary-btn btn-add" (click)="addProductFile();importModal.hide(CancelUpload())">Done</button> -->

              <!-- <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal" (click)="importModal.hide(CancelUpload())">Cancel</button> -->
            </div>
          </div>
        </form>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </div>

  <div bsModal #ConfirmationModel="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: 'static',  keyboard: false}">
    <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
      [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
      (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel);"></app-toaster>
  </div>