body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
input:focus,
input:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

button:hover,
button:focus {
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

body {
  font-family: 'montserratregular' !important;
  font-size: 14px;
}

.bottom-border-line {
  border-bottom: 1px solid #ebebeb;
}

.mobile-view-slider {
  display: none;
}

.pk-list {
  max-width: 75%;
  position: relative;
  transition: 0.35s ease-in;
}

.custom-pk-list {
  max-width: 50%;
  position: relative;
  transition: 0.35s ease-in;
}

.pk-brief-detail {
  max-width: 25%;
  position: absolute;
  right: -40%;
  transition: 0.35s ease-in;
  display: none;
}

.right-brief {
  position: relative;
  right: 0px;
  top: 12px;
  transition: 0.35s ease-in;
  display: block;
}

.detail-brief-box {
  background: #fafafa;
  padding: 15px 15px 15px;
  margin-top: 30px;
  /* 76px;*/
  border-radius: 5px;
}

.product-width {
  width: 140px;
  margin: auto;
}

.product-view,
.kit-view {
  /* width:50%; */
  width: 140px;
  margin: auto;
  transition: 0.35s ease-in;
}

.close-detail-pk {
  position: absolute;
  top: 10px;
  right: 10px;
  /* color: #e12541; */
  font-size: 16px;
  border: 0;
  background: transparent;
}

.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #249dee;
  border: 1px solid #249dee;
}

.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 3px;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  border: 1px solid #249dee;
}

/*-----subscription page css start------*/
.current-plan-box {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(226, 226, 226, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(226, 226, 226, 1);
  box-shadow: 0px 0px 10px 1px rgba(226, 226, 226, 1);
}

.current-plan-box,
.subscribe-plan-box,
.current-box,
.user-count-box,
.costing-box {
  text-align: center;
}

.current-plan-box .top-subscribe,
.subscribe-plan-box .top-subscribe {
  background: #303030;
  padding: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.current-plan-box .bottom-subscribe,
.subscribe-plan-box .bottom-subscribe {
  padding: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;
}

.current-plan-box .bottom-subscribe {
  border-left: 1px solid #535353;
  border-right: 1px solid #535353;
  border-bottom: 1px solid #535353;
}

.subscribe-plan-box .bottom-subscribe {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.btn-cancel-subscribe,
.btn-subscribe {
  font-size: 12px;
}

.current-box,
.user-count-box,
.costing-box {
  padding: 25px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background: #fafafa;
  /* height: 195px; */
  height: 165px;
  margin-bottom: 30px;
}

.user-count-box,
.costing-box {
  padding: 48px 10px;
}

/*-----subscription page css end------*/

.black-box-name {
  padding-left: 5px;
  padding-right: 50px;
}

.small-name-padding {
  padding-right: 80px;
}

.header-quofinity .navbar {
  min-height: auto;
  margin-bottom: 0;
}

.header-quofinity .navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  border: 0;
  width: 100%;
  padding: 0;
}

.header-quofinity {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.header-quofinity .navbar-brand {
  float: left;
  height: auto;
  padding: 10px 0px;
  font-size: 18px;
  line-height: 0;
}

.main-header-mobile-menu {
  display: none;
}

.btn-main-menu {
  text-align: right;
  display: none;
}

.btn-main-menu button {
  background: transparent;
  border: 0;
  padding: 10px;
  font-size: 20px;
}

.fixed-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.fixed-main-container {
  padding-top: 45px;
}

.logo-main {
  width: 100px;
}

.logo-main img,
.profile-dp img,
.circle-common-bottom img,
.tag-doller img {
  width: 100%;
}

.profile-dp {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.search-bar {
  position: relative;
}

.search-bar button {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 15px;
  color: #aeb6bf;
  border: 0;
  background: transparent;
  outline: none;
  width: 15px;
}

.search-bar button img {
  width: 100%;
}

.search-bar input {
  border: 0;
  background: transparent;
  width: 100%;
  padding: 5px 25px;
}

/**********Search Dropdown******/

.search-dropdown {
  width: 500px;
  position: absolute;
  background: #fff;
  border: 1px solid #e8e8e8;
  top: 43px;
  z-index: 999;
}

.search-dropdown-1 {
  width: 500px;
  position: absolute;
  background: #fff;
  border: 1px solid #e8e8e8;
  top: 43px;
  z-index: 999;
}

.search-dropdown {
  display: none;
}

.search-dropdown-1 {
  display: none;
}

.search-dropdown .ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0px;
  background: none;
}

.search-dropdown-1 .ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0px;
  background: none;
}

.list-style-none li:hover {
  background: #249ced;
  color: #fff;
  cursor: pointer;
}

.list-style-none li {
  border-bottom: 1px solid #f2f2f2;
  padding: 15px;
  font-size: 14px;
  font-family: 'montserratregular';
}

.list-style-none {
  list-style: none;
}

.search-dropdown .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -2px;
  padding-bottom: 1px;
  border-bottom: 2px solid #249ced;
}

.search-dropdown-1 .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -2px;
  padding-bottom: 1px;
  border-bottom: 2px solid #249ced;
}

.search-dropdown .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  margin: 5px 10px;
  text-decoration: none;
  height: 30px;
  color: #2d333a;
  width: 30px;
  padding: 5px;
}

.search-dropdown-1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  margin: 5px 10px;
  text-decoration: none;
  height: 30px;
  color: #2d333a;
  width: 30px;
  padding: 5px;
}

.search-dropdown .ui-widget-header {
  border: 0px solid #dddddd;
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 0px;
  font-family: 'montserratregular';
}

.search-dropdown-1 .ui-widget-header {
  border: 0px solid #dddddd;
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 0px;
  font-family: 'montserratregular';
}

.search-dropdown .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  color: #2d333a;
}

.search-dropdown-1 .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  color: #2d333a;
}

.search-dropdown .ui-tabs .ui-tabs-nav .ui-tabs-anchor img,
.search-list-icon img {
  width: 100%;
}

.search-dropdown-1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor img,
.search-list-icon img {
  width: 100%;
}

.search-dropdown .ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover {
  opacity: 0.8;
}

.search-dropdown-1 .ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover {
  opacity: 0.8;
}

.search-list-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.account-black {
  background: url(../img/account-black.svg) no-repeat;
  background-size: 100% 100%;
}

.list-style-none li:hover .account-black {
  background: url(../img/account.svg) no-repeat;
  background-size: 100% 100%;
}

.contact-black {
  background: url(../img/contact-black.svg) no-repeat;
  background-size: 100% 100%;
}

.list-style-none li:hover .contact-black {
  background: url(../img/contact.svg) no-repeat;
  background-size: 100% 100%;
}

.quotes-black {
  background: url(../img/quotes-black.svg) no-repeat;
  background-size: 100% 100%;
}

.list-style-none li:hover .quotes-black {
  background: url(../img/quotes.svg) no-repeat;
  background-size: 100% 100%;
}

.product-black {
  background: url(../img/product-black.svg) no-repeat;
  background-size: 100% 100%;
}

.list-style-none li:hover .product-black {
  background: url(../img/product.svg) no-repeat;
  background-size: 100% 100%;
}

.kits-black {
  background: url(../img/kits-black.svg) no-repeat;
  background-size: 100% 100%;
}

.list-style-none li:hover .kits-black {
  background: url(../img/kits.svg) no-repeat;
  background-size: 100% 100%;
}

.search-dropdown .ui-state-default,
.search-dropdown .ui-widget-content .ui-state-default,
.search-dropdown .ui-widget-header .ui-state-default,
.search-dropdown .ui-button,
html .ui-button.ui-state-disabled:hover,
html .search-dropdown .ui-button.ui-state-disabled:active {
  border: 0px solid #c5c5c5;
  background: transparent;
  font-weight: normal;
  color: #454545;
  border-radius: 0px;
}

.search-dropdown-1 .ui-state-default,
.search-dropdown-1 .ui-widget-content .ui-state-default,
.search-dropdown-1 .ui-widget-header .ui-state-default,
.search-dropdown-1 .ui-button,
html .ui-button.ui-state-disabled:hover,
html .search-dropdown-1 .ui-button.ui-state-disabled:active {
  border: 0px solid #c5c5c5;
  background: transparent;
  font-weight: normal;
  color: #454545;
  border-radius: 0px;
}

.search-dropdown .ui-widget.ui-widget-content {
  border: 0px solid #c5c5c5;
  padding: 0px;
}

.search-dropdown-1 .ui-widget.ui-widget-content {
  border: 0px solid #c5c5c5;
  padding: 0px;
}

/**********End Search Dropdown******/

.manage-acc-dropdown .dropdown-menu {
  position: absolute;
  min-width: 200px;
  top: 33px;
  right: 0;
  left: auto;
  padding: 0;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -moz-box-shadow: 0px 3px 8px rgba(233, 233, 233, 0.7);
  -webkit-box-shadow: 0px 3px 8px rgba(233, 233, 233, 0.7);
  box-shadow: 0px 3px 8px rgba(233, 233, 233, 0.7);
}

.manage-acc-dropdown .fa-angle-down {
  font-size: 15px;
}

.manage-acc-dropdown .dropdown-menu > li:hover {
  background-color: #f5f5f5;
}

.manage-acc-dropdown .dropdown-menu > li > a {
  display: block;
  padding: 13px 15px;
  color: #676979;
  font-size: 13px;
}

.main-body,
.rel-position {
  position: relative;
}

.left-side-menubar {
  position: fixed;
  left: 0;
  top: 50px;
  background: #000000;
  width: 60px;
  height: 100%;
  transition: 0.35s ease-in;
  z-index: 999;
}

.toggle-menu-btn button {
  background: #393939;
  border: 0;
  outline: none;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: right;
  padding: 0 20px;
  margin-bottom: 20px;
}

.manage-acc-dropdown {
  color: #929cad;
}

.manage-acc-dropdown:hover {
  color: #4a5465;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
  cursor: pointer;
}

.toggle-menu-btn button:hover .fa-bars,
.toggle-menu-btn button:hover .fa-times {
  opacity: 0.8;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.sidebar-action-btn {
  display: none;
}

.menu-text {
  position: absolute;
  left: -70px;
  top: 5px;
}

.show-menu {
  left: 55px;
  transition: 0.35s ease-in;
}

.menu-display {
  width: 150px;
  transition: 0.35s ease-in;
}

.main-container {
  transition: 0.35s ease-in;
}

.main-container-compress {
  transition: 0.35s ease-in;
}

.icon-main {
  width: 42px;
  height: 30px;
  display: block;
  padding-left: 15px;
  z-index: 99;
  position: relative;
  outline: none;
  background-color: #000000;
}

.icon-main img {
  width: 100%;
}

.left-menubar ul li {
  padding: 0;
  margin-bottom: 25px;
  position: relative;
  display: block;
  cursor: pointer;
}

.left-menubar ul li a,
.header-quofinity .navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  width: 100%;
  display: block;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
}

.left-menubar ul li:hover a,
.left-menubar ul li.active-side-menu a,
.header-quofinity .navbar-inverse .navbar-nav > li.active-side-menu > a,
.header-quofinity .navbar-inverse .navbar-nav > li:hover > a {
  opacity: 1;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.active-side-menu {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.main-header-mobile-menu .active:before,
.left-side-menubar .active:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0px;
  width: 2px;
  height: 39px;
  background-color: #fff;
  z-index: 999;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.black-box {
  background: #303030;
  border-radius: 5px;
}

.black-box:hover,
.black-box:focus {
  background: #000000;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.recent-quote-block {
  border-top: 1px solid #f3f3f3;
}

.circle-status {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  margin: auto;
  padding: 9px;
  /* border: 1px solid black; */
  /* -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5); */
}

.circle-status img {
  width: 100%;
}

.quote-count {
  color: #fff;
  font-size: 10px;
  padding: 5px 5px 3px;
  display: inline-block;
  border-radius: 3px;
  width: auto;
  margin-left: 15px;
  position: relative;
  bottom: 2px;
}

.btn-expand3 button {
  display: none;
}

.btn-expand button,
.btn-expand4 button,
.btn-expand2 button,
.btn-expand3 button {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 15px;
  color: #4b505d;
}

.btn-expand button:hover,
.btn-expand2 button:hover,
btn-expand3 button:hover {
  color: #2f3441;
}

.common-table table {
  margin-bottom: 0px;
}

.common-table table tr th {
  background: #fafafa;
  font-family: 'montserratsemibold';
  font-weight: normal;
  text-transform: capitalize;
  color: #62656e;
}

.common-table .table > thead > tr > th {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5 !important;
}

.common-table .table > tbody > tr > td {
  border-bottom: 1px solid #f5f5f5;
}

.common-table table tr td {
  font-family: 'montserratmedium';
  color: #1e2434;
}

.common-table table tr th,
.common-table table tr td {
  padding: 10px 15px;
  font-size: 11px;
}

.account-table {
  overflow-x: scroll;
}

.add-common-btn a {
  display: block;
  background: #303030;
  padding: 10px 15px;
  color: #fff;
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  border: 0;
}

.common-blue-btn button {
  /* border:0;
	background:#249ced;
	color:#FFF;
	font-size: 13px;
	padding: 10px 12px;
	text-align:center;
  border-radius:3px; */
  background: #ffffff;
  color: #2c9bee;
  font-size: 22px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 7px;
  border: 2px solid #249ced;
  vertical-align: middle;
}

.table-column-dropdown-list button {
  border: 0;
  background: transparent;
}

.eye-btn i {
  line-height: 18px;
  font-size: 16px;
  color: #62656e;
}

.view-btn .dropdown-menu {
  position: absolute;
  top: 10px !important;
  left: auto !important;
  right: -87px !important;
  background-color: #393939;
  color: #fff;
  min-width: 130px;
  padding: 0;
  margin: 0;
  z-index: 9;
}

.btn-send-quote .dropdown-menu {
  right: 0px !important;
}

.view-btn .dropdown-menu:before,
.table-column-menu:before {
  content: '';
  position: absolute;
  top: -9px;
  right: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #393939 transparent;
}

.view-btn .dropdown-menu > li {
  padding: 0 15px;
}

.view-btn .dropdown-menu > li > button {
  display: block;
  padding: 10px 0px;
  font-weight: normal;
  color: #c4c4c4;
  font-family: 'montserratsemibold';
  width: 100%;
  background: transparent;
  text-align: left;
  font-size: 13px;
  border-bottom: 1px solid #3f4040;
  border-left: 0px solid #3f4040;
  border-right: 0px solid #3f4040;
  border-top: 0px solid #3f4040;
}

.view-btn .dropdown-menu > li > button i {
  margin-right: 10px;
}

.table-column-dropdown-list
  .dropdown-menu
  > li
  .ck-button
  label
  input[type='checkbox'] {
  position: relative;
  top: 2px;
}

.view-btn .dropdown-menu > li > button:hover,
.view-btn .dropdown-menu > li > button:focus,
.table-column-menu > li .ck-button:hover,
.table-column-menu > li .ck-button:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.common-blue-btn button:hover {
  /* background: #0c84d5; */
  background: #ffffff;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.add-common-btn a:hover {
  background: #dadada;
  color: #000000;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

/*----account details css start-----*/

.bottom-border-gray {
  border-bottom: 1px solid #e8e8e8;
}

.common-detail-box .header-box {
  background: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 3px 3px 0px 0px;
  padding: 12px 15px;
}

.common-detail-box .footer-box,
.popup-page .footer-box {
  background: #fafafa;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0px 0px 3px 3px;
  padding: 12px 15px;
}

.common-detail-box .icon-box {
  cursor: pointer;
}

.common-detail-box .icon-box.text-status-blue:hover,
.common-detail-box .icon-box .text-status-blue:hover,
.common-table .table > tbody > tr > td a span.text-table-record-blue:hover,
.type-text-link .text-status-blue:hover,
.add-contact:hover,
.common-table .text-table-record-blue:hover,
.hover-edit button:hover,
.custom-product-link .text-status-blue:hover,
.forget-password .text-status-blue:hover {
  color: #0881d2;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.tags-link a:hover {
  background: #0881d2;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.common-detail-box .icon-box .text-status-pink:hover {
  color: #cf132f;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.common-detail-box .content-box {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0px 0px 3px 3px;
}

.common-detail-box .contact-dp,
.common-detail-box .blue-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  background: #000;
}

.common-detail-box .blue-circle {
  background: #249dee;
  padding: 7px;
}

.common-detail-box .contact-dp img,
.common-detail-box .blue-circle img {
  width: 100%;
}

.common-detail-box .contact-name {
  padding-top: 5px;
}

.border-bottom-contact {
  border-bottom: 1px solid #f3f3f3;
}

.notes-input,
.find-product {
  position: relative;
}

.notes-input i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #8e9199;
}

.notes-input input,
.find-product input,
.contact-content input,
.contact-content textarea {
  width: 100%;
  padding: 10px 30px;
  border: 0;
  box-shadow: none;
  font-size: 14px;
  line-height: 1;
}

.notes-input input:focus,
.notes-input input:hover,
.contact-content input:focus,
.contact-content input:hover,
.contact-content textarea:focus,
.contact-content textarea:hover,
.common-text-box:hover,
.common-text-box:focus {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(230, 230, 230, 1);
  box-shadow: 0px 0px 8px 0px rgba(230, 230, 230, 1);
}

.line-point {
  position: absolute;
  top: 30px;
  left: 93px;
  width: 1px;
  height: 85%;
  background: #ebebeb;
}

.line-point:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #ebebeb;
  position: absolute;
  top: -9px;
  left: -5px;
}

.line-point:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #ebebeb;
  position: absolute;
  bottom: -9px;
  left: -5px;
}

.date-point {
  position: relative;
  padding-right: 34px;
  text-align: center;
  width: 100px;
}

.date-point:after {
  position: absolute;
  top: 30%;
  right: 15px;
  content: '';
  width: 13px;
  height: 13px;
  border: 2px solid #249dee;
  border-radius: 100%;
}

.type-text {
  line-height: 13px;
}

.note-box {
  width: 80%;
  margin-left: 10px;
  background: #fdfdfd;
  padding: 10px 15px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  position: relative;
  margin-top: -2px;
  word-wrap: break-word;
}

.note-box:before {
  position: absolute;
  content: '';
  top: 10px;
  left: -10px;
  background: url(../img/triangle-left.png) no-repeat;
  background-size: 100% 100%;
  width: 10px;
  height: 15px;
}

.common-tabs {
  border-bottom: 1px solid #ebebeb;
  margin-left: 15px;
  margin-right: 15px;
}

.common-tabs .nav-link.active,
.common-tabs .nav-item.show .nav-link {
  color: #1e2434;
  font-family: 'montserratbold';
  background-color: #fff;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 2px solid #249dee !important;
}

.common-tabs .nav-link:hover,
.common-tabs .nav-link:focus {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 2px solid #249dee;
  margin-top: 0px;
  color: #1e2434;
  font-family: 'montserratbold';
  -webkit-transition: 0s ease-in;
  -moz-transition: 0s ease-in;
  -o-transition: 0s ease-in;
  transition: 0s ease-in;
}

.common-tabs .nav-link {
  margin-right: 2px;
  line-height: 1.42857143;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #7a7c82;
  padding: 10px 15px;
  font-size: 14px;
}

.inner-content {
  position: relative;
}

.tab-content-custom {
  height: 320px;
  overflow-y: scroll;
}

.btn-save-acc-detail,
.btn-edit-acc-detail,
.btn-cancel-acc-detail,
.btn-save-contact-detail,
.btn-edit-contact-detail,
.btn-cancel-contact-detail,
.btn-add-category,
.btn-add-supplier,
.btn-add-tag {
  border: 0;
  background: transparent;
  padding: 0;
}

.btn-edit-acc-detail,
.edit-contact-detail {
  padding-top: 2px;
}

.btn-cancel-acc-detail,
.btn-cancel-contact-detail {
  margin-left: 5px;
  color: #e12541;
}

.total-detail,
.cursor-pointer-checkbox {
  cursor: pointer;
}

#total-detail .modal-dialog {
  max-width: 80%;
  margin: 80px auto 30px;
}

#add-contact .modal-dialog {
  margin: 80px auto 30px;
}

#total-detail .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.common-close.close {
  color: #e12541;
  font-size: 16px;
  opacity: 1;
  padding: 10px 15px;
}

.common-close.close:hover {
  color: #f63a56;
}

.common-modal-header.modal-header {
  background: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #dedede;
}

#total-detail .modal-body {
  height: 450px;
  overflow-y: scroll;
  padding: 0;
}

.account-detail-table table tr th {
  background: #fdfdfd;
}

.primary-btn {
  border: 0;
  background: #249ced;
  color: #fff;
  font-size: 13px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 3px;
}

.primary-btn:hover {
  color: #fff;
  background: #0c84d5;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.secondary-btn {
  border: 0;
  background: #8e9199;
  color: #fff !important;
  font-size: 13px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 3px;
}

.secondary-btn:hover {
  color: #fff;
  background: #686b73;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.contact-content {
  position: relative;
  margin: 15px 60px;
}

.contact-content label {
  font-weight: normal;
  font-size: 14px;
}

.ui-autocomplete.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  z-index: 99999;
}

.contact-content input,
.contact-content textarea {
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
}

.contact-content input:focus,
.contact-content textarea:focus,
.common-text-box:hover,
.common-text-box:focus {
  border-color: #e7e7e7;
}

.disable-box {
  pointer-events: none;
  opacity: 1;
  background: transparent !important;
  border: 0 !important;
}

.show-edit {
  display: block;
}

.hide-check {
  display: none;
}

.contact-list-all .btn-delete {
  border: 0;
  background: transparent;
  font-size: 16px;
  padding: 5px 0;
  color: #e12541;
}

.contact-list-all .btn-delete:hover {
  color: #b60516;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.add-contact {
  position: absolute;
  top: 4px;
  right: -10%;
  display: none;
  cursor: pointer;
  color: #249dee;
}

.extra-contact {
  width: 80% !important;
  margin-left: 10%;
  margin-top: 5px;
}

#TextBoxContainer {
  position: relative;
}

.edit-field-account .contact-more,
.edit-field-contact .contact-more {
  width: 80% !important;
}

.edit-field-account .icon-box,
.edit-field-contact .icon-box {
  width: 10%;
}

.edit-field-account .relative-content,
.edit-field-contact .relative-content {
  width: 90%;
  position: relative;
}

.edit-field-account input,
.edit-field-contact input {
  padding: 3px 5px;
  width: 100%;
  border: 1px solid #ebebeb;
  box-shadow: none;
  font-size: 14px;
  line-height: 1;
}

/*----account details css end-----*/

.edit-field-account label {
  font-weight: normal;
  color: #616571;
  margin-bottom: 5px;
}

.edit-field-account .form-control {
  height: auto;
  box-shadow: none;
  transition: 0s;
  position: relative;
  left: -5px;
  color: #1e2434;
}

.edit-field-account .form-control:focus {
  border-color: #ebebeb;
}

.tags-link {
  position: relative;
}

.tags-link a {
  background: #249dee;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 13px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
}

.tag-delete,
.image-delete,
.btn-quote-delete,
.add-tax-matrix .btn-quote-delete {
  position: absolute;
  top: -10px;
  right: 5px;
  background: transparent;
  /* background: #d94508; */
  border-radius: 100%;
  display: none;
  color: #000;
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  border: 0;
  cursor: pointer;
}

.slelect-item {
  /* position: absolute;
  top: -7px;
  left: -7px;
  background: #000000; #9e9e9e;
  border-radius: 100%;
  color: #fff;
  width: 15px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  border: 0;
  display: block; */

  position: absolute;
  top: -7px;
  left: -6px;
  /* background: #000000; */
  /* border-radius: 100%; */
  color: #fff;
  /* width: 12px; */
  /* height: 19px; */
  /* font-size: 12px; */
  text-align: center;
  font-weight: normal;
  border: 1px solid black;
  display: block;
  line-height: 10px;
}
.slelect-item.selected {
  /* position: absolute;
  top: -7px;
  left: -7px;
  background: #000000eb; #3c7208eb;
  border-radius: 100%;
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  border: 0;
  display: block; */

  position: absolute;
  top: -7px;
  left: -7px;
  /* background: #000000; */
  /* border-radius: 100%; */
  color: #0f0f0f;
  /* width: 16px; */
  /* height: 20px; */
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border: 1px solid black;
}
.slelect-item i.fa-check-circle {
  line-height: 1.5em;
}
.btn.btn-area.btn-reject.btn-sm.pull-right {
  background-color: #c32f00;
}

.add-tax-matrix .btn-quote-delete {
  right: -10px;
  top: -10px;
}

.btn-quote-cancel {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  border: 0;
  display: none !important;
}

.product-pricing-box:hover .btn-quote-cancel {
  display: block !important;
  right: -5px;
  top: -14px;
  cursor: pointer;
}

.add-tax-matrix:hover .btn-quote-delete {
  display: block;
}

.tag-delete:hover,
.image-delete:hover,
.btn-quote-delete:hover {
  /* background: #c32f00; */
  background: transparent;
}

.pricing-first {
  border-bottom: 1px solid #ebebeb;
}

.common-text-box {
  border: 1px solid #ebebeb;
  padding: 6px 12px;
  line-height: 1.2;
}

.edit-method-pricing {
  position: relative;
}

.edit-method-pricing input {
  padding-right: 30px !important;
}

.edit-method-pricing button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 0;
  color: #616571;
  font-size: 16px;
}

.image-upload-section {
  border: 1px dashed #ebebeb;
  border-radius: 4px;
}

.image-upload-section .file-upload {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-left: 0;
}

.image-upload-section .file-upload .file-select {
  display: block;
  color: #34495e;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.image-upload-section .file-upload .file-select .file-select-button {
  display: block;
  width: 60px;
  margin: 0 auto 5px;
}

.image-upload-section .file-upload .file-select .file-select-button img,
.circle-product img {
  width: 100%;
}

.image-upload-section .file-upload .file-select .file-select-name {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #606570;
}

.image-upload-section .file-upload .file-select input[type='file'] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.tag-link-list {
  border-top: 1px solid #ebebeb;
}

.add-icon-dp .file-upload .file-select {
  display: block;
  color: #34495e;
  cursor: pointer;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.add-icon-dp .file-upload.active .file-select .file-select-button {
  background: #636a71;
  color: #fff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.add-icon-dp .file-upload .file-select .file-select-button {
  background: #8c939a;
  padding: 7px 15px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;
}

.add-icon-dp .file-upload .file-select .file-select-name {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #192735;
}

.add-icon-dp .file-upload .file-select input[type='file'] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.uploaded-file {
  padding: 20px 30% 0;
}

.uploaded-file .uploaded-image {
  cursor: pointer;
}

.uploaded-file .uploaded-image a {
  display: block;
  position: relative;
}

.uploaded-file .uploaded-image img {
  width: 100%;
}

.sorting-btn-list ul {
}

.sorting-btn-list ul li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sorting-btn-list ul li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #303030;
}

.sorting-btn-list ul li {
  float: left;
  list-style: none;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  border-left: 1px solid #303030;
}

.sorting-btn-list ul li button {
  border: 0;
  background: transparent;
  color: #1e2434;
  font-family: 'montserratsemibold';
  /* font-size:14px; */
  font-size: 12px;
  /* padding: 10px 10px; */
  padding: 8px 8px;
}

.sorting-btn-list ul li button:hover,
.sorting-btn-list ul li button:focus,
.sorting-btn-list ul li button.active {
  background: #303030;
  color: #fff;
}

.disable-check {
  pointer-events: none;
  color: #aaa;
  background: #4c4c4c;
}

.table-column-menu {
  position: absolute;
  top: 28px;
  right: 3px;
  background-color: #393939;
  color: #fff;
  min-width: 170px;
  padding: 0;
  margin: 0;
  z-index: 9;
  border-radius: 4px;
  display: none;
}

.table-column-menu > li {
  padding: 0 15px;
  list-style: none;
}

.table-column-menu > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table-column-menu > li .ck-button {
  display: block;
  padding: 10px 0px;
  font-weight: normal;
  color: #c4c4c4;
  font-family: 'montserratsemibold';
  width: 100%;
  background: transparent;
  text-align: left;
  font-size: 13px;
  border-bottom: 1px solid #3f4040;
}

.table-column-menu > li .ck-button label {
  margin: 0;
  text-transform: capitalize;
}

.table-column-menu > li .ck-button label input[type='checkbox'] {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.table-column-dropdown-list {
  position: relative;
  /* width:27px; */
  float: right;
}

.table-column-dropdown-list button {
  float: right;
}

.table-column-dropdown-list button:focus {
  outline: none;
}

.common-select {
  display: none;
}

.sorting-btn-list ul {
  display: block;
}

.common-select select {
  font-size: 13px;
}

.block-column {
  display: none;
}

.btn-browse button {
  border: 1px solid #000000;
  background: #249dee;
  color: #fff;
  /* padding:10px 13px; */
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'montserratsemibold';
}

.btn-browse button:hover {
  background: #0881d2;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.height-43-textbox {
  height: 43px;
}

.find-product .search-button {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background: transparent;
  height: 100%;
  width: 30px;
  color: #8e9199;
  padding-bottom: 4px;
}

.text-box-height-37 {
  height: 37px;
}

.product-total-price {
  padding-top: 8px;
}

.product-pricing-box {
  padding: 10px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.subtotal-box {
  padding: 12px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  position: relative;
}

.drop-angle {
  float: right;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 13px;
  font-size: 15px;
  padding-bottom: 13px;
  cursor: pointer;
}

.sales-tax-dropdown {
  padding-right: 0 !important;
}

.subtotal-box .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -26px !important;
  z-index: 99;
  /* min-width: 233px; */
  width: 100%;
  padding: 0px;
  font-size: 14px;
  color: #212529;
  border: 1px solid #f2f2f2;
  /* background-color: #f1f1f1; */
  border-radius: 0;
}

.subtotal-box .dropdown-menu li {
  padding: 5px 13px;
}

.subtotal-box .dropdown-menu li:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.product-item-price.common-detail-box .content-box {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0px;
}

.circle-product {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #cecfd0;
  margin: auto;
}

.line-height-18 {
  line-height: 18px;
}

#viewKitDetailModal .modal-dialog,
#browse-product .modal-dialog,
#browse-pk .modal-dialog {
  max-width: 95%;
  margin: 20px auto 30px;
}

.upload-import-file {
  position: relative;
}

.import-image-upload .file-select-button i {
  font-size: 40px;
  color: #8d9098;
  margin-bottom: 5px;
}

.import-file-type i {
  font-size: 33px;
  color: #49bc47;
  margin-top: 1px;
}

.file-upload-progress .progress {
  height: 8px;
  border-radius: 10px;
  background-color: #ebebeb;
}

.file-upload-progress .progress-bar {
  background-color: #249dee;
}

.import-upload-btn button {
  display: block !important;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.import-upload-btn button:hover {
  background: #c32f00;
}

.btn-submit {
  background: #303030;
}

.btn-submit:hover {
  background: #000000;
}

.hover-edit {
  position: relative;
}

.hover-edit input[type='text'] {
  padding: 2px 45px 2px 0px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  width: 100%;
  position: relative;
  left: 0px;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}

/* .dash-qtable .hover-edit-list a {
  padding: 2px 45px 2px 0px;
  width: auto !important;
  position: relative;
  left: 0px;
  overflow: visible;
  display: block;
  text-overflow: unset !important;
  white-space: nowrap !important;
  word-break: normal !important;
} */
.hover-edit-list p,
.hover-edit-list a {
  padding: 2px 45px 2px 0px;
  width: 100%;
  position: relative;
  left: 0px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.page-title .hover-edit input[type='text'] {
  padding: 2px 2px 2px 5px !important;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  width: 100%;
  position: relative;
  left: 0px;
}

.show-btn1 .save-btn,
.show-btn1 .cancel-btn {
  display: block !important;
}

.show-btn1 .save-btn {
  right: 50px;
}

.show-btn1 .cancel-btn {
  right: 30px;
}

.hover-edit button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 13px;
  right: 30px;
  color: #249dee;
  font-size: 14px;
}

.show-btn1 input {
  border: 1px solid #c3c3c3 !important;
  pointer-events: all !important;
}

.show-btn1:hover .edit-btn {
  display: none !important;
}

.hover-edit:hover .edit-btn {
  display: block;
}

.hover-edit button.edit-btn {
  display: none;
}

.hover-edit button.save-btn,
.hover-edit button.cancel-btn {
  display: none;
}

.hover-edit button.cancel-btn {
  color: #e12541;
}

.show-btn {
  display: block !important;
}

.select-all-product {
  margin-bottom: 15px;
}

.select-all-product input[type='checkbox'] {
  margin-right: 0px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.filter-active a {
  color: #606570;
  background: #fff;
  font-size: 14px;
  padding: 7px 15px;
  border: 1px solid #ebebeb;
  margin-bottom: 0px;
}

.filter-active a:hover {
  color: #606570;
  background: #ebebeb;
}

.popup-product-box,
.popup-kit-box {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  position: relative;
  height: 100%;
}

.popup-product-box:hover,
.popup-product-box.active,
.popup-product-box:focus,
.popup-kit-box:hover,
.popup-kit-box.active,
.popup-kit-box:focus {
  border: 1px solid #249dee;
}

.selected-product-check,
.selected-kit-check {
  position: absolute;
  top: -8px;
  right: -8px;
  display: none;
}

.popup-pk-tabs {
  margin-left: 0;
  margin-right: 0;
}

.select-pro,
.select-kit {
  display: block;
}

.selected-product-check i,
.selected-kit-check i {
  color: #249dee;
  font-size: 20px;
  background: #fff;
}

.popup-product-box .product-view img,
.popup-kit-box .kit-view img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.popup-product-box .product-detail,
.popup-kit-box .kit-detail {
  border-top: 1px solid #ebebeb;
}

#browse-product .modal-body {
  padding: 0;
  height: 470px;
  overflow-y: scroll;
}

#browse-pk .modal-body {
  padding: 0;
}

#browse-pk .modal-body .content-product-selection {
  height: 520px;
  overflow-y: scroll;
}

#browse-pk .modal-body .content-product-selection .tab-content {
  padding-bottom: 30px;
}

.content-product-selection {
  padding: 12px 15px;
}

.search-products input:focus {
  border: 0;
  box-shadow: none;
  background: transparent;
}

.custom-product-link a {
  font-size: 14px;
}

#browse-product .common-close.close,
#browse-pk .common-close.close {
  padding: 26px 15px;
}

.width-100-percent {
  width: 100%;
}

.transparent-textbox {
  width: 100%;
  background: transparent;
}

.inline-label {
  width: 10%;
  padding-top: 8px;
}

.inline-textbox {
  width: 85%;
}

.tag-search input {
  width: 100%;
  border: 1px solid #efefef;
}

.bg-sign-banner {
  background: url(../img/bg-sign.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.outer-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.middle-div {
  position: relative;
  top: 50%;
  width: 450px;
  height: auto;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sign-up-middle {
  width: 600px;
  margin: 40px auto;
}

.white-box {
  background: #fff;
  border-radius: 5px;
  padding: 40px 40px;
}

.title-form-sign {
  position: relative;
  padding-top: 6px;
  padding-top: 8px;
  line-height: 28px;
}

.title-form-sign:after {
  content: '';
  width: 35px;
  height: 3px;
  background: #249dee;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.sign-links a {
  font-size: 14px;
  color: #616571;
  text-transform: capitalize;
  border: 1px solid #303030;
  padding: 10px 15px;
  display: block;
  float: left;
}

.sign-links a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sign-links a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sign-links a:hover,
.sign-links a.active {
  background: #303030;
  color: #fff !important;
}

.sign-form label {
  margin-bottom: 0;
}

.sign-form input {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 1px solid #b1b1b1;
  border-radius: 0;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sign-form input:focus,
.sign-form input:hover {
  border-bottom: 1px solid #249dee;
  outline: none;
  box-shadow: none;
}

.sign-form input[type='password'] {
  -webkit-text-security: star;
}

.remember-check label {
  color: #616571;
  font-size: 14px;
}

.remember-check .form-check-input {
  margin-top: 3px;
}

.forget-password {
  text-align: right;
}

.form-btn button {
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 5px;
}

.form-btn .cancel-btn {
  background: #dadada;
  color: #000000;
}

.form-btn .cancel-btn:hover {
  background: #000;
  color: #fff;
}

.bottom-box-pricing {
  padding: 0 30px;
}

.bottom-box-pricing .border-right {
  position: relative;
}

.bottom-box-pricing .border-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #ebebeb;
}

.circle-common-bottom {
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.border-orange {
  border: 1px solid #eb5b29;
}

.border-violet {
  border: 1px solid #be29ec;
}

.border-green {
  border: 1px solid #49bc47;
}

.bg-off-faint-white {
  background: #fdfdfd;
}

.box-quote-detail {
  position: relative;
}

.quote-detail-subtotal .subtotal-box {
  padding-right: 20px;
}

.common-detail-box .footer-box-quote {
  padding-right: 60px;
}

.quote-detail-subtotal .tax {
  padding-top: 3px;
  padding-bottom: 3px;
}

.subtotal-box .btn-edit-common,
.subtotal-box .btn-save-common,
.subtotal-box .btn-cancel-common,
.subtotal-box .btn-tax-dropdown {
  position: absolute;
  right: 0;
  top: 0;
  background: #fafafa;
  border-left: 1px solid #efefef;
  color: #1e2434;
  border-top: 0px solid #efefef;
  border-right: 0px solid #efefef;
  border-bottom: 0px solid #efefef;
  height: 100%;
  padding: 0 15px;
}

.tax-type {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #f1f1f1;
  color: #fff;
  width: 100%;
  margin: 0;
  z-index: 9;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tax-type li {
  list-style: none;
  padding: 5px 15px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}

.tax-type li.active,
.tax-type li:hover,
.tax-type li:focus {
  background-color: #e5e5e5;
}

.active-tax {
  display: none;
}

.active-tax.active {
  display: block;
}

.hide-tax {
  display: none;
}

.tax-type li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-status-common {
  padding: 7px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  font-family: 'montserratsemibold';
}

.btn-status-common img {
  width: 16px;
  position: relative;
  bottom: 3px;
}

.btn-accept {
  background: #49bc47;
  border: 1px solid #000;
}

.btn-accept:hover,
.btn-accept:focus {
  background: #2a9d28;
}

.btn-reject {
  background: #e12541;
  border: 1px solid #000;
}

.btn-reject:hover,
.btn-reject:focus {
  background: #b60516;
}

.btn-open {
  background: #303030;
  border: 1px solid #303030;
}

.btn-open:hover,
.btn-open:focus {
  background: #dadada;
  color: #000000;
  border: 1px solid #dadada;
}

.btn-quote {
  background: #249dee;
  border: 1px solid #249dee;
  display: block;
}

.btn-quote:hover,
.btn-quote:focus {
  background: #0c84d5;
  border: 1px solid #0c84d5;
  color: #fff;
}

.quote-status-circle {
  width: 42px !important;
  height: 42px !important;
  padding: 10px !important;
}

.quote-stage-top {
  position: relative;
}

.quote-stage-section:after {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  width: 1px;
  height: 115%;
  background: #ebebeb;
}

.in-progress-line {
  line-height: 20px;
}

.profile-info-quote {
  padding-top: 2px;
}

.tag-doller {
  /* width: 40px; */
  width: 35px;
}

.address-line {
  line-height: 21px;
  margin-bottom: 1px;
}

.edit-quote-detail button {
  border: 0;
  background: transparent;
}

.discount-input {
  /* width: 65px; */
  width: 45%;
  padding: 0 3px;
  border: 1px solid #ebebeb;
}

.edit-field-quote {
  position: relative;
  right: -10px;
}

.quote-profile .profile-dp {
  width: 45px;
  height: 45px;
  border: 2px solid #dadada;
}

#config-accordion.accordion-container {
  position: relative;
  width: 100%;

  border-top: none;
  outline: 0;
  cursor: pointer;
}

.content-entry {
  margin-bottom: 15px;
}

#category-config-accordion.accordion-container .article-title,
#config-accordion.accordion-container .article-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #1e2434;
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* #config-accordion.accordion-container .article-title:hover,
#config-accordion.accordion-container .article-title:active,
#config-accordion.accordion-container .content-entry.open .article-title {
		background-color: #fafafa;
		color: #1e2434;
}

#config-accordion.accordion-container .article-title:hover i:before,
#config-accordion.accordion-container .article-title:hover i:active,
#config-accordion.accordion-container .content-entry.open i {
		color: #494f5b;
} */

#config-accordion.accordion-container .content-entry .article-title i {
  position: absolute;
  top: 13px;
  right: 15px;
  font-style: normal;
  font-size: 18px;
  color: #494f5b;
}

/*
#config-accordion.accordion-container .content-entry .article-title i:before {
		content: "\f055";
		font-family: 'FontAwesome';
		font-style: normal;
		font-weight: normal;
}

#config-accordion.accordion-container .content-entry.open .article-title i:before {
		content: "\f056";
		font-family: 'FontAwesome';
		font-style: normal;
		font-weight: normal;
} */

.accordion-content {
  display: none;
  padding: 15px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* This stuff is just for the Codepen demo */

#content {
  width: 100%;
}

.show-accordian-content {
  display: block;
}

.btn-sub-plan {
  margin-top: 25px;
}

.btn-toggle {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  height: 26px;
  width: 60px;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
  box-shadow: none !important;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}

.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 20px;
  height: 20px;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
  left: 36px;
  transition: left 0.25s;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #71747b;
  letter-spacing: 0.75px;
  left: 12px;
  width: 37px;
}

.btn-toggle.btn-sm.btn-sm:after {
  color: #fff;
}

.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-secondary {
  color: #71747d;
  background: #e8e8e8;
}

.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}

.btn-toggle.btn-secondary.active {
  background-color: #49bc47 !important;
}

.label-dropdown {
  padding-top: 10px;
}

.autocomplete-product {
  position: relative;
}

.autocomplete-product .ui-autocomplete.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  z-index: 99999;
}

.browse-product-header {
  padding: 15px 15px 0 15px;
}

.autocomplete-product .ui-state-active {
  border: 1px solid #ccc;
  background: #ddd;
  font-weight: normal;
  color: #333;
}

.autocomplete-product .ui-widget-content {
  background: #fafafa;
}

.autocomplete-product .ui-widget {
  font-family: 'montserratregular' !important;
  font-size: 14px;
}

.add-tax-matrix {
  display: none;
  position: relative;
  padding: 15px;
  background: #fdfdfd;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin-bottom: 15px;
}

.matrix-action button {
  border: 0;
  background: transparent;
  color: #249dee;
  font-size: 14px;
}

.matrix-action button.edit-tax {
  display: block;
}

.matrix-action button.save-tax,
.matrix-action button.cancel-tax {
  display: none;
}

.show-btn1 button.edit-tax {
  display: none;
}

.show-btn1 button.save-tax,
.show-btn1 button.cancel-tax {
  display: inline-block;
}

.matrix-action button.cancel-tax {
  color: #e12541;
  margin-left: 5px;
}

.matrix-action input[type='text'] {
  padding: 2px 30px 2px 5px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  width: 50%;
  position: relative;
  left: -6px;
}

.btn-add-pricing {
  border: 0;
  background: transparent;
  color: #249dee;
}

.btn-add-pricing i {
  font-size: 12px;
}

.detail-modal.modal-lg {
  max-width: 80%;
}

.popup-header-content i,
.popup-footer-content i {
  color: #898e9b;
  font-size: 16px;
}

.popup-header-content {
  border-bottom: 1px solid #cccccc;
}

#detail-template .owl-nav,
#semi-detail-template .owl-nav,
#non-detail-template .owl-nav {
  position: absolute;
  bottom: -57px;
  left: 0;
  margin-top: 0;
}

.powered-strip {
  border-top: 1px solid #cccccc;
  padding: 15px;
}

.padding-row {
  padding-left: 15px;
  padding-right: 15px;
}

.middle-quote-info {
  padding-top: 4%;
  padding-bottom: 4%;
}

.right-quote-padding {
  padding-right: 70%;
}

.common-border-right {
  position: relative;
}

.common-border-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: 3%;
  height: 100%;
  width: 1px;
  background: #cccccc;
}

.format-padding {
  padding: 15px 0 0 0;
}

.right-padding-p35 {
  padding-right: 35%;
}

.power-logo {
  width: 90px;
}

.format-logo {
  /* width:150px; */
  width: 100px;
  overflow: auto;
}

.padding-header-content {
  padding-top: 8px;
}

.margin-all-0 {
  margin: 0 !important;
}

.kbw-signature {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}

.kbw-signature canvas {
  border-radius: 4px;
}

#detail-template.owl-theme .owl-nav [class*='owl-'],
#semi-detail-template.owl-theme .owl-nav [class*='owl-'],
#non-detail-template.owl-theme .owl-nav [class*='owl-'] {
  color: #000000;
  font-size: 25px;
  background: transparent;
}

#detailed .modal-content,
#semi-detailed .modal-content,
#non-detailed .modal-content {
  border-radius: 0;
}

.btn-preview-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #d94508 !important;
  border-radius: 100%;
  display: block;
  color: #fff !important;
  width: 22px !important;
  height: 22px !important;
  font-size: 13px !important;
  text-align: center;
  font-weight: normal;
  border: 0;
  padding: 0px !important;
  z-index: 9;
}

.detail-type {
  display: none;
}

.block-div {
  display: block;
}

.back-send-quote {
  width: 85px;
  display: block;
}

.detail-selection {
  text-align: center;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 10px 0 10px 150px;
  z-index: 99;
  background: #fff;
  border-bottom: 1px solid #cccccc;
}

.detail-selection input[type='radio'] {
  margin-right: 10px;
}

.detail-selection .radio-inline {
  margin-right: 10px;
}

.quote-preview .powered-strip {
  border-bottom: 3px solid #9f9f9f;
}

.quote-preview-action {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 15px 15px 165px;
  background: #fafafa;
  border-top: 1px solid #cccccc;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.top-main-preview {
  padding-top: 10px;
}

@font-face {
  font-family: 'montserratextrabold';
  src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.extrabold-montserrat {
  font-family: 'montserratextrabold';
}

@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.light-montserrat {
  font-family: 'montserratlight';
}

@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.medium-montserrat {
  font-family: 'montserratmedium';
}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.regular-montserrat {
  font-family: 'montserratregular';
}

@font-face {
  font-family: 'montserratsemibold';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.semibold-montserrat {
  font-family: 'montserratsemibold';
}

@font-face {
  font-family: 'montserratthin';
  src: url('../fonts/montserrat-thin-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.thin-montserrat {
  font-family: 'montserratthin';
}

@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bold-montserrat {
  font-family: 'montserratbold';
}

/*---font size css---*/
.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}

.font-40 {
  font-size: 40px;
}

.font-48 {
  font-size: 48px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-capital-first {
  text-transform: capitalize;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.none-float {
  float: none !important;
}

/*----color css----*/
.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-current-plan {
  color: #4a4f5c;
}

.text-faint-gray {
  color: #d6d6d6;
}

.text-subscribe-gray {
  color: #4b505d;
}

.text-gray {
  color: #6e727c;
}

.text-blue-gray {
  color: #616571;
}

.text-dark-blue {
  color: #1e2434;
}

.text-gray-quote {
  color: #7a7c82;
}

.text-table-record-blue {
  color: #4a90e2 !important;
}

.text-black-blue {
  color: #2a303f;
}

.text-title-gray {
  color: #2d333a;
}

.text-name-profile {
  color: #676979;
}

.text-post {
  color: #c1c6d0;
}

.text-label-sign {
  color: #2d3342;
}

.text-other-gray {
  color: #606570;
}

.text-part-price {
  color: #4b4f5c;
}

.text-status-orange {
  color: #eb5b29;
}

.text-status-blue {
  color: #5296e4;
}

.text-status-green {
  color: #49bc47;
}

.text-status-pink {
  color: #e12541;
}

.text-status-violet {
  color: #be29ec;
}

.text-status-blue {
  color: #249dee;
}

.bg-off-white {
  background: #fdfdfd;
}

.bg-black {
  background: #303030;
}

.bg-orange {
  background: #eb5b29;
}

.bg-blue {
  background: #5296e4;
}

.bg-green {
  background: #49bc47;
}

.bg-pink {
  background: #e12541;
}

.bg-violet {
  background: #be29ec;
}

.bg-notif-blue {
  background: #249dee;
}

/*---spacing css---*/
.padding-150 {
  padding: 0 150px;
}

.margin-top-64 {
  margin-top: 64px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-top-17 {
  padding-top: 17px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-right-35 {
  padding-right: 35px;
}

.padding-bottom-35 {
  padding-bottom: 35px;
}

.padding-left-35 {
  padding-left: 35px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-right-45 {
  padding-right: 45px;
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

.padding-left-45 {
  padding-left: 45px;
}

.padding-left-70 {
  padding-left: 60px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-bottom-65 {
  padding-bottom: 65px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-left-0 {
  margin-left: 0px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-right-35 {
  margin-right: 35px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-left-35 {
  margin-left: 35px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-55 {
  margin-top: 55px;
}

.margin-top-75 {
  margin-top: 45px;
}

.padding-left-65 {
  padding-left: 65px;
}

.padding-top-45 {
  padding-top: 45px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-right-85 {
  margin-right: 85px;
}

/*---spacing css end---*/

@media (min-width: 1400px) and (max-width: 1920px) {
  .black-box-name {
    padding-left: 5px;
    padding-right: 60%;
  }

  .tab-content-custom {
    height: 350px;
  }

  #total-detail .modal-body {
    height: 510px;
  }

  #browse-pk .modal-body .content-product-selection {
    /* height: 650px; */
    height: 490px;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .active::before {
    left: 4px;
  }

  .logo-main {
    width: 115px;
  }

  .left-side-menubar {
    top: 49px;
  }

  .fixed-main-container {
    padding-top: 48px;
  }

  .circle-status {
    width: 45px;
    height: 45px;
    padding: 10px;
  }

  .quote-status-box .font-10 {
    font-size: 13px;
  }

  .quote-status-box {
  }

  .black-box .font-12 {
    font-size: 16px;
  }

  .quote-status-box .font-14,
  .title-table.font-14 {
    font-size: 16px;
  }

  .quote-count {
    font-size: 12px;
  }

  .common-table table tr th,
  .common-table table tr td {
    font-size: 13px;
  }

  .manage-acc-dropdown .dropdown-menu {
    top: 37px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .back-box-icon {
    width: 140px;
    margin: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .btn-cancel-acc-detail {
    margin-left: 2px;
  }

  .tab-view-btn.col-sm-3 {
    padding-left: 0;
  }

  .circle-product {
    width: 45px;
    height: 45px;
  }

  #browse-product .modal-dialog,
  #browse-pk .modal-dialog {
    max-width: 90%;
    margin: 60px auto 30px;
  }

  #browse-product .modal-body,
  #browse-pk .modal-body .content-product-selection {
    height: 530px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .subscribe-container {
    padding: 0 15px;
  }

  .search-dropdown {
    top: 40px;
  }

  .logo-main {
    width: 100px;
  }

  .logo-main.padding-bottom-10 {
    padding-bottom: 12px;
  }

  .logo-main.padding-top-10 {
    padding-top: 12px;
  }

  .black-box .font-12 {
    font-size: 14px;
  }

  .quote-status-box .font-10 {
    font-size: 12px;
  }

  .quote-status-box .font-14 {
    font-size: 16px;
  }

  .common-table table tr th,
  .common-table table tr td {
    font-size: 12px;
  }

  .manage-acc-dropdown .dropdown-menu {
    top: 38px;
  }

  .left-side-menubar,
  .detail-selection {
    top: 45px;
  }

  .fixed-main-container {
    padding-top: 50px;
  }

  .black-box-name {
    padding-left: 5px;
    padding-right: 15px;
  }

  .header-box .font-18 {
    font-size: 16px;
  }

  .header-box .font-16 {
    font-size: 14px;
  }

  .header-box .font-14 {
    font-size: 13px;
  }

  .header-box .notes-input .form-control {
    font-size: 13px;
  }

  .content-box .font-14 {
    font-size: 12px;
  }

  .content-box .font-15 {
    font-size: 14px;
  }

  .common-detail-box .contact-dp {
    width: 20px;
    height: 20px;
  }

  .common-detail-box .contact-name {
    padding-top: 2px;
  }

  .common-detail-box .contact-name.padding-left-15 {
    padding-left: 10px;
  }

  .contact-list-all .btn-delete {
    font-size: 15px;
    padding: 3px 0;
  }

  .date-point .font-13 {
    font-size: 12px;
  }

  .note-box {
    width: 300px;
    padding: 10px 10px;
  }

  .note-box .font-13 {
    font-size: 12px;
  }

  .common-quote .col-sm-2 {
    padding-left: 0px;
    padding-right: 10px;
  }

  .common-tabs > li > a {
    font-size: 13px;
  }

  .tab-content-custom {
    height: 300px;
  }

  .common-quote .circle-status {
    width: 45px;
    height: 45px;
    padding: 13px;
    margin-top: 5px;
  }

  .common-quote .col-lg-2 {
    padding: 0 7px;
  }

  .sorting-btn-list ul li button {
    font-size: 13px;
    padding: 10px 8px;
  }

  .multiplication {
    text-align: center;
    padding-top: 32px;
  }

  .tab-part-no {
    margin-bottom: 15px;
  }

  .mobile-margin-top {
    margin-top: 10px;
  }

  .quote-mobile-top {
    margin-top: 0;
  }

  #browse-product .modal-dialog,
  #browse-pk .modal-dialog {
    max-width: 95%;
  }

  .popup-product-box .product-detail .font-14,
  .popup-kit-box .kit-detail .font-14 {
    font-size: 12px;
  }

  .circle-product-quote {
    width: 40px;
    height: 40px;
  }

  .quote-detail-subtotal .margin-right-25 {
    margin-right: 31px;
  }

  .edit-field-quote {
    right: -12px;
  }

  .discount-input {
    width: 60px;
  }

  .multiply-quote {
    padding-top: 10px;
  }

  .detail-modal.modal-lg {
    max-width: 95%;
  }

  .format-logo {
    /* width: 130px; */
    width: 100px;
    overflow: auto;
  }

  .common-border-right::after {
    right: 1%;
  }

  .quote-preview .font-14 {
    font-size: 12px;
  }

  .top-main-preview .col-md-3,
  .top-main-preview .col-md-4 {
    padding-left: 10px;
    padding-right: 5px;
  }

  .small-desktop-main .col-lg-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bottom-main-preview .col-md-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .current-box,
  .user-count-box,
  .costing-box {
    padding: 20px;
  }

  .current-plan-box .top-subscribe,
  .subscribe-plan-box .top-subscribe,
  .current-plan-box .bottom-subscribe,
  .subscribe-plan-box .bottom-subscribe {
    padding: 20px;
  }

  .subscribe-container {
    padding: 0 15px;
  }

  .search-dropdown {
    top: 40px;
  }

  .header-quofinity .navbar-brand {
    padding: 10px 0;
    line-height: 0;
  }

  .black-box-name {
    padding-left: 5px;
    padding-right: 0px;
  }

  .small-name-padding {
    padding-right: 30px;
  }

  .black-box-name.font-12 {
    font-size: 13px;
  }

  .header-box .font-18 {
    font-size: 16px;
  }

  .header-box .font-16 {
    font-size: 13px;
  }

  .header-box .font-14 {
    font-size: 13px;
  }

  .header-box .notes-input .form-control {
    font-size: 13px;
  }

  .content-box .font-14 {
    font-size: 12px;
  }

  .content-box .font-15 {
    font-size: 14px;
  }

  .common-detail-box .contact-dp {
    width: 20px;
    height: 20px;
  }

  .common-detail-box .contact-name {
    padding-top: 2px;
  }

  .common-detail-box .contact-name.padding-left-15 {
    padding-left: 10px;
  }

  .contact-list-all .btn-delete {
    font-size: 14px;
    padding: 3px 0;
  }

  .date-point .font-13 {
    font-size: 12px;
  }

  .note-box {
    width: 200px;
    padding: 10px 10px;
  }

  .note-box .font-13 {
    font-size: 11px;
  }

  .common-quote .col-md-2 {
    padding-left: 0px;
    padding-right: 10px;
  }

  .common-tabs > li > a {
    font-size: 13px;
  }

  .tab-content-custom {
    height: 253px;
  }

  .common-quote .circle-status {
    width: 45px;
    height: 45px;
    padding: 13px;
    margin-top: 5px;
  }

  .right-detail-tab {
    padding-top: 0px !important;
  }

  .acc-two-action.col-md-3 {
    padding: 0 10px 0 0;
  }

  .tab-quotes-padding.col-md-5 {
    padding-left: 0px;
  }

  .edit-field-account .relative-content {
    width: 87%;
  }

  .edit-field-account .contact-more {
    width: 78% !important;
  }

  .extra-contact {
    width: 78% !important;
    margin-left: 13%;
  }

  .edit-field-account .icon-box {
    width: 13%;
  }

  .uploaded-file {
    padding: 20px 10% 0;
  }

  .edit-field-account .col-md-6 {
    padding: 0;
  }

  .common-detail-box .blue-circle {
    width: 25px;
    height: 25px;
  }

  .btn-cancel-acc-detail {
    margin-left: 2px;
  }

  .tab-view-btn.col-sm-3 {
    padding-left: 0;
    padding-right: 13px;
  }

  .sorting-btn-list ul li button {
    font-size: 12px;
    padding: 8px 4px;
  }

  .hover-edit input[type='text'] {
    width: 155px;
  }

  .account_main.hover-edit input[type='text'] {
    width: 100%;
  }

  .multiplication {
    text-align: center;
    padding-top: 32px;
  }

  .multiply-quote {
    padding-top: 10px;
  }

  .product-total-price.text-center {
    text-align: left !important;
  }

  .mobile-margin-top {
    margin-top: 10px;
  }

  .quote-mobile-top {
    margin-top: 0px;
  }

  .tab-part-no {
    margin-bottom: 15px;
  }

  .tab-margin-top-quote {
    margin-top: 10px;
  }

  .popup-product-box,
  .popup-kit-box {
    margin-bottom: 30px;
  }

  .content-product-selection .margin-bottom-30 {
    margin-bottom: 0px;
  }

  .inline-label {
    width: 15%;
  }

  .inline-textbox {
    width: 78%;
  }

  .common-modal-header .font-14 {
    font-size: 12px;
  }

  .circle-common-bottom {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px auto 0;
  }

  .bottom-box-pricing {
    padding: 0 5px;
  }

  .quote-right.right-float {
    float: left;
    margin-top: 15px;
  }

  .detail-modal.modal-lg {
    max-width: 95%;
  }

  .popup-header-content.font-14,
  .popup-footer-content.font-14 {
    font-size: 11px;
  }

  .popup-header-content .font-16,
  .popup-footer-content .font-16 {
    font-size: 14px;
  }

  .popup-header-content i,
  .popup-footer-content i {
    font-size: 12px;
  }

  .common-border-right::after {
    right: 0;
  }

  .format-logo {
    width: 90px;
    overflow: auto;
  }

  .right-padding-p35 {
    padding-right: 5%;
  }

  .padding-header-content {
    padding-top: 3px;
  }

  .middle-quote-info .font-24 {
    font-size: 20px;
  }

  .middle-quote-info .font-16 {
    font-size: 14px;
  }

  .middle-quote-info .font-15 {
    font-size: 13px;
  }

  .middle-quote-info .font-14 {
    font-size: 13px;
  }

  .middle-quote-info .font-13 {
    font-size: 12px;
  }

  .middle-quote-info .font-13 {
    font-size: 12px;
  }

  .quote-preview .right-quote-padding {
    padding-right: 55%;
  }

  .quote-preview .format-logo {
    /* width: 100%; */
    width: 100px;
    overflow: auto;
  }

  .bottom-main-preview .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .top-main-preview .col-md-3,
  .top-main-preview .col-md-4 {
    padding-left: 10px;
    padding-right: 5px;
  }

  .first-left-padding {
    padding-left: 15px !important;
  }

  .detail-selection {
    top: 45px;
  }
}

@media screen and (min-width: 768px) {
  .header-quofinity .navbar-toggle {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .middle-div {
    width: 450px !important;
  }

  .sign-links {
    margin-top: 0px !important;
  }

  .sign-links.right-float {
    float: right !important;
  }

  .white-box {
    padding: 40px 40px !important;
  }

  .forget-password {
    margin-top: 0px !important;
    text-align: right !important;
  }

  .mobile-margin-top {
    margin-top: 0px !important;
  }

  .product-item-price .header-box .product-bottom-browse,
  .product-item-price .header-box .find-product input,
  .transparent-textbox {
    margin-bottom: 0px !important;
  }

  .product-item-price .header-box .padding-left-0 {
    padding-left: 0px !important;
  }

  .btn-mail.btn,
  .btn-pdf.btn,
  .btn-share-link.btn {
    display: inline-block !important;
  }

  .current-box,
  .user-count-box,
  .costing-box {
    height: 215px;
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  .black-box {
    width: 300px;
    margin: 0 auto 15px;
  }

  .profile-section {
    width: 270px;
    float: right;
  }

  .left-common-box .common-detail-box,
  .right-common-box .common-detail-box {
    width: 400px;
    margin: 0 auto 15px;
  }

  .uploaded-file .uploaded-image {
    width: 70px;
    margin: 0 auto 15px;
  }

  .quote-stage-top {
    margin-bottom: 0px !important;
  }

  .btn-first-status.margin-left-15 {
    margin-left: 15px !important;
  }

  .quote-profile {
    float: left;
    width: auto;
  }

  .bottom-box-pricing {
    padding: 0 28% !important;
  }

  .btn-mail.primary-btn,
  .btn-pdf.primary-btn,
  .btn-share-link.primary-btn {
    padding: 10px 10px !important;
  }
}

@media screen and (min-width: 460px) {
  .btn-first-status.margin-left-15 {
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 440px) {
  .custom-width-top {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 359px) {
  #detailed .modal-footer,
  #semi-detailed .modal-footer,
  #non-detailed .modal-footer {
    padding-top: 40px;
  }

  #detail-template .owl-nav,
  #semi-detail-template .owl-nav,
  #non-detail-template .owl-nav {
    position: absolute;
    bottom: -40px;
  }
}

@media screen and (max-width: 767px) {
  .header-quofinity .navbar-inverse .navbar-nav > li > a {
    padding: 15px 15px;
  }

  .left-navbar-nav > li {
    position: relative;
    display: block;
  }

  .header-quofinity .padding-left-0 {
    padding-left: 15px;
  }

  .main-header-mobile-menu {
    display: block;
    width: 100%;
  }

  .header-quofinity .navbar-brand {
    padding: 12px 0px;
  }

  .main-header-mobile-menu .navbar-collapse {
    background: #000;
    padding: 0;
  }

  .main-header-mobile-menu .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .main-header-mobile-menu .navbar-nav {
    margin: 0px;
  }

  .header-quofinity .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #000;
    padding: 0 15px;
  }

  .icon-main {
    width: 25px;
    height: 25px;
    padding-left: 0;
  }

  .menu-text {
    top: 18px;
  }

  .active-side-menu::before {
    top: 5px;
    left: 0px;
    height: 45px;
  }

  .header-quofinity .navbar-toggle {
    background-color: #000000;
    border-color: transparent;
    margin-right: 0;
    padding: 4px 12px 5px;
    color: #fff;
    float: right;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 9px;
  }

  .header-quofinity .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: #000000;
  }

  .fixed-header {
    position: relative;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  .profile-section {
    padding-bottom: 10px;
  }

  .navbar-quofinity .padding-right-0 {
    padding-right: 15px;
  }

  .left-side-menubar {
    position: absolute;
    left: -150px;
    top: 0;
  }

  .main-container-compress {
    padding-left: 0;
  }

  .fixed-main-container {
    padding-top: 0;
  }

  .black-box {
    margin-bottom: 15px;
  }

  .quote-status-box {
    height: auto;
  }

  .quote-status-box {
    margin-top: 15px;
  }

  .manage-acc-dropdown .dropdown-menu {
    top: 49px;
  }

  .circle-status {
    width: 50px;
    height: 50px;
  }

  .btn-main-menu {
    display: block;
  }

  .black-box-name {
    padding-left: 15px;
    padding-right: 0;
    padding-top: 10px;
  }

  .black-box .font-12 {
    font-size: 16px;
  }

  .quote-status-box .font-14 {
    font-size: 16px;
  }

  .quote-status-box .font-10 {
    font-size: 12px;
  }

  .common-table table tr th,
  .common-table table tr td {
    font-size: 12px;
  }

  .title-table.font-14 {
    font-size: 16px;
  }

  .quote-count {
    font-size: 12px;
  }

  .text-name-profile.font-12 {
    font-size: 14px;
  }

  .text-post.font-10 {
    font-size: 12px;
  }

  .profile-dp {
    width: 40px;
    height: 40px;
  }

  .search-bar input {
    padding: 5px 25px;
  }

  .manage-acc-dropdown .fa-angle-down {
    font-size: 18px;
  }

  #total-detail .modal-dialog {
    width: 90%;
  }

  .common-quote {
    padding-bottom: 15px;
  }

  .note-box .font-13 {
    font-size: 12px;
  }

  .note-box .font-14 {
    font-size: 12px;
  }

  .date-point {
    width: 90px;
  }

  .line-point {
    left: 83px;
  }

  .note-box {
    width: 55%;
  }

  .page-title .right-float {
    margin-top: 15px;
  }

  .page-title .single-btn {
    margin-top: 0;
  }

  #add-contact .modal-dialog {
    width: 90%;
  }

  .contact-content {
    margin: 15px 10px;
  }

  .pricing-first .padding-left-0,
  .pricing-second .padding-left-0,
  .product-details .first-section-product.padding-left-0 {
    padding-left: 15px;
  }

  .pricing-first .col-xs-12,
  .pricing-second .col-xs-12 {
    padding-left: 0px;
    margin-bottom: 15px;
  }

  .uploaded-file .uploaded-image {
    margin-bottom: 15px;
  }

  .mobile-right-padding.padding-right-0 {
    padding-right: 15px;
  }

  .mobile-margin-bottom {
    margin-bottom: 15px;
  }

  .status-box {
    margin-bottom: 15px;
  }

  .search-dropdown .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    margin: 5px 5px;
  }

  .search-dropdown {
    width: 100%;
  }

  .common-select {
    display: block;
  }

  .sorting-btn-list ul {
    display: none;
  }

  .hover-edit input[type='text'],
  .account_main.hover-edit input[type='text'],
  .quote_name.hover-edit input[type='text'] {
    width: 155px;
  }

  .product-item-price .header-box .padding-left-0,
  .mobile-left-padding.padding-left-0 {
    padding-left: 15px;
  }

  .product-item-price .header-box .product-bottom-browse,
  .product-item-price .header-box .find-product input,
  .transparent-textbox {
    margin-bottom: 15px;
  }

  .product-total-price.text-center {
    text-align: left !important;
  }

  .multiplication {
    text-align: center;
  }

  .mobile-margin-top {
    margin-top: 10px;
  }

  .circle-product {
    margin: 0 auto 15px;
  }

  #browse-product .modal-dialog,
  #browse-pk .modal-dialog {
    max-width: 90%;
    margin: 10px auto 30px;
  }

  .inline-label {
    width: 15%;
  }

  .inline-textbox {
    width: 80%;
  }

  .mobile-header-selection {
    margin-top: 15px;
  }

  #browse-product .modal-body,
  #browse-pk .modal-body .content-product-selection {
    height: 300px;
  }

  .popup-product-box,
  .popup-kit-box {
    width: 210px;
    margin: 0 auto 15px;
  }

  .content-product-selection .col-12.padding-right-0 {
    padding-right: 15px;
  }

  .filter-active a {
    font-size: 12px;
  }

  .middle-div,
  .sign-up-middle {
    width: 90%;
  }

  .white-box {
    padding: 15px 30px 30px;
  }

  .sign-links {
    margin-top: 20px;
  }

  .sign-links.right-float {
    float: left;
  }

  .forget-password {
    margin-top: 10px;
    text-align: left;
  }

  .sign-in-middle {
    top: 0;
    -webkit-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    transform: translateY(-0%);
    padding: 40px 0;
  }

  .bottom-box-pricing {
    margin-bottom: 30px;
  }

  .address-quote-main {
    margin-bottom: 15px;
  }

  .btn-status-common {
    padding: 7px 10px;
  }

  .btn-first-status.margin-left-15 {
    margin-left: 0px;
  }

  .quote-stage-top::after {
    width: 0px;
  }

  .quote-stage-top {
    margin-bottom: 15px;
  }

  .btn-other-status.margin-left-15 {
    margin-left: 5px;
  }

  .quote-right {
    float: left;
  }

  .common-width-full {
    width: 100% !important;
  }

  .btn-config,
  .btn-sub-plan {
    margin-top: 15px;
  }

  .accordion-content .mobile-text-margin {
    margin-top: 15px;
  }

  .accordion-content .padding-left-0 {
    padding-left: 15px;
  }

  .detail-modal.modal-lg {
    max-width: 90%;
    margin: 15px auto;
  }

  .common-border-right::after {
    top: auto;
    right: 0;
    height: 1px;
    width: 100%;
    bottom: 0;
  }

  .popup-header-content .col-md-3,
  .popup-header-content .col-md-2,
  .popup-header-content .col-md-4,
  .popup-footer-content .col-md-7,
  .popup-footer-content .col-md-5 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .popup-header-content.margin-top-10 {
    margin-top: 0px;
  }

  .popup-footer-content.margin-top-5 {
    margin-top: 0px;
  }

  .popup-footer-content.margin-bottom-25 {
    margin-bottom: 0px;
  }

  .right-padding-p35 .col-md-6 {
    margin-bottom: 10px;
  }

  .right-quote-padding {
    padding-right: 0;
  }

  .right-quote-padding .col-12 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .right-quote-padding.margin-top-10 {
    margin-top: 0px;
  }

  .btn-mail.primary-btn,
  .btn-pdf.primary-btn,
  .btn-share-link.primary-btn,
  .back-send-quote {
    font-size: 11px;
    padding: 10px 5px;
  }

  .back-send-quote {
    width: 65px;
    margin-bottom: 5px;
  }

  #detail-template.owl-theme .owl-nav [class*='owl-'],
  #semi-detail-template.owl-theme .owl-nav [class*='owl-'],
  #non-detail-template.owl-theme .owl-nav [class*='owl-'] {
    margin: 5px 0;
  }

  .detail-selection {
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 15px 10px;
  }

  .quote-preview-action {
    position: relative;
    padding: 15px;
  }

  .detail-selection label {
    display: block;
    margin-bottom: 5px;
  }

  .btn-mail.btn,
  .btn-pdf.btn,
  .btn-share-link.btn {
    display: block;
    margin-bottom: 5px;
  }

  .detail-type.padding-bottom-65 {
    padding-bottom: 0px;
  }

  .top-main-preview {
    padding-top: 0;
  }

  /* .pk-brief-detail
{
	display:none;
} */
  .pk-list {
    max-width: 100%;
  }

  .detail-brief-box {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

/*--------------Filter box--------------*/
.filter-box .col-xl-2 {
  position: relative;
}

.filter-box i {
  position: absolute;

  right: 30px;
  top: 10px;
}

.filter-box {
  margin-left: 7px;
  margin-bottom: 15px;
  padding: 0 15px;
}

.filter-box input {
  padding: 6px 12px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  width: 100%;
  position: relative;
  left: -6px;
}

/*--------------Filter box End--------------*/

/*----------------------------------- Quill editor css --------------------------------------*/
/*!
 * Quill Editor v1.3.6
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
}

.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}

.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
  pointer-events: none;
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}

.ql-clipboard p {
  margin: 0;
  padding: 0;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ql-editor > * {
  cursor: text;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 1.5em;
}

.ql-editor ol > li,
.ql-editor ul > li {
  list-style-type: none;
}

.ql-editor ul > li::before {
  content: '\2022';
}

.ql-editor ul[data-checked='true'],
.ql-editor ul[data-checked='false'] {
  pointer-events: none;
}

.ql-editor ul[data-checked='true'] > li *,
.ql-editor ul[data-checked='false'] > li * {
  pointer-events: all;
}

.ql-editor ul[data-checked='true'] > li::before,
.ql-editor ul[data-checked='false'] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}

.ql-editor ul[data-checked='true'] > li::before {
  content: '\2611';
}

.ql-editor ul[data-checked='false'] > li::before {
  content: '\2610';
}

.ql-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}

.ql-editor li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}

.ql-editor ol li.ql-direction-rtl,
.ql-editor ul li.ql-direction-rtl {
  padding-right: 1.5em;
}

.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

.ql-editor ol li:before {
  content: counter(list-0, decimal) '. ';
}

.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1;
}

.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) '. ';
}

.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2;
}

.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) '. ';
}

.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3;
}

.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) '. ';
}

.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4;
}

.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) '. ';
}

.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5;
}

.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) '. ';
}

.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6;
}

.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) '. ';
}

.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7;
}

.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) '. ';
}

.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}

.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8;
}

.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) '. ';
}

.ql-editor ol li.ql-indent-8 {
  counter-reset: list-9;
}

.ql-editor ol li.ql-indent-9 {
  counter-increment: list-9;
}

.ql-editor ol li.ql-indent-9:before {
  content: counter(list-9, decimal) '. ';
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}

.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}

.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}

.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}

.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}

.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}

.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}

.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}

.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}

.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}

.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}

.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}

.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}

.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}

.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}

.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}

.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}

.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}

.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}

.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}

.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}

.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}

.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}

.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}

.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}

.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}

.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}

.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}

.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}

.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}

.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}

.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}

.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}

.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}

.ql-editor .ql-video {
  display: block;
  max-width: 100%;
}

.ql-editor .ql-video.ql-align-center {
  margin: 0 auto;
}

.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}

.ql-editor .ql-bg-black {
  background-color: #000;
}

.ql-editor .ql-bg-red {
  background-color: #e60000;
}

.ql-editor .ql-bg-orange {
  background-color: #f90;
}

.ql-editor .ql-bg-yellow {
  background-color: #ff0;
}

.ql-editor .ql-bg-green {
  background-color: #008a00;
}

.ql-editor .ql-bg-blue {
  background-color: #06c;
}

.ql-editor .ql-bg-purple {
  background-color: #93f;
}

.ql-editor .ql-color-white {
  color: #fff;
}

.ql-editor .ql-color-red {
  color: #e60000;
}

.ql-editor .ql-color-orange {
  color: #f90;
}

.ql-editor .ql-color-yellow {
  color: #ff0;
}

.ql-editor .ql-color-green {
  color: #008a00;
}

.ql-editor .ql-color-blue {
  color: #06c;
}

.ql-editor .ql-color-purple {
  color: #93f;
}

.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

.ql-editor .ql-size-small {
  font-size: 0.75em;
}

.ql-editor .ql-size-large {
  font-size: 1.5em;
}

.ql-editor .ql-size-huge {
  font-size: 2.5em;
}

.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}

.ql-editor .ql-align-center {
  text-align: center;
}

.ql-editor .ql-align-justify {
  text-align: justify;
}

.ql-editor .ql-align-right {
  text-align: right;
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

/*--------------------------------------- End for quill -------------------------------------*/

@media only screen and (max-width: 600px) {
  .main {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 734px) {
  .main {
    margin-left: 0 !important;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  input.form-control {
    line-height: normal !important;
  }
}

.column-sortable-icon {
  color: lightgray;
}

.w-85 {
  width: 85%;
}

/* Avtar css */
:root {
  --avatar-size: 100%;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.avatar-circle {
  background: #249dee;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  line-height: 30px;
}

.initials {
  font-size: 13px;
  /* 50% of parent */
  line-height: 1;
  color: #fff;
  font-family: 'montserratregular';
  font-weight: bold;
  text-align: center;
  position: relative;
  /* top: calc(var(--avatar-size) / 5);  */
  /* 25% of parent */
}

.supplier-dropup {
  position: absolute;
  margin-top: -19px;
  width: 10%;
}

.data-column.column-suppliers {
}

.edit-supplier {
  padding: 1px 0px;
}
input.form-control::-ms-clear {
  display: none;
  visibility: hidden;
}
.reports .card-block .card {
  border-radius: 5px;
}
.column-accounts span,
.column-contact span {
  cursor: pointer;
}
.bg_change {
  background-color: aliceblue;
}

.font-size-11 {
  font-size: 11px !important;
}

.pointer {
  cursor: pointer !important;
}

.c_not_allowed {
  cursor: not-allowed !important;
}

.mr-15 {
  margin-right: 15px !important;
}
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 5px !important;
}
.back-to-top.btn-primary {
  background-color: #000000;
  border-color: #000000;
}
.filter-box i.fa.fa-times-thin.fa-2x {
  top: 1px !important;
}
.productTable .p-element .p-datatable-table .p-sortable-column-icon{
  right:0px !important;
  top: 15px !important;
}
.cb-placeholder{
	background-color: rgb(244, 245, 249);
}
.wavering{
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -368px 0;
  }
  100% {
    background-position: 368px 0;
  }
}
