<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="bg-sign-banner"></div>
<div class='outer-div'>
  <div class='middle-div sign-in-middle'>
    <div class="text-center margin-bottom-20">
      <img src="../assets/img/main-logo-white.png" />
    </div>
    <div class="white-box">
      <div class="margin-bottom-30">
        <div class="row">
          <div class="col-xl-10 col-12 col-sm-10 col-lg-10">
            <div class="medium-montserrat font-24 text-dark-blue text-capitalize title-form-sign">sign in</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <form novalidate autocomplete="off" (ngSubmit)="login(myForm.valid)" #myForm="ngForm">
        <div class="sign-form">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group margin-bottom-30">
                <label for="usr" class="font-14 text-label-sign text-uppercase">Username</label>
                <input type="text" [(ngModel)]="email" required #Email="ngModel" name="User Name"
                  [ngClass]="{'has-error': Email.invalid && (Email.dirty || Email.touched) }"
                  class="form-control semibold-montserrat font-14 text-dark-blue" id="usr">
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="text-danger">
                  <div [hidden]="!Email.errors['required']">
                    Enter login name
                  </div>
                  <div [hidden]="!Email.errors['pattern']">
                    Enter valid login name
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="pwd" class="font-14 text-label-sign text-uppercase">Password</label>
                <input type="password" [(ngModel)]="password" required
                  [ngClass]="{'has-error': Password.invalid && (Password.dirty || Password.touched) }"
                  #Password="ngModel" name="Password" class="form-control semibold-montserrat font-14 text-dark-blue"
                  id="pwd">
                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="text-danger">
                  <div [hidden]="!Password.errors['required']">
                    Enter password
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="margin-top-20 margin-bottom-20">
            <div class="row">
              <div class="col-xl-6 col-12 col-sm-6 col-lg-6">
                <div class="form-check remember-check">
                  <!-- <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                  </label> -->
                </div>
              </div>
              <div class="col-xl-6 col-12 col-sm-6 col-lg-6">
                <!-- <div class="forget-password">
                  <a [routerLink]="['/account/forgot-password']" class="text-status-blue medium-montserrat font-14">Forgot Password?</a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="form-btn">
            <button type="submit" class="semibold-montserrat primary-btn">sign in
              <i class="fa fa-check margin-left-5"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel);">
  </app-toaster>
</div>