<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="padding-bottom-20">
    <div class="bottom-border-gray margin-bottom-15 padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <!-- <div class="col-xl-7 col-md-6"> -->
          <!-- <div class=" text-title-gray font-16 semibold-montserrat padding-top-5">
              {{account.name}}
            </div> -->
          <!-- <form autocomplete="off" novalidate name="AccountNameForm" #AccountNameForm="ngForm" *ngIf="accessValid.update">
              <div *ngIf="!accountTitleCopy" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
                <div class="w-100 text-title-gray font-16 semibold-montserrat padding-top-5 hover-edit " [ngClass]="{'editable': !accountTitleCopy }"
                  (click)="accountTitleCopy = true;edit=false;editbtn=true">

                  <p type="text" class=" pl-1 pb-1 mb-0"> {{account.name}}</p>
                </div>
              </div>
              <div *ngIf="accountTitleCopy" class="row">
                <div class="col-xl-9 col-md-9 col-lg-9 col-9 ">
                  <div class="w-100   font-16 padding-top-5 hover-edit">
                    <div class="form-group mb-0">
                      <input type="text" [(ngModel)]="account.name" required #Name="ngModel" id="Name" (input)="isAccountRepated = false;edit = false"
                        name="Name" placeholder=" Name" [maxlength]="constants.MaxLengthConstants.AccountName" required [pattern]="constants.Title_REGEXP"
                        class="medium-montserrat form-control-sm">
                      <div *ngIf="Name.invalid && ( Name.dirty || Name.touched || AccountNameForm.submitted )" class="text-danger">
                        <div [hidden]="!Name.errors?.required">
                          Enter account name
                        </div>
                        <div [hidden]="!Name.errors?.pattern">
                          Enter valid account name
                        </div>
                      </div>
                      <div *ngIf="isAccountRepated" class="text-danger">
                        Duplicate account name
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-md-1 col-lg-1 col-1  hover-edit">
                  <button type="button" class="mr-4" (click)=" accountTitleEdit = false;saveAccountName(account,AccountNameForm.valid)">
                    <i class="fa fa-save"></i>
                  </button>
                  <button type="reset" class="btn-cancel-acc-detail  text-danger " (click)="accountTitleEdit = false;accountTitleCopy =false;getAccount(account?.id)">
                    <i class="fa fa-times fa-lg"></i>
                  </button>
                </div>
              </div>
            </form> -->
          <!-- </div> -->

          <div class="col-xl-7 col-md-7 col-lg-7 col-12">
            <div *ngIf="!accessValid.update" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
              <div class="w-100 text-title-gray font-16 semibold-montserrat padding-top-5 hover-edit">
                <p type="text" class="pl-1 pb-1 mb-0">{{account.name}}</p>
              </div>
            </div>
            <form novalidate *ngIf="accessValid.update" name="AccountNameForm" #AccountNameForm="ngForm">
              <div *ngIf="!accountTitleCopy" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
                <div class="text-title-gray font-16 semibold-montserrat padding-top-5 hover-edit"
                  [ngClass]="{'editable': !accountTitleCopy }"
                  (click)="accountTitleCopy = true;edit=false;editbtn=true;">
                  <p class="pl-1 mb-0">{{account?.name}}</p>
                </div>
              </div>
              <div *ngIf="accountTitleCopy" class="form-group mb-0">
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" [(ngModel)]="account.name" required #Name="ngModel" id="Name"
                      (input)="isAccountRepated = false;edit = false" name="Name" placeholder=" Name"
                      [maxlength]="constants.MaxLengthConstants.AccountName" required [pattern]="constants.NAME_REGEXP"
                      class="medium-montserrat form-control" />
                    <div *ngIf="Name.invalid && ( Name.dirty || Name.touched || AccountNameForm.submitted )"
                      class="text-danger">
                      <div [hidden]="!Name.errors?.['required']">
                        Enter account name
                      </div>
                      <div [hidden]="!Name.errors?.['pattern']">
                        Enter valid account name
                      </div>
                    </div>
                    <div *ngIf="isAccountRepated" class="text-danger">
                      Duplicate account name
                    </div>
                  </div>
                  <div class="col-md-4 mt-1 pl-0 pr-0">
                    <button *ngIf="accountTitleCopy" type="submit" class="btn btn-primary btn-sm"
                      (click)="accountTitleEdit = false;saveAccountName(account,AccountNameForm.valid)">
                      <!-- <i class="fa fa-save fa-lg"></i> -->
                      Save
                    </button>
                    <button *ngIf="accountTitleCopy" type="reset" class="btn secondary-btn btn-cancel btn-sm"
                      (click)="accountTitleEdit = false;accountTitleCopy =false;getAccount(account?.id)">
                      <!-- <i class="fa fa-times fa-lg"></i> -->
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-xl-5 col-md-5 col-lg-5 col-12">
            <div class="right-float">
              <div class="add-common-btn left-float">
                <button type="button" *ngIf="(contacts?.length)" data-toggle="modal" data-target="#addQuoteModal"
                  [disabled]="!addQuote" [ngClass]="{'btn-disabled': !addQuote}"
                  [title]="!addQuote?'Access denied':'Add quote'"
                  (click)="addQuoteModal.show();accountTitleCopy=false;edit=false;editbtn=true"
                  class="semibold-montserrat">
                  Add quote
                </button>
                <!-- ConfirmModal.show(popupFor = 'quotenocontact') -->
                <button *ngIf="!(contacts?.length)" class="semibold-montserrat" [disabled]="!addQuote"
                  [ngClass]="{'btn-disabled': !addQuote}" [title]="!addQuote?'Access denied':'Add quote'"
                  data-toggle="modal" data-target="#deleteConfirmModal"
                  (click)="popupOpen(popupFor='quotenocontact');ConfirmModal.show();cntPresent=true ;accountTitleCopy=false;edit=false;editbtn=true">
                  Add quote
                </button>
              </div>
              <div class="view-btn common-blue-btn dropdown left-float margin-left-15">
                <button type="button" (click)="accountTitleCopy=false" data-toggle="dropdown" title="Menu">
                  <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> -->
                  <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                  <i class="icon-menu icons d-block" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <!-- ConfirmModal.show(popupFor = 'deleteAccount') -->
                    <button
                      (click)="popupOpen(popupFor='deleteAccount');ConfirmModal.show();accountTitleCopy=false;edit=false"
                      [disabled]="!accessValid.delete" [ngClass]="{'btn-disabled': !accessValid.delete}"
                      [title]="!accessValid.delete?'Access denied':'Delete account'">
                      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-4 col-xl-3 col-sm-12 padding-right-0 mobile-right-padding">
          <div class="left-common-box">
            <div class="common-detail-box margin-bottom-15">
              <form novalidate id="ADetailsForm" #ADetailsForm="ngForm" name="ADetailsForm">
                <div class="header-box">
                  <div class="row">
                    <div class="col-6 col-md-4 col-lg-6 col-xl-6">
                      <div class="font-16 medium-montserrat text-capitalize text-dark-blue">
                        Account details
                      </div>
                    </div>
                    <div class="col-6 col-md-8 col-lg-6 col-xl-6">
                      <div class="icon-box edit-account-detail text-right">
                        <button type="button" (click)="editAccount();accountTitleCopy=false"
                          [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                          [title]="!accessValid.update?'Access denied':'Update account'" *ngIf="editbtn"
                          class="btn-edit-acc-detail text-status-blue">
                          <i class="fa fa-edit show-edit"></i>
                        </button>
                        <button type="button" (click)="saveAccount(account,ADetailsForm.valid)"
                          *ngIf="!editbtn && accessValid.update" class="btn btn-primary btn-sm">
                          <!-- <i class="fa fa-save"></i> -->
                          Save
                        </button>

                        <button *ngIf="!editbtn && accessValid.update" (click)=" discard(account?.id)" type="button"
                          class="btn secondary-btn btn-cancel btn-sm">
                          <!-- <i class="fa fa-times"></i> -->
                          Cancel
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="content-box padding-left-15 padding-right-15 padding-top-10 padding-bottom-20 edit-field-account">
                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-id-card-o" data-toggle="tooltip" title="ID"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" class="disable-box text-dark-blue mb-0">
                        {{account.uniqueId}}
                      </p>
                      <input *ngIf="edit" type="text" class="disable-box text-dark-blue" [value]="account.uniqueId" />
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-map-marker" data-toggle="tooltip" title=" Address"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" title="{{account.address}}" role="tooltip" class="new-line mb-0">
                        {{account.address}}
                      </p>

                      <div *ngIf="edit" class="pl-2">
                        <input type="text" autocomplete="off" class="form-control" maxlength="50" #address="ngModel"
                          [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                          [maxlength]="constants.MaxLengthConstants.Address" placeholder="Address" id="address"
                          name="address" [(ngModel)]="account.address" />
                        <div *ngIf="address.invalid && ( address.dirty || address.touched || ADetailsForm.submitted )"
                          class="text-danger">
                          <!-- required <div [hidden]="!address.errors?.required">
                            Enter account address
                          </div> -->
                          <div [hidden]="!address.errors?.['pattern']">
                            Enter valid account address
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box text-dark-blue color-blue">
                      <i class="fa fa-link" data-toggle="tooltip" title=" Website"></i>
                    </div>
                    <div class="left-float relative-content text-dark-blue color-blue cursor-pointer-checkbox">
                      <p *ngIf="!edit" (click)="openNewTab($event,account.website)"
                        class="new-line mb-0 text-dark-blue color-blue">
                        <!-- <p  > -->
                        {{account.website}}
                      </p>

                      <!-- <a (click)="openNewTab(account.website)"></a> <input type="text" *ngIf="!edit" class="disable-box text-status-blue" [value]="account.website" /> -->

                      <div *ngIf="edit" class="pl-2">
                        <input type="url" autocomplete="off" class="form-control" #Website="ngModel"
                          placeholder="Website" id="Website" name="Website" [(ngModel)]="account.website"
                          pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?" />
                        <div *ngIf="Website.invalid && ( Website.dirty || Website.touched || ADetailsForm.submitted)"
                          class="text-danger">
                          <!-- <div [hidden]="!Website.errors?.required">
                            Enter account website
                          </div> -->
                          <div [hidden]="!Website.errors?.['pattern']">
                            Enter valid website
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-phone" data-toggle="tooltip" title=" Work No"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" class="disable-box text-dark-blue mb-0">
                        {{account.contactNo}}
                      </p>
                      <!-- <input type="text" *ngIf="!edit" class="disable-box text-dark-blue" [value]="account.contactNo" /> -->
                      <div *ngIf="edit" class="row pl-2">
                        <div class="col-sm-10">
                          <input type="text" autocomplete="off" prefix="+1" [mask]="newMask"
                            [dropSpecialCharacters]="false" class="form-control"
                            [maxlength]="constants.MaxLengthConstants.Phone" #contactNo="ngModel" id="contactNo"
                            Enabled="True" MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
                            InputDirection="LeftToRight" placeholder="Work No" name="contactNo"
                            [(ngModel)]="account.contactNo" [pattern]="constants.PHONE_REGEXP" />
                          <div
                            *ngIf="contactNo.invalid && ( contactNo.dirty || contactNo.touched || ADetailsForm.submitted)"
                            class="text-danger">
                            <!--required <div [hidden]="!contactNo.errors?.required">
                              Enter work no
                            </div> -->
                            <div [hidden]="!contactNo.errors?.['pattern']">
                              Enter valid work no
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <button type="button" (click)="showtext = true;showallphone = true" *ngIf="!editbtn"
                            class="btn-save-acc-detail text-status-blue">
                            <i class="fa fa-plus" title="Add"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="font-14 padding-bottom-10" *ngIf="showallphone">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-fax" data-toggle="tooltip" title="Fax No"
                        *ngIf="account?.faxNo || (edit &&  showtext)"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" class="disable-box text-dark-blue mb-0">
                        {{account.faxNo}}
                      </p>
                      <div *ngIf="edit && showtext" class="pl-2">
                        <input type="text" autocomplete="off" prefix="+1" [mask]="newMask"
                          [dropSpecialCharacters]="false" [pattern]="constants.PHONE_REGEXP"
                          [maxlength]="constants.MaxLengthConstants.Phone" placeholder="Fax No" class="form-control"
                          Enabled="True" MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
                          InputDirection="LeftToRight" #faxNo="ngModel" id="faxNo" name="faxNo"
                          [(ngModel)]="account.faxNo" />

                        <div *ngIf="faxNo.invalid && ( faxNo.dirty || faxNo.touched || ADetailsForm.submitted)"
                          class="text-danger">
                          <div [hidden]="!faxNo.errors?.['pattern']">
                            Enter valid fax no
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>

            <div class="common-detail-box margin-bottom-15">
              <div class="header-box">
                <div class="row">
                  <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="font-16 medium-montserrat text-capitalize text-dark-blue">
                      contacts
                    </div>
                  </div>
                  <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="icon-box text-right font-18 text-status-blue">
                      <button type="reset" class="btn-edit-acc-detail text-status-blue" [disabled]="!accessValid.update"
                        [ngClass]="{'btn-disabled': !accessValid.update}"
                        [title]="!accessValid.update?'Access denied':'Link contact'"
                        (click)="primaryConfirmModal.show();accountTitleCopy=false;edit=false;editbtn=true;setFocus()">
                        <i class="fa fa-external-link" data-toggle="modal" title="Link contact"
                          data-target="#add-contact"></i>
                      </button>

                      <button class="btn-edit-acc-detail text-status-blue" [disabled]="!accessValid.update"
                        [ngClass]="{'btn-disabled': !accessValid.update}"
                        [title]="!accessValid.update?'Access denied':'Add contact'"
                        (click)="addContactModal.show();accountTitleCopy=false;edit=false;editbtn=true;setFocus()">
                        <i class="fa fa-plus-square-o" data-toggle="modal" title="Add contact"
                          data-target="#add-contact"></i>
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="content-box contact-list-all">
                <div class="custom-scroll">
                  <div *ngFor="let item of contacts"
                    class="text-dark-blue border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                    <div class="left-float padding-left-15 medium-montserrat contact-name text-dark-blue color-blue">
                      <a class="text-dark-blue color-blue" (click)="goToContactDetails(item.id)">{{item.firstName}}</a>
                    </div>
                    <div class="right-float">
                      <!-- ConfirmModal.show(popupFor = 'contact') -->
                      <button [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                        [title]="!accessValid.update?'Access denied':'Remove contact'"
                        (click)="popupOpen(popupFor='contact');ConfirmModal.show();contactItem=item;cntPresent=true"
                        type="button" class="btn-delete">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="common-detail-box">
              <div class="header-box">
                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9 col-9">
                    <div class="font-16 medium-montserrat text-capitalize text-dark-blue">
                      quotes
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 col-3">
                    <div class="icon-box text-right font-18 text-status-blue">
                      <button *ngIf="contacts?.length" class="btn-edit-acc-detail text-status-blue"
                        [disabled]="!addQuote" [ngClass]="{'btn-disabled': !addQuote}"
                        [title]="!addQuote?'Access denied':'Add quote'" data-toggle="modal" data-target="#addQuoteModal"
                        (click)="addQuoteModal.show();  accountTitleCopy=false;edit=false;editbtn=true">
                        <i class="fa fa-plus-square-o"></i>
                      </button>
                      <!-- ConfirmModal.show(popupFor = 'quotenocontact') -->
                      <button *ngIf="!(contacts?.length)" class="btn-edit-acc-detail text-status-blue"
                        [disabled]="!addQuote" [ngClass]="{'btn-disabled': !addQuote}"
                        [title]="!addQuote?'Access denied':'Add quote'" data-toggle="modal"
                        data-target="#deleteConfirmModal"
                        (click)="popupOpen(popupFor='quotenocontact');ConfirmModal.show();cntPresent=true ;accountTitleCopy=false;edit=false;editbtn=true">
                        <i class="fa fa-plus-square-o"></i>
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="content-box">
                <div
                  class="text-gray-quote semibold-montserrat bg-off-white border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                  <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-7 col-7">
                      <div class="text-capitalize font-16">Title</div>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-5 col-5 tab-quotes-padding">
                      <div class="text-capitalize font-16">Status</div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="h-200" slimScroll>
                  <div *ngFor="let item of quotes?.slice().reverse()"
                    class="border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 col-xs-7 col-7">
                        <div class="text-status-blue semibold-montserrat">
                          <a (click)="goToDetails(item.id , item.ownerId, ConfirmModal)">{{item.name}}</a>
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-5 col-5 tab-quotes-padding">
                        <div *ngIf="item.status.description==='In Progress'" class="text-capitalize text-status-orange">
                          {{item.status.description}}
                        </div>
                        <div *ngIf="item.status.description==='Quoted'" class="text-capitalize text-status-blue">
                          {{item.status.description}}
                        </div>
                        <div *ngIf="item.status.description==='Accepted'" class="text-capitalize text-status-green">
                          {{item.status.description}}
                        </div>
                        <div *ngIf="item.status.description==='Rejected'" class="text-capitalize text-status-pink">
                          {{item.status.description}}
                        </div>
                        <div *ngIf="item.status.description==='Expired'" class="text-capitalize text-status-violet">
                          {{item.status.description}}
                        </div>
                      </div>

                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-md-8 col-xl-9 col-sm-12">
          <div>
            <div class="common-quote tab-common-quote padding-right-15 padding-left-15 margin-bottom-15">
              <div class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 first-quote">
                  <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteQuotedModal.show();SearchQuotes('All')" -->
                  <div class="text-center quote-status-box" data-toggle="modal" data-target="#QuoteQuotedModal"
                    (click)="goToQuoteList('All')" [ngClass]="{'active' : data == 'In Progress'}">
                    <div class="circle-status bg-black margin-bottom-10">
                      <img src="assets/img/total.svg" />
                    </div>

                    <div class="medium-montserrat font-10 text-gray">Total</div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{quoteStats[0]?.totalCount}}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[0]?.totalValue| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[0]?.totalValue > 1000000"
                      tooltip="{{quoteStats[0]?.totalValue| number : '1.2-2'}}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[0]?.totalValue | pricePipe}}
                    </div>
                    <div *ngIf="quoteStats[0]?.totalValue < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[0]?.totalValue| number : '1.2-2'}}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="in-progress-detail" data-toggle="modal"
                    data-target="#QuoteQuotedModal" (click)="goToQuoteList('In Progress')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteQuotedModal.show();SearchQuotes('In Progress')" -->
                    <div class="circle-status bg-orange margin-bottom-10">
                      <img src="assets/img/in-Progress.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      In Progress
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{quoteStats[0]?.count}}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[0]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[0]?.value > 1000000" tooltip="{{quoteStats[0]?.value| number : '1.2-2'}}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[0]?.value | pricePipe}}
                    </div>
                    <div *ngIf="quoteStats[0]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[0]?.value| number : '1.2-2'}}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="quoted-detail" data-toggle="modal"
                    data-target="#QuoteDetailsModal" (click)="goToQuoteList('Quoted')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteQuotedModal.show();SearchQuotes('Quoted')" -->
                    <div class="circle-status bg-blue margin-bottom-10">
                      <img src="assets/img/quoted.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Quoted
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{quoteStats[1]?.count}}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[1]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[1]?.value > 1000000" tooltip="{{quoteStats[1]?.value| number : '1.2-2'}}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[1]?.value | pricePipe}}
                    </div>
                    <div *ngIf="quoteStats[1]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[1]?.value| number : '1.2-2'}}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="accepted-detail" data-toggle="modal"
                    data-target="#QuoteQuotedModal" [ngClass]="{'active' : data == 'In Progress'}"
                    (click)="goToQuoteList('Accepted')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteQuotedModal.show();SearchQuotes('Accepted')" -->
                    <div class="circle-status bg-green margin-bottom-10">
                      <img src="assets/img/accepted.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Accepted
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{quoteStats[2]?.count}}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[2]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[2]?.value > 1000000" tooltip="{{quoteStats[2]?.value| number : '1.2-2'}}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[2]?.value | pricePipe}}
                    </div>
                    <div *ngIf="quoteStats[2]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[2]?.value| number : '1.2-2'}}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="rejected-detail" data-toggle="modal"
                    data-target="#QuoteQuotedModal" (click)="goToQuoteList('Rejected')"
                    [ngClass]="{'active' : data == 'In Progress'}">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteQuotedModal.show();SearchQuotes('Rejected')" -->
                    <div class="circle-status bg-pink margin-bottom-10">
                      <img src="assets/img/rejected.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Rejected
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{quoteStats[3]?.count}}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[3]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[3]?.value > 1000000" tooltip="{{quoteStats[3]?.value| number : '1.2-2'}}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[3]?.value | pricePipe}}
                    </div>
                    <div *ngIf="quoteStats[3]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[3]?.value| number : '1.2-2'}}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="expired-detail" data-target="#QuoteQuotedModal"
                    (click)="goToQuoteList('Expired')" [ngClass]="{'active' : data == 'Expired'}">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteQuotedModal.show();SearchQuotes('Expired')" -->
                    <div class="circle-status bg-violet margin-bottom-10">
                      <img src="assets/img/expired.svg" data-toggle="modal" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Expired
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{quoteStats[4]?.count}}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[4]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[4]?.value > 1000000" tooltip="{{quoteStats[4]?.value| number : '1.2-2'}}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[4]?.value | pricePipe}}
                    </div>
                    <div *ngIf="quoteStats[4]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{quoteStats[4]?.value| number : '1.2-2'}}
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="common-detail-box right-detail-tab right-detail">
              <form novalidate autocomplete="off" (ngSubmit)="AddNote(myForm.valid)" #myForm="ngForm">
                <div class="header-box">
                  <div class="text-capitalize font-16 text-dark-blue medium-montserrat margin-bottom-5">
                    notes
                  </div>
                  <div class="notes-input">
                    <i class="fa fa-pencil"></i>
                    <div class="form-group margin-bottom-0">
                      <input type="text" [(ngModel)]="note.description" required #Description="ngModel"
                        name="Description" placeholder="Click to add notes..."
                        [ngClass]="{'has-error': Description.invalid && (Description.dirty || Description.touched || myForm.submitted) }"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="text-right margin-top-15">
                    <button type="submit" [disabled]="!accessValid.update"
                      [ngClass]="{'btn-disabled': !accessValid.update}"
                      [title]="!accessValid.update?'Access denied':'Save note'" class="btn primary-btn btn-add">
                      Save
                    </button>
                    <button type="button" [disabled]="!accessValid.update"
                      [ngClass]="{'btn-disabled': !accessValid.update}"
                      [title]="!accessValid.update?'Access denied':'Cancel'" class="btn secondary-btn btn-cancel"
                      (click)="CancelNote()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
              <div class="content-box">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs dragscroll horizontal common-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#all">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#note">Notes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#history">History</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="tab-content tab-content-custom">
                    <div class="tab-pane fade show active" id="all">
                      <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                        <div [ngClass]="{'line-point': alldata?.length}" class=""></div>
                        <div *ngFor="let activity of alldata?.slice().reverse()">
                          <div class="padding-top-50">
                            <div class="date-point left-float">
                              <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">
                                {{activity.createdOn | date:'dd MMM yy'}}
                              </div>
                            </div>

                            <div class="note-box left-float">
                              <div class="text-gray-quote font-13 margin-bottom-5">
                                <div class="row">
                                  <div class="col-md-2 col-sm-3 padding-right-0">
                                    <div class="text-uppercase">
                                      {{activity.createdOn | date:'h:mm a'}}
                                    </div>
                                  </div>
                                  <div class="col-md-10 col-sm-9">
                                    <div class="text-capitalize" *ngIf="activity.name">
                                      {{activity.name}}
                                    </div>
                                    <div class="text-capitalize" *ngIf="activity.description">
                                      {{activity.description}}
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="note">
                      <div>
                        <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                          <div [ngClass]="{'line-point': notes?.length}" class=""></div>
                          <div *ngFor="let note of notes; let i = index">
                            <div class="padding-top-50">
                              <div class="date-point left-float">
                                <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">
                                  {{note.createdOn | date:'dd MMM yy'}}
                                </div>
                              </div>
                              <div class="note-box left-float">
                                <div class="text-gray-quote font-13 margin-bottom-5">
                                  <div class="row">
                                    <div class="col-md-2 col-sm-3 padding-right-0">
                                      <div class="text-uppercase">
                                        {{note.createdOn | date:'h:mm a'}}
                                      </div>
                                    </div>
                                    <div class="col-md-10 col-sm-9">
                                      <div class="text-capitalize">
                                        {{note.noteName}}
                                      </div>
                                    </div>

                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                                <div class="type-text text-dark-blue text-capitalize font-13">
                                  {{note.description}}
                                </div>
                                <!-- ConfirmModal.show(popupFor = 'deleteNote') -->
                                <div class="right-float contact-list-all">
                                  <button [disabled]="!accessValid.update"
                                    [ngClass]="{'btn-disabled': !accessValid.update}"
                                    [title]="!accessValid.update?'Access denied':'Remove Note'"
                                    (click)="noteIndex=note; popupOpen(popupFor='deleteNote');ConfirmModal.show() ;  "
                                    type="button" class="btn-delete">
                                    <i class="fa fa-trash-o"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="history">
                      <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                        <div [ngClass]="{'line-point': historyData?.length}" class=""></div>
                        <div *ngFor="let activity of historyData">
                          <div class="padding-top-50">
                            <div class="date-point left-float">
                              <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">
                                {{activity.createdOn | date:'dd MMM yy'}}
                              </div>
                            </div>

                            <div class="note-box left-float">
                              <div class="text-gray-quote font-13 margin-bottom-5">
                                <div class="row">
                                  <div class="col-md-2 col-sm-3 padding-right-0">
                                    <div class="text-uppercase">
                                      {{activity.createdOn | date:'h:mm a'}}
                                    </div>
                                  </div>
                                  <div class="col-md-10 col-sm-9">
                                    <div class="text-capitalize">
                                      {{activity.name}}
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div bsModal #primaryConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <form novalidate autocomplete="off" (ngSubmit)="AddContact(primaryConfirmModal)" #ContactForm="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Link Contact
          </h4>
          <button type="reset" class="close common-close"
            (click)="cancelQuotesDetails(ContactForm, primaryConfirmModal);isContactAlreadyPresent = false;searchContactForm = false; SearchText = null;presentContact=false"
            aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">Search Contact</label>
                <ng-template #customItemTemplate let-model="item" let-index="index">
                  <span>{{model.firstName}}</span>
                </ng-template>

                <input (focus)="isContactAlreadyPresent = false;presentContact=false" placeholder="Contact"
                  name="SearchContact" #SearchContact="ngModel" #SearchContac
                  [ngClass]="{'has-error':(SearchContact.invalid && (SearchContact.dirty ||  ContactForm.submitted) && searchContactForm)||
                  isContactAlreadyPresent && !(SearchContact.invalid && (SearchContact.dirty || ContactForm.submitted) && searchContactForm)}" [(ngModel)]="SearchText"
                  [typeahead]="contactsList" [typeaheadItemTemplate]="customItemTemplate"
                  typeaheadOptionField="firstName" (input)="FindContact()" class="form-control"
                  (typeaheadOnSelect)="saveContactOnSelectContact($event)" required />
                {{isOpenPopup ? SearchContac.focus() : null}}
                <!-- {{isOpenPopup ? SearchContact.reset() : null}} -->
              </div>
            </div>
            <div class="text-danger"
              *ngIf="(SearchContact.invalid && (SearchContact.dirty || ContactForm.submitted) && searchContactForm)">
              <div [hidden]="!SearchContact.errors['required']">
                Enter contact
              </div>
            </div>
            <div class="text-danger"
              *ngIf="isContactAlreadyPresent && !(SearchContact.invalid && (SearchContact.dirty ||  ContactForm.submitted) && searchContactForm)">
              Contact already linked
            </div>
            <div class="text-danger"
              *ngIf="presentContact && !(SearchContact.invalid && (SearchContact.dirty || ContactForm.submitted) && searchContactForm)">
              Contact not present
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add">Link</button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
            (click)="cancelQuotesDetails(ContactForm,primaryConfirmModal);isContactAlreadyPresent = false;searchContactForm = false; SearchText = null;presentContact=false">
            Cancel
          </button>
        </div>
      </div>
      <!-- /.modal -->
    </div>
  </form>
</div>

<div bsModal #addQuoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <form novalidate autocomplete="off" id="QuoteForm" name="QuoteForm" #QuoteForm="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Quote
          </h4>
          <button type="reset" class="close common-close" (click)="cancelQuotesDetails(QuoteForm,addQuoteModal)"
            aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div claas="">
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Contact</label>
              <select class="form-control" #Contact="ngModel" name="Contact"
                [ngClass]="{'has-error': Contact.invalid && (Contact.dirty || Contact.touched || QuoteForm.submitted) }"
                required [(ngModel)]="quote.contact.id"
                (change)="$any($event.target).value === 'null' ? quote.contact.id = null : ''">
                <!-- !null || !quote.contact -->
                <option [value]="null" [selected]="!quote.contact.id">Select Contact</option>
                <option *ngFor="let item of contacts" value="{{item.id}}">
                  {{item.firstName}}
                </option>
              </select>
              <div *ngIf="Contact.invalid && ( Contact.dirty || Contact.touched || QuoteForm.submitted )"
                class="text-danger">
                <div [hidden]="!Contact.errors?.['required']">
                  Select contact
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Quote Title</label>
              <input type="text" [(ngModel)]="quote.name"
                [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched || QuoteForm.submitted) }" required
                placeholder="Quote Title" #name="ngModel" name="name" class="form-control font-14 text-dark-blue"
                [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                [maxlength]="constants.MaxLengthConstants.QuoteTitle" />

              <div *ngIf="name.invalid && ( name.dirty || name.touched || QuoteForm.submitted )" class="text-danger">
                <div [hidden]="!name.errors?.['required']">
                  Enter quote title
                </div>
                <div [hidden]="!name.errors?.['pattern']">
                  Enter valid quote title
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add"
              (click)="AddQuotes(QuoteForm.valid, addQuoteModal,QuoteForm)">
              Add
            </button>
            <button type="reset" class="btn secondary-btn btn-default"
              (click)="cancelQuotesDetails(QuoteForm,addQuoteModal)">
              Cancel
            </button>
          </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </form>
</div>

<div bsModal #QuoteQuotedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <form novalidate autocomplete="off" #Form="ngForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            {{status === 'All' ? 'Total' : status}} Quotes
          </h4>
          <button type="button" class="close common-close" (click)="QuoteQuotedModal.hide()" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 account-detail-table">
            <table class="table table-responsive common-table">
              <thead>
                <tr>
                  <th (click)="sort('UniqueId')">
                    Quote Id
                    <i aria-hidden="true" *ngIf="key =='UniqueId'" class="fa"
                      [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i>
                  </th>
                  <th (click)="sort('Name')">
                    Quote Title
                    <i aria-hidden="true" *ngIf="key =='Name'" class="fa"
                      [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i>
                  </th>
                  <th (click)="sort('Status')">
                    Status
                    <i aria-hidden="true" *ngIf="key =='Status'" class="fa"
                      [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i>
                  </th>
                  <th (click)="sort('Total')">
                    Value
                    <i aria-hidden="true" *ngIf="key =='Total'" class="fa"
                      [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let listOfQuotes of quotesInfo.records | paginate: { id:'statusPage', itemsPerPage: quotesInfo.pageSize, currentPage: quotesInfo.pageNumber, totalItems: quotesInfo.totalCount }">
                  <td>
                    <span class="text-table-record-blue semibold-montserrat">
                      <a (click)="goToDetails(listOfQuotes.id, listOfQuotes.ownerId, ConfirmModal)">
                        {{listOfQuotes.uniqueId}}</a>
                    </span>
                  </td>
                  <td class="hover-edit-list">
                    <span class="medium-montserrat color-blue" tooltip="{{listOfQuotes.name}}">
                      <a (click)="goToDetails(listOfQuotes.id , listOfQuotes.ownerId, ConfirmModal)">
                        {{listOfQuotes.name}}</a>
                    </span>
                  </td>
                  <td>
                    <!-- <span class="medium-montserrat">{{listOfQuotes.status.description}}</span> -->
                    <span *ngIf="listOfQuotes.status.description === constants.Accepted"
                      class="medium-montserrat text-status-green">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.Rejected"
                      class="medium-montserrat text-status-pink">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.Expired"
                      class="medium-montserrat text-status-violet">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.Quoted"
                      class="medium-montserrat text-status-blue">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.InProgress"
                      class="medium-montserrat text-status-orange">{{listOfQuotes.status.description}}</span>
                  </td>

                  <td>
                    <span class="medium-montserrat">${{listOfQuotes.total| number : '1.2-2'}}</span>
                  </td>
                </tr>
                <!-- <tr *ngIf="!quotesInfo.records || !quotesInfo.records.length" class="text-center">
                  <td colspan="10">Currently no data available</td>
                </tr> -->
              </tbody>
            </table>
            <!-- <div class="mt-2">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div> -->
            <div class="mt-2">
              <pagination-controls id="statusPage" (pageChange)="pageChanged($event)" #statusPage></pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn secondary-btn btn-default" (click)="QuoteQuotedModal.hide()">
            Done
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div bsModal #addContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <form novalidate id="ContactsDetailsForm" #ContactsDetailsForm="ngForm" name="ContactsDetailsForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Contact
          </h4>
          <button type="reset" class="close common-close"
            (click)="cancelQuotesDetails(ContactsDetailsForm,addContactModal)" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Contact Name</label>
            <input type="text" placeholder="Contact Name"
              [ngClass]="{'has-error': firstName.invalid && (firstName.dirty || ContactsDetailsForm.submitted) }"
              autocomplete="off" [maxlength]="constants.MaxLengthConstants.LastName" [pattern]="constants.NAME_REGEXP"
              class="form-control" #firstName="ngModel" #firstNam id="firstName" name="firstName"
              [(ngModel)]="contact.firstName" required />
            {{isOpenPopup ? firstNam.focus() : null}}
            <!-- {{isOpenPopup ? firstName.reset() : null}} -->
            <div *ngIf="firstName.invalid && ( firstName.dirty || ContactsDetailsForm.submitted )" class="text-danger">
              <div [hidden]="!firstName.errors?.['required']">
                Enter contact name
              </div>
              <div [hidden]="!firstName.errors?.['pattern']">
                Enter valid contact name
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Mobile No</label>
            <input type="text" autocomplete="off" prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
              class="form-control" [maxlength]="constants.MaxLengthConstants.Phone" #homeNo="ngModel" id="homeNo"
              Enabled="True" MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
              InputDirection="LeftToRight" placeholder="Mobile no" name="homeNo" [(ngModel)]="contact.homeNo"
              [pattern]="constants.PHONE_REGEXP" />

            <div *ngIf="!homeNo.valid && ( homeNo.dirty || homeNo.touched || ContactsDetailsForm.submitted)"
              class="text-danger">
              <!-- <div [hidden]="!homeNo.errors?.required">
                Enter mobile no
              </div> -->
              <div [hidden]="!homeNo.errors?.['pattern']">
                Enter valid mobile no
              </div>
            </div>
            <!-- <input type="url" placeholder="Work No" [textMask]="{mask: mask}"
              [ngClass]="{'has-error': phone.invalid && (phone.dirty || phone.touched || ContactsDetailsForm.submitted) }" autocomplete="off"
              [maxlength]="constants.MaxLengthConstants.Phone" class="form-control" #phone="ngModel" id="phone" name="phone" [(ngModel)]="contact.phone"
              [pattern]="constants.PHONE_REGEXP" required>

            <div *ngIf="phone.invalid && ( phone.dirty || phone.touched || ContactsDetailsForm.submitted)" class="text-danger">
              <div [hidden]="!phone.errors?.required">
                Enter work no
              </div>
              <div [hidden]="!phone.errors?.pattern">
                Enter valid work no
              </div>
            </div> -->
          </div>

          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Email</label>
            <input type="Email" placeholder="Email" [maxlength]="constants.MaxLengthConstants.Email"
              [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched || ContactsDetailsForm.submitted) }"
              (input)="isEmailRepated=false" [pattern]="constants.EMAIL_REGEXP" autocomplete="off" class="form-control"
              #email="ngModel" id="email" name="email" [(ngModel)]="contact.email" required />
            <div *ngIf="email.invalid && ( email.dirty || email.touched || ContactsDetailsForm.submitted )"
              class="text-danger">
              <div [hidden]="!email.errors?.['required']">
                Enter email
              </div>
              <div [hidden]="!email.errors?.['pattern']">
                Enter valid email
              </div>
            </div>
            <div *ngIf="isEmailRepated" class="text-danger">
              Duplicate contact email
            </div>
          </div>

          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add"
            (click)="addContactDetailModal(ContactsDetailsForm.valid,addContactModal,ContactsDetailsForm)">
            Add
          </button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
            (click)="cancelQuotesDetails(ContactsDetailsForm,addContactModal)">
            Cancel
          </button>
        </div>
      </div>
      <!-- /.modal -->
    </form>
  </div>
</div>

<div bsModal [ngClass]="{'show':show}" #ConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>
<!--
<div bsModal #deleteNotesConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteNotesConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div>
          <span>Are you sure you want to delete this note?
          </span>
        </div>

      </div>
      <div class="mb-3 pl-3">
        <button type="button" class="btn btn-default" (click)="deleteNotesConfirmModal.hide();deleteNote(noteIndex)">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteNotesConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div>

<div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div *ngIf="cntPresent">
          <span>Are you sure you want to delete this Contact?
          </span>
        </div>
      <div *ngIf="!cntPresent">
          <span> * Please add contact first
          </span>
        </div>
      </div>
      <div class="mb-3 pl-3" *ngIf="cntPresent">
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide(RemoveContact(contactItem))">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div>

<div bsModal #deleteAccountConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteAccountConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div *ngIf="!showmsg">
          <span>Are you sure you want to delete this Account?
          </span>
        </div>
        <div *ngIf="showmsg">
          * If the account is linked with quote then account can not be deleted
        </div>


      </div>
      <div class="mb-3 pl-3" *ngIf="!showmsg">
        <button type="button" class="btn btn-default" (click)="deleteAccount(deleteAccountConfirmModal)">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteAccountConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div> -->