<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="app-body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
        <div class="card-group mb-0">
          <div class="card ">
            <div class="card-header text-center">
              <i class="fa fa-lock fa-2x"></i>
              <b class="h5">Change Password?</b>
            </div>
            <form novalidate autocomplete="off" #myForm="ngForm">
              <div class="card-block ">

                <p class="text-muted text-center">You can change your password here.</p>

                <div class="col-lg-12">
                  <div class="form-group ">
                    <label>Current Password
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock"></i>
                      </span>
                      <input type="password" [(ngModel)]="changePassword.oldPassword" required
                        [maxlength]="constants.MaxLengthConstants.Password"
                        [ngClass]="{'has-error': OldPassword?.invalid && (OldPassword?.dirty || myForm.submitted) }"
                        (input)="currentpwd=false" #OldPassword="ngModel" #OldPasswor name="OldPassword"
                        placeholder="Current Password" class="form-control">
                      {{isOpenPopup ? OldPasswor.focus() : null}}
                      <!-- {{isOpenPopup ? OldPassword.reset() : null}} -->
                    </div>

                    <div *ngIf="OldPassword?.invalid && (OldPassword?.dirty || myForm.submitted)" class="text-danger">
                      <div [hidden]="!OldPassword?.errors?.['required']">
                        Enter current password
                      </div>

                    </div>
                    <div *ngIf="currentpwd" class="text-danger">
                      your current password is wrong
                    </div>

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group ">
                    <label>New Password
                      <sup class="text-danger">*</sup>
                    </label>
                    <!-- <button type="button" class="btn-danger-tooltip right-float" *ngIf="Password?.invalid && ( Password?.dirty || Password?.touched || myForm.submitted) "
                    placement="top" triggers="" #pop1="bs-popover" [popover]="popTemplate1" (blur)="pop1.hide()" (click)="pop1.show();">
                    <i class=" fa fa-exclamation-circle right-float"></i>
                    <ng-template class="w-90 h-100" #popTemplate1>
                      <div class="form-group">
                        <i class="fa fa-times right-float" aria-label="Close" (click)="pop1.hide()"></i>
                        <label class="text-red ">Use 8 or more characters with a mix of letters, numbers & symbols. Eg.&nbsp;Pass@123</label>

                      </div>

                    </ng-template>
                  </button> -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock"></i>
                      </span>
                      <input type="password" [(ngModel)]="changePassword.password" required
                        [maxlength]="constants.MaxLengthConstants.Password" [pattern]="constants.PASSWORD_REGEXP"
                        [ngClass]="{'has-error': Password.invalid && (Password.dirty || Password.touched || myForm.submitted) }"
                        #Password="ngModel" validateEqual="ConfirmPassword" reverse="true" name="Password"
                        placeholder="New Password" class="form-control">
                    </div>
                    <div *ngIf="Password?.invalid && (Password?.dirty || Password?.touched || myForm.submitted )"
                      class="text-danger">
                      <div [hidden]="!Password?.errors?.['required']">
                        Enter new password
                      </div>
                      <div [hidden]="!Password.errors['pattern']">
                        <!-- Enter valid password -->
                        Use 8 or more characters with a mix of letters, numbers & symbols. Eg.&nbsp;Pass@123
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group ">
                    <label>Confirm Password
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock"></i>
                      </span>
                      <input type="password" [(ngModel)]="changePassword.confirmPassword" required
                        [maxlength]="constants.MaxLengthConstants.Password" #ConfirmPassword="ngModel"
                        validateEqual="Password" name="ConfirmPassword"
                        [ngClass]="{'has-error': ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched || myForm.submitted) }"
                        reverse="false" placeholder="Confirm Password" class="form-control">
                    </div>
                    <div
                      *ngIf="ConfirmPassword?.invalid && (ConfirmPassword?.dirty || ConfirmPassword?.touched || myForm.submitted)"
                      class="text-danger">
                      <div [hidden]="!ConfirmPassword?.errors['required']">
                        Confirm password
                      </div>
                      <div
                        *ngIf="(!ConfirmPassword?.valid || !ConfirmPassword?.pristine) && changePassword?.confirmPassword?.length">
                        Password mismatch
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12  text-center">
                    <button type="submit" class="btn primary-btn btn-add" (click)="Changepassword(myForm.valid)">Change
                      Password</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>