<div class="padding-top-15 padding-bottom-15">
  <div class="clearfix"></div>
  <div class="tab-pane fade active show" id="configuration">
    <div class="padding-left-15 padding-right-15 padding-top-15 padding-bottom-15">
      <div id="content">
        <div class="accordion-container" id="config-accordion">
          <div class="content-entry article-title">
            <form name="UmethodForm" #UmethodForm="ngForm"
              (ngSubmit)="!isEdit ? addMeasures(UmethodForm): updateMeasure(UmethodForm)">
              <button class="btn-quote-delete btn-close-matrix" type="button">
                <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
              </button>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xl-3 col-md-3 col-lg-3">
                    <label>Name</label>
                    <div class="form-group">
                      <input type="text" autocomplete="off" name="UName" #UName="ngModel" #UNam
                        [ngClass]="{'has-error': (UName.invalid && (UName.dirty || UmethodForm.submitted) ) }"
                        [maxlength]="constants.MaxLengthConstants.MethodName" (ngModelChange)="clearMName = true;"
                        [(ngModel)]="unitOfMeasure.name" class="form-control" required />
                      {{isOpenPopup ? UNam.focus() : null}}
                      <i (click)="clearMName = false;unitOfMeasure.name=null;isEdit = false;UmethodForm.reset();"
                        *ngIf="(clearMName === true) && (unitOfMeasure.name)"
                        class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                      <div *ngIf=" UName.invalid && ( UName.dirty || UmethodForm.submitted)" class="text-danger">
                        <div [hidden]="!UName.errors?.['required']">
                          Enter name
                        </div>
                        <div [hidden]="!UName.errors?.['pattern']">
                          Enter valid name
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3"></div>

                  <div class="col-xl-3 col-md-3 col-lg-3"></div>
                  <div class="col-xl-3 col-md-3 col-lg-3 padding-left-0">
                    <div class="form-group mb-0 margin-top-30">
                      <button *ngIf="!isEdit" type="submit" class="btn primary-btn btn-add mr-2">
                        Add
                      </button>
                      <button *ngIf="isEdit" type="submit" class="btn primary-btn btn-add mr-2">
                        Save
                      </button>
                      <button type="reset" (click)="cancel(UmethodForm)" class="btn primary-btn btn-add mr-2">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="common-table table-responsive pricing-md">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of unitOfMeasures;let i=index;">
          <!-- <td>{{i+1}}</td> -->
          <td>{{item.name}}</td>
          <td class="matrix-action">
            <button *ngIf="(unitOfMeasure.id !== item.id && isEdit) || !isEdit" (click)="edit(item)"
              class="btn-edit-acc-detail mr-3" type="button">
              <i class="fa fa-pencil"></i>
            </button>
            <!-- ConfirmModal.show(popupFor = 'deleteMeasure') #Revisit_PreviousCode -->
            <button [disabled]="(unitOfMeasure.id === item.id && isEdit) || isEdit"
              (click)="popupOpen(popupFor='deleteMeasure',item); ConfirmModal.show();"
              class="btn-edit-acc-detail text-status-blue" type="button"
              [class.c_not_allowed]="(unitOfMeasure.id === item.id && isEdit) || isEdit"
              [title]="(unitOfMeasure.id === item.id && isEdit) || isEdit === true ? 'Not allowed': 'Delete'">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2">
      <!-- <pagination-controls
        id="shortpagination"
        (pageChange)="getMeasureList($event)"
        #shortpagination
      ></pagination-controls> -->
    </div>
  </div>
</div>

<div bsModal #ConfirmModal="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>