<div class="padding-left-15 padding-right-15 padding-top-15 padding-bottom-15">
  <div id="content">
    <div class="accordion-container" id="category-config-accordion">
      <div class="content-entry">
        <a data-toggle="collapse"
          (click)="resetforms(trialForm);isCategoryClicked = !isCategoryClicked;isSubCategoryClicked = false;isCategoryClicked ? setFocus() : null"
          class="text-black article-title medium-montserrat" data-parent="#category-config-accordion"
          href="#CategoryCollapse" aria-expanded="true" aria-controls="TrialPeriod">
          Category
          <i class="fa pull-right"
            [ngClass]="{'fa-plus-circle':!isCategoryClicked,'fa-minus-circle': isCategoryClicked}"
            aria-hidden="true"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="CategoryCollapse" role="tabpanel"
          aria-labelledby="headingThree">
          <div class="mb-4">
            <form novalidate name="trialForm" #trialForm="ngForm">
              <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                  <ng-template #customCategoryItemTemplate let-model="item" let-index="index">
                    <span class="mb-0">{{model.description}}</span>
                  </ng-template>

                  <input name="MainCategoryName" placeholder="Category" autocomplete="off"
                    [maxlength]="constants.MaxLengthConstants.Category" [pattern]="constants.Category_REGEXP"
                    #MainCategoryName="ngModel" #MainCategoryNam [(ngModel)]="formCategory.description"
                    [ngClass]="{'has-error': MainCategoryName.invalid && (MainCategoryName.dirty ||  isFormSubmitted)}"
                    (focus)="mainCategory=false;editcategory=false;getAllCategories(allCategory.pageNumber)"
                    [typeahead]="categoryList" [typeaheadItemTemplate]="customCategoryItemTemplate"
                    typeaheadOptionField="description" (input)="onSearchCategory(formCategory);clearCategory = true"
                    class="form-control common-text-box" required />
                  {{isOpenPopup ? MainCategoryNam.focus() : null}}
                  <!-- {{isOpenPopup ? MainCategoryName.reset() : null}} -->
                  <i (click)="clearCategory = false;formCategory.description=null;mainCategory=false"
                    *ngIf="(clearCategory === true) && (formCategory.description)"
                    class="fa fa-times-thin fa-lg font-25 color-grey-shade clear-btn"></i>
                  <div *ngIf="MainCategoryName.invalid && ( MainCategoryName.dirty || isFormSubmitted)"
                    class="text-danger">
                    <div [hidden]="!MainCategoryName.errors?.['required']">
                      Enter category
                    </div>
                    <div [hidden]="!MainCategoryName.errors['pattern']">
                      Enter valid category
                    </div>
                  </div>
                  <div *ngIf="mainCategory" class="text-danger">
                    Category already present
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                  <div class="btn-config">
                    <button class="btn primary-btn btn-add margin-right-10" [disabled]="!accessValid.create"
                      [ngClass]="{'btn-disabled': !accessValid.create}"
                      [title]="!accessValid.create?'Access denied':'Add Category'"
                      (click)="addCategory(trialForm);updatedCategory=false" type="submit">
                      Save
                    </button>
                    <button class="btn secondary-btn btn-default" type="reset"
                      (focus)="isFormSubmitted = false;mainCategory=false;updatedCategory=false" data-dismiss="modal">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="common-table">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="accessValid.view">
                <tr
                  *ngFor="let obj of allCategory.records | paginate: { id:'categoryPage', itemsPerPage: allCategory.pageSize, currentPage: allCategory.pageNumber, totalItems: allCategory.totalCount }"
                  class="matrix-row">
                  <td class="matrix-action">
                    <input *ngIf="!editcategory || categoryID !== obj.id" class="medium-montserrat disable-box"
                      type="text" value="{{obj?.description}}" />
                    <form novalidate name="TNameForm" #TNameForm="ngForm">
                      <div *ngIf="editcategory && categoryID === obj.id">
                        <input required name="TName" [pattern]="constants.Category_REGEXP"
                          [maxlength]="constants.MaxLengthConstants.Name" autocomplete="off" #TName="ngModel"
                          [(ngModel)]="categoryName"
                          [ngClass]="{'has-error': TName.invalid && (TName.dirty || TName.touched || TNameForm.submitted)}"
                          class="medium-montserrat" type="text" value="{{obj.description}}"
                          (input)="updatedCategory=false" />
                        <div *ngIf="TName.invalid && ( TName.dirty || TName.touched || TNameForm.submitted)"
                          class="text-danger">
                          <div [hidden]="!TName.errors?.['required']">
                            Enter category
                          </div>
                          <div [hidden]="!TName.errors['pattern']">
                            Enter valid category
                          </div>
                        </div>
                        <div *ngIf="updatedCategory" class="text-danger">
                          Category already present
                        </div>
                      </div>
                    </form>
                  </td>
                  <td class="matrix-action">
                    <div *ngIf="!editcategory || (obj.id && (categoryID !== obj.id ))">
                      <button
                        (click)="resetforms(trialForm);editcategory = true;showbtn=false;mainCategory=false; categoryID = obj.id;categoryName = obj.description;"
                        [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                        [title]="!accessValid.update?'Access denied':'Edit Category'"
                        class="btn-edit-acc-detail text-status-blue" type="button">
                        <i class="fa fa-pencil" [ngClass]="{'btn-disabled': !accessValid.update}"></i>
                      </button>
                      <!-- ConfirmModal.show(popupFor = 'category') #Revisit_PreviousCode -- below button element-->
                      <button
                        (click)="editcategory = false; categoryID = obj.id;category=obj;mainCategory=false; category.isActive = false;updatedCategory=false;
                      popupOpen(popupFor='category'); ConfirmModal.show() ;page=allCategory.pageNumber;isCategoryDelete =true;isSubcategoryDelete=false;"
                        [disabled]="!accessValid.delete" [ngClass]="{'btn-disabled': !accessValid.delete}"
                        [title]="!accessValid.delete?'Access denied':'Delete Category'"
                        class="btn-edit-acc-detail text-status-blue" type="button">
                        <i class="fa fa-trash-o" [ngClass]="{'btn-disabled': !accessValid.delete}"></i>
                      </button>
                    </div>
                    <div *ngIf="editcategory && (categoryID ===  obj.id)">
                      <button
                        (click)="obj.description=categoryName;mainCategory=false; updateCategory(obj,TNameForm,allCategory.pageNumber);updatedCategory=false"
                        type="button" class="btn-save-acc-detail text-status-blue">
                        <i class="fa fa-save"></i>
                      </button>
                      <button
                        (click)="editcategory = false; mainCategory=false;getAllCategories(allCategory.pageNumber);isMaximum = false;updatedCategory=false"
                        type="reset" class="btn-save-acc-detail text-danger">
                        <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <!-- <tr *ngIf="!(allCategory?.records?.length)" class="text-center">
                  <td colspan="2">Currently no data available</td>
                </tr> -->
              </tbody>
              <tbody *ngIf="!accessValid.view">
                <tr class="text-center">
                  <td colspan="2">
                    <span>Access denied</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="(allCategory?.records?.length) && accessValid.view" class="mt-2">
              <pagination-controls id="categoryPage" (pageChange)="getAllCategories($event)" #categoryPage>
              </pagination-controls>
            </div>
          </div>
        </div>
        <!--/.accordion-content-->
      </div>

      <div class="content-entry">
        <!-- <h4 class="article-title medium-montserrat"> -->
        <a data-toggle="collapse" class="text-black article-title medium-montserrat"
          (click)="resetforms(SubcategoryForm);formCategory.description=start;isSubCategoryClicked = !isSubCategoryClicked;subcategoryForm = false;isCategoryClicked = false;isSubCategoryClicked ? setFocus() : null"
          data-parent="#category-config-accordion" href="#SubCategoryCollapse" aria-expanded="true"
          aria-controls="TrialPeriod">Subcategory
          <i class="fa pull-right"
            [ngClass]="{'fa-plus-circle':!isSubCategoryClicked,'fa-minus-circle': isSubCategoryClicked}"
            aria-hidden="true"></i>
        </a>
        <!-- </h4> -->
        <div class="collapse accordion-content show-accordian-content" id="SubCategoryCollapse" role="tabpanel"
          aria-labelledby="headingThree">
          <div class="mb-4">
            <form novalidate name="SubcategoryForm" #SubcategoryForm="ngForm">
              <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                  <ng-template #customCategoryItemTemplate let-model="item" let-index="index">
                    <span class="mb-0">{{model.description}}</span>
                  </ng-template>
                  <input name="CategoryName" placeholder="Category" autocomplete="off"
                    [maxlength]="constants.MaxLengthConstants.Category" [pattern]="constants.Category_REGEXP"
                    #CategoryName="ngModel" #CategoryNam [(ngModel)]="formCategory.description"
                    [ngClass]="{'has-error': CategoryName.invalid && (CategoryName.dirty  || SubcategoryForm.submitted)}"
                    [typeahead]="categoryList" (typeaheadOnSelect)="getSubcatForCategory($event)"
                    [typeaheadItemTemplate]="customCategoryItemTemplate" typeaheadOptionField="description"
                    (ngModelChange)="onSearchCategory(formCategory);clearCategorySubcategory = true"
                    (focus)="categoryPresnet=false;editSubcategory = false;GetAllSubcategories(allSubcategory.pageNumber);"
                    class="form-control" required />
                  {{isOpenPopup ? CategoryNam.focus() : null}}
                  <!-- {{isOpenPopup ? CategoryName.reset() : null}} -->
                  <i (click)="clearCategorySubcategory = false;formCategory.description=null;"
                    *ngIf="(clearCategorySubcategory === true) && (formCategory.description)"
                    class="fa fa-times-thin fa-lg font-25 color-grey-shade clear-btn"></i>
                  <div *ngIf="CategoryName.invalid && ( CategoryName.dirty  || SubcategoryForm.submitted)"
                    class="text-danger">
                    <div [hidden]="!CategoryName.errors?.['required']">
                      Enter category
                    </div>
                    <div [hidden]="!CategoryName.errors['pattern']">
                      Enter valid category
                    </div>
                  </div>
                  <div *ngIf="categoryPresnet" class="text-danger">
                    Category does not exists
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                  <div class="form-group mb-0">
                    <ng-template #customItemTemplate let-model="item" let-index="index">
                      <span class="mb-0">{{model.description}}</span>
                    </ng-template>

                    <input name="SubcategoryInput" placeholder="Subcategory" autocomplete="off"
                      [maxlength]="constants.MaxLengthConstants.Category" [pattern]="constants.Category_REGEXP"
                      #SubcategoryInput="ngModel" [(ngModel)]="formSubCategory.description"
                      [ngClass]="{'has-error': SubcategoryInput.invalid && (SubcategoryInput.dirty  || SubcategoryForm.submitted) && subcategoryForm}"
                      (focus)="subCategoryPresent=false;editSubcategory = false;GetAllSubcategories(allSubcategory.pageNumber);"
                      [typeahead]="subcategoryList" [typeaheadItemTemplate]="customItemTemplate"
                      typeaheadOptionField="description"
                      (ngModelChange)="onSearchCategory(formCategory);clearSubcategory = true" class="form-control"
                      required />
                    <i (click)="clearSubcategory = false;formSubCategory.description=null;categoryPresnet=false; subCategoryPresent=false"
                      *ngIf="(clearSubcategory === true) && (formSubCategory.description)"
                      class="fa fa-times-thin fa-lg font-25 color-grey-shade clear-btn"></i>
                    <div
                      *ngIf="SubcategoryInput.invalid && ( SubcategoryInput.dirty || SubcategoryForm.submitted)&& subcategoryForm"
                      class="text-danger">
                      <div [hidden]="!SubcategoryInput.errors?.['required']">
                        Enter subcategory
                      </div>
                      <div [hidden]="!SubcategoryInput.errors?.['pattern']">
                        Enter valid subcategory
                      </div>
                    </div>
                    <div *ngIf="subCategoryPresent" class="text-danger">
                      Subcategory already present
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                  <div class="btn-config">
                    <button class="btn primary-btn btn-add margin-right-10" [disabled]="!accessValid.create"
                      [ngClass]="{'btn-disabled': !accessValid.create}"
                      [title]="!accessValid.create?'Access denied':'Add Subcategory'"
                      (click)="addSubCategory(SubcategoryForm)" type="submit">
                      Save
                    </button>
                    <button class="btn secondary-btn btn-default" type="reset"
                      (focus)="subcategoryForm = false;subCategoryPresent = false;categoryPresnet=false"
                      data-dismiss="modal">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>

          <div class="common-table table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Subcategory</th>
                  <th>Category</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="accessValid.view">
                <tr
                  *ngFor="let obj of allSubcategory?.records | paginate: { id:'SubcategoryPage', itemsPerPage: allSubcategory?.pageSize, currentPage: allSubcategory?.pageNumber, totalItems: allSubcategory?.totalCount }"
                  class="matrix-row">
                  <td class="matrix-action">
                    <input *ngIf="!editSubcategory || subcategoryID !== obj.id" class="medium-montserrat disable-box"
                      type="text" value="{{obj?.description}}" />
                    <form novalidate name="SNameForm" #SNameForm="ngForm">
                      <div *ngIf="editSubcategory && subcategoryID === obj.id">
                        <input required name="sName" [pattern]="constants.Category_REGEXP"
                          [maxlength]="constants.MaxLengthConstants.Name" autocomplete="off" #sName="ngModel"
                          [(ngModel)]="subcategoryName"
                          [ngClass]="{'has-error': sName.invalid && (sName.dirty || sName.touched || SNameForm.submitted)}"
                          class="medium-montserrat" type="text" value="{{obj.description}}"
                          (input)="updateSubCategoryPresent=false" />
                        <div *ngIf="sName.invalid && ( sName.dirty || sName.touched || SNameForm.submitted)"
                          class="text-danger">
                          <div [hidden]="!sName.errors?.['required']">
                            Enter name
                          </div>
                          <div [hidden]="!sName.errors['pattern']">
                            Enter valid name
                          </div>
                        </div>
                        <div *ngIf="updateSubCategoryPresent" class="text-danger">
                          Subcategory already present
                        </div>
                      </div>
                    </form>
                  </td>
                  <td>{{obj?.categories?.description}}</td>
                  <td class="matrix-action">
                    <div *ngIf="!editSubcategory || (obj.id && (subcategoryID !== obj.id ))">
                      <button
                        (click)="resetforms(SubcategoryForm);updateSubCategoryPresent=false;editSubcategory = true;showbtn=false;categoryPresnet=false; subcategoryID = obj.id;subcategoryName = obj.description;"
                        [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                        [title]="!accessValid.update?'Access denied':'Edit Subcategory'"
                        class="btn-edit-acc-detail text-status-blue" type="button">
                        <i class="fa fa-pencil" [ngClass]="{'btn-disabled': !accessValid.update}"></i>
                      </button>
                      <!-- ConfirmModal.show(popupFor = 'subcategory') #Revisit_PreviousCode -- below button element -->
                      <button
                        (click)="editSubcategory = false; categoryPresnet=false;subcategoryID = obj.id;subcategories=obj;
                    isSubcategoryDelete = true;updateSubCategoryPresent=false;
                    isCategoryDelete= false; subcategories.isActive=false;popupOpen(popupFor='subcategory'); ConfirmModal.show();page=allSubcategory?.pageNumber"
                        [disabled]="!accessValid.delete" [ngClass]="{'btn-disabled': !accessValid.delete}"
                        [title]="!accessValid.delete?'Access denied':'Delete Subcategory'"
                        class="btn-edit-acc-detail text-status-blue" type="button">
                        <i class="fa fa-trash-o" [ngClass]="{'btn-disabled': !accessValid.delete}"></i>
                      </button>
                    </div>
                    <div *ngIf="editSubcategory && (subcategoryID ===  obj.id)">
                      <button
                        (click)="obj.description=subcategoryName; updateSubCategoryPresent=false;categoryPresnet=false; updateSubcategory(obj,SNameForm, allSubcategory?.pageNumber)"
                        type="button" class="btn-save-acc-detail text-status-blue">
                        <i class="fa fa-save"></i>
                      </button>
                      <button
                        (click)="editSubcategory = false;updateSubCategoryPresent=false;GetAllSubcategories(allSubcategory.pageNumber);isMaximum = false;categoryPresnet=false;"
                        type="reset" class="btn-save-acc-detail text-danger">
                        <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <!-- <tr *ngIf="!(allSubcategory?.records?.length)" class="text-center">
                  <td colspan="3">Currently no data available</td>
                </tr> -->
              </tbody>
              <tbody *ngIf="!accessValid.view">
                <tr class="text-center">
                  <td colspan="3">
                    <span>Access denied</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="(allSubcategory?.records?.length) && accessValid.view" class="mt-2">
              <pagination-controls id="SubcategoryPage" (pageChange)="GetAllSubcategories($event)" #SubcategoryPage>
              </pagination-controls>
            </div>
          </div>
        </div>
        <!--/.accordion-content-->
      </div>
    </div>
  </div>
</div>

<div bsModal #ConfirmModal="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal);"></app-toaster>
</div>

<!--
<div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div *ngIf="isCategoryDelete" class="">
          <span>Are you sure you want to delete this Category?
            <p class="note">(Note: Subcategories under this category will also get deleted)</p>
          </span>
        </div>
        <div *ngIf="isSubcategoryDelete" class="">
          <span>Are you sure you want to delete this Subcategory?
          </span>
        </div>

      </div>
      <div class="mb-3 pl-3">
        <button type="button" *ngIf="isCategoryDelete" class="btn btn-default" (click)="category.isActive = false;deleteConfirmModal.hide(deleteCategory(category,page))">Yes</button>
        <button type="button" *ngIf="isSubcategoryDelete" class="btn btn-default" (click)="subcategories.isActive = false;deleteConfirmModal.hide(deleteSubcategory(subcategories,page))">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div> -->