<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="bottom-border-gray margin-bottom-15 padding-left-15 padding-right-15">
    <div class="page-title padding-bottom-15 padding-top-15">
      <div class="row">
        <div class="col-xl-7 col-md-9 col-lg-9 col-9">
          <div *ngIf="!accessValid.update" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
            <div class="
                w-100
                text-title-gray
                font-16
                semibold-montserrat
                padding-top-5
                hover-edit
              ">
              <p type="text" class="pl-1 pb-1 mb-0">{{ kitName }}</p>
            </div>
          </div>
          <form novalidate *ngIf="accessValid.update" name="KitNameForm" #KitNameForm="ngForm">
            <div *ngIf="!isEditKit && tobeEdit !== 'title'" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
              <div class="
                  text-title-gray
                  font-16
                  semibold-montserrat
                  padding-top-5
                  hover-edit
                " [ngClass]="{ editable: !isEditKit && tobeEdit !== 'title' }" (click)="
                  isKitTitleEdit = true;
                  isEditKit = true;
                  tobeEdit = 'title';
                  discardChanges()
                ">
                <p class="pl-1 mb-0">{{ kitList?.name }}</p>
              </div>
            </div>
            <div *ngIf="isEditKit && tobeEdit !== 'title'" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
              <div class="
                  text-title-gray
                  font-16
                  semibold-montserrat
                  padding-top-5
                  hover-edit
                ">
                <p class="pl-1 mb-0">{{ kitList?.name }}</p>
              </div>
            </div>
            <div *ngIf="isEditKit && tobeEdit === 'title'" class="form-group row mb-0">
              <div class="col-md-8">
                <input #KitName="ngModel" name="KitName" autocomplete="off" [(ngModel)]="KitNameFormDetails.name"
                  [maxlength]="constants.MaxLengthConstants.KitTitle" [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                  type="text" [value]="kitList?.name" class="medium-montserrat form-control"
                  (input)="KitNameFormDetails.name = $any($event.target).value" required />
                <div class="text-danger" *ngIf="
                    KitName.invalid &&
                    (KitName.dirty || KitName.touched || KitNameForm.submitted)
                  ">
                  <div [hidden]="!KitName.errors['required']">Enter kit title</div>
                  <div [hidden]="!KitName.errors['pattern']">
                    Enter valid kit title
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-1">
                <button *ngIf="isEditKit && tobeEdit === 'title'" type="submit" class="btn btn-primary btn-sm" (click)="
                    addTitle(KitNameForm.valid, KitNameFormDetails);
                    tobeEdit = 'non';
                    isEditKit = false
                  ">
                  <!-- <i class="fa fa-save fa-lg"></i> -->
                  Save
                </button>
                <button *ngIf="isEditKit && tobeEdit === 'title'" type="reset"
                  class="btn secondary-btn btn-cancel btn-sm" (click)="
                    discard(KitNameFormDetails);
                    tobeEdit = 'non';
                    isEditKit = false
                  ">
                  <!-- <i class="fa fa-times fa-lg"></i> -->
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xl-5 col-md-3 col-lg-3 col-3">
          <div class="right-float single-btn">
            <div class="
                view-btn
                common-blue-btn
                dropdown
                left-float
                margin-left-15
              ">
              <button type="button" data-toggle="dropdown" title="Menu">
                <i class="icon-menu icons d-block" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <!-- ConfirmModal.show((popupFor = 'copyKit')); -->
                  <button (click)="
                      popupOpen((popupFor = 'copyKit'));
                      ConfirmModal.show();
                      kit = kitList;
                      isEditKit = false;
                      isKitTitleEdit = false;
                      discardChanges()
                    " [disabled]="!accessValid.create" [ngClass]="{ 'btn-disabled': !accessValid.create }"
                    [title]="!accessValid.create ? 'Access denied' : 'Copy kit'">
                    <i class="fa fa-copy" aria-hidden="true"></i> Copy
                  </button>
                </li>
                <li>
                  <!-- ConfirmModal.show((popupFor = 'deleteKit')); -->
                  <button (click)="
                      popupOpen((popupFor = 'deleteKit'));
                      ConfirmModal.show();
                      kit = kitList;
                      isKitDelete = true;
                      discardChanges();
                      isEditKit = false;
                      isKitTitleEdit = false
                    " [disabled]="!accessValid.delete" [ngClass]="{ 'btn-disabled': !accessValid.delete }" [title]="
                      !accessValid.delete ? 'Access denied' : 'Delete kit'
                    ">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="padding-bottom-30 product-details">
      <div class="row">
        <div class="
            col-12 col-lg-8 col-md-8 col-xl-9 col-sm-12
            first-section-product
          ">
          <div class="right-common-box">
            <div class="common-detail-box margin-bottom-15">
              <div class="header-box">
                <div class="
                    text-capitalize
                    font-14
                    text-dark-blue
                    medium-montserrat
                  ">
                  description
                  <!-- <button
                    type="button"
                    (click)="
                      isSave = false;
                      kitList.description = kitList.description;
                      updateKit(kitList)
                    "
                    *ngIf="isSave"
                    class="pull-right btn-save-acc-detail text-status-blue"
                  >
                    <i class="fa fa-save fa-lg"></i>
                  </button> -->
                  <button *ngIf="isEditKit && tobeEdit == 'description'" (click)="
                      isEditKit && (tobeEdit = '');
                      discard(kitList);
                      isEditKit = false
                    " type="button" class="btn secondary-btn btn-cancel btn-sm float-right">
                    <!-- <i class="fa fa-times"></i> -->
                    Cancel
                  </button>
                  <button type="submit" (click)="
                      isSave = false;
                      tobeEdit = '';
                      isEditKit = false;
                      kitList.description = kitList.description;
                      updateKit(kitList)
                    " *ngIf="isEditKit && tobeEdit == 'description'" class="btn btn-primary btn-sm float-right mr-2">
                    <!-- <i class="fa fa-save"></i> -->
                    Save
                  </button>
                </div>
              </div>
              <div *ngIf="kitList.id && accessValid" class="content-box">
                <quill-editor *ngIf="isEditKit && tobeEdit == 'description'" [(ngModel)]="kitList.description">
                </quill-editor>
                <!-- [tooltip]="'Access denied'" -->
                <quill-editor *ngIf="tobeEdit !== 'description'" [(ngModel)]="kitList.description"
                  (onEditorCreated)="onEditorCreated($event)" (click)="closeEdit('description', 'productDescription')">
                </quill-editor>
              </div>
            </div>
            <div class="common-detail-box margin-bottom-15 product-item-price">
              <div class="header-box">
                <div class="row product-bottom-browse">
                  <div class="col-xl-9 col-md-6 col-lg-8">
                    <div class="
                        text-capitalize
                        font-14
                        text-black
                        medium-montserrat
                        margin-bottom-10
                      ">
                      line items
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 col-lg-4 padding-left-0">
                    <div class="custom-product-link">
                      <a href="#" class="text-status-blue medium-montserrat" data-toggle="modal"
                        data-target="#addCustomProductModal" [class.disabled]="!accessValid.update"
                        [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                          !accessValid.update
                            ? 'Access denied'
                            : 'Add Custom Product'
                        " (click)="
                          addCustomProductModal.show();
                          isEditKit = false;
                          isKitTitleEdit = false;
                          discardChanges()
                        ">Add Custom Product</a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row">
                  <div class="col-xl-9 col-md-6 col-lg-8">
                    <div class="find-product">
                      <div class="form-group mb-0">
                        <button type="button" class="search-button">
                          <i class="fa fa-search"></i>
                        </button>
                        <input name="body" id="search-Product-Kit" [(ngModel)]="searchText" (keyup)="
                            onProductSearch(searchText);
                            showSearchDropdown = true;
                            showClearbtn = true;
                            isEditKit = false;
                            isKitTitleEdit = false
                          " type="text" placeholder="Search for..." [disabled]="!accessValid.update"
                          [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                            !accessValid.update
                              ? 'Access denied'
                              : 'Search product'
                          " (blur)="onBlur()" />
                        <!-- (blur)="showSearchDropdown = false;searchText = null" -->
                        <i *ngIf="showClearbtn && searchText !== null" (click)="
                            showClearbtn = false;
                            searchText = null;
                            showSearchDropdown = false;
                            discardChanges();
                            isEditKit = false;
                            isKitTitleEdit = false
                          " class="fa fa-times-thin fa-2x color-grey-shade"></i>
                      </div>
                      <div *ngIf="
                          showSearchDropdown &&
                          searchText !== null &&
                          searchText !== '' &&
                          searched.length
                        " class="custom-searchdropdown">
                        <div *ngFor="let result of searched" class="tab-content" id="nav-tabContent"
                          style="max-height: 35vh; overflow: auto">
                          <div *ngIf="
                              showBtn === 0 &&
                              result.collectionName === collections[0]
                            ">
                            <!-- <ul class="dropdown mb-0 list-style-none" *ngFor="let kv of result.collectionData" style="border-bottom: 1px solid #cfd8dc;">
                              <li class="dropdown-item" (click)="addProduct(kv);discardChanges();isEditKit = false;isKitTitleEdit = false;">
                                <div id="ui-id-17" tabindex="-1" class="ui-menu-item-wrapper">Name: {{kv.name}}</div>
                                <div id="ui-id-17" tabindex="-1" class="ui-menu-item-wrapper">Part No: {{kv?.partNo}}</div>
                              </li>
                            </ul> -->

                            <ul class="list-style-none mb-0" *ngFor="let kv of result?.collectionData">
                              <li (click)="
                                  addProduct(kv);
                                  discardChanges();
                                  isEditKit = false;
                                  isKitTitleEdit = false
                                ">
                                <span class="search-list-icon product-black"></span>
                                <div style="cursor: pointer" class="pl-3">
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    Name: {{ kv?.name }}
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    Part No: {{ kv?.partNo }}
                                  </div>
                                  <div *ngIf="kv.manufacturerPartNumber" class="col-lg-12 col-md-12 col-sm-12">
                                    Manufacturer Part Number:
                                    {{ kv?.manufacturerPartNumber }}
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 col-lg-4 padding-left-0">
                    <app-browse [quote]="" [kit]="kitList" (quoteData)="getKitDetails($event)"
                      [isEdit]="accessValid.update" (quoteTitle)="
                        searchText = null;
                        showSearchDropdown = false;
                        isEditKit = false;
                        isKitTitleEdit = false
                      "></app-browse>
                  </div>
                </div>
              </div>
              <div class="content-box">
                <div class="
                    padding-top-15
                    padding-bottom-15
                    padding-left-15
                    padding-right-15
                  ">
                  <div class="
                      product-pricing-box
                      margin-top-15
                      bg-off-faint-white
                      box-quote-detail
                      font-14
                    " *ngFor="let item of kitList.products; let i = index">
                    <!-- <button
                      type="button"
                      [disabled]="!accessValid.update"
                      [ngClass]="{ 'btn-disabled': !accessValid.update }"
                      [title]="
                        !accessValid.update ? 'Access denied' : 'Remove product'
                      "
                      (click)="
                        popupOpen((popupFor = 'deleteproduct'));
                        ConfirmModal.show((popupFor = 'deleteproduct'));
                        productIndex = i;
                        product = item;
                        isProductDelete = true;
                        isEditKit = false;
                        isKitTitleEdit = false;
                        discardChanges()
                      "
                      class="btn-quote-delete"
                    > -->
                    <!-- [disabled]="!accessValid.update" -->
                    <!-- ConfirmModal.show((popupFor = 'deleteproduct')); -->
                    <i class="
                        fa fa-times-thin fa-2x
                        color-grey-shade
                        btn-quote-cancel
                      " [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                        !accessValid.update ? 'Access denied' : 'Remove product'
                      " (click)="
                        popupOpen((popupFor = 'deleteproduct'));
                        ConfirmModal.show();
                        productIndex = i;
                        product = item;
                        isProductDelete = true;
                        isEditKit = false;
                        isKitTitleEdit = false;
                        discardChanges()
                      "></i>
                    <!-- </button> -->
                    <div class="row">
                      <div class="col-xl-1">
                        <div class="circle-product">
                          <img *ngIf="!item?.product.images?.length" src="assets/img/product-black.svg" class="p-2" />
                          <img *ngIf="item?.product.images?.length" [src]="(item?.product.images)[0].string"
                            class="img-fluid" />
                        </div>
                      </div>
                      <div class="col-xl-11">
                        <div class="padding-right-30">
                          <div class="margin-top-10">
                            <div class="row">
                              <div class="col-xl-4 col-12 col-md-4">
                                <div class="row">
                                  <div class="col-xl-6 col-6 col-md-12">
                                    <div class="
                                        text-part-price
                                        line-height-18 line-pname
                                        pointer
                                      " [tooltip]="item?.product?.name" (click)="
                                        goToProductDetails(item.product.id)
                                      ">
                                      {{ item?.product?.name }}
                                    </div>
                                    <div class="
                                        text-status-blue
                                        tab-part-no
                                        line-pname
                                      " [tooltip]="item?.product?.partNo">
                                      {{ item?.product?.partNo }}
                                    </div>
                                  </div>
                                  <div class="col-xl-6 col-6 col-md-12">
                                    <div class="
                                        font-16
                                        text-dark-blue
                                        semibold-montserrat
                                        line-height-18
                                      ">
                                      ${{
                                      CalculateCost(item) | number: "1.2-2"
                                      }}
                                    </div>
                                    <div class="font-14 text-status-blue">
                                      ${{
                                      item?.product?.cost | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                              <div class="col-xl-1 col-12 col-md-2">
                                <div class="
                                    text-other-gray
                                    padding-top-10
                                    multiplication
                                  ">
                                  X
                                </div>
                              </div>
                              <div class="col-xl-7 col-12 col-md-6">
                                <div class="row">
                                  <div class="col-xl-3 col-6 mb-1">
                                    <div class="form-group mb-0">
                                      <input type="text" [disabled]="!accessValid.update" [ngClass]="{
                                          'btn-disabled': !accessValid.update
                                        }" [title]="
                                          !accessValid.update
                                            ? 'Access denied'
                                            : 'Quantity'
                                        " value="1" [(ngModel)]="item.quantity" (blur)="updateProdQuantity(item)"
                                        #prodquantity="ngModel" name="prodquantity" [pattern]="
                                          item.product.productType
                                            .description === 'Material'
                                            ? constants.Num_REXEXP
                                            : constants.Cost_REXEXP
                                        " [onlyNumber]="true" class="
                                          form-control
                                          common-text-box
                                          text-dark-blue
                                          medium-montserrat
                                          text-box-height-37
                                        " required (input)="
                                          item.product.productType
                                            .description !== 'Material'
                                            ? validateLaborQuantity($event)
                                            : ''
                                        " />
                                      <!-- required appTwoDigitDecimaNumber> -->
                                      <!-- constants.Num_REXEXP -->
                                      <!-- (blur)="prodquantity.valid ? updateProdQuantity(item): null" -->
                                      <!-- [pattern]="item.product.productType.description === 'Material' ? constants.Num_REXEXP : constants.Cost_REXEXP" -->
                                    </div>
                                    <div class="" *ngIf="
                                        prodquantity.invalid &&
                                        (prodquantity.dirty ||
                                          prodquantity.touched)
                                      ">
                                      <div [hidden]="!prodquantity.errors['min']" class="popover-body popover w-100">
                                        Minimum 1 quantity
                                      </div>
                                      <div [hidden]="!prodquantity.errors['required']"
                                        class="popover-body popover w-100">
                                        Enter quantity
                                      </div>
                                      <div *ngIf="
                                          item.product.productType
                                            .description === 'Material'
                                        " [hidden]="!prodquantity.errors['pattern']"
                                        class="popover-body popover w-100">
                                        Enter valid quantity
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-4 col-6 mb-1">
                                    <div class="
                                        text-dark-blue
                                        semibold-montserrat
                                        text-center
                                        product-total-price
                                      ">
                                      ${{
                                      CalculatePrice(item) | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                  <div class="col-xl-5 col-12 mb-1">
                                    <div class="form-group mb-0">
                                      <select *ngIf="
                                          item.margin &&
                                          allMethods &&
                                          allMethods?.length
                                        " [(ngModel)]="item.margin.id" (change)="
                                          onMarginChange(i, item.margin.id);
                                          isEditKit = false;
                                          isKitTitleEdit = false;
                                          discardChanges()
                                        " [disabled]="!accessValid.update" [ngClass]="{
                                          'btn-disabled': !accessValid.update
                                        }" [title]="
                                          !accessValid.update
                                            ? 'Access denied'
                                            : 'Select'
                                        " class="
                                          form-control
                                          common-text-box
                                          text-black
                                          medium-montserrat
                                          mobile-margin-top
                                        ">
                                        <option selected value="null" disabled>
                                          Select
                                        </option>
                                        <option [ngValue]="objm.id" *ngFor="let objm of allMethods" [disabled]="
                                            (objm.method === 'List' ||
                                              objm.method === 'Discount') &&
                                            (item.product.msrp == null ||
                                              item.product.msrp == '' ||
                                              item.product.msrp == undefined)
                                          " [class.bg-light-gray]="
                                            (objm.method === 'List' ||
                                              objm.method === 'Discount') &&
                                            (item.product.msrp == null ||
                                              item.product.msrp == '' ||
                                              item.product.msrp == undefined)
                                          ">
                                          <span *ngIf="objm.method === 'Discount'">{{ objm?.name }} ({{
                                            objm?.method
                                            }}
                                            - {{ objm?.value }} %)</span>
                                          <span *ngIf="objm.method === 'List'">{{ objm?.name }} ({{
                                            objm?.method
                                            }}- $
                                            {{ item.product.msrp }} )</span>
                                          <span *ngIf="objm.method === 'Margin'">{{ objm?.name }} ({{
                                            objm?.method
                                            }}
                                            - {{ objm?.value }} %)
                                          </span>
                                          <span *ngIf="objm.method === 'Markup'">{{ objm?.name }} ({{
                                            objm?.method
                                            }}
                                            - {{ objm?.value }} %)</span>
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="padding-bottom-15 padding-left-15 padding-right-15">
                  <div class="
                      product-pricing-box
                      bg-off-faint-white
                      box-quote-detail
                      margin-bottom-15
                      font-14
                    " *ngFor="let item of kitList.customItem; let i = index">
                    <!-- ConfirmModal.show((popupFor = 'deleteCustompPoduct')); -->
                    <button type="button" [disabled]="!accessValid.update"
                      [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                        !accessValid.update
                          ? 'Access denied'
                          : 'Remove custom item'
                      " (click)="
                        popupOpen((popupFor = 'deleteCustompPoduct'));
                        ConfirmModal.show();
                        isItemDelete = true;
                        itemIndex = i;
                        isEditKit = false;
                        isKitTitleEdit = false;
                        discardChanges()
                      " class="btn-quote-delete">
                      <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
                    </button>
                    <div class="row">
                      <div class="col-xl-1">
                        <div class="circle-product">
                          <img class="p-2" src="assets/img/product-black.svg" />
                        </div>
                      </div>
                      <div class="col-xl-11">
                        <div class="padding-right-30">
                          <div class="semibold-montserrat text-status-blue"></div>

                          <div class="margin-top-10">
                            <div class="row">
                              <div class="col-xl-4 col-12 col-md-4">
                                <div class="row">
                                  <div class="col-xl-6 col-6 col-md-12">
                                    <div class="
                                        text-other-gray
                                        product-total-price
                                        line-pname
                                      " [tooltip]="item?.name">
                                      {{ item?.name }}
                                    </div>
                                  </div>
                                  <div class="col-xl-6 col-6 col-md-12">
                                    <!-- <div class="text-dark-blue semibold-montserrat line-height-18 product-total-price">${{item?.cost | number : '1.2-2'}}</div> -->
                                    <div class="
                                        font-16
                                        text-dark-blue
                                        semibold-montserrat
                                        line-height-18
                                      ">
                                      ${{ item?.price | number: "1.2-2" }}
                                    </div>
                                    <div class="font-14 text-status-blue">
                                      ${{ item?.cost | number: "1.2-2" }}
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                              <div class="col-xl-1 col-12 col-md-2">
                                <div class="
                                    text-other-gray
                                    padding-top-10
                                    multiplication
                                  ">
                                  X
                                </div>
                              </div>
                              <div class="col-xl-7 col-12 col-md-6">
                                <div class="row">
                                  <div class="col-xl-3 col-6">
                                    <div class="form-group mb-0">
                                      <input type="text" [disabled]="!accessValid.update" [ngClass]="{
                                          'btn-disabled': !accessValid.update
                                        }" [title]="
                                          !accessValid.update
                                            ? 'Access denied'
                                            : 'Quantity'
                                        " [(ngModel)]="item.quantity" (blur)="updateItemQuantity(item)"
                                        #quantityField="ngModel" name="quantityField" [onlyNumber]="true"
                                        [pattern]="constants.Cost_REXEXP" class="
                                          form-control
                                          common-text-box
                                          text-dark-blue
                                          medium-montserrat
                                          text-box-height-37
                                        " required />
                                    </div>
                                    <div class="popover w-100" *ngIf="
                                        quantityField.invalid &&
                                        (quantityField.dirty ||
                                          quantityField.touched)
                                      ">
                                      <div [hidden]="!quantityField.errors['min']" class="popover-body">
                                        Minimum 1 quantity
                                      </div>
                                      <div [hidden]="
                                          !quantityField.errors['required']
                                        " class="popover-body">
                                        Enter quantity
                                      </div>
                                      <div [hidden]="!quantityField.errors['pattern']" class="popover-body">
                                        Enter valid quantity
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-4 col-6 mb-1">
                                    <div class="
                                        text-dark-blue
                                        semibold-montserrat
                                        text-center
                                        product-total-price
                                      ">
                                      ${{
                                      item?.price * item?.quantity
                                      | number: "1.2-2"
                                      }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="footer-box">
                <div class="right-float">
                  <span class="
                      font-14
                      text-dark-blue text-uppercase
                      semibold-montserrat
                    ">total :</span>
                  <span class="
                      font-16
                      text-dark-blue text-uppercase
                      semibold-montserrat
                      padding-right-15
                      margin-left-35
                    ">${{ GetTotal() | number: "1.2-2" }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="
            col-12 col-lg-4 col-md-4 col-xl-3 col-sm-12
            padding-left-0
            mobile-left-padding
          ">
          <div class="left-common-box">
            <div class="common-detail-box margin-bottom-15">
              <form autocomplete="off" novalidate name="KitDetailForm" #KitDetailForm="ngForm">
                <div class="header-box">
                  <div class="row">
                    <div class="col-8 col-sm-8 col-md-4 col-lg-6 col-xl-6">
                      <div class="
                          font-14
                          medium-montserrat
                          text-capitalize text-dark-blue
                        ">
                        kit details
                      </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-8 col-lg-6 col-xl-6 pl-0">
                      <div class="icon-box edit-account-detail text-right font-18">
                        <button *ngIf="tobeEdit !== 'details'" [disabled]="!accessValid.update || isEditKit" [ngClass]="{
                            'btn-disabled': !accessValid.update || isEditKit
                          }" [title]="
                            !accessValid.update || isEditKit
                              ? 'Access denied'
                              : 'Edit'
                          " type="button" class="btn-edit-acc-detail text-status-blue" (click)="
                            isEditKit = true;
                            isKitNovalid = false;
                            isKitTitleEdit = false;
                            tobeEdit = 'details'
                          ">
                          <i class="fa fa-edit show-edit"></i>
                        </button>
                        <button *ngIf="isEditKit && tobeEdit === 'details'" type="submit" class="btn btn-primary btn-sm"
                          (click)="
                            onKitEdit(KitDetailForm.valid, KitFormDetails);
                            isKitTitleEdit = false;
                            tobeEdit = 'non'
                          ">
                          <!-- <i class="fa fa-save"></i>  -->Save
                        </button>
                        <button *ngIf="isEditKit && tobeEdit === 'details'" type="button"
                          class="btn secondary-btn btn-cancel btn-sm" (click)="
                            getKitDetails(kit.id);
                            isEditKit = false;
                            isKitTitleEdit = false;
                            discardChanges();
                            tobeEdit = 'non'
                          ">
                          <!-- <i class="fa fa-times"></i> -->Cancel
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="
                    content-box
                    padding-left-15
                    padding-right-15
                    padding-top-10
                    padding-bottom-10
                    edit-field-account
                  ">
                  <div class="text-dark-blue padding-bottom-10">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-6">
                        <div>
                          <div class="form-group">
                            <label class="font-13">Kit Id</label>
                            <br />
                            <span class="text-dark-blue font-14 semibold-montserrat" innerHtml="{{ kit?.uniqueId }}">
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-6">
                        <div>
                          <div class="form-group">
                            <label class="font-13">Kit Number</label>
                            <br />
                            <div class="editable hover-edit">
                              <span *ngIf="!isEditKit && tobeEdit != 'details'" class="
                                  font-14
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                " (click)="
                                  isEditKit = true;
                                  isKitNovalid = false;
                                  isKitTitleEdit = false;
                                  tobeEdit = 'details'
                                ">{{ kit?.number }}</span>
                              <span *ngIf="isEditKit && tobeEdit != 'details'" class="
                                  font-14
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                ">{{ kit?.number }}</span>
                            </div>
                            <div class="form-group" *ngIf="isEditKit && tobeEdit === 'details'">
                              <input type="text" name="KitNo" #KitNo="ngModel" placeholder="Kit Number" [pattern]="
                                  constants.AnythingWhithoutSpace_REGEXP
                                " [(ngModel)]="KitFormDetails.number" [maxlength]="
                                  constants.MaxLengthConstants.kitNumber
                                " [ngClass]="{
                                  'has-error':
                                    KitNo.invalid &&
                                    (KitNo.dirty ||
                                      KitNo.touched ||
                                      KitDetailForm.submitted)
                                }" (keyup)="CheckKitNo(KitFormDetails.number)" required
                                class="form-control medium-montserrat" />

                              <div *ngIf="
                                  KitNo.invalid &&
                                  (KitNo.dirty ||
                                    KitNo.touched ||
                                    KitDetailForm.submitted)
                                " class="text-danger">
                                <div [hidden]="!KitNo.errors['required']">
                                  Enter kit no
                                </div>
                                <div [hidden]="!KitNo.errors['pattern']">
                                  Enter valid kit no
                                </div>
                              </div>
                              <div *ngIf="
                                  isKitNovalid &&
                                  !(
                                    KitNo.invalid &&
                                    (KitNo.dirty ||
                                      KitNo.touched ||
                                      KitDetailForm.submitted)
                                  )
                                " class="text-danger">
                                Kit no can not be zero
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="kitList.id" class="common-detail-box margin-bottom-15">
              <app-categories (close)="
                  isEditKit = $event.close; isKitTitleEdit = $event.close
                " (categories)="editCategory($event.category)" (subCategories)="editSubCategories($event.subcategory)"
                [subCategory]="kit?.subCategory" [category]="kit?.category"
                (subCategoryToDelete)="subcategoryDelete($event.arr[0])"
                (categoryToDelete)="categoryDelete($event.arr[0])" [isEdit]="accessValid.update"></app-categories>
            </div>
            <div class="common-detail-box margin-bottom-15">
              <div *ngIf="kitList?.tags === null">
                <app-tags (close)="
                    isEditKit = $event.close; isKitTitleEdit = $event.close
                  " [tagShowList]="[]" (tagID)="tagsArray($event.arr[0])" [isEdit]="accessValid.update"></app-tags>
              </div>
              <div *ngIf="kitList?.tags !== null">
                <app-tags (close)="
                    isEditKit = $event.close; isKitTitleEdit = $event.close
                  " [tagShowList]="kit?.tags" (tagID)="tagsArray($event.arr[0])"
                  (tagToDelete)="tagDelete($event.arr[0])" [isEdit]="accessValid.update"></app-tags>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addCustomProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" name="customItemForm" #customItemForm="ngForm"
        (ngSubmit)="addCustomProduct(customItemForm, addCustomProductModal)">
        <div class="modal-header common-modal-header">
          <h4 class="
              modal-title
              text-capitalize
              font-18
              text-dark-blue
              medium-montserrat
            ">
            Add Custom Product
          </h4>
          <button type="reset" class="close common-close" (click)="addCustomProductModal.hide()" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">title</label>
            <input type="text" name="ItemName" #ItemName="ngModel" [(ngModel)]="customItem.name"
              [maxlength]="constants.MaxLengthConstants.CustomItemTitle" [ngClass]="{
                'has-error':
                  ItemName.invalid &&
                  (ItemName.dirty ||
                    ItemName.touched ||
                    customItemForm.submitted)
              }" placeholder="Title" required class="form-control" />
            <div class="text-danger" *ngIf="
                ItemName.invalid &&
                (ItemName.dirty || ItemName.touched || customItemForm.submitted)
              ">
              <div [hidden]="!ItemName.errors['required']">Enter title</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">cost</label>
            <input type="text" [onlyNumber]="true" name="ItemCost" #ItemCost="ngModel" [(ngModel)]="customItem.cost"
              [maxlength]="constants.MaxLengthConstants.Cost" [pattern]="constants.Cost_REGEXP" [ngClass]="{
                'has-error':
                  ItemCost.invalid &&
                  (ItemCost.dirty ||
                    ItemCost.touched ||
                    customItemForm.submitted)
              }" placeholder="Cost" (keyup)="checkCost(customItem)" required class="form-control" />
            <div class="text-danger" *ngIf="
                !isCostValid ||
                (ItemCost.invalid &&
                  (ItemCost.dirty ||
                    ItemCost.touched ||
                    customItemForm.submitted))
              ">
              <div [hidden]="!ItemCost?.errors['required']">Enter cost</div>
              <div [hidden]="!ItemCost?.errors['pattern']">Enter valid value</div>
              <div [hidden]="isCostValid">Enter valid value</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">price</label>
            <input type="text" name="ItemPrice" [onlyNumber]="true" #ItemPrice="ngModel" [(ngModel)]="customItem.price"
              [maxlength]="constants.MaxLengthConstants.Cost" [ngClass]="{
                'has-error':
                  ItemPrice.invalid &&
                  (ItemPrice.dirty ||
                    ItemPrice.touched ||
                    customItemForm.submitted)
              }" (keyup)="updateCustomItemPrice(customItem)" [pattern]="constants.Cost_REXEXP" required
              placeholder="Price" class="form-control" />
            <div class="text-danger" *ngIf="
                !isPriceValid ||
                (ItemPrice.invalid &&
                  (ItemPrice.dirty ||
                    ItemPrice.touched ||
                    customItemForm.submitted))
              ">
              <div [hidden]="!ItemPrice.errors['required']">Enter price</div>
              <!-- <div [hidden]="!ItemPrice?.errors?.pattern">
                Enter minimum price
              </div> -->
              <div [hidden]="isPriceValid">Enter minimum price</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">quantity</label>
            <input type="text" [onlyNumber]="true" name="ItemQuantity" #ItemQuantity="ngModel"
              [(ngModel)]="customItem.quantity" [min]="1" [ngClass]="{
                'has-error':
                  ItemQuantity.invalid &&
                  (ItemQuantity.dirty ||
                    ItemQuantity.touched ||
                    customItemForm.submitted)
              }" placeholder="Quantity" (keyup)="checkQuantity(customItem)" required class="form-control"
              [pattern]="constants.Cost_REXEXP" />
            <div class="text-danger" *ngIf="
                ItemQuantity.invalid &&
                (ItemQuantity.dirty ||
                  ItemQuantity.touched ||
                  customItemForm.submitted)
              ">
              <div [hidden]="!ItemQuantity.errors['required']">Enter quantity</div>
              <div [hidden]="!ItemQuantity.errors['pattern']">
                Enter valid quantity
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">taxable</label>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input type="checkbox" [checked]="customItem.isTaxable" name="isTaxable"
                  (change)="customItem.isTaxable = $any($event.target).checked" class="form-check-input" />
              </label>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <!-- (click)="addCustomProductModal.hide(onModelClose())" -->
            <button type="submit" class="btn primary-btn btn-add">Add</button>
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="addCustomProductModal.hide()">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal [ngClass]="{ show: show }" [style.display]="show ? 'block' : 'none'" #ConfirmModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [notification]="notification" [typeofMessage]="typeofMessage" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal)"></app-toaster>
</div>