<div class="main-container main-container-compress">
  <div class="bottom-border-gray margin-bottom-15 padding-left-15 padding-right-15">
    <div class="page-title padding-bottom-15 padding-top-15">
      <div class="row">
        <div class="col-xl-7 col-md-9 col-lg-9 col-9">
          <div *ngIf="!accessValid.update" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
            <div class="
                w-100
                text-title-gray
                font-16
                semibold-montserrat
                padding-top-5
                hover-edit
              ">
              <p type="text" class="pl-1 pb-1 mb-0">{{ prodName }}</p>
            </div>
          </div>
          <form autocomplete="off" novalidate name="ProductNameForm" #ProductNameForm="ngForm"
            *ngIf="accessValid.update">
            <div *ngIf="!(productTitleCopy && tobeEdit === 'prodName')"
              class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
              <div class="
                  w-100
                  text-title-gray
                  font-16
                  semibold-montserrat
                  padding-top-5
                  hover-edit
                " [ngClass]="{
                  editable: !(productTitleCopy && tobeEdit === 'prodName')
                }" (click)="
                  closeEdit('prodName', 'productName');
                  productTitleCopy = true;
                  formProductDetails.name = product.name
                ">
                <p type="text" class="pl-1 pb-1 mb-0">{{ prodName }}</p>
              </div>
            </div>
            <div *ngIf="productTitleCopy && tobeEdit === 'prodName' && isEditTab" class="form-group row mb-0">
              <div class="col-md-12">
                <div class="input-group">
                  <input #Name="ngModel" [maxlength]="constants.MaxLengthConstants.ProductTitle" name="Name"
                    [pattern]="constants.AnythingWhithoutSpace_REGEXP" [(ngModel)]="formProductDetails.name" type="text"
                    [value]="productDetails?.name" [ngClass]="{
                      'has-error':
                        Name.invalid &&
                        (Name.dirty ||
                          Name.touched ||
                          ProductNameForm.submitted)
                    }" (click)="isEditTab = true" class="medium-montserrat form-control-sm w-50"
                    (input)="formProductDetails.name = $any($event.target).value" required />

                  <span class="input-group-append ml-2">
                    <button *ngIf="productTitleCopy" type="submit" class="btn btn-primary btn-sm" (click)="
                        productTitleCopy = false;
                        isEditTab = false;
                        tobeEditPrevious = undefined;
                        addTile(ProductNameForm.valid, formProductDetails)
                      ">
                      <!-- <i class="fa fa-save fa-lg"></i> -->Save
                    </button>
                    <!-- class="btn-cancel-acc-detail pr-1 text-danger" -->
                    <button *ngIf="productTitleCopy" type="reset" class="btn secondary-btn btn-cancel btn-sm" (click)="
                        productTitleCopy = false;
                        productTitleCopy = false;
                        isEditTab = false;
                        getProduct(productDetails?.id);
                        formProductDetails.name = product.name;
                        tobeEditPrevious = undefined
                      ">
                      <!-- <i class="fa fa-times fa-lg"></i> -->Cancel
                    </button>
                  </span>
                </div>
                <div *ngIf="
                    Name.invalid &&
                    (Name.dirty || Name.touched || ProductNameForm.submitted)
                  " class="text-danger">
                  <div [hidden]="!Name.errors?.['required']">
                    Enter product title
                  </div>
                  <div [hidden]="!Name.errors?.['pattern']">
                    Enter valid product title
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xl-5 col-md-3 col-lg-3 col-3">
          <div class="right-float single-btn">
            <div class="
                view-btn
                common-blue-btn
                dropdown
                left-float
                margin-left-15
              ">
              <button type="button" data-toggle="dropdown" title="Menu"
                (click)="productTitleCopy = false; tobeEdit = 'nun'">
                <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> -->
                <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                <i class="icon-menu icons d-block" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <!-- ConfirmationModel.show((popupFor = 'copyProduct')) -->
                  <button (click)="
                      popupOpen((popupFor = 'copyProduct'));
                      ConfirmationModel.show()
                    " [disabled]="!accessValid.create" [ngClass]="{ 'btn-disabled': !accessValid.create }" [title]="
                      !accessValid.create ? 'Access denied' : 'Copy product'
                    ">
                    <i class="fa fa-copy" aria-hidden="true"></i> Copy
                  </button>
                </li>
                <li>
                  <!-- ConfirmationModel.show((popupFor = 'deleteProduct')); -->
                  <button (click)="
                      popupFor = 'deleteProduct';
                      popupOpen((popupFor = 'deleteProduct'));
                      ConfirmationModel.show();
                      productTitleCopy = false;
                      tobeEdit = 'nun'
                    " [disabled]="!accessValid.delete" [ngClass]="{ 'btn-disabled': !accessValid.delete }" [title]="
                      !accessValid.delete ? 'Access denied' : 'Delete product'
                    ">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="padding-bottom-30 product-details">
      <div class="row">
        <div class="
            col-12 col-lg-8 col-md-8 col-xl-9 col-sm-12
            first-section-product
          ">
          <div class="right-common-box">
            <div class="common-detail-box margin-bottom-15">
              <div class="header-box">
                <div class="
                    text-capitalize
                    font-14
                    text-dark-blue
                    medium-montserrat
                  ">
                  description
                  <!-- <button
                    title="Save"
                    type="button"
                    (click)="
                      productTitleCopy = false;
                      formProductDetails.description = description;
                      changeDetail(true, formProductDetails)
                    "
                    *ngIf="tobeEdit === 'description'"
                    class="pull-right btn-save-acc-detail text-status-blue"
                  >
                    <i class="fa fa-save fa-lg"></i>
                  </button> -->
                  <!-- <pre>{{ isEditTab }}</pre>
                  <pre>{{ tobeEdit }}</pre> -->
                  <button *ngIf="isEditTab && tobeEdit === 'description'" (click)="
                      productTitleCopy = false;
                      discard(productDetails?.id);
                      isEditTab = false;
                      productTitleCopy = false;
                      tobeEdit = 'nun';
                      tobeEditPrevious = undefined
                    " type="reset" class="pull-right btn secondary-btn btn-cancel btn-sm">
                    Cancel
                  </button>
                  <button id="pricingFormButton" #pricingFormButton *ngIf="isEditTab && tobeEdit === 'description'"
                    type="submit" class="pull-right btn btn-primary btn-sm mr-1" (click)="
                      productTitleCopy = false;
                      isEditTab = false;
                      tobeEdit = 'nun';
                      formProductDetails.description = description;
                      tobeEditPrevious = undefined;
                      changeDetail(true, formProductDetails)
                    ">
                    Save
                  </button>
                </div>
              </div>
              <div *ngIf="formProductDetails?.id && accessValid" class="content-box">
                <!-- <ckeditor [config]="config" [readonly]="!accessValid.update" (focus)="productTitleCopy = false;tobeEdit = 'description'"
                  [(ngModel)]="description" name="dsds" debounce="500">
                </ckeditor> -->
                <!-- <pre>{{ isEditTab }}</pre>
                <pre>{{ tobeEdit }}</pre> -->
                <quill-editor *ngIf="isEditTab && tobeEdit == 'description'" [(ngModel)]="description"></quill-editor>
                <!-- [tooltip]="'Access denied'" -->
                <quill-editor *ngIf="tobeEdit !== 'description'" [(ngModel)]="description"
                  (onEditorCreated)="onEditorCreated($event)" (click)="closeEdit('description', 'productDescription')">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-xs-12 col-sm-8">
                <div class="common-detail-box margin-bottom-15">
                  <form novalidate autocomplete="off" #pricingForm="ngForm" name="pricingForm" (ngSubmit)="
                      editpricing(
                        pricingForm,
                        pricingForm.valid,
                        formProductDetails
                      );
                      isEditTab = false;
                      tobeEditPrevious = undefined
                    ">
                    <div class="header-box">
                      <div class="row">
                        <div class="col-3 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                          <div class="
                              font-14
                              medium-montserrat
                              text-capitalize text-dark-blue
                            ">
                            pricing
                          </div>
                        </div>
                        <div class="
                            col-9 col-sm-7 col-md-7 col-lg-7 col-xl-7
                            tab-view-btn
                            pl-0
                          ">
                          <div class="
                              icon-box
                              edit-account-detail
                              text-right
                              font-18
                            ">
                            <button *ngIf="tobeEdit !== 'pricing'" [disabled]="!accessValid.update || isEditTab"
                              [ngClass]="{
                                'btn-disabled': !accessValid.update
                              }" [title]="
                                !accessValid.update ? 'Access denied' : 'Edit'
                              " (click)="
                                closeEdit('pricing', 'ALL');
                                productTypeId = productDetails.productType.id;
                                isCostValid = false;
                                isMsrpValid = false;
                                productTypeDropdown = false
                              " type="reset" class="btn-edit-acc-detail text-status-blue">
                              <i class="fa fa-edit show-edit"></i>
                            </button>
                            <button id="pricingFormButton" #pricingFormButton *ngIf="tobeEdit === 'pricing'"
                              type="submit" class="btn btn-primary btn-sm">
                              Save
                            </button>
                            <button *ngIf="tobeEdit === 'pricing'" (click)="
                                productTypeId = null;
                                tobeEdit = '';
                                isCostValid = false;
                                productTypeDropdown = false;
                                isMsrpValid = false;
                                isEditTab = false;
                                discard(productDetails?.id);
                                tobeEditPrevious = undefined
                              " type="reset" class="btn secondary-btn btn-cancel btn-sm">
                              Cancel
                            </button>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="content-box">
                      <div class="
                          padding-top-15
                          padding-bottom-15
                          padding-left-15
                          padding-right-15
                          pricing-first
                        ">
                        <div class="row">
                          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="mobile-margin-bottom">
                              <div class="font-14 text-blue-gray">Cost</div>
                              <div class="font-16 text-dark-blue editable" [class.hover-edit]="tobeEdit !== 'pricing'">
                                <div class="
                                    form-group
                                    margin-bottom-0
                                    edit-method-pricing
                                  ">
                                  <div (click)="
                                      closeEdit('pricing', 'pricingCost');
                                      productTypeId =
                                        productDetails.productType.id
                                    " *ngIf="tobeEdit !== 'pricing'">
                                    <p class="
                                        disable-box
                                        text-dark-blue
                                        semibold-montserrat
                                        contact-name
                                      ">
                                      <i class="fa fa-usd"></i>
                                      {{
                                      productDetails?.cost | number: "1.2-2"
                                      }}
                                    </p>
                                  </div>
                                  <div *ngIf="tobeEdit === 'pricing'">
                                    <div>
                                      <!-- [pattern]="Cost_REXEXP" -->
                                      <input placeholder="Cost" [onlyNumber]="true" #Cost="ngModel" [ngClass]="{
                                          'has-error':
                                            (Cost.invalid &&
                                              (Cost.dirty ||
                                                Cost.touched ||
                                                pricingForm.submitted)) ||
                                            (isCostValid &&
                                              !(
                                                Cost.invalid &&
                                                (Cost.dirty ||
                                                  Cost.touched ||
                                                  pricingForm.submitted)
                                              ))
                                        }" name="Cost" [maxlength]="costMaxLength"
                                        [(ngModel)]="formProductDetails.cost" type="text" class="
                                          form-control
                                          common-text-box
                                          margin-top-5
                                          font-14
                                          text-dark-blue
                                          medium-montserrat
                                        " required value="{{ productDetails?.cost }}" (keyup)="
                                          CheckCost(formProductDetails.cost)
                                        " [min]="2" />
                                      <div *ngIf="
                                          Cost.invalid &&
                                          (Cost.dirty ||
                                            Cost.touched ||
                                            pricingForm.submitted)
                                        " class="text-danger">
                                        <div [hidden]="!Cost.errors?.['required']">
                                          Enter cost
                                        </div>
                                        <div [hidden]="!Cost.errors?.['pattern']">
                                          Enter valid cost
                                        </div>
                                      </div>
                                      <div *ngIf="
                                          isCostValid &&
                                          !(
                                            Cost.invalid &&
                                            (Cost.dirty ||
                                              Cost.touched ||
                                              pricingForm.submitted)
                                          )
                                        " class="text-danger">
                                        Cost can not be zero
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="mobile-margin-bottom">
                              <div class="font-14 text-blue-gray">
                                MSRP/List
                              </div>
                              <div class="font-16 text-dark-blue editable" [class.hover-edit]="tobeEdit !== 'pricing'">
                                <div class="
                                    form-group
                                    margin-bottom-0
                                    edit-method-pricing
                                  ">
                                  <div (click)="
                                      closeEdit('pricing', 'pricingMSRP');
                                      productTypeId =
                                        productDetails.productType.id
                                    " *ngIf="tobeEdit !== 'pricing'">
                                    <p class="
                                        disable-box
                                        text-dark-blue
                                        semibold-montserrat
                                        contact-name
                                      ">
                                      <i class="fa fa-usd"></i>
                                      {{
                                      productDetails?.msrp | number: "1.2-2"
                                      }}
                                    </p>
                                  </div>
                                  <div *ngIf="tobeEdit === 'pricing'">
                                    <div claas="input-group">
                                      <!-- [pattern]="constants.Cost_REXEXP" -->
                                      <input placeholder="MSRP/List" [onlyNumber]="true" #MSRP="ngModel" name="MSRP"
                                        [maxlength]="
                                          constants.MaxLengthConstants.Cost
                                        " [ngClass]="{
                                          'has-error':
                                            MSRP.invalid &&
                                            (MSRP.dirty ||
                                              MSRP.touched ||
                                              pricingForm.submitted)
                                        }" [(ngModel)]="formProductDetails.msrp" type="text" class="
                                          form-control
                                          common-text-box
                                          margin-top-5
                                          font-14
                                          text-dark-blue
                                          medium-montserrat
                                        " value="{{ productDetails?.msrp }}" (keyup)="
                                          CheckMsrp(formProductDetails.msrp)
                                        " [min]="1" />
                                      <div *ngIf="
                                          MSRP.invalid &&
                                          (MSRP.dirty ||
                                            MSRP.touched ||
                                            pricingForm.submitted)
                                        " class="text-danger">
                                        <!-- <div [hidden]="!MSRP.errors?.required">
                                          Enter MSRP
                                        </div> -->
                                        <div [hidden]="!MSRP.errors?.['pattern']">
                                          Enter valid MSRP
                                        </div>
                                      </div>
                                      <!-- <div
                                        *ngIf="isMsrpValid && !(MSRP.invalid && ( MSRP.dirty || MSRP.touched || pricingForm.submitted))"
                                        class="text-danger"
                                      >
                                        MSRP can not be zero
                                      </div> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                      <div class="
                          padding-top-15
                          padding-bottom-15
                          padding-left-15
                          padding-right-15
                          pricing-second
                        ">
                        <div class="row">
                          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div>
                              <div class="form-group margin-bottom-0">
                                <div class="row">
                                  <div class="col-xl-6">Product Type</div>
                                  <div class="col-xl-6">
                                    <div class="text-right"></div>
                                  </div>
                                </div>
                                <div *ngIf="tobeEdit === 'pricing'"></div>
                                <div *ngIf="
                                    tobeEdit !== 'pricing' &&
                                    (productTypes.length || productTypes)
                                  " (click)="
                                    closeEdit('pricing', 'pricingProductType');
                                    productTypeId =
                                      productDetails.productType.id
                                  " class="hover-edit editable">
                                  <input *ngIf="!formProductDetails.productType" type="string" class="
                                      disable-box
                                      form-control
                                      text-dark-blue
                                      semibold-montserrat
                                    " value=" " />
                                  <p *ngIf="formProductDetails.productType" class="
                                      disable-box
                                      text-dark-blue
                                      semibold-montserrat
                                      contact-name
                                    ">
                                    {{ product?.productType?.description }}
                                  </p>
                                </div>
                                <div *ngIf="
                                    tobeEdit === 'pricing' &&
                                    !productTypes.length
                                  ">
                                  <select class="
                                      form-control
                                      common-text-box
                                      margin-top-5
                                      font-14
                                      text-dark-blue
                                      medium-montserrat
                                      select1
                                    ">
                                    <option *ngIf="!productTypes.length" [value]="start">
                                      No Product Type . Please Add New
                                    </option>
                                  </select>
                                </div>

                                <div *ngIf="
                                    tobeEdit === 'pricing' &&
                                    productTypes.length
                                  ">
                                  <div claas="input-group">
                                    <select #PType="ngModel" placeholder="Product type" name="PType"
                                      [(ngModel)]="productTypeId" required [ngClass]="{
                                        'has-error':
                                          PType.invalid &&
                                          (PType.dirty ||
                                            PType.touched ||
                                            pricingForm.submitted) &&
                                          productTypeDropdown
                                      }" class="
                                        form-control
                                        common-text-box
                                        margin-top-5
                                        font-14
                                        text-dark-blue
                                        medium-montserrat
                                        select2
                                      ">
                                      <option disabled [hidden]="!productTypeId" [value]="start" selected="true">
                                        Select Product Type
                                      </option>
                                      <option [value]="type.id" *ngFor="let type of productTypes">
                                        {{ type?.description }}
                                      </option>
                                    </select>
                                    <div class="text-danger" *ngIf="
                                        PType.invalid &&
                                        (PType.dirty ||
                                          PType.touched ||
                                          pricingForm.submitted) &&
                                        productTypeDropdown
                                      ">
                                      <div [hidden]="!PType.errors?.['required']">
                                        Select product type
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="mobile-margin-bottom">
                              <div class="font-14 text-blue-gray">Taxable</div>
                              <div class="form-group form-check">
                                <label class="form-check-label">
                                  <input [disabled]="tobeEdit !== 'pricing'" [ngModelOptions]="{ standalone: true }"
                                    *ngIf="tobeEdit !== 'pricing'" [(ngModel)]="formProductDetails.isTaxable" (change)="
                                      formProductDetails.isTaxable =
                                        $any($event.target).checked
                                    " type="checkbox" class="form-check-input" value="formProductDetails?.isTaxable" />
                                  <!-- disabled -->
                                  <div *ngIf="tobeEdit === 'pricing'">
                                    <div claas="input-group">
                                      <input #Tax="ngModel" name="Tax" [(ngModel)]="
                                          formProductDetails.isTaxable
                                        " (change)="
                                          formProductDetails.isTaxable =
                                          $any($event.target).checked
                                        " type="checkbox" class="form-check-input"
                                        value="formProductDetails?.isTaxable" />
                                    </div>
                                  </div>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <div class="common-detail-box margin-bottom-15">
                  <div *ngIf="product?.tags === null">
                    <app-tags (close)="closeEdit($event.close)" [tagShowList]="[]" (tagID)="tagsArray($event.arr[0])"
                      [isEdit]="accessValid.update"></app-tags>
                  </div>
                  <div *ngIf="product?.tags !== null">
                    <app-tags (close)="closeEdit($event.close)" (tagToDelete)="tagDelete($event.arr[0])"
                      [tagShowList]="product?.tags" (tagID)="tagsArray($event.arr[0])" [isEdit]="accessValid.update">
                    </app-tags>
                  </div>
                </div>
                <!--  <div class="common-detail-box margin-bottom-15">
                  <div class="header-box">
                    <div class="row">
                      <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <div class="font-14 medium-montserrat text-capitalize text-dark-blue">Pricing Methods</div>
                      </div>
                      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="icon-box text-right font-18 text-status-blue">
                          <button type="reset" [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}" [title]="!accessValid.update?'Access denied':'Add pricing methods'"
                            class="btn-add-category text-status-blue" data-toggle="modal" data-target="#addPricingModel" (click)="popUpOpen = true;addPricingModel.show();resetforms(methodForm); focusToInput();closeEdit('nun');">
                            <i class="fa fa-plus-square-o"></i>
                          </button>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div *ngIf="formProductDetails?.pricingMethod?.length">
                    <div class="content-box contact-list-all h-192" slimScroll>
                      <div *ngFor="let method of formProductDetails?.pricingMethod; let i=index; " class="text-dark-blue border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                        <div *ngIf="method?.method === masterMethodList[0]?.name" class="left-float padding-left-15 medium-montserrat contact-name text-capitalize">
                          {{method?.name}} ({{method?.method}} - $ {{method?.value| number : '1.2-2'}})</div>
                        <div *ngIf="method?.method === masterMethodList[1]?.name" class="left-float padding-left-15 medium-montserrat contact-name text-capitalize">
                          {{method?.name}} ({{method?.method}} - {{method?.value| number : '1.2-2'}} %)</div>
                        <div *ngIf="(method?.method === masterMethodList[2]?.name) || method.method === masterMethodList[3].name" class="left-float padding-left-15 medium-montserrat contact-name text-capitalize">
                          {{method?.name}} ({{method?.method}} - {{method?.value| number : '1.2-2'}} %)</div>
                        <div class="right-float">
                          <button (click)="index=i; popupOpen(popupFor= 'deleteMethod'); ConfirmationModel.show(popupFor = 'deleteMethod');closeEdit('nun');
                       getProduct(productDetails?.id)" [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                            [title]="!accessValid.update?'Access denied':'Delete pricing methods'" type="button" class="btn-delete">
                            <i class="fa fa-trash-o"></i>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
            <div class="image-upload-section padding-top-30 padding-bottom-30">
              <div class="file-upload">
                <div class="file-select">
                  <!-- (click)="closeEdit('imageUpload', 'imageUpload')" -->
                  <div class="file-select-button" id="fileName">
                    <img src="assets/img/file-upload-icon.png" />
                  </div>
                  <div class="
                      file-select-name
                      font-14
                      medium-montserrat
                      text-capitalize
                    " id="noFile">
                    upload product images
                  </div>
                  <!-- [disabled]="tobeEdit !== 'imageUpload'" -->
                  <input class="choosenFile" [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                      !accessValid.update
                        ? 'Access denied'
                        : 'Upload product images'
                    " style="margin-left: 40%; width: 20%" (change)="uploadPic($event)" type="file" name="chooseFile"
                    id="chooseFile" />
                  <!-- closeEdit('imageUpload', 'imageUpload');  tobeEditPrevious = undefined-->

                  <div class="text-danger" *ngIf="isImageSizeLarge">
                    <div>File size exceeds the allowable limit of 1MB</div>
                  </div>
                </div>

                <div class="uploaded-file">
                  <div class="row">
                    <div *ngFor="let img of images; let i = index" class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                      <div *ngIf="i < 3" class="uploaded-image">
                        <a (click)="
                            imageViewModal.show();
                            imageToShow(img);
                            tobeEdit = 'nun';
                            tobeEditPrevious = undefined;
                            productTitleCopy = false
                          " class="example-image-link" data-lightbox="example-1">
                          <img src="{{ img?.string }}" />
                        </a>
                        <!-- ConfirmationModel.show((popupFor = 'deleteImage')); -->
                        <button (click)="
                            index = img.id;
                            popupOpen((popupFor = 'deleteImage'));
                            ConfirmationModel.show();
                            getProduct(productDetails?.id)
                          " [disabled]="!accessValid.update" [ngClass]="{ 'btn-disabled': !accessValid.update }"
                          [title]="
                            !accessValid.update
                              ? 'Access denied'
                              : 'Remove image'
                          " type="button" class="image-delete">
                          <i class="fa fa-times-thin fa-lg"></i>
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="
            col-12 col-lg-4 col-md-4 col-xl-3 col-sm-12
            padding-left-0
            mobile-left-padding
          ">
          <div class="left-common-box">
            <div class="common-detail-box margin-bottom-15">
              <form novalidate autocomplete="off" #PDetailsForm="ngForm">
                <div class="header-box">
                  <div class="row">
                    <div class="col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6 pr-1">
                      <div class="
                          font-14
                          medium-montserrat
                          text-capitalize text-dark-blue
                        ">
                        product details
                      </div>
                    </div>
                    <div class="col-3 col-sm-3 col-md-6 col-lg-6 col-xl-6 pl-0">
                      <div class="icon-box edit-account-detail text-right font-12">
                        <button *ngIf="tobeEdit !== 'productDetails'" (click)="
                            duplicatePartNo = false;
                            isPartNovalid = false;
                            isUPCNovalid = false;
                            closeEdit('productDetails', 'ALL')
                          " type="button" [disabled]="!accessValid.update || isEditTab"
                          [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                            !accessValid.update ? 'Access denied' : 'Edit'
                          " class="btn-edit-acc-detail text-status-blue">
                          <i class="fa fa-lg fa-edit show-edit"></i>
                        </button>
                        <button *ngIf="tobeEdit === 'productDetails'" (click)="
                            editdetails(
                              PDetailsForm.valid,
                              formProductDetails,
                              supplier
                            );
                            tobeEdit = '';
                            tobeEditPrevious = undefined;
                            isEditTab = false
                          " type="button" class="btn btn-primary btn-sm">
                          Save
                        </button>
                        <button *ngIf="tobeEdit === 'productDetails'" (click)="
                            productTitleCopy = false;
                            tobeEdit = 'nun';
                            tobeEditFrom = 'nun';
                            duplicatePartNo = false;
                            isPartNovalid = false;
                            isUPCNovalid = false;
                            isEditTab = false;
                            discard(productDetails?.id);
                            tobeEditPrevious = undefined
                          " type="reset" class="btn secondary-btn btn-cancel btn-sm">
                          Cancel
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="
                    content-box
                    padding-left-15
                    padding-right-15
                    padding-top-10
                    padding-bottom-10
                    edit-field-account
                  ">
                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group">
                            <label>Product ID </label>
                            <p class="
                                disable-box
                                new-line
                                text-dark-blue
                                semibold-montserrat
                                contact-name
                              ">
                              {{ productDetails?.uniqueId }}
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- Part Number -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group">
                            <label>Part Number </label>
                            <div (click)="
                                closeEdit('productDetails', 'PartNumber')
                              " class="hover-edit editable">
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  disable-box
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                  contact-name
                                ">
                                {{ productDetails?.partNo }}
                              </p>
                            </div>

                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div class="form-group">
                                <input type="text" [pattern]="
                                    constants.AnythingWhithoutSpace_REGEXP
                                  " placeholder="Part Number" name="PartNo" #PartNo="ngModel"
                                  [(ngModel)]="formProductDetails.partNo" [maxlength]="
                                    constants.MaxLengthConstants.PartNumber
                                  " (keyup)="
                                    CheckPartNo(formProductDetails.partNo);
                                    duplicatePartNo = false
                                  " (change)="
                                    removeLeadSpace(
                                      'PartNumber',
                                      formProductDetails.partNo
                                    )
                                  " required />

                                <div class="text-danger" *ngIf="
                                    PartNo.invalid &&
                                    (PartNo.dirty ||
                                      PartNo.touched ||
                                      PDetailsForm.submitted)
                                  ">
                                  <div [hidden]="!PartNo.errors['required']">
                                    Enter part no
                                  </div>
                                  <div [hidden]="!PartNo.errors['pattern']">
                                    Enter valid part no
                                  </div>
                                </div>
                                <div *ngIf="
                                    isPartNovalid &&
                                    !duplicatePartNo &&
                                    !(
                                      PartNo.invalid &&
                                      (PartNo.dirty ||
                                        PartNo.touched ||
                                        PDetailsForm.submitted)
                                    )
                                  " class="text-danger">
                                  Part no can not be zero
                                </div>
                                <div *ngIf="
                                    duplicatePartNo &&
                                    !isPartNovalid &&
                                    !(
                                      PartNo.invalid &&
                                      (PartNo.dirty ||
                                        PartNo.touched ||
                                        PDetailsForm.submitted)
                                    )
                                  " class="text-danger">
                                  Duplicate part no
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Supplier -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>Supplier </label>
                            <div (click)="closeEdit('productDetails', 'Supplier')" class="hover-edit editable"
                              [class.no-value]="
                                productDetails?.suppliers === null ||
                                productDetails?.suppliers.length === 0
                              ">
                              <p *ngIf="
                                  (productDetails?.suppliers ||
                                    productDetails?.suppliers !== null) &&
                                  !(tobeEdit === 'productDetails')
                                " class="
                                  disable-box
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                  contact-name
                                ">
                                <span *ngFor="let item of productDetails?.suppliers">
                                  {{ item.description }}
                                </span>
                              </p>
                            </div>

                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div class="form-group">
                                <ng-template #customItemTemplate let-model="item" let-index="index">
                                  <span>{{ model.description }}</span>
                                </ng-template>

                                <input placeholder="Supplier" name="ProductSupplier" #ProductSupplier="ngModel"
                                  [maxlength]="
                                    constants.MaxLengthConstants.ProductTitle
                                  " [pattern]="constants.Title_REGEXP" [ngClass]="{
                                    'has-error':
                                      ProductSupplier.invalid &&
                                      (ProductSupplier.dirty ||
                                        ProductSupplier.touched ||
                                        PDetailsForm.submitted)
                                  }" [(ngModel)]="supplier.description" [typeahead]="supplierList"
                                  [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="description"
                                  (input)="
                                    findSupplier(supplier.description);
                                    supplierPresent = false
                                  " />
                                <div class="text-danger" *ngIf="
                                    ProductSupplier.invalid &&
                                    (ProductSupplier.dirty ||
                                      ProductSupplier.touched ||
                                      PDetailsForm.submitted)
                                  ">
                                  <div [hidden]="!ProductSupplier.errors['required']">
                                    Enter supplier
                                  </div>
                                  <div [hidden]="!ProductSupplier.errors['pattern']">
                                    Enter valid supplier
                                  </div>
                                </div>
                                <!-- <div class="text-danger" *ngIf="supplierPresent && !(ProductSupplier.invalid && (ProductSupplier.dirty || supplierForm.submitted))">
                                  Supplier already present
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="clearfix"></div> -->
                      <!-- </div>
                    <div class="row"> -->
                      <!-- UPC -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>UPC </label>
                            <div class="hover-edit editable" [class.no-value]="productDetails?.upc === null"
                              (click)="closeEdit('productDetails', 'UPC')">
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  disable-box
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                  contact-name
                                ">
                                <span>{{ productDetails?.upc }}</span>
                              </p>
                              <!-- <input *ngIf="!productDetails?.upc" type="text" class="disable-box form-control text-dark-blue semibold-montserrat" value=" "> -->
                            </div>
                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div claas="input-group">
                                <input placeholder="UPC" type="text" [maxlength]="constants.MaxLengthConstants.UPC"
                                  [(ngModel)]="formProductDetails.upc" #UPC="ngModel" name="UPC"
                                  [pattern]="constants.Num_REXEXP" [ngClass]="{
                                    'has-error':
                                      (UPC.invalid &&
                                        (UPC.dirty ||
                                          UPC.touched ||
                                          PDetailsForm.submitted)) ||
                                      (isUPCNovalid &&
                                        !(
                                          UPC.invalid &&
                                          (UPC.dirty ||
                                            UPC.touched ||
                                            PDetailsForm.submitted)
                                        ))
                                  }" (keyup)="CheckUPC(formProductDetails.upc)" />
                                <div class="text-danger" *ngIf="
                                    UPC.invalid &&
                                    (UPC.dirty ||
                                      UPC.touched ||
                                      PDetailsForm.submitted)
                                  ">
                                  <!-- <div [hidden]="!UPC.errors.required">
                                    Enter UPC
                                  </div> -->
                                  <div [hidden]="!UPC.errors['pattern']">
                                    Enter valid UPC
                                  </div>
                                </div>
                                <div *ngIf="
                                    isUPCNovalid &&
                                    !(
                                      UPC.invalid &&
                                      (UPC.dirty ||
                                        UPC.touched ||
                                        PDetailsForm.submitted)
                                    )
                                  " class="text-danger">
                                  UPC can not be zero
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Manufacturer -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>Manufacturer</label>
                            <div class="hover-edit editable" [class.no-value]="
                                productDetails?.manufacturer === null ||
                                productDetails?.manufacturer.length === 0
                              " (click)="
                                closeEdit('productDetails', 'Manufacturer')
                              ">
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  disable-box
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                  contact-name
                                ">
                                <span>{{ productDetails?.manufacturer }}</span>
                              </p>
                              <!-- <input *ngIf="!productDetails?.manufacturer" type="text" class="disable-box form-control text-dark-blue semibold-montserrat"
                                value=" "> -->
                            </div>
                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div claas="input-group">
                                <ng-template #customManufacturerTemplate let-model="item" let-index="index">
                                  <span>{{ model }}</span>
                                </ng-template>

                                <input placeholder="Manufacturer" name="manufacturer" #manufacturer="ngModel"
                                  [maxlength]="
                                    constants.MaxLengthConstants.ProductTitle
                                  " [pattern]="constants.Title_REGEXP" [ngClass]="{
                                    'has-error':
                                      manufacturer.invalid &&
                                      (manufacturer.dirty ||
                                        manufacturer.touched ||
                                        PDetailsForm.submitted)
                                  }" [(ngModel)]="formProductDetails.manufacturer" [typeahead]="manufacturers"
                                  [typeaheadItemTemplate]="
                                    customManufacturerTemplate
                                  " (change)="
                                    removeLeadSpace(
                                      'Manufacturer',
                                      formProductDetails.manufacturer
                                    )
                                  " typeaheadOptionField="manufacturer" />

                                <!-- <input type="text" placeholder="Manufacturer" [(ngModel)]="formProductDetails.manufacturer" #manufacturer="ngModel"
                                  [maxlength]="constants.MaxLengthConstants.ProductTitle" [pattern]="constants.Title_REGEXP" name="manufacturer"
                                  [ngClass]="{'has-error': manufacturer.invalid && (manufacturer.dirty || manufacturer.touched || PDetailsForm.submitted) }"> -->
                                <div *ngIf="
                                    manufacturer.invalid &&
                                    (manufacturer.dirty ||
                                      manufacturer.touched ||
                                      PDetailsForm.submitted)
                                  " class="text-danger">
                                  <div [hidden]="!manufacturer.errors?.['pattern']">
                                    Enter valid manufacturer
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Manufacturer Part Number -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>Manufacturer Part Number</label>
                            <div class="hover-edit editable" [class.no-value]="
                                productDetails?.manufacturerPartNumber ===
                                  null ||
                                productDetails?.manufacturerPartNumber
                                  .length === 0
                              " (click)="
                                closeEdit(
                                  'productDetails',
                                  'ManufacturerPartNumber'
                                )
                              ">
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  disable-box
                                  new-line
                                  text-dark-blue
                                  semibold-montserrat
                                  contact-name
                                ">
                                <span>{{
                                  productDetails?.manufacturerPartNumber
                                  }}</span>
                              </p>
                              <!-- <input *ngIf="!productDetails?.manufacturerPartNumber" type="text" class="disable-box form-control text-dark-blue semibold-montserrat"
                                value=" "> -->
                            </div>
                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div claas="input-group">
                                <input type="text" placeholder="Manufacturer Part Number" (change)="
                                    removeLeadSpace(
                                      'ManufacturerPartNumber',
                                      formProductDetails.manufacturerPartNumber
                                    )
                                  " [(ngModel)]="
                                    formProductDetails.manufacturerPartNumber
                                  " #manufacturerPartNumber="ngModel" [maxlength]="
                                    constants.MaxLengthConstants.PartNumber
                                  " [pattern]="
                                    constants.AnythingWhithoutSpace_REGEXP
                                  " name="manufacturerPartNumber" [ngClass]="{
                                    'has-error':
                                      manufacturerPartNumber.invalid &&
                                      (manufacturerPartNumber.dirty ||
                                        manufacturerPartNumber.touched ||
                                        PDetailsForm.submitted)
                                  }" />
                                <div *ngIf="
                                    manufacturerPartNumber.invalid &&
                                    (manufacturerPartNumber.dirty ||
                                      manufacturerPartNumber.touched ||
                                      PDetailsForm.submitted)
                                  " class="text-danger">
                                  <div [hidden]="
                                      !manufacturerPartNumber.errors?.['pattern']
                                    ">
                                    Enter valid manufacturer part number
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Unit of Measure -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>Unit Of Measure</label>
                            <div class="hover-edit editable" [class.no-value]="
                                productDetails?.unitOfMeasure === null ||
                                productDetails?.unitOfMeasure.length === 0
                              " (click)="
                                closeEdit('productDetails', 'UnitOfMeasure')
                              ">
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  new-line
                                  semibold-montserrat
                                  contact-name
                                  cursor-pointer-checkbox
                                ">
                                <span>{{ productDetails?.unitOfMeasure }}</span>
                              </p>
                            </div>
                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div claas="input-group">
                                <select class="
                                    form-control form-control-sm
                                    common-text-box
                                    margin-top-5
                                    font-14
                                    text-dark-blue
                                    medium-montserrat
                                    ml-1
                                  " name="UnitOfMeasure" #UnitOfMeasure="ngModel"
                                  [(ngModel)]="formProductDetails.unitOfMeasure">
                                  <option selected [value]="undefined">
                                    Select Unit of measure
                                  </option>
                                  <option [selected]="
                                      productDetails.unitOfMeasure === item.name
                                    " *ngFor="let item of unitOfMeasures" [value]="item.name">
                                    {{ item.name }}
                                  </option>
                                </select>
                                <div *ngIf="
                                    UnitOfMeasure.invalid &&
                                    (UnitOfMeasure.dirty ||
                                      UnitOfMeasure.touched ||
                                      PDetailsForm.submitted)
                                  " class="text-danger"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Product Detail Hyper link -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>Product Detail Link</label>
                            <div class="" class="hover-edit editable" [class.no-value]="
                                productDetails?.productDetailHyperlink ===
                                  null ||
                                productDetails?.productDetailHyperlink
                                  .length === 0
                              ">
                              <i *ngIf="
                                  productDetails?.productDetailHyperlink &&
                                  !(tobeEdit === 'productDetails')
                                " class="
                                  fa fa-link
                                  text-info
                                  cursor-pointer-checkbox
                                  font-size-11
                                  mr-1
                                " aria-hidden="true" (click)="
                                  goToUrlReferenceUrl(
                                    productDetails?.productDetailHyperlink
                                  )
                                "></i>
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  new-line
                                  semibold-montserrat
                                  contact-name
                                  text-info
                                  cursor-pointer-checkbox
                                  hover-edit
                                  editable
                                " (click)="
                                  closeEdit(
                                    'productDetails',
                                    'ProductDetailLink'
                                  )
                                ">
                                <span>{{
                                  productDetails?.productDetailHyperlink
                                  }}</span>
                              </p>
                              <!-- <input *ngIf="!productDetails?.productDetailHyperlink" type="text" class="disable-box form-control text-dark-blue semibold-montserrat"
                                value=" "> -->
                            </div>
                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div claas="input-group">
                                <input type="url" autocomplete="off" placeholder="Product Detail link" [(ngModel)]="
                                    formProductDetails.productDetailHyperlink
                                  "
                                  pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                                  #productDetailHyperlink="ngModel" name="productDetailHyperlink" [ngClass]="{
                                    'has-error':
                                      productDetailHyperlink.invalid &&
                                      (productDetailHyperlink.dirty ||
                                        productDetailHyperlink.touched ||
                                        PDetailsForm.submitted)
                                  }" />
                                <div *ngIf="
                                    productDetailHyperlink.invalid &&
                                    (productDetailHyperlink.dirty ||
                                      productDetailHyperlink.touched ||
                                      PDetailsForm.submitted)
                                  " class="text-danger">
                                  <div [hidden]="
                                      !productDetailHyperlink.errors['pattern']
                                    ">
                                    Enter valid product detail link
                                  </div>
                                </div>

                                <!-- <div *ngIf="productDetailHyperlink.invalid && ( productDetailHyperlink.dirty || productDetailHyperlink.touched || PDetailsForm.submitted)"
                                  class="text-danger">
                                  <div [hidden]="!productDetailHyperlink.errors?.pattern">
                                    Enter valid product detail link
                                  </div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Product data Sheet Hyper link -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                          <div class="form-group" [class.mb-0]="!(tobeEdit === 'productDetails')">
                            <label>Product Data Sheet Link</label>
                            <div class="hover-edit editable" [class.no-value]="
                                productDetails?.productDatasheetHyperlink ===
                                  null ||
                                productDetails?.productDatasheetHyperlink
                                  .length === 0
                              ">
                              <i *ngIf="
                                  productDetails?.productDatasheetHyperlink &&
                                  !(tobeEdit === 'productDetails')
                                " class="
                                  fa fa-link
                                  text-info
                                  cursor-pointer-checkbox
                                  font-size-11
                                  mr-1
                                " aria-hidden="true" (click)="
                                  goToUrlReferenceUrl(
                                    productDetails?.productDatasheetHyperlink
                                  )
                                "></i>
                              <p *ngIf="!(tobeEdit === 'productDetails')" class="
                                  new-line
                                  semibold-montserrat
                                  contact-name
                                  text-info
                                  cursor-pointer-checkbox
                                  hover-edit
                                  editable
                                " (click)="
                                  closeEdit(
                                    'productDetails',
                                    'ProductDataSheetLink'
                                  )
                                ">
                                <span>{{
                                  productDetails?.productDatasheetHyperlink
                                  }}</span>
                              </p>
                              <!-- <input *ngIf="!productDetails?.productDataSheetHyperlink" type="text" class="disable-box form-control text-dark-blue semibold-montserrat"
                                value=" "> -->
                            </div>
                            <div *ngIf="tobeEdit === 'productDetails'">
                              <div claas="input-group">
                                <input type="url" autocomplete="off" placeholder="Product data sheet link" [(ngModel)]="
                                    formProductDetails.productDatasheetHyperlink
                                  " #productDataSheetHyperlink="ngModel"
                                  pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                                  name="productDataSheetHyperlink" [ngClass]="{
                                    'has-error':
                                      productDataSheetHyperlink.invalid &&
                                      (productDataSheetHyperlink.dirty ||
                                        productDataSheetHyperlink.touched ||
                                        PDetailsForm.submitted)
                                  }" />
                                <div *ngIf="
                                    productDataSheetHyperlink.invalid &&
                                    (productDataSheetHyperlink.dirty ||
                                      productDataSheetHyperlink.touched ||
                                      PDetailsForm.submitted)
                                  " class="text-danger">
                                  <div [hidden]="
                                      !productDataSheetHyperlink.errors['pattern']
                                    ">
                                    Enter valid data sheet link
                                  </div>
                                </div>
                                <!-- <div *ngIf="productDataSheetHyperlink.invalid && ( productDataSheetHyperlink.dirty || productDataSheetHyperlink.touched || PDetailsForm.submitted)"
                                  class="text-danger">
                                  <div [hidden]="!productDataSheetHyperlink.errors?.pattern">
                                    Enter valid product data sheet link
                                  </div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="product" class="common-detail-box margin-bottom-15">
              <app-categories [isEdit]="accessValid.update" (close)="closeEdit($event.close)"
                (categories)="categories($event.category)" (subCategories)="subCategories($event.subcategory)"
                [subCategory]="product?.subCategory" [category]="product?.category"
                (subCategoryToDelete)="subcategoryDelete($event.arr[0])"
                (categoryToDelete)="categoryDelete($event.arr[0])"></app-categories>
            </div>

            <!-- <div class="common-detail-box margin-bottom-15">
              <div class="header-box">
                <div class="row">
                  <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <div class="font-14 medium-montserrat text-capitalize text-dark-blue">suppliers</div>
                  </div>
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="icon-box text-right font-18">
                      <button type="button" [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}"
                        [title]="!accessValid.update?'Access denied':'Add suppliers'" class="btn-add-supplier text-status-blue"
                        data-toggle="modal" data-target="#addSupplierModal" (click)="addSupplierModal.show();resetforms(supplierForm);tobeEdit='nun';productTitleCopy = false;setFocus();">
                        <i class="fa fa-plus-square-o"></i>
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div *ngIf="product?.suppliers?.length">
                <div class="content-box contact-list-all h-200" slimScroll>
                  <div *ngFor="let supplier of product?.suppliers; let i=index" class="text-dark-blue border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                    <div class="left-float padding-left-15 medium-montserrat contact-name">{{supplier?.description}}</div>
                    <div class="right-float">
                      <button type="button" (click)="index=i; popupOpen(popupFor= 'deleteSupplier'); ConfirmationModel.show(popupFor = 'deleteSupplier');closeEdit('nun');"
                        [disabled]="!accessValid.update" [ngClass]="{'btn-disabled': !accessValid.update}" [title]="!accessValid.update?'Access denied':'Delete suppliers'"
                        class="btn-delete">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="common-detail-box margin-bottom-15">
              <div *ngIf="product?.tags === null">
                <app-tags (close)="closeEdit($event.close)" [tagShowList]="[ ]" (tagID)="tagsArray($event.arr[0])" [isEdit]="accessValid.update"></app-tags>
              </div>
              <div *ngIf="product?.tags !== null">
                <app-tags (close)="closeEdit($event.close)" (tagToDelete)="tagDelete($event.arr[0])" [tagShowList]="product?.tags" (tagID)="tagsArray($event.arr[0])"
                  [isEdit]="accessValid.update"></app-tags>
              </div>
            </div> -->
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addSupplierModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <form autocomplete="off" novalidate name="supplierForm" #supplierForm="ngForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="
              modal-title
              text-capitalize
              font-18
              text-dark-blue
              medium-montserrat
            ">
            Add Supplier
          </h4>
          <button type="button" class="close common-close" (click)="
              addSupplierModal.hide((supplier.description = null));
              resetforms(supplierForm)
            " aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">Supplier</label>
                <!-- <ng-template #customItemTemplate let-model="item" let-index="index">
                  <span>{{model.description}}</span>
                </ng-template>

                <input placeholder="Supplier" name="ProductNumber" #ProductNumber="ngModel" #ProductNumbe [maxlength]="constants.MaxLengthConstants.ProductTitle"
                  [pattern]="constants.Title_REGEXP" [ngClass]="{'has-error':ProductNumber.invalid && (ProductNumber.dirty || supplierForm.submitted)}"
                  [(ngModel)]="supplier.description" [typeahead]="supplierList" [typeaheadItemTemplate]="customItemTemplate"
                  typeaheadOptionField="description" (input)="findSupplier(supplier.description);supplierPresent = false;"
                  class="form-control" required> -->
                <!-- {{isOpenPopup ? ProductNumbe.focus() : null}} -->
                <!-- {{isOpenPopup ? ProductNumber.reset() : null}} -->
              </div>
            </div>
            <!--
            <div class="text-danger" *ngIf="(ProductNumber.invalid && (ProductNumber.dirty || supplierForm.submitted))">
              <div [hidden]="!ProductNumber.errors.required">
                Enter supplier
              </div>
              <div [hidden]="!ProductNumber.errors.pattern">
                Enter valid supplier
              </div>
            </div> -->
            <!-- <div class="text-danger" *ngIf="supplierPresent && !(ProductNumber.invalid && (ProductNumber.dirty || supplierForm.submitted))">
              Supplier already present
            </div> -->
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <!-- <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add" (click)="addSupplier(supplierForm,addSupplierModal, supplier);">Add</button>
          <button type="reset" class="btn secondary-btn btn-default" (click)="addSupplierModal.hide(supplier.description=null);">Cancel</button>
        </div> -->
      </div>
    </form>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #addPricingModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <form autocomplete="off" (ngSubmit)="
        pricingMethodArray(
          methodForm.valid,
          methodForm,
          addPricingModel,
          pricingMethod
        )
      " novalidate name="mathodForm" #methodForm="ngForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="
              modal-title
              text-capitalize
              font-18
              text-dark-blue
              medium-montserrat
            ">
            Add Pricing Method
          </h4>
          <button type="reset" class="close common-close" (click)="
              addPricingModel.hide(); methodUsed = false; methodNotExist = false
            " aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">Pricing Method</label>

                <div *ngIf="masterMethodList.length !== 0" class="form-group">
                  <div class="form-group mb-0">
                    <ng-template #customItemTemplate let-model="item" let-index="index">
                      <span *ngIf="model?.method === masterMethodList[0]?.name" class="mb-0">{{ model?.name }} ({{
                        model?.method }} - $
                        {{ formProductDetails?.msrp }})</span>
                      <span *ngIf="model?.method === masterMethodList[1]?.name" class="mb-0">{{ model?.name }} ({{
                        model?.method }} -
                        {{ model?.value }} %)</span>
                      <span *ngIf="
                          model?.method === masterMethodList[2]?.name ||
                          model?.method === masterMethodList[3]?.name
                        " class="mb-0">{{ model?.name }} ({{ model?.method }} -
                        {{ model?.value }} %)</span>
                    </ng-template>

                    <input name="PricingMethod" placeholder="Pricing method" id="p" autocomplete="off"
                      #PricingMethod="ngModel" [(ngModel)]="searchText" [ngClass]="{
                        'has-error':
                          PricingMethod.invalid &&
                          (PricingMethod.dirty ||
                            PricingMethod.touched ||
                            methodForm.submitted) &&
                          methodForm.submitted
                      }" [typeahead]="methodList" [typeaheadItemTemplate]="customItemTemplate"
                      typeaheadOptionField="name" (typeaheadOnSelect)="onSelectPricingMethod($event)"
                      (ngModelChange)="findPricingMethod(searchText)" class="form-control" required
                      [appAutofocus]="focusTextBox" (input)="methodUsed = false; methodNotExist = false" />

                    <div *ngIf="
                        PricingMethod.invalid &&
                        (PricingMethod.dirty ||
                          PricingMethod.touched ||
                          methodForm.submitted) &&
                        methodForm.submitted
                      " class="text-danger">
                      <div [hidden]="!PricingMethod.errors?.['required']">
                        Enter pricing method
                      </div>
                      <div [hidden]="!PricingMethod.errors?.['pattern']">
                        Enter valid pricing method
                      </div>
                    </div>
                    <div *ngIf="methodUsed" class="text-danger">
                      Method already present
                    </div>
                    <div *ngIf="methodNotExist" class="text-danger">
                      Pricing method does not exists
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add">Add</button>
          <button type="reset" class="btn secondary-btn btn-default" (click)="
              addPricingModel.hide(); methodUsed = false; methodNotExist = false
            ">
            Cancel
          </button>
        </div>
      </div>
    </form>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #imageViewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog modal-sm">
    <div class="modal-body">
      <button type="reset" class="image-delete pull-right" (click)="imageViewModal.hide()" aria-label="Close">
        <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
      </button>

      <img src="{{ imageSource }}" class="img-fluid" />
    </div>
  </div>
</div>

<!-- <div bsModal [ngClass]="{'show':show}" # ConfirmationModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [notification]="notification" [typeofMessage]="typeofMessage" [message]="messageToDisplay" [note]="noteToDisplay"
    [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes( ConfirmationModel)" (no)="no( ConfirmationModel)" (hide)="hide( ConfirmationModel);"></app-toaster>
</div> -->

<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{ show: show }" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel)"></app-toaster>
</div>

<div bsModal #EditConfirmationModel="bs-modal" [ngClass]="{ show: editConfirmshow }"
  [style.display]="editConfirmshow ? 'block' : 'none'" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myEditSaveModalLabel" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons"
    (yes)="yesSave(EditConfirmationModel, tobeEdit, tobeEditPrevious)"
    (no)="noSave(EditConfirmationModel, tobeEdit, tobeEditPrevious)"
    (hide)="hideSave(EditConfirmationModel, tobeEdit, tobeEditPrevious)"></app-toaster>
</div>

<!-- <div bsModal
     #myModal="bs-modal"
     id="myModal"
     [ngClass]="{'show':show}"
     [style.display]="show ? 'block' : 'none'"
     tabindex="-1"
     class="modal fade in"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
     [config]="{backdrop: 'static',  keyboard: true}">

  <div class="modal-dialog  modal-sm"
       role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button"
                class="close"
                (click)="show=false"
                aria-label="Close">
          <span class=" font-26"
                aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <span *ngIf="!validImg">The maximum number of images per product is three</span>
        <span *ngIf="validImg">Please provide valid details</span>
      </div>
    </div>
  </div>
</div> -->