<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="animated fadeIn FormClient">
  <div class="FormClient">
    <div class="form-group">
      <form>
        <div class="card">
          <div class="card-header">
            <h5> Company Profile
              <button *ngIf="!isEdit" (click)="onEdit()" class="btn-edit pull-right">
                <i class="fa fa-pencil " area-hidden="true"></i>
              </button>
            </h5>
          </div>
          <form novalidate autocomplete="off" (ngSubmit)="onSubmit(myForm.valid);isImageWidthHeightLarge=false"
            #myForm="ngForm">
            <div class="card-block">
              <div class="row">
                <div class="col-lg-12 form-group">
                  <div class="row">
                    <div class="col-sm-3 form-group">
                      <div class="company-logo col-lg-12">
                        <div class="">
                          <img *ngIf="!company?.logo" class="img-fluid" width="100%" height="100%"
                            src='assets/img/main-logo.png'>
                          <img *ngIf="company?.logo" class="img-fluid" [src]="company?.logo">
                        </div>
                        <div *ngIf="isEdit" class="edit">
                          <label class="fileUpload">
                            <i class="fa fa-pencil fa-lg"></i>
                            <input id="uploadBtn" type="file" class="upload" (change)="uploadDoc($event)" />
                          </label>
                        </div>
                      </div>
                      <div class="text-danger" *ngIf="isImageSizeLarge">
                        <alert type="danger">
                          File size exceeds the allowable limit of 1MB
                        </alert>
                      </div>
                      <div class="text-danger" *ngIf="isImageWidthHeightLarge">
                        <alert type="danger">
                          Image width and height exceeds the allowable resolution of 125px * 60px
                        </alert>
                      </div>
                    </div>

                    <div class="col-sm-9 form-group">
                      <div class="company-profile" *ngIf="!isEdit">
                        <button (click)="onEdit()" class="edit">
                          <i class="fa fa-pencil fa-lg" area-hidden="true"></i>
                        </button>
                        <div class="col-lg-12">
                          <div class="company-right">
                            <h5 class="text-uppercase bold-montserrat" [innerHTML]="company.name"></h5>
                            <p *ngIf="company.contactNo">{{company.contactNo}}
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </p>
                            <p *ngIf="company.email"> {{company.email}}
                              <i class="fa fa-envelope-o" area-hidden="true"></i>
                            </p>
                            <p>{{company.street}}, {{company.city}}, {{company.state}} {{company.zip }}
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </p>

                          </div>
                          <div class="clearfix"></div>
                          <div class="company-profile mt-3"
                            [class.mb-5]="company.aboutUs === null || company.aboutUs === undefined">
                            <h6 class="text-capitalize semibold-montserrat">about company</h6>
                          </div>
                          <div [hidden]="company.aboutUs === null || company.aboutUs === undefined" class="ql-editor"
                            style="margin-left: -15px" [innerHTML]="company.aboutUs | safe : 'html'">
                          </div>

                          <div class="company-profile mt-3">
                            <h6 class="text-capitalize semibold-montserrat">terms and conditions</h6>
                          </div>
                          <div [hidden]="company.termsConditions === null || company.termsConditions === undefined"
                            class="ql-editor" style="margin-left: -15px"
                            [innerHTML]="company.termsConditions | safe : 'html'">
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="isEdit">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label>Company Name
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="input-group">
                              <input type="text" [(ngModel)]="company.name" required #PropertyName="ngModel"
                                name="PropertyName" placeholder="Property Name"
                                [ngClass]="{'has-error': PropertyName.invalid && (PropertyName.dirty || PropertyName.touched || myForm.submitted) }"
                                (input)="isCompanyDuplicate=false"
                                [maxlength]="constants.MaxLengthConstants.CompanyName" class="form-control">
                            </div>
                            <div
                              *ngIf="PropertyName.invalid && (PropertyName.dirty || PropertyName.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!PropertyName.errors['required']" class="popover-body">
                                Enter company name
                              </div>
                              <div [hidden]="!PropertyName.errors['pattern']" class="popover-body">
                                Enter valid company name
                              </div>
                            </div>
                            <div *ngIf="isCompanyDuplicate" class="text-danger">
                              Duplicate company name
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label>Contact Number
                            </label>
                            <div class="input-group">
                              <input type="text" [(ngModel)]="company.contactNo" #ContactNo="ngModel" name="ContactNo"
                                prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
                                placeholder="Contact Number" [maxlength]="constants.MaxLengthConstants.Phone"
                                [ngClass]="{'has-error': ContactNo.invalid && (ContactNo.dirty || ContactNo.touched || myForm.submitted) }"
                                Enabled="True" MinimumValue="1" MaskType="Number" AutoComplete="true"
                                AutoCompleteValue="" InputDirection="LeftToRight" [pattern]="constants.PHONE_REGEXP"
                                class="form-control">
                            </div>
                            <div *ngIf="ContactNo.invalid && (ContactNo.dirty || ContactNo.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!ContactNo.errors['required']" class="popover-body">
                                Enter contact no
                              </div>
                              <div [hidden]="!ContactNo.errors['pattern']" class="popover-body">
                                Enter valid contact no
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label>Contact Email
                            </label>
                            <div class="input-group">
                              <input type="text" [(ngModel)]="company.email"
                                [maxlength]="constants.MaxLengthConstants.Email" #Email="ngModel" name="Email"
                                [ngClass]="{'has-error': Email.invalid && (Email.dirty || Email.touched || myForm.submitted) }"
                                [pattern]="constants.EMAIL_REGEXP" placeholder="Contact Email" class="form-control">
                            </div>
                            <div *ngIf="Email.invalid && (Email.dirty || Email.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!Email.errors['required']" class="popover-body">
                                Enter contact email
                              </div>
                              <div [hidden]="!Email.errors['pattern']" class="popover-body">
                                Enter valid contact email
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label>Address
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="input-group">

                              <input type="text" [(ngModel)]="company.street" required #Street="ngModel" name="Street"
                                [ngClass]="{'has-error': Street.invalid && (Street.dirty || Street.touched || myForm.submitted) }"
                                [maxlength]="constants.MaxLengthConstants.Street" placeholder="Street"
                                class="form-control">
                            </div>
                            <div *ngIf="Street.invalid && (Street.dirty || Street.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!Street.errors['required']" class="popover-body">
                                Enter address
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label>City
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="input-group">

                              <input type="text" [(ngModel)]="company.city" required #City="ngModel" name="City"
                                [ngClass]="{'has-error': City.invalid && (City.dirty || City.touched || myForm.submitted) }"
                                [maxlength]="constants.MaxLengthConstants.City" placeholder="City" class="form-control">
                            </div>
                            <div *ngIf="City.invalid && (City.dirty || City.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!City.errors['required']" class="popover-body">
                                Enter city
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label>State
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="input-group">

                              <select class="form-control" #State="ngModel"
                                [ngClass]="{'has-error': State.invalid && (State.dirty || State.touched || myForm.submitted) }"
                                name="State" [(ngModel)]="company.state">
                                <option value="" selected="true" disabled="true">Select State</option>
                                <option *ngFor="let item of states" value="{{item.abbreviation}}">
                                  {{item.abbreviation}}
                                </option>
                              </select>
                            </div>
                            <div *ngIf="State.invalid && (State.dirty || State.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!State.errors['required']" class="popover-body">
                                Select state
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <label>Zip
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="input-group">

                              <input type="text" [(ngModel)]="company.zip" required #Zip="ngModel"
                                [maxlength]="constants.MaxLengthConstants.Zip" name="Zip"
                                [ngClass]="{'has-error': Zip.invalid && (Zip.dirty || Zip.touched || myForm.submitted) }"
                                [pattern]="constants.ZIP_REGEXP" placeholder="Zip" class="form-control">
                            </div>
                            <div *ngIf="Zip.invalid && (Zip.dirty || Zip.touched || myForm.submitted)"
                              class="text-danger">
                              <div [hidden]="!Zip.errors['required']" class="popover-body">
                                Enter zip
                              </div>
                              <div [hidden]="!Zip.errors['pattern']" class="popover-body">
                                Enter valid zip
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                            <label>About Company
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="content-box textarea-box">
                              <!-- <ckeditor name="AboutUs"
                                        [config]="{removeButtons : 'About,Cut,Copy,Paste,PasteText,PasteFromWord,Source,Anchor' }"

                                        required
                                        [(ngModel)]="company.aboutUs"
                                        #AboutUs="ngModel"
                                        [config]="{addButton : 'Save' }"
                                        [readonly]="false"
                                        debounce="500">
                              </ckeditor> -->
                              <quill-editor [(ngModel)]="company.aboutUs" name="AboutUs" [required]="true"
                                #AboutUs="ngModel"
                                [ngClass]="{'has-error': AboutUs.invalid && (AboutUs.dirty || AboutUs.touched || myForm.submitted) }">
                              </quill-editor>
                              <div *ngIf="AboutUs.invalid && (AboutUs.dirty || AboutUs.touched || myForm.submitted)"
                                class="text-danger">
                                <div [hidden]="!AboutUs.errors['required']" class="popover-body">
                                  Enter about company
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                            <label>Terms And Conditions
                              <sup class="text-danger">*</sup>
                            </label>
                            <div class="content-box textarea-box">
                              <!-- <ckeditor name="AboutUs"
                                        [config]="{removeButtons : 'About,Cut,Copy,Paste,PasteText,PasteFromWord,Source,Anchor' }"

                                        required
                                        [(ngModel)]="company.aboutUs"
                                        #AboutUs="ngModel"
                                        [config]="{addButton : 'Save' }"
                                        [readonly]="false"
                                        debounce="500">
                              </ckeditor> -->
                              <quill-editor [(ngModel)]="company.termsConditions" name="TermsAndConditions"
                                [required]="true" #TermsAndConditions="ngModel"
                                [ngClass]="{'has-error': TermsAndConditions.invalid && (TermsAndConditions.dirty || TermsAndConditions.touched || myForm.submitted) }">
                              </quill-editor>
                              <div
                                *ngIf="TermsAndConditions.invalid && (TermsAndConditions.dirty || TermsAndConditions.touched || myForm.submitted)"
                                class="text-danger">
                                <div [hidden]="!TermsAndConditions.errors['required']" class="popover-body">
                                  Enter terms and conditions
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" *ngIf="isEdit">
                    <!-- (click)="onDiscard(isImageSizeLarge=false); //#Revisit_PreviousCode -->
                    <div class="pull-right form-group">
                      <button type="submit" class="btn primary-btn btn-add">Save</button>
                      <button type="reset"
                        (click)="onDiscard();isImageWidthHeightLarge = false;isCompanyDuplicate=false"
                        class="btn secondary-btn btn-default">Cancel</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
          <div class="card-footer">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>