<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="card">
          <div class="card-header">
            <label for="View Invoice">
              <h5>Manage User</h5>
            </label>
            <!-- (click)="addUserModal.show(onModelopen(false))" //#Revisit_PreviousCode -->
            <i class="fa fa-plus-square fa-lg mt-1 pull-right" (click)="addUserModal.show()"></i>
          </div>
          <div class="card-block">
            <table class="table table-responsive table-bordered table-stripped ">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>User Name</th>
                  <th>User Role</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usr of GenralUsers">
                  <td [innerHTML]="usr.firstName"></td>
                  <td [innerHTML]="usr.lastName"></td>
                  <td [innerHTML]="usr.userName"></td>
                  <td [innerHTML]="usr.role"></td>
                  <td [innerHTML]="usr.contactNo"></td>
                  <td [innerHTML]="usr.email"></td>
                  <td>
                    <!-- (click)="primaryConfirmModal.show( user=usr)" //#Revisit_PreviousCode -->
                    <i class="fa fa-pencil" (click)="editUser(addUserModal, usr)" area-hidden="true"></i>
                    <i class="fa fa-trash" (click)="primaryConfirmModal.show()" area-hidden="true"></i>
                  </td>
                </tr>
                <!-- <tr class="text-center" *ngIf="GenralUsers.length == 0">
                  <td colspan="8">Currently no data available.</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>

<!-- code for popup -->


<div bsModal #primaryConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete User</h4>
        <button type="button" class="close" (click)="primaryConfirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div claas="">
          <label>Are you sure want to delete this user
            <span class="color-orange">{{user.firstName}} {{user.lastName}}</span>
          </label>
          <br />
          <!-- (click)="primaryConfirmModal.hide(DeleteUser(user.id))" //#Revisit_PreviousCode -->
          <button type="button" class="btn btn-primary" (click)="primaryConfirmModal.hide()">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="primaryConfirmModal.hide()">No</button>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>


<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" [innerHTML]="isEdit?'Edit User':'Add User'"></h4>
        <!-- (click)="addUserModal.hide(onModelClose())" //#Revisit_PreviousCode -->
        <button type="button" class="close" (click)="addUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate autocomplete="off" #userForm="ngForm">
          <div class="row form-group">
          </div>
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>
                First Name
                <sup class="text-danger">*</sup>
              </label>
              <div class="input-group">
                <input type="text" [(ngModel)]="user.firstName" required #FirstName="ngModel"
                  [ngClass]="{'has-error': FirstName.invalid && (FirstName.dirty || FirstName.touched || userForm.submitted) }"
                  name="FirstName" [maxlength]="constants.MaxLengthConstants.Name" placeholder="First Name"
                  [pattern]="constants.NAME_REGEXP" class="form-control">
              </div>
              <div *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched || userForm.submitted)"
                class="popover" role="tooltip">
                <div [hidden]="!FirstName.errors['required']" class="popover-body">
                  Enter first name
                </div>
                <div [hidden]="!FirstName.errors['pattern']" class="popover-body">
                  Enter valid first name
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>
                Last Name
                <sup class="text-danger">*</sup>
              </label>
              <input type="text" [(ngModel)]="user.lastName" required [maxlength]="constants.MaxLengthConstants.Name"
                #LastName="ngModel" name="LastName" placeholder="Last Name" [pattern]="constants.NAME_REGEXP"
                [ngClass]="{'has-error': LastName.invalid && (LastName.dirty || LastName.touched || userForm.submitted) }"
                class="form-control">
              <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched || userForm.submitted)"
                class="popover" role="tooltip">
                <div [hidden]="!LastName.errors['required']">
                  Enter last name
                </div>
                <div [hidden]="!LastName.errors['pattern']">
                  Enter valid last name
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>
                Email
                <sup class="text-danger">*</sup>
              </label>
              <input type="text" [(ngModel)]="user.email" required [maxlength]="constants.MaxLengthConstants.Email"
                #Email="ngModel" (blur)="onEmailBlur()" name="Email"
                [ngClass]="{'has-error': (Email.invalid && (Email.dirty || Email.touched || userForm.submitted))  }"
                [pattern]="constants.EMAIL_REGEXP" placeholder="Email" class="form-control">
              <div *ngIf="Email.invalid && (Email.dirty || Email.touched || userForm.submitted)" class="popover"
                role="tooltip">
                <div [hidden]="!Email.errors['required']">
                  Enter email
                </div>
                <div [hidden]="!Email.errors['pattern']">
                  Enter valid email
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <label>
                Contact Number
                <sup class="text-danger">*</sup>
              </label>
              <input type="text" [(ngModel)]="user.contactNo" required #Mobile="ngModel" name="Mobile"
                placeholder="Contact Number" [maxlength]="constants.MaxLengthConstants.Phone"
                [ngClass]="{'has-error': Mobile.invalid && (Mobile.dirty || Mobile.touched || userForm.submitted) }"
                [pattern]="constants.PHONE_REGEXP" class="form-control">
              <div *ngIf="Mobile.invalid && (Mobile.dirty || Mobile.touched || userForm.submitted)" class="popover"
                role="tooltip">
                <div [hidden]="!Mobile.errors['required']">
                  Enter contact no
                </div>
                <div [hidden]="!Mobile.errors['pattern']">
                  Enter valid contact no
                </div>
              </div>
            </div>

          </div>
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " *ngIf="isEdit">
              <label>
                Username
              </label>
              <br>
              <label class="font-weight-bold"> {{user.userName}}</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " *ngIf="!isEdit">
              <label>
                Username
                <sup class="text-danger">*</sup>
              </label>
              <!-- (blur)="Validation()" //#Revisit_PreviousCode -->
              <input type="text" [(ngModel)]="user.userName" required #UserName="ngModel" name="UserName"
                placeholder="Username" [maxlength]="constants.MaxLengthConstants.UserName"
                [ngClass]="{'has-error': (UserName.invalid && (UserName.dirty || UserName.touched || userForm.submitted)) || isUserNameDuplicate }"
                [pattern]="constants.USERNAME" class="form-control">
              <div *ngIf="UserName.invalid && (UserName.dirty || UserName.touched || userForm.submitted)"
                class="popover" role="tooltip">
                <div [hidden]="!UserName.errors['required']">
                  Enter user name
                </div>
                <div [hidden]="!UserName.errors['pattern']" class="popover-body">
                  Enter valid user name
                </div>
              </div>
              <div *ngIf="isUserNameDuplicate && user.userName" class="popover" role="tooltip">
                Duplicate user name
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <label>
                User Role
                <sup class="text-danger">*</sup>
              </label>
              <select class="form-control" #Role="ngModel" required
                [ngClass]="{'has-error': Role.invalid && (Role.dirty || Role.touched || userForm.submitted) }"
                name="Role" [(ngModel)]="user.role">
                <option value="" selected="true" disabled="true">Select Role</option>
                <option *ngFor="let item of userRoles" value="{{item.name}}">
                  {{item.name}}
                </option>
              </select>

              <div *ngIf="Role.invalid && (Role.dirty || Role.touched || userForm.submitted)" class="popover"
                role="tooltip">
                <div [hidden]="!Role.errors['required']" class="popover-body">
                  Select user role
                </div>
              </div>
            </div>
          </div>
          <div claas="">
            <div class="modal-footer">
              <button type="submit" *ngIf="!isEdit" [disabled]="isdiabled"
                (click)="onSubmit(userForm.valid,addUserModal)" class="btn btn-primary">Submit</button>
              <button type="submit" *ngIf="isEdit" (click)="updateUser(userForm.valid,addUserModal)"
                class="btn btn-primary">Update</button>
              <!-- (click)="addUserModal.hide(onModelClose())" //#Revisit_PreviousCode -->
              <button type="reset" class="btn btn-secondary" (click)="addUserModal.hide()">Close</button>
            </div>
          </div>
        </form>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>