<ngx-loading [show]="loading"
             [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-md-offset-1">
        <div class="card"
             *ngIf="quoteDetail?.status.description == constants.Accepted && result">
          <div class="success-card-header">
            <i class="fa fa-check-circle fa-lg"
               aria-hidden="true"></i>
            <span class="h4"> Quote Accepted Successfully </span>
          </div>
          <div class="card-block">
            <h5 class="success-lead">Congratulations!</h5>
            <br>
            <h5 class="success-lead">
              Quote Accepted Successfully
            </h5>
          </div>
        </div>
        <div class="card"
             *ngIf="quoteDetail?.status.description == constants.Accepted && !result">
          <div class="success-card-header">
            <i class="fa fa-check-circle fa-lg"
               aria-hidden="true"></i>
            <span class="h4"> Quote Already Accepted </span>
          </div>
          <div class="card-block">
            <h5 class="success-lead">
              Quote Already Accepted
            </h5>
          </div>
        </div>
        <div class="card"
             *ngIf="quoteDetail?.status.description == constants.Rejected && result">
          <div class="success-card-header">
            <i class="fa fa-check-circle fa-lg"
               aria-hidden="true"></i>
            <span class="h4"> Quote Rejected Successfully </span>
          </div>
          <div class="card-block">
            <h5 class="success-lead">
              Quote Rejected Successfully
            </h5>
          </div>
        </div>
        <div class="card"
             *ngIf="quoteDetail?.status.description == constants.Rejected && !result">
          <div class="success-card-header">
            <i class="fa fa-check-circle fa-lg"
               aria-hidden="true"></i>
            <span class="h4"> Quote Already Rejected </span>
          </div>
          <div class="card-block">
            <h5 class="success-lead">
              Quote Already Rejected
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
