<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="padding-bottom-20">
    <div class="bottom-border-gray margin-bottom-15 padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <!-- <div class="text-title-gray font-16  padding-top-5"> -->

            <form autocomplete="off" novalidate name="AccountNameForm" #AccountNameForm="ngForm"
              *ngIf="accessValid.update">
              <div *ngIf="!contactName" class="col-10 col-lg-10 col-md-10 col-xl-10 pl-0">
                <!-- [ngClass]="{ editable: !isKitTitleEdit }" -->
                <div class="w-100 text-title-gray font-16 semibold-montserrat padding-top-5 hover-edit"
                  (click)="contactName = true; edit = false; editbtn = true">
                  <p type="text" class="pl-1 pb-1 mb-0">
                    {{ contact?.firstName }}
                  </p>
                </div>
              </div>
              <div *ngIf="contactName" class="row">
                <div class="col-xl-7 col-md-7 col-lg-7 col-7">
                  <input type="text" [(ngModel)]="contact.firstName" required #Name="ngModel" id="Name" name="Name"
                    placeholder="Contact Name" required [pattern]="constants.FULL_NAME_REGEXP"
                    class="medium-montserrat form-control" />
                  <div *ngIf="
                      Name.invalid &&
                      (Name.dirty || Name.touched || AccountNameForm.submitted)
                    " class="text-danger">
                    <div [hidden]="!Name.errors?.['required']">
                      Enter contact name
                    </div>

                    <div [hidden]="!Name.errors?.['pattern']">
                      Enter valid contact name
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 col-md-5 col-lg-5 col-5 mt-1 pl-0 pr-1">
                  <button type="button" class="btn btn-primary btn-sm"
                    (click)="saveContactName(contact, AccountNameForm.valid)">
                    <!-- <i class="fa fa-save"></i> -->
                    Save
                  </button>
                  <button type="reset" class="btn secondary-btn btn-cancel btn-sm"
                    (click)="contactName = false; getContactById(contact?.id)">
                    <!-- <i class="fa fa-times fa-lg"></i> -->
                    Cancel
                  </button>
                </div>
              </div>
            </form>

            <!-- </div> -->
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="right-float contact-detail-float">
              <div class="left-float custom-width-top">
                <div class="left-float margin-right-15">
                  <!-- <div class="text-dark-blue medium-montserrat text-capitalize font-13 padding-top-10">beata ditty</div> -->
                </div>
              </div>
              <div class="left-float">
                <div class="add-common-btn left-float">
                  <button type="button" *ngIf="account.id" data-toggle="modal" data-target="#addQuoteModal"
                    [disabled]="!addQuote" [ngClass]="{ 'btn-disabled': !addQuote }"
                    [title]="!addQuote ? 'Access denied' : 'Add quote'" (click)="
                      addQuoteModal.show();
                      contactName = false;
                      edit = false;
                      editbtn = true;
                      setFocus()
                    " class="semibold-montserrat">
                    Add quote
                  </button>

                  <!-- ConfirmModal.show((popupFor = 'quoteforaccount')) //#Revisit_PreviousCode -->
                  <button *ngIf="!account.id" class="semibold-montserrat" [disabled]="!addQuote"
                    [ngClass]="{ 'btn-disabled': !addQuote }" [title]="!addQuote ? 'Access denied' : 'Add quote'"
                    data-toggle="modal" data-target="#deleteNotesConfirmModal" (click)="
                      popupOpen((popupFor = 'quoteforaccount'));
                      ConfirmModal.show()
                    ">
                    Add quote
                  </button>
                </div>
                <div class="view-btn common-blue-btn dropdown left-float margin-left-15">
                  <button type="button" data-toggle="dropdown" title="Menu"
                    (click)="contactName = false; edit = false; editbtn = true">
                    <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> -->
                    <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                    <i class="icon-menu icons d-block" aria-hidden="true"></i>
                  </button>

                  <ul class="dropdown-menu">
                    <li>
                      <!-- ConfirmModal.show((popupFor = 'deleteContact')); //#Revisit_PreviousCode -->
                      <button (click)="
                          popupOpen((popupFor = 'deleteContact'));
                          ConfirmModal.show();
                          contactName = false;
                          edit = false;
                          editbtn = true
                        " [disabled]="!accessValid.delete" [ngClass]="{ 'btn-disabled': !accessValid.delete }" [title]="
                          !accessValid.delete
                            ? 'Access denied'
                            : 'Delete contact'
                        ">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-4 col-xl-3 col-sm-12 padding-right-0 mobile-right-padding">
          <div class="left-common-box">
            <div class="common-detail-box margin-bottom-15">
              <form novalidate id="ContactsDetailsForm" #ContactsDetailsForm="ngForm" name="ContactsDetailsForm">
                <div class="header-box">
                  <div class="row">
                    <div class="col-7 col-md-5 col-lg-5 col-xl-5">
                      <div class="font-16 medium-montserrat text-capitalize text-dark-blue"
                        [class.text-nowrap]="editbtn">
                        Contact details
                      </div>
                    </div>
                    <div class="col-5 col-md-7 col-lg-7 col-xl-7 pl-0">
                      <div class="icon-box edit-account-detail text-right">
                        <button type="button" (click)="editContact(); contactName = false"
                          [disabled]="!accessValid.update" [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                            !accessValid.update
                              ? 'Access denied'
                              : 'Update contact'
                          " *ngIf="editbtn" class="btn-edit-acc-detail text-status-blue">
                          <i class="fa fa-edit show-edit"></i>
                        </button>
                        <button type="submit" (click)="
                            saveContact(contact, ContactsDetailsForm.valid)
                          " *ngIf="!editbtn && accessValid.update" class="btn btn-primary btn-sm">
                          <!-- <i class="fa fa-save"></i> -->
                          Save
                        </button>
                        <button *ngIf="!editbtn && accessValid.update" (click)="
                            discard(contact?.id); isExtensionNovalid = false
                          " type="button" class="btn secondary-btn btn-cancel btn-sm">
                          <!-- <i class="fa fa-times"></i> -->
                          Cancel
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="content-box padding-left-15 padding-right-15 padding-top-10 padding-bottom-20 edit-field-account">
                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-id-card-o" data-toggle="tooltip" title="ID"></i>
                    </div>
                    <div class="left-float relative-content">
                      <!-- <input type="text"  class="disable-box text-dark-blue"  [value]="contact.uniqueId"/> -->
                      <p class="disable-box text-dark-blue mb-0">
                        {{ contact?.uniqueId }}
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-envelope-open" data-toggle="tooltip" title=" Email"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" class="new-line mb-0">
                        <a href="mailto:{{ contact?.email }}">
                          {{ contact?.email }}</a>
                      </p>
                      <!-- <input type="text" *ngIf="!edit" class="disable-box text-status-blue" [value]="contact.email" /> -->
                      <div *ngIf="edit">
                        <input type="Email" [pattern]="constants.EMAIL_REGEXP"
                          [maxlength]="constants.MaxLengthConstants.Email" autocomplete="off" class="form-control"
                          #email="ngModel" id="email" placeholder="Email" name="email" (input)="isEmailRepated = false"
                          [(ngModel)]="contact.email" required />
                        <div *ngIf="
                            email.invalid &&
                            (email.dirty ||
                              email.touched ||
                              ContactsDetailsForm.submitted)
                          " class="text-danger">
                          <div [hidden]="!email.errors?.['required']">
                            Enter email
                          </div>
                          <div [hidden]="!email.errors?.['pattern']">
                            Enter valid email
                          </div>
                        </div>
                        <div *ngIf="isEmailRepated" class="text-danger">
                          Duplicate contact email
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-mobile fa-lg" data-toggle="tooltip" title="Mobile No"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" class="disable-box text-dark-blue mb-0">
                        {{ contact.homeNo }}
                      </p>

                      <div *ngIf="edit" class="row">
                        <div class="col-sm-10">
                          <input type="text" autocomplete="off" prefix="+1" [mask]="newMask"
                            [dropSpecialCharacters]="false" class="form-control"
                            [maxlength]="constants.MaxLengthConstants.Phone" #HomeNo="ngModel" id="HomeNo"
                            Enabled="True" MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
                            InputDirection="LeftToRight" placeholder="Mobile no" name="HomeNo"
                            [(ngModel)]="contact.homeNo" [pattern]="constants.PHONE_REGEXP" />

                          <div *ngIf="
                              HomeNo.invalid &&
                              (HomeNo.dirty ||
                                HomeNo.touched ||
                                ContactsDetailsForm.submitted)
                            " class="text-danger">
                            <!-- <div [hidden]="!HomeNo.errors?.required">
                              Enter mobile no
                            </div> -->
                            <div [hidden]="!HomeNo.errors?.['pattern']">
                              Enter valid mobile no
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <button type="button" (click)="showtext = true; showallphone = true" *ngIf="!editbtn"
                            class="btn-save-acc-detail text-status-blue">
                            <i class="fa fa-plus" title="Add"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="text-dark-blue font-14 padding-bottom-10" *ngIf="contact?.phone || edit">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-phone" data-toggle="tooltip" title=" Work No"></i>
                    </div>
                    <div class="left-float relative-content">
                      <p *ngIf="!edit" class="disable-box text-dark-blue mb-0">
                        {{ contact.phone }}
                      </p>

                      <div *ngIf="edit">
                        <!-- <input type="text" #homeNo="ngModel" [textMask]="{mask: mask}"  placeholder="Mobile No"
                          [maxlength]="constants.MaxLengthConstants.Phone"
                          [pattern]="constants.PHONE_REGEXP" name="homeNo" [(ngModel)]="contact.homeNo" class="form-control"
                          [value]="contact.homeNo" autocomplete="off"
                          Enabled="True" MinimumValue="1" MaskType="Number"  AutoComplete="true" AutoCompleteValue="" InputDirection="LeftToRight"
                          >  -->
                        <input type="text" autocomplete="off" prefix="+1" [mask]="newMask"
                          [dropSpecialCharacters]="false" class="form-control"
                          [maxlength]="constants.MaxLengthConstants.Phone" #phone="ngModel" id="phone" Enabled="True"
                          MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
                          InputDirection="LeftToRight" placeholder="Work No" name="phone" [(ngModel)]="contact.phone"
                          [pattern]="constants.PHONE_REGEXP" />

                        <div *ngIf="
                            !phone.valid &&
                            (phone.dirty ||
                              phone.touched ||
                              ContactsDetailsForm.submitted)
                          " class="text-danger">
                          <!-- <div [hidden]="!phone.errors?.required">
                            Enter work no
                          </div> -->
                          <div [hidden]="!phone.errors?.['pattern']">
                            Enter valid work no
                          </div>
                        </div>
                        <!-- <input type="text" autocomplete="off" [textMask]="{mask: mask}" class="form-control" [maxlength]="constants.MaxLengthConstants.Phone"
                          #homeNo="ngModel" id="homeNo" Enabled="True" MinimumValue="1" MaskType="Number" AutoComplete="true" AutoCompleteValue=""
                          InputDirection="LeftToRight" placeholder="Mobile no" name="homeNo" [(ngModel)]="contact.homeNo" [pattern]="constants.PHONE_REGEXP">


                        <div *ngIf="!homeNo.valid && ( homeNo.dirty || homeNo.touched || ContactsDetailsForm.submitted)" class="text-danger">

                          <div [hidden]="!homeNo.errors?.pattern">
                            Enter valid mobile no
                          </div>
                        </div> -->
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>

                  <div class="text-dark-blue font-14 padding-bottom-10"
                    *ngIf="contact?.extensionNo || (edit && showtext)">
                    <div class="left-float font-15 icon-box" *ngIf="showallphone">
                      <i class="fa fa-volume-control-phone" *ngIf="contact?.extensionNo || (edit && showtext)"
                        data-toggle="tooltip" title=" Extension No"></i>
                    </div>
                    <div class="left-float relative-content" *ngIf="showallphone">
                      <p *ngIf="!edit" data-toggle="tooltip" title=" Extension No"
                        class="disable-box text-dark-blue mb-0">
                        {{ contact.extensionNo }}
                      </p>

                      <div *ngIf="edit && showtext">
                        <input type="text" #extensionNo="ngModel" placeholder="Extension No" [onlyNumber]="true"
                          [maxlength]="constants.MaxLengthConstants.ExtensionNo" [pattern]="constants.Num_REXEXP"
                          name="extensionNo" [(ngModel)]="contact.extensionNo" class="form-control"
                          (keyup)="CheckExtensionNo(contact.extensionNo)" [value]="contact.extensionNo" />
                        <div *ngIf="
                            !extensionNo.valid &&
                            (extensionNo.dirty ||
                              extensionNo.touched ||
                              ContactsDetailsForm.submitted)
                          " class="text-danger">
                          <div [hidden]="!extensionNo.errors?.['pattern']">
                            Enter valid extension no
                          </div>
                        </div>
                        <div *ngIf="
                            isExtensionNovalid &&
                            !(
                              extensionNo.invalid &&
                              (extensionNo.dirty ||
                                extensionNo.touched ||
                                ContactsDetailsForm.submitted)
                            )
                          " class="text-danger">
                          Extension no can not be zero
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>

                  <div class="text-dark-blue font-14 padding-bottom-10" *ngIf="contact?.faxNo || (edit && showtext)">
                    <div class="left-float font-15 icon-box" *ngIf="showallphone">
                      <i class="fa fa-fax" *ngIf="contact?.faxNo || (edit && showtext)" data-toggle="tooltip"
                        title=" Fax No"></i>
                    </div>
                    <div class="left-float relative-content" *ngIf="showallphone">
                      <p *ngIf="!edit" class="disable-box text-dark-blue mb-0">
                        {{ contact.faxNo }}
                      </p>

                      <div *ngIf="edit && showtext">
                        <!-- <input type="text" #faxNo="ngModel" [textMask]="{mask: mask}" placeholder="Fax No"  [maxlength]="constants.MaxLengthConstants.Phone"
                          [pattern]="constants.PHONE_REGEXP" name="faxNo" [(ngModel)]="contact.faxNo" class="form-control"
                          [value]="contact.faxNo" autocomplete="off"
                          Enabled="True" MinimumValue="1" MaskType="Number"  AutoComplete="true" AutoCompleteValue="" InputDirection="LeftToRight"
                          > -->

                        <input type="text" autocomplete="off" prefix="+1" [mask]="newMask"
                          [dropSpecialCharacters]="false" class="form-control"
                          [maxlength]="constants.MaxLengthConstants.Phone" #faxNo="ngModel" id="faxNo" Enabled="True"
                          MinimumValue="1" MaskType="Number" autocomplete="true" AutoCompleteValue=""
                          InputDirection="LeftToRight" placeholder="Fax No" name="faxNo" [(ngModel)]="contact.faxNo"
                          [pattern]="constants.PHONE_REGEXP" />

                        <div *ngIf="
                            !faxNo.valid &&
                            (faxNo.dirty ||
                              faxNo.touched ||
                              ContactsDetailsForm.submitted)
                          " class="text-danger">
                          <div [hidden]="!faxNo.errors?.['pattern']">
                            Enter valid fax no
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>

            <div class="common-detail-box margin-bottom-15">
              <div class="header-box">
                <div class="row">
                  <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="font-16 medium-montserrat text-capitalize text-dark-blue">
                      account
                    </div>
                  </div>
                  <div class="col-4 col-md-4 col-lg-4 col-xl-4 acc-two-action">
                    <div class="icon-box edit-contact-detail text-right font-18 text-status-blue">
                      <button class="btn-edit-acc-detail text-status-blue" [disabled]="!accessValid.update"
                        [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                          !accessValid.update ? 'Access denied' : 'Link account'
                        " (click)="
                          primaryConfirmModal.show();
                          contactName = false;
                          edit = false;
                          editbtn = true;
                          setFocus()
                        ">
                        <!-- <i class="fa fa-link"></i> -->
                        <i class="fa fa-external-link" data-toggle="modal" data-target="#add-contact"></i>
                      </button>

                      <button class="btn-edit-acc-detail text-status-blue" [disabled]="!accessValid.update"
                        [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                          !accessValid.update ? 'Access denied' : 'Add account'
                        " (click)="
                          addContactModal.show();
                          contactName = false;
                          edit = false;
                          editbtn = true;
                          setFocus()
                        ">
                        <i class="fa fa-plus-square-o" data-toggle="modal"></i>
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div *ngIf="accountDataPresent">
                <div
                  class="content-box padding-left-15 padding-right-15 padding-top-10 padding-bottom-20 edit-field-contact">
                  <div class="text-dark-blue font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box text-dark-blue color-blue">
                      <i class="fa fa-user" data-toggle="tooltip" title=" Name"></i>
                    </div>
                    <div class="left-float relative-content color-blue">
                      <!-- <a    >{{account.name}}</a></div> -->
                      <a class="text-dark-blue color-blue" (click)="goToAccountDetails(account.id)">{{ account.name }}
                        <!-- <input type="text" class="disable-box text-dark-blue  color-blue" (click)="goToAccountDetails(account.id)" [value]="account.name"
                        /> -->
                        <!-- <p class="disable-box text-dark-blue  color-blue" (click)="goToAccountDetails(account.id)">{{account.name}}</p> -->
                      </a>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="font-14 padding-bottom-10">
                    <div class="left-float font-15 icon-box">
                      <i class="fa fa-map-marker" data-toggle="tooltip" title=" Address"></i>
                    </div>
                    <div class="left-float relative-content" tooltip="{{ account.address }}">
                      {{ account.address }}
                      <!-- <p class="disable-box text-dark-blue new-line ">{{account?.address}} </p> -->
                      <!-- <input type="text" class="disable-box  text-dark-blue new-line mb-0  p1-1" name="address" [value]="account.address" /> -->
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="font-14 padding-bottom-10 text-dark-blue color-blue" *ngIf="account.website">
                    <div class="left-float font-15 icon-box text-dark-blue color-blue">
                      <i class="fa fa-link" data-toggle="tooltip" title=" Website"></i>
                    </div>
                    <div class="left-float relative-content">
                      <!-- <a [href]="account.website" target="_blank" tooltip="{{account.website}}" (click)="openNewTab($event,account.website)">
                         <p class="disable-box  new-line mb-0 text-dark-blue color-blue " name="website">{{account.website}}</p>
                         <input type="text" class="disable-box  new-line mb-0 text-dark-blue color-blue " name="website" [value]="account.website" />
                      </a> -->
                      <a (click)="openNewTab($event, account.website)">
                        <p class="disable-box new-line mb-0 text-dark-blue color-blue">
                          {{ account.website }}
                        </p>
                        <!-- <p *ngIf="!edit" class="disable-box  new-line mb-0 text-dark-blue color-blue">{{account.website}}</p> -->
                      </a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="common-detail-box">
              <div class="header-box">
                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9 col-9">
                    <div class="font-16 medium-montserrat text-capitalize text-dark-blue">
                      quotes
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 col-3">
                    <div class="icon-box text-right font-18 text-status-blue">
                      <button *ngIf="account.id" class="btn-edit-acc-detail text-status-blue" [disabled]="!addQuote"
                        [ngClass]="{ 'btn-disabled': !addQuote }" [title]="!addQuote ? 'Access denied' : 'Add quote'"
                        data-toggle="modal" data-target="#addQuoteModal" (click)="
                          addQuoteModal.show();
                          contactName = false;
                          edit = false;
                          editbtn = true;
                          setFocus()
                        ">
                        <i class="fa fa-plus-square-o" data-toggle="modal" data-target="#add-contact"></i>
                      </button>
                      <!-- ConfirmModal.show((popupFor = 'quoteforaccount')) //#Revisit_PreviousCode -->
                      <button *ngIf="!account.id" class="btn-edit-acc-detail text-status-blue" [disabled]="!addQuote"
                        [ngClass]="{ 'btn-disabled': !addQuote }" [title]="!addQuote ? 'Access denied' : 'Add quote'"
                        data-toggle="modal" data-target="#ConfirmModal" (click)="
                          popupOpen((popupFor = 'quoteforaccount'));
                          ConfirmModal.show()
                        ">
                        <i class="fa fa-plus-square-o" data-toggle="modal" data-target="#add-contact"></i>
                      </button>

                      <!-- <a data-toggle="modal"
                         data-target="#addQuoteModal"
                         (click)="addQuoteModal.show()"
                         class="semibold-montserrat">
                        <i class="fa fa-plus-square-o"></i>
                      </a> -->
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="content-box">
                <div
                  class="text-gray-quote semibold-montserrat bg-off-white border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                  <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-7 col-7">
                      <div class="text-capitalize font-16">Name</div>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-5 col-5 tab-quotes-padding">
                      <div class="text-capitalize font-16">Status</div>
                    </div>
                  </div>
                </div>

                <div class="content-box h-200" slimScroll>
                  <div *ngFor="let item of quotes?.slice().reverse()"
                    class="border-bottom-contact font-14 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 col-xs-7 col-7">
                        <div class="text-status-blue semibold-montserrat">
                          <a (click)="
                              goToDetails(item.id, item.ownerId, ConfirmModal)
                            ">{{ item?.name }}</a>
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-5 col-5 tab-quotes-padding">
                        <div *ngIf="item.status.description === 'In Progress'"
                          class="text-capitalize text-status-orange">
                          {{ item.status.description }}
                        </div>
                        <div *ngIf="item.status.description === 'Quoted'" class="text-capitalize text-status-blue">
                          {{ item.status.description }}
                        </div>
                        <div *ngIf="item.status.description === 'Accepted'" class="text-capitalize text-status-green">
                          {{ item.status.description }}
                        </div>
                        <div *ngIf="item.status.description === 'Rejected'" class="text-capitalize text-status-pink">
                          {{ item.status.description }}
                        </div>
                        <div *ngIf="item.status.description === 'Expired'" class="text-capitalize text-status-violet">
                          {{ item.status.description }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-md-8 col-xl-9 col-sm-12">
          <div>
            <div class="common-quote tab-common-quote padding-right-15 padding-left-15 margin-bottom-15">
              <div class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 first-quote">
                  <div class="text-center quote-status-box" data-toggle="modal" data-target="#QuoteDetailsModal"
                    (click)="goToQuoteList('All')" [ngClass]="{ active: data == 'All' }">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteDetailsModal.show();SearchQuotes('All')" -->
                    <div class="circle-status bg-black margin-bottom-10">
                      <!-- <img src="images/total.svg" /> -->
                      <img src="assets/img/total.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">Total</div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{ quoteStats[0]?.totalCount }}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[0]?.totalValue| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[0]?.totalValue > 1000000" tooltip="{{
                        quoteStats[0]?.totalValue | number: '1.2-2'
                      }}" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[0]?.totalValue | pricePipe }}
                    </div>
                    <div *ngIf="quoteStats[0]?.totalValue < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[0]?.totalValue | number: "1.2-2" }}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="in-progress-detail" data-toggle="modal"
                    data-target="#QuoteDetailsModal" (click)="goToQuoteList('In Progress')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteDetailsModal.show();SearchQuotes('In Progress')" -->
                    <div class="circle-status bg-orange margin-bottom-10">
                      <img src="assets/img/in-Progress.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      In Progress
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{ quoteStats[0]?.count }}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[0]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[0]?.value > 1000000" tooltip="{{ quoteStats[0]?.value | number: '1.2-2' }}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[0]?.value | pricePipe }}
                    </div>
                    <div *ngIf="quoteStats[0]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[0]?.value | number: "1.2-2" }}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="quoted-detail" data-toggle="modal"
                    data-target="#QuoteDetailsModal" (click)="goToQuoteList('Quoted')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteDetailsModal.show();SearchQuotes('Quoted')" -->
                    <div class="circle-status bg-blue margin-bottom-10">
                      <img src="assets/img/quoted.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Quoted
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{ quoteStats[1]?.count }}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[1]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[1]?.value > 1000000" tooltip="{{ quoteStats[1]?.value | number: '1.2-2' }}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[1]?.value | pricePipe }}
                    </div>
                    <div *ngIf="quoteStats[1]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[1]?.value | number: "1.2-2" }}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="accepted-detail" data-toggle="modal"
                    data-target="#QuoteDetailsModal" (click)="goToQuoteList('Accepted')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteDetailsModal.show();SearchQuotes('Accepted')" -->
                    <div class="circle-status bg-green margin-bottom-10">
                      <img src="assets/img/accepted.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Accepted
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{ quoteStats[2]?.count }}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[2]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[2]?.value > 1000000" tooltip="{{ quoteStats[2]?.value | number: '1.2-2' }}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[2]?.value | pricePipe }}
                    </div>
                    <div *ngIf="quoteStats[2]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[2]?.value | number: "1.2-2" }}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="rejected-detail" data-toggle="modal"
                    data-target="#QuoteDetailsModal" (click)="goToQuoteList('Rejected')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteDetailsModal.show();SearchQuotes('Rejected')" -->
                    <div class="circle-status bg-pink margin-bottom-10">
                      <img src="assets/img/rejected.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Rejected
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{ quoteStats[3]?.count }}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[3]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[3]?.value > 1000000" tooltip="{{ quoteStats[3]?.value | number: '1.2-2' }}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[3]?.value | pricePipe }}
                    </div>
                    <div *ngIf="quoteStats[3]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[3]?.value | number: "1.2-2" }}
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                  <div class="text-center quote-status-box" id="expired-detail" data-toggle="modal"
                    data-target="#QuoteDetailsModal" (click)="goToQuoteList('Expired')">
                    <!-- (click)="quotesInfo.records=[];quotesInfo.totalCount=0;QuoteDetailsModal.show();SearchQuotes('Expired')" -->
                    <div class="circle-status bg-violet margin-bottom-10">
                      <img src="assets/img/expired.svg" />
                    </div>
                    <div class="medium-montserrat font-10 text-gray">
                      Expired
                    </div>
                    <div class="semibold-montserrat font-14 text-dark-blue">
                      {{ quoteStats[4]?.count }}
                    </div>
                    <!-- <div class="medium-montserrat font-10 text-black-blue">${{quoteStats[4]?.value| number : '1.2-2'}}</div> -->
                    <div *ngIf="quoteStats[4]?.value > 1000000" tooltip="{{ quoteStats[4]?.value | number: '1.2-2' }}"
                      class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[4]?.value | pricePipe }}
                    </div>
                    <div *ngIf="quoteStats[4]?.value < 1000000" class="medium-montserrat font-10 text-black-blue">
                      ${{ quoteStats[4]?.value | number: "1.2-2" }}
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="common-detail-box right-detail-tab right-detail">
              <!-- <div class="header-box"> -->
              <form novalidate autocomplete="off" (ngSubmit)="AddNote(myForm.valid)" #myForm="ngForm">
                <div class="header-box">
                  <div class="text-capitalize font-16 text-dark-blue medium-montserrat margin-bottom-5">
                    notes
                  </div>

                  <div class="notes-input">
                    <i class="fa fa-pencil"></i>
                    <div class="form-group margin-bottom-0">
                      <input type="text" [(ngModel)]="note.description" required #Description="ngModel"
                        name="Description" placeholder="Click to add notes..." [ngClass]="{
                          'has-error':
                            Description.invalid &&
                            (Description.dirty ||
                              Description.touched ||
                              myForm.submitted)
                        }" class="form-control" />
                    </div>
                  </div>

                  <div class="text-right margin-top-15">
                    <button type="submit" [disabled]="!accessValid.update"
                      [ngClass]="{ 'btn-disabled': !accessValid.update }" [title]="
                        !accessValid.update ? 'Access denied' : 'Save note'
                      " class="btn primary-btn btn-add">
                      Save
                    </button>
                    <button type="button" [disabled]="!accessValid.update"
                      [ngClass]="{ 'btn-disabled': !accessValid.update }"
                      [title]="!accessValid.update ? 'Access denied' : 'Cancel'" class="btn secondary-btn btn-cancel"
                      (click)="CancelNote()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
              <!-- </div> -->
              <div class="content-box">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs dragscroll horizontal common-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#all">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#note">Notes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#history">History</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- [options]="opts" -->
                  <div class="tab-content tab-content-custom">
                    <div class="tab-pane fade show active" id="all">
                      <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                        <div [ngClass]="{ 'line-point': alldata?.length }" class=""></div>
                        <div *ngFor="let activity of alldata?.slice().reverse()">
                          <div class="padding-top-50">
                            <div class="date-point left-float">
                              <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">
                                {{ activity.createdOn | date: "dd MMM yy" }}
                              </div>
                            </div>

                            <div class="note-box left-float">
                              <div class="text-gray-quote font-13 margin-bottom-5">
                                <div class="row">
                                  <div class="col-md-2 col-sm-3 padding-right-0">
                                    <div class="text-uppercase">
                                      {{ activity.createdOn | date: "h:mm a" }}
                                    </div>
                                  </div>
                                  <div class="col-md-10 col-sm-9">
                                    <div class="text-capitalize" *ngIf="activity.name">
                                      {{ activity.name }}
                                    </div>
                                    <div class="text-capitalize" *ngIf="activity.description">
                                      {{ activity.description }}
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="note">
                      <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                        <div [ngClass]="{ 'line-point': notes?.length }" class=""></div>
                        <div *ngFor="let note of notes; let i = index">
                          <div class="padding-top-50">
                            <div class="date-point left-float">
                              <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">
                                {{ note.createdOn | date: "dd MMM yy" }}
                              </div>
                            </div>
                            <div class="note-box left-float">
                              <div class="text-gray-quote font-13 margin-bottom-5">
                                <div class="row">
                                  <div class="col-md-2 col-sm-3 padding-right-0">
                                    <div class="text-uppercase">
                                      {{ note.createdOn | date: "h:mm a" }}
                                    </div>
                                  </div>
                                  <div class="col-md-10 col-sm-9">
                                    <div class="text-capitalize">
                                      {{ note.noteName }}
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                              <div class="type-text text-dark-blue text-capitalize font-13">
                                {{ note.description }}
                              </div>
                              <div class="right-float contact-list-all">
                                <!-- ConfirmModal.show((popupFor = 'deleteNote')) //#Revisit_PreviousCode -->
                                <button [disabled]="!accessValid.update" [ngClass]="{
                                    'btn-disabled': !accessValid.update
                                  }" [title]="
                                    !accessValid.update
                                      ? 'Access denied'
                                      : 'Remove Note'
                                  " (click)="
                                    noteIndex = note;
                                    popupOpen((popupFor = 'deleteNote'));
                                    ConfirmModal.show()
                                  " type="button" class="btn-delete">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="history">
                      <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                        <div [ngClass]="{ 'line-point': historyData?.length }" class=""></div>
                        <div *ngFor="let activity of historyData">
                          <div class="padding-top-50">
                            <div class="date-point left-float">
                              <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">
                                {{ activity.createdOn | date: "dd MMM yy" }}
                              </div>
                            </div>

                            <div class="note-box left-float">
                              <div class="text-gray-quote font-13 margin-bottom-5">
                                <div class="row">
                                  <div class="col-md-2 col-sm-3 padding-right-0">
                                    <div class="text-uppercase">
                                      {{ activity.createdOn | date: "h:mm a" }}
                                    </div>
                                  </div>
                                  <div class="col-md-10 col-sm-9">
                                    <div class="text-capitalize" *ngIf="activity.name">
                                      {{ activity.name }}
                                    </div>
                                    <!-- <div class="text-capitalize" *ngIf="activity.description">{{activity.description}}</div> -->
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Tabs -->
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addQuoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <form novalidate autocomplete="off" id="QuoteForm" name="QuoteForm" #QuoteForm="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Quote
          </h4>
          <button type="reset" class="close common-close" (click)="cancelQuotesDetails(QuoteForm, addQuoteModal)"
            aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div claas="">
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Quote Title</label>
              <input type="text" [(ngModel)]="quote.name" [pattern]="constants.AnythingWhithoutSpace_REGEXP" [ngClass]="{
                  'has-error':
                    nameq.invalid && (nameq.dirty || QuoteForm.submitted)
                }" required placeholder="Quote Title" #nameq="ngModel" #nameqt name="nameq"
                class="form-control font-14 text-dark-blue" [maxlength]="constants.MaxLengthConstants.QuoteTitle" />
              {{ isOpenPopup ? nameqt.focus() : null }}
              <!-- {{isOpenPopup ? nameq.reset() : null}} -->
              <div *ngIf="nameq.invalid && (nameq.dirty || QuoteForm.submitted)" class="text-danger">
                <div [hidden]="!nameq.errors?.['required']">Enter quote title</div>
                <div [hidden]="!nameq.errors?.['pattern']">
                  Enter valid quote title
                </div>
              </div>
              <!-- <div *ngIf="isAccount" class="text-danger">
                  Please add account first
                </div> -->
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add"
              (click)="AddQuotes(QuoteForm.valid, addQuoteModal, QuoteForm)">
              Add
            </button>
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="cancelQuotesDetails(QuoteForm, addQuoteModal)">
              Cancel
            </button>
          </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </form>
</div>
<!-- <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<div bsModal #QuoteDetailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <form novalidate autocomplete="off" #Form="ngForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            {{ status === "All" ? "Total" : status }} Quotes
          </h4>

          <button type="button" class="close common-close" (click)="QuoteDetailsModal.hide()" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 account-detail-table">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th (click)="sort('UniqueId')">
                    Quote Id
                    <i aria-hidden="true" *ngIf="key == 'UniqueId'" class="fa" [ngClass]="{
                        'fa-sort-amount-asc': reverse,
                        'fa-sort-amount-desc': !reverse
                      }"></i>
                  </th>
                  <th (click)="sort('Name')">
                    Quote Title
                    <i aria-hidden="true" *ngIf="key == 'Name'" class="fa" [ngClass]="{
                        'fa-sort-amount-asc': reverse,
                        'fa-sort-amount-desc': !reverse
                      }"></i>
                  </th>
                  <th (click)="sort('Status')">
                    Status
                    <i aria-hidden="true" *ngIf="key == 'Status'" class="fa" [ngClass]="{
                        'fa-sort-amount-asc': reverse,
                        'fa-sort-amount-desc': !reverse
                      }"></i>
                  </th>
                  <th (click)="sort('Total')">
                    Value
                    <i aria-hidden="true" *ngIf="key == 'Total'" class="fa" [ngClass]="{
                        'fa-sort-amount-asc': reverse,
                        'fa-sort-amount-desc': !reverse
                      }"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let listOfQuotes of quotesInfo.records
                      | paginate
                        : {
                            itemsPerPage: quotesInfo.pageSize,
                            currentPage: quotesInfo.pageNumber,
                            totalItems: quotesInfo.totalCount
                          }
                  ">
                  <td>
                    <span class="text-table-record-blue semibold-montserrat">
                      <a (click)="
                          goToDetails(
                            listOfQuotes.id,
                            listOfQuotes.ownerId,
                            ConfirmModal
                          )
                        ">{{ listOfQuotes.uniqueId }}
                      </a>
                    </span>
                  </td>
                  <td class="hover-edit-list">
                    <span class="medium-montserrat color-blue" tooltip="{{ listOfQuotes.name }}">
                      <a (click)="
                          goToDetails(
                            listOfQuotes.id,
                            listOfQuotes.ownerId,
                            ConfirmModal
                          )
                        ">{{ listOfQuotes.name }}</a>
                    </span>
                  </td>
                  <td>
                    <span *ngIf="
                        listOfQuotes.status.description === constants.Accepted
                      " class="medium-montserrat text-status-green">{{ listOfQuotes.status.description }}</span>
                    <span *ngIf="
                        listOfQuotes.status.description === constants.Rejected
                      " class="medium-montserrat text-status-pink">{{ listOfQuotes.status.description }}</span>
                    <span *ngIf="
                        listOfQuotes.status.description === constants.Expired
                      " class="medium-montserrat text-status-violet">{{ listOfQuotes.status.description }}</span>
                    <span *ngIf="
                        listOfQuotes.status.description === constants.Quoted
                      " class="medium-montserrat text-status-blue">{{ listOfQuotes.status.description }}</span>
                    <span *ngIf="
                        listOfQuotes.status.description === constants.InProgress
                      " class="medium-montserrat text-status-orange">{{ listOfQuotes.status.description }}</span>
                  </td>

                  <td>
                    <span class="medium-montserrat">${{ listOfQuotes.total | number: "1.2-2" }}</span>
                  </td>
                </tr>
                <!-- <tr *ngIf="!quotesInfo.records || !quotesInfo.records.length" class="text-center">
                  <td colspan="10">Currently no data available</td>
                </tr> -->
              </tbody>
            </table>
            <div class="mt-2">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn secondary-btn btn-default" (click)="QuoteDetailsModal.hide()">
            Done
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div bsModal #addContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <form novalidate id="AccountDetailsForm" #AccountDetailsForm="ngForm" name="AccountDetailsForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title">Add Account</h4>
          <button type="reset" class="close" (click)="cancelAccoutDetail(AccountDetailsForm, addContactModal)"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Account Name</label>
            <input type="text" (input)="accName = false" autocomplete="off"
              [maxlength]="constants.MaxLengthConstants.AccountName" placeholder="Account Name" class="form-control"
              #name="ngModel" #nam id="name" name="name" [ngClass]="{
                'has-error':
                  name.invalid && (name.dirty || AccountDetailsForm.submitted)
              }" [(ngModel)]="newAccount.name" required />
            {{ isOpenPopup ? nam.focus() : null }}
            <!-- {{isOpenPopup ? name.reset() : null}} -->
            <div *ngIf="
                name.invalid && (name.dirty || AccountDetailsForm.submitted)
              " class="text-danger">
              <div [hidden]="!name.errors?.['required']">Enter account name</div>
              <div [hidden]="!name.errors?.['pattern']">
                Enter valid account name
              </div>
            </div>
            <div *ngIf="accName" class="text-danger">
              Duplicate account name
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Address</label>
            <input type="text" placeholder="Address" autocomplete="off" class="form-control" maxlength="50"
              #address="ngModel" id="address" [pattern]="constants.AnythingWhithoutSpace_REGEXP" name="address"
              [ngClass]="{
                'has-error':
                  address.invalid &&
                  (address.dirty ||
                    address.touched ||
                    AccountDetailsForm.submitted)
              }" [(ngModel)]="newAccount.address" />

            <div *ngIf="
                address.invalid &&
                (address.dirty ||
                  address.touched ||
                  AccountDetailsForm.submitted)
              " class="text-danger">
              <!-- required <div [hidden]="!address.errors?.required">
                Enter account address
              </div> -->
              <div [hidden]="!address.errors?.['pattern']">
                Enter valid account address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Website</label>
            <input type="url" placeholder="Website" [ngClass]="{
                'has-error':
                  Website.invalid &&
                  (Website.dirty ||
                    Website.touched ||
                    AccountDetailsForm.submitted)
              }" autocomplete="off" class="form-control" #Website="ngModel" id="Website" name="Website"
              [(ngModel)]="newAccount.website" pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?" />
            <div *ngIf="
                Website.invalid &&
                (Website.dirty ||
                  Website.touched ||
                  AccountDetailsForm.submitted)
              " class="text-danger">
              <!-- <div [hidden]="!Website.errors?.required">
                Enter account website
              </div> -->
              <div [hidden]="!Website.errors?.['pattern']">Enter valid website</div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Work No</label>
            <input type="text" placeholder="Work No" autocomplete="off" class="form-control"
              [maxlength]="constants.MaxLengthConstants.Phone" #contactNo="ngModel" id="contactNo" prefix="+1"
              [mask]="newMask" [dropSpecialCharacters]="false" [ngClass]="{
                'has-error':
                  contactNo.invalid &&
                  (contactNo.dirty ||
                    contactNo.touched ||
                    AccountDetailsForm.submitted)
              }" name="contactNo" [(ngModel)]="newAccount.contactNo" [pattern]="constants.PHONE_REGEXP" />
            <div *ngIf="
                contactNo.invalid &&
                (contactNo.dirty ||
                  contactNo.touched ||
                  AccountDetailsForm.submitted)
              " class="text-danger">
              <!--required <div [hidden]="!contactNo.errors?.required">
                Enter work no
              </div> -->
              <div [hidden]="!contactNo.errors?.['pattern']">
                Enter valid work no
              </div>
            </div>
          </div>

          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add" (click)="
              addAccountModal(
                AccountDetailsForm.valid,
                addContactModal,
                newAccount,
                AccountDetailsForm
              )
            ">
            Add
          </button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
            (click)="cancelAccoutDetail(AccountDetailsForm, addContactModal)">
            Cancel
          </button>
        </div>
      </div>
      <!-- /.modal -->
    </form>
  </div>
</div>


<div bsModal #primaryConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <form novalidate autocomplete="off" (ngSubmit)="AddAccount(primaryConfirmModal)" #AccountForm="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Link Account
          </h4>
          <button type="reset" class="close common-close" (click)="
              cancelQuotesDetails(AccountForm, primaryConfirmModal);
              isAccountAlreadyPresent = false;
              searchAccountForm = false;
              SearchText = null;
              presentAccount = false
            " aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">Search Account</label>
                <ng-template #customItemTemplates let-model="item" let-index="index">
                  <span>{{model.name}}</span>
                </ng-template>
                <input (focus)="isAccountAlreadyPresent = false;presentAccount=false" placeholder="Search account"
                  name="SearchAccount" #SearchAccount="ngModel" #SearchAccoun
                  [ngClass]="{'has-error':(SearchAccount.invalid && (SearchAccount.dirty ||  AccountForm.submitted) && searchAccountForm)||
                  isAccountAlreadyPresent && !(SearchAccount.invalid && (SearchAccount.dirty || AccountForm.submitted) && searchAccountForm)}" [(ngModel)]="SearchText"
                  [typeahead]="accountsList" [typeaheadItemTemplate]="customItemTemplates" typeaheadOptionField="name"
                  (input)="FindAccount()" class="form-control" (typeaheadOnSelect)="saveAccountOnSelect($event)"
                  required />
                {{ isOpenPopup ? SearchAccoun.focus() : null }}
                <!-- {{isOpenPopup ? SearchContact.reset() : null}} -->
              </div>
            </div>
            <div class="text-danger"
              *ngIf="(SearchAccount.invalid && (SearchAccount.dirty || AccountForm.submitted) && searchAccountForm)">
              <div [hidden]="!SearchAccount.errors['required']">
                Enter contact
              </div>
            </div>
            <div class="text-danger"
              *ngIf="isAccountAlreadyPresent && !(SearchAccount.invalid && (SearchAccount.dirty ||  AccountForm.submitted) && searchAccountForm)">
              Account already linked
            </div>
            <div class="text-danger"
              *ngIf="presentAccount && !(SearchAccount.invalid && (SearchAccount.dirty || AccountForm.submitted) && searchAccountForm)">
              Account not present
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add">Link</button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal" (click)="
              cancelQuotesDetails(AccountForm, primaryConfirmModal);
              isAccountAlreadyPresent = false;
              searchAccountForm = false;
              SearchText = null;
              presentAccount = false
            ">
            Cancel
          </button>
        </div>
      </div>
      <!-- /.modal -->
    </div>
  </form>
</div>

<div bsModal [ngClass]="{ show: show }" #ConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [typeofMessage]="typeofMessage" [notification]="notification" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal)"></app-toaster>
</div>

<!--

<div bsModal #deleteNotesConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteNotesConfirmModal.hide();noAccount=false" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger" *ngIf="!noAccount">
          {{msg}} </div>
      <div class="mb-3 pl-3" *ngIf="showBtn">
        <button type="button" class="btn btn-default" (click)="deleteNotesConfirmModal.hide();deleteNote(noteIndex)">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteNotesConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div>

<div bsModal #deleteAccountConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteAccountConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div>
          <span>Are you sure you want to delete this contact?
          </span>
        </div>


      </div>
      <div class="mb-3 pl-3">
        <button type="button" class="btn btn-default" (click)="deleteAccountConfirmModal.hide();deleteContact()">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteAccountConfirmModal.hide()">No</button>
      </div>

    </div>

  </div>
</div> -->

<!-- <script>
  $scope.openNewTab = function (url) {
    $window.open(url, '_blank');
  };
</script> -->