<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container" id="printId">
  <div id="content" class="main-container main-container-compress" #content>
    <div class="" *ngIf="quotesInfo">
      <div class="product-details padding-top-15 quote-preview">
        <div class="padding-top-45">
          <div class="detail-type detail-1 block-div padding-bottom-65">
            <div class="medium-montserrat">
              <div class="
                  semibold-montserrat
                  font-24
                  text-dark-blue text-capitalize
                  padding-row
                ">
                {{ company?.name }}
              </div>
              <div class="
                  text-dark-blue
                  popup-header-content
                  font-14
                  margin-top-10
                  padding-bottom-10 padding-row
                  small-desktop-main
                ">
                <div class="row">
                  <div class="col-xl-3 col-4 col-lg-3 col-md-3" style="
                      border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
                    ">
                    <div>
                      <div class="margin-bottom-5">
                        <i class="fa fa-map-marker margin-right-5"></i>{{ company?.street }}, {{ company?.city }},
                        {{ company?.state }} {{ company?.zip }}
                      </div>
                      <div class="margin-bottom-5">
                        <i class="fa fa-phone margin-right-5"></i>
                        {{ company?.contactNo }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-4 col-lg-4 col-md-4" style="
                      border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
                    ">
                    <div style="word-wrap: break-word">
                      <div class="margin-bottom-5">
                        <i class="fa fa-envelope margin-right-5"></i>
                        {{ quotePreparerMail }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-2 col-lg-3 col-md-3" style="
                      border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
                    ">
                    <div>
                      <div class="font-16 semibold-montserrat">
                        Quote Preparer
                      </div>
                      <div>{{ quotesInfo.ownerName }}</div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-2 col-lg-2 col-md-2">
                    <div class="format-logo">
                      <span *ngIf="!company?.logo">{{ company?.name }}</span>
                      <!-- <img *ngIf="!company?.logo"
                         src="assets/img/main-logo.png" /> -->
                      <img *ngIf="company?.logo" [src]="company?.logo" class="img-fluid" />
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="text-dark-blue middle-quote-info padding-row">
                <div class="font-24 semibold-montserrat text-capitalize">
                  {{ quotesInfo.name }}
                </div>
                <div class="right-quote-padding margin-top-10">
                  <div class="row">
                    <div class="col-xl-6 col-6 col-lg-6 col-md-6" style="
                        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
                      ">
                      <div>
                        <div class="semibold-montserrat font-14">
                          ${{ quotesInfo.total | number: "1.2-2" }}
                        </div>
                        <div class="medium-montserrat font-13 text-blue-gray">
                          Quote Total
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-6 col-lg-6 col-md-6">
                      <div>
                        <div class="semibold-montserrat font-14">
                          {{ quotesInfo.uniqueId }}
                        </div>
                        <div class="medium-montserrat font-13 text-blue-gray">
                          Quote ID
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              <div>
                <div class="font-16 text-dark-blue semibold-montserrat padding-row">
                  Prepared For
                </div>
                <div class="
                    font-15
                    text-dark-blue text-capitalize
                    margin-top-10
                    padding-row
                  ">
                  {{ quotesInfo.contact.firstName }}
                </div>
                <div class="font-16 text-dark-blue margin-top-5 padding-row">
                  {{ quotesInfo.contact.accounts.name }}
                </div>
                <div class="
                    text-dark-blue
                    popup-footer-content
                    font-14
                    margin-bottom-25 margin-top-5
                    padding-row
                    bottom-main-preview
                  ">
                  <div class="row">
                    <div class="col-xl-6 col-6 col-lg-6 col-md-7" style="
                        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
                      ">
                      <div class="row">
                        <div class="col-xl-12 col-12 col-lg-12 col-md-12">
                          <div class="margin-bottom-5">
                            <i class="fa fa-envelope margin-right-5"></i>
                            {{ quotesInfo.contact.email }}
                          </div>
                          <div>
                            <i class="fa fa-link margin-right-5"></i>{{ quotesInfo.contact.accounts.website }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-6 col-lg-6 col-md-5">
                      <div class="">
                        <div class="row">
                          <div class="col-xl-6 col-6 col-lg-6 col-md-6">
                            <div>{{ quotesInfo.sentDate | date }}</div>
                            <div>Quote Date</div>
                          </div>
                          <div class="col-xl-6 col-6 col-lg-6 col-md-6">
                            <div>{{ newExpiry | date }}</div>
                            <div>Quote Valid Until</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <hr />
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="medium-montserrat">
              <div class="clearfix"></div>
              <div *ngIf="company?.aboutUs" class="
                  text-dark-blue
                  middle-quote-info
                  padding-row padding-top-20 padding-bottom-20
                ">
                <div class="font-16 semibold-montserrat">About Us</div>
                <div class="font-13 ql-editor pl-0" [innerHTML]="company?.aboutUs | safe: 'html'"></div>

                <div class="font-16 semibold-montserrat padding-top-20">
                  Scope of Work
                </div>
                <div class="font-13 ql-editor pl-0" [innerHTML]="quotesInfo?.scopeofWork | safe: 'html'"></div>
              </div>
              <hr />
            </div>

            <div class="medium-montserrat popup-page">
              <div class="text-dark-blue padding-top-5" *ngIf="quotesInfo.details.type != 'NonDetailed'">
                <div class="
                    font-16
                    semibold-montserrat
                    padding-row padding-top-10 padding-bottom-10
                  ">
                  Quote Details
                </div>

                <div class="common-table table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>part number</th>
                        <th>Manufacturer Part Number</th>
                        <th>product title</th>
                        <th>quantity</th>
                        <th *ngIf="
                            quotesInfo.details.type == 'Detailed' ||
                            quotesInfo.details.type === 'DetailedKitHeader'
                          ">
                          Price
                        </th>
                        <th *ngIf="
                            quotesInfo.details.type == 'Detailed' ||
                            quotesInfo.details.type === 'DetailedKitHeader'
                          ">
                          total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of quotesInfo?.products" [hidden]="
                          quotesInfo.details.isIteamizedLabor ===
                            'NonIteamized' &&
                          obj.product.productType?.description === 'Labor'
                        ">
                        <td>
                          <span class="medium-montserrat">{{
                            obj.product.partNo
                            }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.product.manufacturerPartNumber === null
                            ? "--"
                            : obj.product.manufacturerPartNumber
                            }}</span>
                        </td>
                        <!-- (click)="goToDetails(obj.product.id)" //#Revisit_PreviousCode -->
                        <td>
                          <span class="medium-montserrat pointer cursor">{{
                            obj.product.name
                            }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.quantity
                            }}</span>
                        </td>
                        <td *ngIf="
                            quotesInfo.details.type == 'Detailed' ||
                            quotesInfo.details.type === 'DetailedKitHeader'
                          ">
                          <span class="medium-montserrat">${{ obj.price | number: "1.2-2" }}</span>
                        </td>
                        <td *ngIf="
                            quotesInfo.details.type == 'Detailed' ||
                            quotesInfo.details.type === 'DetailedKitHeader'
                          ">
                          <span class="medium-montserrat">${{
                            obj.price * obj.quantity | number: "1.2-2"
                            }}</span>
                        </td>
                      </tr>
                      <tr *ngFor="let obj of quotesInfo?.customItem">
                        <td>
                          <span class="medium-montserrat"> -- </span>
                          <!-- <span class="semibold-montserrat">Custom Item</span> -->
                        </td>
                        <td>
                          <span class="medium-montserrat">--</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{ obj.name }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.quantity
                            }}</span>
                        </td>
                        <td *ngIf="
                            quotesInfo.details.type == 'Detailed' ||
                            quotesInfo.details.type === 'DetailedKitHeader'
                          ">
                          <span class="medium-montserrat">${{ obj.price | number: "1.2-2" }}</span>
                        </td>
                        <td *ngIf="
                            quotesInfo.details.type == 'Detailed' ||
                            quotesInfo.details.type === 'DetailedKitHeader'
                          ">
                          <span class="medium-montserrat">${{
                            obj.price * obj.quantity | number: "1.2-2"
                            }}</span>
                        </td>
                      </tr>
                      <!-- <tr *ngFor="let obj of quotesInfo?.kits;let i = index;">
                      <td>
                        <span class="medium-montserrat"
                          >{{obj.kit.number}}</span
                        >
                      </td>
                      <td>
                        <span class="medium-montserrat">--</span>
                      </td>
                      <td>
                        <span
                          class="medium-montserrat pointer cursor"
                          (click)="getKitDetails(obj.kit.id)"
                          >{{obj.kit.name}}</span
                        >
                      </td>
                      <td>
                        <span class="medium-montserrat">{{obj.quantity}}</span>
                      </td>
                      <td
                        *ngIf="quotesInfo.details.type == 'Detailed' && quotesInfo.details.type !==  'DetailedKitHeader'"
                      >
                        <span class="medium-montserrat"
                          >${{(quotesInfo.details.isIteamizedLabor ===
                          'NonIteamized' ? obj.totalWithoutLabor : obj.total) |
                          number : '1.2-2'}}</span
                        >
                      </td>
                      <td
                        *ngIf="quotesInfo.details.type == 'Detailed' && quotesInfo.details.type !==  'DetailedKitHeader'"
                      >
                        <span class="medium-montserrat"
                          >${{(quotesInfo.details.isIteamizedLabor ===
                          'NonIteamized' ? (obj.totalWithoutLabor *
                          obj.quantity) : (obj.total * obj.quantity)) | number :
                          '1.2-2'}}</span
                        >
                      </td>
                    </tr> -->

                      <ng-container *ngFor="let kit of quotesInfo?.kits; let i = index">
                        <!-- Ng-repaet started here -->
                        <tr>
                          <td>
                            <span class="medium-montserrat">{{
                              kit.kit.number
                              }}</span>
                          </td>
                          <td>
                            <span class="medium-montserrat">--</span>
                          </td>
                          <td>
                            <!-- <span class="medium-montserrat pointer cursor" (click)="getKitDetails(kit.kit.id)">{{  //#Revisit_PreviousCode -->
                            <span class="medium-montserrat pointer cursor">{{
                              kit.kit.name }}</span>
                          </td>
                          <td class="border-bottom-0">
                            <span class="medium-montserrat">{{
                              kit.quantity
                              }}</span>
                          </td>
                          <!-- quotesInfo.details.type == 'Detailed' && quotesInfo.details.type !== 'DetailedKitHeader' //#Revisit_PreviousCode-->
                          <td *ngIf="
                              quotesInfo.details.type == 'Detailed' 
                            ">
                            <span class="medium-montserrat">${{
                              (quotesInfo.details.isIteamizedLabor ===
                              "NonIteamized"
                              ? kit.totalWithoutLabor
                              : kit.total
                              ) | number: "1.2-2"
                              }}</span>
                          </td>
                          <!-- quotesInfo.details.type == 'Detailed' &&   quotesInfo.details.type !== 'DetailedKitHeader' "> //#Revisit_PreviousCode -->
                          <td *ngIf="
                              quotesInfo.details.type == 'Detailed' ">
                            <span class="medium-montserrat">${{
                              (quotesInfo.details.isIteamizedLabor ===
                              "NonIteamized"
                              ? kit.totalWithoutLabor * kit.quantity
                              : kit.total * kit.quantity
                              ) | number: "1.2-2"
                              }}</span>
                          </td>
                        </tr>
                        <!-- Ng-repeat end -->
                        <!-- (quotesInfo.details.type === 'Detailed' &&  quotesInfo.details.type !== 'DetailedKitHeader')  //#Revisit_PreviousCode-->
                        <tr [hidden]="
                        (quotesInfo.details.type === 'Detailed' ) 
                              ||
                            (quotesInfo.details.isIteamizedLabor ===
                              'NonIteamized' &&
                              product.product.productType?.description ===
                                'Labor') ||
                            quotesInfo.details.type === 'SemiDetailed'
                          " *ngFor="let product of kit.kit.products">
                          <td>
                            <span class="medium-montserrat">{{
                              product.product.partNo
                              }}</span>
                          </td>
                          <td>
                            <span class="medium-montserrat">{{
                              product.product.manufacturerPartNumber === null
                              ? "--"
                              : product.product.manufacturerPartNumber
                              }}</span>
                          </td>
                          <td>
                            <span class="medium-montserrat pointer cursor">{{
                              product.product.name
                              }}</span>
                          </td>
                          <td>
                            <span class="medium-montserrat">{{
                              product.quantity * kit.quantity
                              }}</span>
                          </td>
                          <td *ngIf="
                              quotesInfo.details.type == 'Detailed' ||
                              quotesInfo.details.type === 'DetailedKitHeader'
                            ">
                            <span class="medium-montserrat">${{ product.price | number: "1.2-2" }}</span>
                          </td>
                          <td *ngIf="
                              quotesInfo.details.type == 'Detailed' ||
                              quotesInfo.details.type === 'DetailedKitHeader'
                            ">
                            <span class="medium-montserrat">${{
                              product.price * product.quantity * kit.quantity
                              | number: "1.2-2"
                              }}</span>
                          </td>
                        </tr>
                      </ng-container>
                      <!-- </td> -->
                    </tbody>
                  </table>
                </div>

                <div class="padding-row">
                  <div class="right-float margin-top-15">
                    <div class="subtotal-box font-14" *ngIf="
                        quotesInfo.details.isIteamizedLabor !== 'NonIteamized'
                      ">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Subtotal
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          ">
                          ${{ quotesInfo.subtotal | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                    <div class="subtotal-box font-14 margin-top-5" *ngIf="
                        quotesInfo.details.type !== 'NonDetailed' &&
                        quotesInfo.details.isIteamizedLabor === 'NonIteamized'
                      ">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Subtotal
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          ">
                          ${{
                          quotesInfo.subtotal - quotesInfo.laborCharge
                          | number: "1.2-2"
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="subtotal-box font-14 margin-top-5">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Discount
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          ">
                          ${{ quotesInfo.discount | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                    <div *ngIf="
                        quotesInfo.details.type !== 'NonDetailed' &&
                        quotesInfo.details.isIteamizedLabor === 'NonIteamized'
                      " class="subtotal-box font-14 margin-top-5">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Labor
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          ">
                          ${{ quotesInfo.laborCharge | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                    <div class="subtotal-box font-14 margin-top-5">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Tax({{ quotesInfo.saleTax.value }}%)
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          ">
                          ${{ quotesInfo.taxAmount | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="footer-box margin-top-15">
                  <div class="right-float">
                    <span class="
                        font-14
                        text-dark-blue text-uppercase
                        semibold-montserrat
                      ">total :</span>
                    <span class="
                        font-16
                        text-dark-blue text-uppercase
                        semibold-montserrat
                        padding-right-15
                        margin-left-35
                      ">${{ quotesInfo.total | number: "1.2-2" }}</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="
                  text-dark-blue
                  middle-quote-info
                  padding-row padding-top-20 padding-bottom-20
                ">
                <div class="font-16 semibold-montserrat">
                  Terms and Conditions
                </div>
                <div class="font-13 ql-editor pl-0" [innerHTML]="quotesInfo.termsandConditions | safe: 'html'"></div>
                <hr />
              </div>
            </div>

            <div class="medium-montserrat popup-page">
              <div class="
                  text-dark-blue
                  middle-quote-info
                  padding-row padding-top-20 padding-bottom-20
                ">
                <div class="margin-top-15">
                  <div class="font-16 semibold-montserrat">Approval</div>
                  <div class="font-13">
                    By Accepting and/or signing this quote, I accept the quote
                    and Terms and Conditions on behalf of
                    <span class="bold-montserrat">{{ company?.name }}</span> for
                    an amount of
                    <span class="bold-montserrat">${{ quotesInfo?.total | number: "1.2-2" }}</span>
                  </div>
                </div>
              </div>

              <div class="contact-content margin-all-0 padding-row">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-8">
                    <form novalidate autocomplete="off" #myForm="ngForm">
                      <div class="form-group">
                        <label class="
                            text-dark-blue
                            medium-montserrat
                            text-capitalize
                          ">Name</label>
                        <input class="form-control" name="Name" [maxlength]="constants.MaxLengthConstants.sendName"
                          [(ngModel)]="quotesInfo.details.name" type="text" />
                      </div>
                      <div class="form-group">
                        <label class="
                            text-dark-blue
                            medium-montserrat
                            text-capitalize
                          ">Title</label>
                        <input class="form-control" [maxlength]="constants.MaxLengthConstants.sendName" name="Title"
                          [(ngModel)]="quotesInfo.details.title" type="text" />
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="padding-row mb-5">
                <div class="right-float">
                  <button value="Print" (click)="print()" class="btn primary-btn">
                    Print
                  </button>
                  <button value="Accept" (click)="Accept()" class="btn primary-btn">
                    Accept
                  </button>
                  <button value="Reject" (click)="Reject()" class="btn secondary-btn">
                    Reject
                  </button>
                </div>
              </div>
              <div class="powered-strip padding-row">
                <div class="right-float">
                  <span class="font-13 left-float margin-right-10">Powered by</span>
                  <span class="left-float power-logo">
                    <img src="https://app.quofinity.com/assets/img/main-logo.png" class="img-fluid" />
                  </span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Hello</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide(onCancel())" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div claas="">
          <span *ngIf="isPdf">Are you ready to export your quote
            <br>
            <span class="color-blue">{{quotesInfo.name}}</span>
          </span>
          <span *ngIf="isMail">Are you ready to mail your quote
            <br>
            <span class="color-blue">{{quotesInfo.name}}</span>
          </span>
          <span *ngIf="isLink">Are you ready to share your quote link
            <br>
            <span class="color-blue">{{quotesInfo.name}}</span>
          </span>
        </div>

      </div>
      <div class="mb-3 pl-3">
        <button type="button" *ngIf="isPdf" class="btn btn-default" (click)="deleteConfirmModal.hide(ExportToPDF()); isPdf = false">Yes</button>
        <button type="button" *ngIf="isMail" class="btn btn-default" (click)="deleteConfirmModal.hide(SendQuote()); isMail = false">Yes</button>
        <button type="button" *ngIf="isLink" class="btn btn-default" (click)="deleteConfirmModal.hide(SendQuoteLink()); isLink = false">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide(onCancel())">No</button>
      </div>

    </div>

  </div>
</div> -->

<!-- <div
  bsModal
  [ngClass]="{ show: show }"
  #ConfirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <app-toaster
    [typeofMessage]="typeofMessage"
    [notification]="notification"
    [message]="messageToDisplay"
    [note]="noteToDisplay"
    [data]="dataToDisplay"
    [showButtons]="showButtons"
    (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)"
    (hide)="hide(ConfirmModal)"
  ></app-toaster>
</div> -->