<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>
<div class="padding-left-15 padding-top-15 padding-bottom-15">
  <div class="right-float padding-right-15 padding-bottom-15">
    <div class="left-float label-dropdown">
      <div class="font-14 medium-montserrat text-dark-blue font-14">Select Role</div>
    </div>
    <div class="left-float margin-left-10">
      <div class="form-group margin-bottom-0">
        <select class="form-control" (change)="roleSelected($any($event.target).value)" #roleId="ngModel" required
          name="roleId" [(ngModel)]="roleID" class="form-control common-text-box font-14 text-dark-blue">
          <option *ngFor="let item of userRoles;let in = index" [value]="item.id">
            {{item.description}}</option>
          <!-- <option [selected]="!roleID">sdfsd</option> -->
        </select>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="common-table table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Function / Features</th>
          <th>Create</th>
          <th>update</th>
          <th>delete</th>
          <th>view</th>
          <th>import</th>
          <th>export</th>
        </tr>
      </thead>

      <tbody *ngIf="accessMatrix" id="all-column-list">

        <tr>
          <td>
            <span class="semibold-montserrat">Account</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle" aria-pressed="true"
              (click)="accessMatrix.accounts.create = ! accessMatrix.accounts.create;postAccessMartix(accessMatrix);"
              [ngClass]="(accessMatrix.accounts.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle')"
              type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle" aria-pressed="true"
              (click)="accessMatrix.accounts.update = ! accessMatrix.accounts.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.accounts.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.accounts.delete = ! accessMatrix.accounts.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.accounts.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.accounts.view = ! accessMatrix.accounts.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.accounts.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.accounts.import = ! accessMatrix.accounts.import;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.accounts.import  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.accounts.export = ! accessMatrix.accounts.export;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.accounts.export  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Contact</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.contact.create = ! accessMatrix.contact.create;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.contact.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="accessMatrix.contact.create" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.contact.update = ! accessMatrix.contact.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.contact.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.contact.delete = ! accessMatrix.contact.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.contact.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.contact.view = ! accessMatrix.contact.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.contact.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.contact.import = ! accessMatrix.contact.import;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.contact.import  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.contact.export = ! accessMatrix.contact.export;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.contact.export  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Product</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.products.create = ! accessMatrix.products.create;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.products.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.products.update = ! accessMatrix.products.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.products.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.products.delete = ! accessMatrix.products.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.products.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.products.view = ! accessMatrix.products.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.products.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.products.import = ! accessMatrix.products.import;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.products.import  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.products.export = ! accessMatrix.products.export;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.products.export  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Quote</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.quote.create = ! accessMatrix.quote.create;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.quote.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.quote.update = ! accessMatrix.quote.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.quote.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.quote.delete = ! accessMatrix.quote.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.quote.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.quote.view = ! accessMatrix.quote.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.quote.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.quote.export = ! accessMatrix.quote.export;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.quote.export  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Kit</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.kit.create = ! accessMatrix.kit.create;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.kit.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.kit.update = ! accessMatrix.kit.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.kit.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.kit.delete = ! accessMatrix.kit.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.kit.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.kit.view = ! accessMatrix.kit.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.kit.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.kit.export = ! accessMatrix.kit.export;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.kit.export  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Categories</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.categories.create = ! accessMatrix.categories.create;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.categories.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.categories.update = ! accessMatrix.categories.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.categories.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.categories.delete = ! accessMatrix.categories.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.categories.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.categories.view = ! accessMatrix.categories.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.categories.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Reports</span>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.reports.view = ! accessMatrix.reports.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.reports.view ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <span class="semibold-montserrat">Pricing Methods</span>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.pricingMethods.create = ! accessMatrix.pricingMethods.create;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.pricingMethods.create  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.pricingMethods.update = ! accessMatrix.pricingMethods.update;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.pricingMethods.update  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.pricingMethods.delete = ! accessMatrix.pricingMethods.delete;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.pricingMethods.delete  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
            <button id="matrixButton" class="btn btn-sm btn-secondary btn-toggle"
              (click)="accessMatrix.pricingMethods.view = ! accessMatrix.pricingMethods.view;postAccessMartix(accessMatrix);"
              [ngClass]="accessMatrix.pricingMethods.view  ? 'active btn-sm btn-secondary btn-toggle' : 'btn-sm btn-secondary btn-toggle'"
              aria-pressed="true" type="button" autocomplete="off">
              <div class="handle"></div>
            </button>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>