<div class="overlay">
  <div class="align-items-center p-md-4">
    <div class="container">
      <div class="row justify-content-center">

        <ul class="col-md-3 bg-primary payment-left">
          <li>
            <p>Receipt For</p>
            <h4>{{BillingInfo.property.name}}</h4>
          </li>
          <li>
            <p>Total Fee</p>
            <h4>${{BillingInfo.total}}</h4>
          </li>
          <li>
            <p>Transaction Date</p>
            <h4>{{BillingInfo.subscriptionEndDate | date : constants.DateFormat }}</h4>
          </li>
          <li>
            <p>Issued By</p>
            <h4>GoChargeBack</h4>
          </li>
          <li>
            <p>Card No.</p>
            <h6>XXXX-XXXX-XXXX-{{BillingInfo.last4Digit}}</h6>
          </li>
        </ul>
        <ul class="col-md-5 payment-right">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <li class="right-head">
            <h3>
              Payment Successful!
            </h3>
            <br>
            <h6 class="text-muted">
              Transaction ID : {{BillingInfo.transcationId}}
            </h6>
          </li>
          <li class="right-table">
            <table class="table table-striped table_body table-responsive">
              <tbody>
                <tr>
                  <td class="font-weight-bold">Property Name </td>
                  <td>: </td>
                  <td>{{BillingInfo.property.name}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Email </td>
                  <td>: </td>
                  <td>{{BillingInfo.company.contactPersonEmail }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Phone </td>
                  <td>: </td>
                  <td>{{BillingInfo.company.contactPersonNo }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Subscription </td>
                  <td>: </td>
                  <td>{{BillingInfo.subscription}}</td>
                </tr>

                <tr>
                  <td class="font-weight-bold">Subscription End Date </td>
                  <td>: </td>
                  <td>{{BillingInfo.subscriptionEndDate | date : constants.DateFormat}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Subscription Fee </td>
                  <td>: </td>
                  <td>${{ BillingInfo.planPrice.toFixed(2) }}</td>
                </tr>

                <tr>
                  <td class="font-weight-bold">Tax ({{ BillingInfo.tax }}%) </td>
                  <td>: </td>
                  <td>${{ (BillingInfo.total - BillingInfo.planPrice).toFixed(2) }}</td>
                </tr>
                <tr>
                  <td>
                    <b>Total</b>
                  </td>
                  <td>: </td>
                  <td>
                    <b>${{BillingInfo.total.toFixed(2) }} </b>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <hr>
          <li class="right-foot">
            <p class="text-muted">
              <button type="button" style="    margin-bottom: 10px;margin-top: -25px;" (click)="redirecttoLogin()" class="btn btn-primary pull-right">Back To Sign In</button>
            </p>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  .overlay {
    /* height: 100%; */
    width: 100%;
    position: absolute;
    z-index: 1020;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
</style>
