<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="overlay">
  <div class="container text-center headings color-white">
    <h2>{{header}}</h2>
    <h4 class="">FlexCPQ Subscription Plans </h4>
    <h5>Find the Perfect Plan for You - 100% Satisfaction Guaranteed.</h5>
  </div>

  <div class="container pcontainer ">
    <div class="pricing-bg">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
          <div class="price-box">
            <div class="header">
              <div class="plan-name">{{SubscriptionType[0].Description}}</div>
              <div class="plan-price">
                ${{SubscriptionType[0].amount}}</div>
              <span> plus tax, as applicable</span>
            </div>
            <div class="body">
              <ul>
                <li>Enjoy Exclusive Unlimited Usage!</li>
                <li>Only For Individual Property!</li>
              </ul>
              <div class="read-more">
                <a (click)="openCheckout(SubscriptionType[0].Description,SubscriptionType[0].amount,SubscriptionType[0].subType)">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
          <div class="price-box">
            <div class="header bg-orange">
              <div class="plan-name">{{SubscriptionType[1].Description}}</div>
              <div class="plan-price">
                ${{SubscriptionType[1].amount}}</div>
              <span> plus tax, as applicable</span>
            </div>
            <div class="body">
              <ul>
                <li>Enjoy Exclusive Unlimited Usage!</li>
                <li>Only For Individual Property!</li>
              </ul>
              <div class="read-more">
                <a (click)="openCheckout(SubscriptionType[1].Description,SubscriptionType[1].amount,SubscriptionType[1].subType)">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
          <div class="price-box">
            <div class="header">
              <div class="plan-name">{{SubscriptionType[2].Description}}</div>
              <div class="plan-price">
                ${{SubscriptionType[2].amount}}</div>
              <span> plus tax, as applicable</span>
            </div>
            <div class="body">
              <ul>
                <li>Enjoy Exclusive Unlimited Usage!</li>
                <li>Only For Individual Property!</li>
              </ul>
              <div class="read-more">
                <a (click)="openCheckout(SubscriptionType[2].Description,SubscriptionType[2].amount,SubscriptionType[2].subType)">Buy Now</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<style>
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .color-white {
    color: aliceblue;
  }
</style>
