<div class="container" id="printId">
  <div id="content" class="main-container main-container-compress" #content>
    <div class="" *ngIf="quotesInfo">
      <div class="product-details padding-top-15 quote-preview">
        <div class="padding-top-45">
          <div class="detail-type detail-1 block-div padding-bottom-65 b-t-1">
            <div class="medium-montserrat">
              <div
                class="
                  col-sm-12 col-lg-12 col-md-12 col-xl-12
                  popup-header-content
                  p-0
                "
              >
                <table class="mb-2">
                  <tr>
                    <td>
                      <div
                        class="
                          semibold-montserrat
                          font-16
                          text-dark-blue text-capitalize
                          padding-row
                          mt-2
                        "
                      >
                        {{ company.name }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="col-xl-4 col-lg-4 col-md-4 common-border-right p-0"
                    >
                      <div
                        class="
                          text-dark-blue
                          font-14
                          margin-top-10
                          padding-row
                          small-desktop-main
                        "
                      >
                        <div class="margin-bottom-5">
                          <i class="fa fa-map-marker margin-right-5"></i
                          >{{ company.street }}, {{ company.city }},
                          {{ company.state }} - {{ company.zip }}
                        </div>
                        <div class="margin-bottom-5">
                          <i class="fa fa-phone margin-right-5"></i>
                          {{ company.contactNo }}
                        </div>
                      </div>
                    </td>
                    <td
                      class="col-xl-4 col-lg-4 col-md-5 common-border-right p-0"
                    >
                      <div
                        class="
                          text-dark-blue
                          font-14
                          margin-top-10
                          padding-row
                          small-desktop-main
                        "
                      >
                        <div class="margin-bottom-5">
                          <i class="fa fa-envelope margin-right-5"></i>
                          {{ company.email }}
                        </div>
                      </div>
                    </td>
                    <td class="col-xl-2 col-lg-2 col-md-2 p-0">
                      <div
                        class="
                          text-dark-blue
                          font-14
                          margin-top-10
                          padding-row
                          small-desktop-main
                        "
                      >
                        <div class="font-16 semibold-montserrat">
                          Quote Preparer
                        </div>
                        <div>{{ quotesInfo.ownerName }}</div>
                      </div>
                    </td>
                    <td class="col-xl-2 col-lg-2 col-md-1 pb-0">
                      <div class="format-logo">
                        <img
                          style="max-width: 100%"
                          *ngIf="!company.logo"
                          src="assets/img/main-logo.png"
                        />
                        <img
                          style="max-width: 100%"
                          *ngIf="company.logo"
                          [src]="company.logo"
                        />
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 pl-0">
                <div class="text-dark-blue middle-quote-info padding-row">
                  <div class="font-16 semibold-montserrat">
                    {{ quotesInfo.name }}
                  </div>
                  <div
                    class="
                      col-sm-6 col-lg-6 col-md-6 col-xl-6
                      margin-top-10
                      pl-0
                    "
                  >
                    <table>
                      <tr>
                        <td
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-12
                            common-border-right
                            pl-0
                          "
                        >
                          <div>
                            <div class="semibold-montserrat font-14">
                              ${{ quotesInfo.total | number: "1.2-2" }}
                            </div>
                            <div
                              class="medium-montserrat font-13 text-blue-gray"
                            >
                              Quote Total
                            </div>
                          </div>
                        </td>
                        <td class="col-xl-6 col-lg-6 col-md-6 col-12">
                          <div>
                            <div class="semibold-montserrat font-14">
                              {{ quotesInfo.uniqueId }}
                            </div>
                            <div
                              class="medium-montserrat font-13 text-blue-gray"
                            >
                              Quote ID
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 p-0">
                <table>
                  <tr>
                    <td>
                      <div
                        class="
                          font-16
                          text-dark-blue
                          semibold-montserrat
                          padding-row
                        "
                      >
                        Prepared For
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="
                          font-15
                          text-dark-blue
                          semibold-montserrat
                          margin-top-10
                          padding-row
                        "
                      >
                        {{ quotesInfo.contact.firstName }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="
                          font-16
                          text-dark-blue
                          semibold-montserrat
                          margin-top-5
                          padding-row
                        "
                      >
                        {{ quotesInfo.contact.accounts.name }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                      <div
                        class="
                          text-dark-blue
                          popup-footer-content
                          font-14
                          bottom-main-preview
                          pl-3
                        "
                      >
                        <div class="common-border-right">
                          <div>
                            <div class="margin-bottom-5">
                              <i class="fa fa-envelope margin-right-5"></i>
                              {{ quotesInfo.contact.email }}
                            </div>
                            <div>
                              <i class="fa fa-link margin-right-5"></i
                              >{{ quotesInfo.contact.accounts.website }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td width="25%">
                      <div
                        class="
                          text-dark-blue
                          popup-footer-content
                          font-14
                          bottom-main-preview
                        "
                      >
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
                            {{ quotesInfo.sentDate | date }}
                          </div>
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
                            Quote Date
                          </div>
                        </div>
                      </div>
                    </td>
                    <td width="25%">
                      <div
                        class="
                          text-dark-blue
                          popup-footer-content
                          font-14
                          bottom-main-preview
                        "
                      >
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
                            {{ quotesInfo.expirationDate | date }}
                          </div>
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
                            Quote Valid Until
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <hr />
            </div>
            <div class="medium-montserrat">
              <div class="clearfix"></div>
              <div
                class="
                  text-dark-blue
                  middle-quote-info
                  padding-row padding-top-20 padding-bottom-20
                "
              >
                <div class="font-16 semibold-montserrat">About Us</div>
                <div
                  class="font-13 ql-editor pl-0"
                  [innerHTML]="company.aboutUs | safe: 'html'"
                ></div>

                <div class="font-16 semibold-montserrat padding-top-20">
                  Scope of Work
                </div>
                <div
                  class="font-13 ql-editor pl-0"
                  [innerHTML]="quotesInfo.scopeofWork | safe: 'html'"
                ></div>
              </div>
              <hr />
            </div>

            <div class="medium-montserrat popup-page">
              <div
                class="text-dark-blue padding-top-5"
                *ngIf="quotesInfo.details.type != 'NonDetailed'"
              >
                <div
                  class="
                    font-16
                    semibold-montserrat
                    padding-row padding-top-10 padding-bottom-10
                  "
                >
                  Quote Details
                </div>

                <div class="common-table table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Part Number</th>
                        <th>Manufacturer Part Number</th>
                        <th>Product Title</th>
                        <th>quantity</th>
                        <th *ngIf="quotesInfo.details.type == 'Detailed'">
                          Price
                        </th>
                        <th *ngIf="quotesInfo.details.type == 'Detailed'">
                          total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let obj of quotesInfo?.products"
                        [hidden]="
                          quotesInfo.details.isIteamizedLabor ===
                            'NonIteamized' &&
                          obj.product.productType?.description === 'Labor'
                        "
                      >
                        <td>
                          <span class="medium-montserrat">{{
                            obj.product.partNo
                          }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.product.manufacturerPartNumber === null
                              ? "--"
                              : obj.product.manufacturerPartNumber
                          }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.product.name
                          }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.quantity
                          }}</span>
                        </td>
                        <td *ngIf="quotesInfo.details.type == 'Detailed'">
                          <span class="medium-montserrat"
                            >${{ obj.price | number: "1.2-2" }}</span
                          >
                        </td>
                        <td *ngIf="quotesInfo.details.type == 'Detailed'">
                          <span class="medium-montserrat"
                            >${{
                              obj.price * obj.quantity | number: "1.2-2"
                            }}</span
                          >
                        </td>
                      </tr>
                      <tr *ngFor="let obj of quotesInfo?.customItem">
                        <td>
                          <span class="medium-montserrat">Custom Item</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">--</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{ obj.name }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.quantity
                          }}</span>
                        </td>
                        <td *ngIf="quotesInfo.details.type == 'Detailed'">
                          <span class="medium-montserrat"
                            >${{ obj.price | number: "1.2-2" }}</span
                          >
                        </td>
                        <td *ngIf="quotesInfo.details.type == 'Detailed'">
                          <span class="medium-montserrat"
                            >${{
                              obj.price * obj.quantity | number: "1.2-2"
                            }}</span
                          >
                        </td>
                      </tr>
                      <tr *ngFor="let obj of quotesInfo?.kits">
                        <td>
                          <span class="medium-montserrat">{{
                            obj.kit.number
                          }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">--</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.kit.name
                          }}</span>
                        </td>
                        <td>
                          <span class="medium-montserrat">{{
                            obj.quantity
                          }}</span>
                        </td>
                        <td *ngIf="quotesInfo.details.type == 'Detailed'">
                          <span class="medium-montserrat"
                            >${{ obj.kit.total | number: "1.2-2" }}</span
                          >
                        </td>
                        <td *ngIf="quotesInfo.details.type == 'Detailed'">
                          <span class="medium-montserrat"
                            >${{
                              obj.kit.total * obj.quantity | number: "1.2-2"
                            }}</span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="padding-row">
                  <div class="right-float margin-top-15">
                    <div
                      class="subtotal-box font-14"
                      *ngIf="
                        quotesInfo.details.isIteamizedLabor !== 'NonIteamized'
                      "
                    >
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Subtotal
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div
                          class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          "
                        >
                          ${{ quotesInfo.subtotal | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="subtotal-box font-14 margin-top-5"
                      *ngIf="
                        quotesInfo.details.type !== 'NonDetailed' &&
                        quotesInfo.details.isIteamizedLabor === 'NonIteamized'
                      "
                    >
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Subtotal
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div
                          class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          "
                        >
                          ${{
                            quotesInfo.subtotal - quotesInfo.laborCharge
                              | number: "1.2-2"
                          }}
                        </div>
                      </div>
                    </div>
                    <div class="subtotal-box font-14 margin-top-5">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Discount
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div
                          class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          "
                        >
                          ${{ quotesInfo.discount | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        quotesInfo.details.type !== 'NonDetailed' &&
                        quotesInfo.details.isIteamizedLabor === 'NonIteamized'
                      "
                      class="subtotal-box font-14 margin-top-5"
                    >
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Labor
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div
                          class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          "
                        >
                          ${{ quotesInfo.discount | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                    <div class="subtotal-box font-14 margin-top-5">
                      <div class="row">
                        <div class="col-4 medium-montserrat text-other-gray">
                          Tax({{ quotesInfo.saleTax.value }}%)
                        </div>
                        <div class="col-2 medium-montserrat text-other-gray">
                          -
                        </div>
                        <div
                          class="
                            col-5
                            semibold-montserrat
                            text-dark-blue
                            right-float
                          "
                        >
                          ${{ quotesInfo.taxAmount | number: "1.2-2" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="footer-box margin-top-15">
                  <div class="right-float">
                    <span
                      class="
                        font-14
                        text-dark-blue text-uppercase
                        semibold-montserrat
                      "
                      >total :</span
                    >
                    <span
                      class="
                        font-16
                        text-dark-blue text-uppercase
                        semibold-montserrat
                        padding-right-15
                        margin-left-35
                      "
                      >${{ quotesInfo.total | number: "1.2-2" }}</span
                    >
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div
                class="
                  text-dark-blue
                  middle-quote-info
                  padding-row padding-top-20 padding-bottom-20
                "
              >
                <div class="font-16 semibold-montserrat">
                  Terms and Conditions
                </div>
                <div
                  class="font-13 ql-editor pl-0"
                  [innerHTML]="quotesInfo.termsandConditions | safe: 'html'"
                ></div>
                <hr />
              </div>
            </div>

            <div class="medium-montserrat popup-page">
              <div
                class="
                  text-dark-blue
                  middle-quote-info
                  padding-row padding-top-20 padding-bottom-20
                "
              >
                <div class="margin-top-15">
                  <div class="font-16 semibold-montserrat">Approval</div>
                  <div class="font-13">
                    By Accepting and/or signing this quote, I accept the quote
                    and Terms and Conditions on behalf of
                    <span class="bold-montserrat">{{ company.name }}</span> for
                    an amount of
                    <span class="bold-montserrat"
                      >${{ quotesInfo.total | number: "1.2-2" }}</span
                    >
                  </div>
                </div>
              </div>

              <div class="contact-content margin-all-0 padding-row">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-8">
                    <form novalidate autocomplete="off" #myForm="ngForm">
                      <div class="form-group">
                        <label
                          class="
                            text-dark-blue
                            medium-montserrat
                            text-capitalize
                          "
                          >Name</label
                        >
                        <input
                          class="form-control"
                          name="Name"
                          [(ngModel)]="quotesInfo.details.name"
                          type="text"
                        />
                      </div>
                      <div class="form-group">
                        <label
                          class="
                            text-dark-blue
                            medium-montserrat
                            text-capitalize
                          "
                          >Title</label
                        >
                        <input
                          class="form-control"
                          name="Title"
                          [(ngModel)]="quotesInfo.details.title"
                          type="text"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="padding-row mb-5">
                <div class="right-float">
                  <button
                    value="Print"
                    (click)="print()"
                    class="btn primary-btn"
                  >
                    Print
                  </button>
                  <button
                    value="Accept"
                    (click)="Accept()"
                    class="btn primary-btn"
                  >
                    Accept
                  </button>
                  <button
                    value="Reject"
                    (click)="Reject()"
                    class="btn secondary-btn"
                  >
                    Reject
                  </button>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="powered-strip padding-row">
                <div class="right-float">
                  <span class="font-13 left-float margin-right-10"
                    >Powered by</span
                  >
                  <span class="left-float power-logo">
                    <img
                      src="../../../assets/img/main-logo.png"
                      class="img-fluid"
                    />
                  </span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
