::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    padding: 0.8rem 0.8rem !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
::ng-deep .p-datatable-table{
  table-layout: fixed !important;
  width: 97% !important;
}
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
  }
  :host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.p-button.p-button-icon-only.p-button-rounded{
height : .2rem;
}

  .eyeIcon{
    float: right;
    position: relative;
    top: -20px;
    right: 30px;
    font-size: 20px;
}
.checkboxList{
  box-shadow: 0 0 10px lightgrey;
  padding: 10px;
  right: 0;
  top: 1px;
  z-index: 1060;
  div{
    input{
      margin-bottom:10px;
    }
  }
}