<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="padding-bottom-20">
    <div class="padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <div class="text-uppercase text-title-gray font-16 semibold-montserrat padding-top-5">
              quotes
              <span class="quote-count bg-notif-blue semibold-montserrat">{{
                quotesInfo.totalCount
                }}</span>
            </div>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="right-float">
              <div class="add-common-btn left-float">
                <button type="button" data-toggle="modal" data-target="#addQuoteModal"
                  (click)="addQuoteModal.show(); discard(); setFocus()" [disabled]="!accessValid.create"
                  [ngClass]="{ 'btn-disabled': !accessValid.create }"
                  [title]="!accessValid.create ? 'Access denied' : 'Add quote'" class="semibold-montserrat">
                  Add quote
                </button>
              </div>
              <div class="view-btn common-blue-btn dropdown left-float margin-left-15">
                <button type="button" data-toggle="dropdown">
                  <i class="icon-menu icons d-block" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" [disabled]="!accessValid.export"
                      [ngClass]="{ 'btn-disabled': !accessValid.export }"
                      [title]="!accessValid.export ? 'Access denied' : 'Export'" (click)="exportToCSV(); discard()">
                      <i class="fa fa-upload" aria-hidden="true"></i> Export
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sorting-btn-list padding-left-15 padding-right-15 padding-bottom-15">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group common-select margin-bottom-0">
            <!-- <select class="form-control common-text-box">
              <option
                *ngFor="let data of constants.Alphabets"
                (click)="SearchQuotes(data); discard()"
                >{{ data }}</option
              >
            </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-xl-10 col-md-12 mb-0">
          <div class="row filter-box mb-0">
            <div class="col-12 col-xl-3 col-md-3 mb-2 pl-2">
              <ng-template #ContactItemTemplate let-model="item" let-index="index">
                <span class="mb-0">{{ model?.firstName }}</span>
              </ng-template>
              <input name="ContacttName" autocomplete="off" [maxlength]="constants.MaxLengthConstants.Category"
                #ContacttName="ngModel" [(ngModel)]="cName" [typeahead]="contacts"
                [typeaheadItemTemplate]="ContactItemTemplate" typeaheadOptionField="firstName"
                (keyup)="showContactClearButton = true" (keydown)="onKeyDown(); discardEdit()" (typeaheadOnSelect)="
                  onContactSelect($event); showContactClearButton = true
                " class="form-control" placeholder="Contact " />
              <i *ngIf="!showContactClearButton" class="fa fa-search"></i>
              <i *ngIf="showContactClearButton" (click)="
                  quotesInfo.contactId = null;
                  showContactClearButton = false;
                  getQuotes(0);
                  discardEdit();
                  cName = null
                " class="fa fa-times-thin fa-2x color-grey-shade align-bottom"></i>
            </div>
            <div class="col-12 col-xl-3 col-md-3 mb-2">
              <ng-template #AccounttemTemplate let-model="item" let-index="index">
                <span class="mb-0">{{ model?.name }}</span>
              </ng-template>
              <input name="AccountName" autocomplete="off" [maxlength]="constants.MaxLengthConstants.AccountName"
                #AccountName="ngModel" [(ngModel)]="aName" [typeahead]="accounts"
                [typeaheadItemTemplate]="AccounttemTemplate" typeaheadOptionField="name"
                (keyup)="showAccountClearButton = true" (keydown)="onKeyDown(); discardEdit()" (typeaheadOnSelect)="
                  onAccountSelect($event); showAccountClearButton = true
                " class="form-control" placeholder="Account " />
              <i *ngIf="!showAccountClearButton" class="fa fa-search"></i>
              <i *ngIf="showAccountClearButton" (click)="
                  quotesInfo.accountId = null;
                  showAccountClearButton = false;
                  getQuotes(0);
                  discardEdit();
                  aName = null
                " class="fa fa-times-thin fa-2x color-grey-shade align-bottom"></i>
            </div>
            <div class="col-12 col-xl-3 col-md-3 mb-2">
              <select class="form-control" name="QuoteStatus" #QuoteStatus="ngModel" [(ngModel)]="quotesInfo.status"
                (change)="getQuotes(0)">
                <option [value]="null" selected>Select status</option>
                <option value="All">Total</option>
                <option value="In Progress">In Progress</option>
                <option value="Quoted">Quoted</option>
                <option value="Accepted">Accepted</option>
                <option value="Rejected">Rejected</option>
                <option value="Expired">Expired</option>
              </select>
            </div>
            <div class="col-12 col-xl-3 col-md-3 mb-2"></div>
          </div>
          <!-- <ul>
            <li *ngFor="let data of constants.Alphabets">
              <button
                type="button"
                (click)="SearchQuotes(data); discard()"
                [ngClass]="{ active: data == selectedAlpha }"
              >
                {{ data }}
              </button>
            </li>
            <li>
              <button
                type="button"
                (click)="SearchQuotes('Other'); discard()"
                [ngClass]="{ active: data == 'Other' }"
              >
                Other
              </button>
            </li>
          </ul> -->
        </div>
        <div class="col-6 col-xl-2 col-md-4 mb-2 ml-auto">
          <div class="input-group mb-0 right-float">
            <label class="left-float inline-label">Show</label>&nbsp;&nbsp;
            <select name="KitspageSize" [(ngModel)]="quotesInfo.pageSize" (change)="getQuotes(0); discard()"
              class="ml-4 form-control common-text-box font-14 text-dark-blue medium-montserrat width-100-percent">
              <option *ngFor="let obj of constants.PageViewSize" [value]="obj">
                {{ obj }} items
              </option>
            </select>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="common-table table-responsive">
      <p-table [columns]="columns" id="quotes-grid" [value]="items" editMode="row" [rows]="quotesInfo.pageSize"
        [lazy]="true" [autoLayout]="true" (onLazyLoad)="getQuotes($event)" [paginator]="true"
        [totalRecords]="quotesInfo.totalCount" [resizableColumns]="true" dataKey="id" styleClass="p-datatable-striped"
        columnResizeMode="expand">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.property" pResizableColumn>
              <span [tooltip]="column.header">{{
                column.header}}</span>
              <p-sortIcon [field]="column.property"></p-sortIcon>
            </th>
            <th style="width:3rem"></th>
            <!-- <th pResizableColumn><span tooltip="Quote ID"> Quote ID</span></th>
            <th pResizableColumn><span tooltip="Quote Title"> Quote Title</span></th>
            <th pResizableColumn><span tooltip="Contact">Contact</span></th>
            <th pResizableColumn><span tooltip="Account">Account</span></th>
            <th pResizableColumn><span tooltip="Status"> Status</span></th>
            <th pResizableColumn><span tooltip="Total"> Total</span></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="item">
            <td><span style="cursor: pointer;" [tooltip]="item.uniqueId" class="color-blue"
                (click)="goToDetails(item.id)">{{ item.uniqueId
                }}</span></td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="quoteGridNameForm" #quoteGridNameForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="QuoteGridTitle" #QuoteGridTitle="ngModel"
                            [pattern]="constants.AnythingWhithoutSpace_REGEXP" [(ngModel)]="item.name"
                            class="form-control" [maxlength]="constants.MaxLengthConstants.QuoteTitle" [ngClass]="{
                                    'has-error':
                                      QuoteGridTitle.invalid &&
                                      (QuoteGridTitle.dirty ||
                                        QuoteGridTitle.touched ||
                                        quoteGridNameForm.submitted)
                                  }" required [autofocus]="toBeEdit === 'name'" />
                        </div>
                        <div class="text-danger" *ngIf="
                                  QuoteGridTitle.invalid &&
                                  (QuoteGridTitle.dirty ||
                                    QuoteGridTitle.touched ||
                                    quoteGridNameForm.submitted)
                                ">
                          <div [hidden]="!QuoteGridTitle.errors['required']">
                            Enter quote title
                          </div>
                          <div [hidden]="!QuoteGridTitle.errors?.['pattern']">
                            Enter valid quote title
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span style="cursor: pointer;" [tooltip]="item.name" class="editable-txt color-blue"
                    (click)="goToDetails(item.id)">{{
                    item.name }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td><span style="cursor: pointer;" class="color-blue" (click)="goToContactDetails(item.contact.id)"
                [tooltip]="item.contact.firstName">{{ item.contact.firstName }}</span></td>
            <td><span style="cursor: pointer;" class="color-blue" (click)="goToAccountDetails(item.contact.accounts.id)"
                [tooltip]="item.contact.accounts.name">{{ item.contact.accounts.name }}</span></td>

            <td>
              <span [tooltip]="item.status.description" *ngIf="item.status.description === constants.Accepted"
                class="medium-montserrat text-status-green">{{
                item.status.description }}</span>
              <span [tooltip]="item.status.description" *ngIf="item.status.description === constants.Rejected"
                class="medium-montserrat text-status-pink">{{
                item.status.description }}</span>
              <span [tooltip]="item.status.description" *ngIf="item.status.description === constants.Expired"
                class="medium-montserrat text-status-violet">{{
                item.status.description }}</span>
              <span [tooltip]="item.status.description" *ngIf="item.status.description === constants.Quoted"
                class="medium-montserrat text-status-blue">{{
                item.status.description }}</span>
              <span [tooltip]="item.status.description" *ngIf="item.status.description === constants.InProgress"
                class="medium-montserrat text-status-orange">{{
                item.status.description }}</span>
            </td>

            <td>
              <span tooltip="${{ item.total | number: '1.2-2' }}">${{ item.total | number:
                "1.2-2" }}</span>
            </td>
            <td style="text-align: center;">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div bsModal #addQuoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <form novalidate autocomplete="off" #quoteForm="ngForm" id="quoteForm" name="quoteForm" #Form="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Quote
          </h4>
          <button type="reset" class="close common-close" (click)="cancelQuotes(quoteForm, addQuoteModal)"
            aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div claas="">
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Contact</label>
              <!-- <select class="form-control" #Contact="ngModel" [ngClass]="{'has-error': Contact.invalid && (Contact.dirty || Contact.touched || quoteForm.submitted) }"
                name="Contact" required [(ngModel)]="quote.contact.id">
                <option [value]="null" [selected]="!quote.contact.id">Select Contact</option>
                <option *ngFor="let item of contacts" value="{{item.id}}">
                  {{item.firstName}}
                </option>
              </select>
              <div *ngIf="Contact.invalid && ( Contact.dirty || Contact.touched || isFormSubmitted )" class="text-danger">
                <div [hidden]="!Contact.errors?.required">
                  Select contact
                </div>
              </div> -->

              <ng-template #customItemTemplate let-model="item" let-index="index">
                <span>{{ model.firstName }}</span>
              </ng-template>

              <input (focus)="presentContact = false" placeholder="Contact" name="SearchContact"
                #SearchContact="ngModel" #SearchContac [ngClass]="{
                  'has-error':
                    SearchContact.invalid &&
                    (SearchContact.dirty || quoteForm.submitted)
                }" [(ngModel)]="searchContact" [typeahead]="contacts" [typeaheadItemTemplate]="customItemTemplate"
                typeaheadOptionField="firstName" (ngModelChange)="FindContact()" class="form-control"
                (typeaheadOnSelect)="saveContactOnSelectContact($event)" required />
              {{ isOpenPopup ? SearchContac?.focus() : null }}
              <!-- {{isOpenPopup ? SearchContact?.reset() : null}} -->
              <div class="text-danger" *ngIf="
                  SearchContact.invalid &&
                  (SearchContact.dirty || quoteForm.submitted)
                ">
                <div [hidden]="!SearchContact.errors['required']">
                  Enter contact
                </div>
              </div>
              <div class="text-danger" *ngIf="
                  presentContact &&
                  !(
                    SearchContact.invalid &&
                    (SearchContact.dirty || quoteForm.submitted)
                  )
                ">
                Contact not present
              </div>
            </div>
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Quote Title</label>
              <input type="text" [(ngModel)]="quote.name" [ngClass]="{
                  'has-error':
                    Name.invalid &&
                    (Name.dirty || Name.touched || quoteForm.submitted)
                }" required placeholder="Quote Title" #Name="ngModel" name="Name"
                [maxlength]="constants.MaxLengthConstants.QuoteTitle" [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                class="form-control medium-montserrat font-14 text-dark-blue" />
              <div *ngIf="
                  Name.invalid &&
                  (Name.dirty || Name.touched || isFormSubmitted)
                " class="text-danger">
                <div [hidden]="!Name.errors?.['required']">Enter quote title</div>
                <div [hidden]="!Name.errors?.['pattern']">
                  Enter valid quote title
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add" (click)="AddQuotes(quoteForm.valid, addQuoteModal)">
              Add
            </button>
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="cancelQuotes(quoteForm, addQuoteModal)">
              Cancel
            </button>
          </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </form>
</div>

<div bsModal [ngClass]="{ show: show }" [style.display]="show ? 'block' : 'none'" #ConfirmModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [notification]="notification" [typeofMessage]="typeofMessage" [message]="messageToDisplay"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmModal)"
    (no)="no(ConfirmModal)" (hide)="hide(ConfirmModal)"></app-toaster>
</div>