.product-collapse-title {
  &::after {
    font-family: "Font Awesome Free";
    font-weight: 900;
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  &.collapsed::after {
    font-family: "Font Awesome Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
.mob-product-collapsees-title,
.kit-collapse-title {
  &::after {
    font-family: "Font Awesome Free";
    font-weight: 900;
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  &.collapsed::after {
    font-family: "Font Awesome Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
.mob-kit-products-title,
.mob-kit-custom-product-tile,
.kit-product-collapse-title {
  &::after {
    font-family: "Font Awesome Free";
    font-weight: 900;
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  &.collapsed::after {
    font-family: "Font Awesome Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
