<div class="header-box">
  <div class="row">
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <div class="font-14 medium-montserrat text-capitalize text-dark-blue">
        tags
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="icon-box text-right font-18">
        <button type="button" [disabled]="!isEdit" [ngClass]="{'btn-disabled': !isEdit}"
          [title]="!isEdit?'Access denied':'Add tags'" class="btn-add-tag text-status-blue" data-toggle="modal"
          data-target="#addTagModal" (click)="addTagModal.show();resetforms(productForm);setFocus();">
          <i class="fa fa-plus-square-o"></i>
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="content-box contact-list-all" *ngIf="tagShowList?.length">
  <div
    class="text-dark-blue border-bottom-contact font-12 padding-top-10 padding-bottom-10 padding-left-15 padding-right-15">
    <div>
      <div *ngFor="let tag of tagShowList;let i=index" class="left-float tags-link">
        <a>{{tag}}</a>
        <button (click)="index=i; popupOpen(popupFor='deleteTag');deleteConfirmModal.show();" [disabled]="!isEdit"
          [ngClass]="{'btn-disabled': !isEdit}" [title]="!isEdit?'Access denied':'Delete tags'" type="button"
          class="tag-delete">
          <!-- deleteConfirmModal.show(popupFor='deleteTag'); #Revisit_PreviousCode-->
          <i class="fa fa-times-thin fa-lg"></i>
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div bsModal #addTagModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" #productForm="ngForm"
        (ngSubmit)="titletoClose();addTag(productForm,addTagModal, tag,productForm)">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Tag
          </h4>
          <button type="button" class="close common-close"
            (click)="titletoClose();addTagModal.hide(tag.description = null);resetforms(productForm);tagPresent=false;maxTagLimit=false"
            aria-label="Close">
            <i class="fa fa-times-thin fa-lg font-25 color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">tag</label>
                <ng-template #customItemTemplate let-model="item" let-index="index">
                  <span class="mb-0">{{model?.description}}</span>
                </ng-template>
                <input placeholder="Tag" name="Tag" #Tag="ngModel" #Ta [(ngModel)]="tag.description"
                  [ngClass]="{'has-error': Tag.invalid && (Tag.dirty || productForm.submitted)&&isFormSubmitted}"
                  [maxlength]="constants.MaxLengthConstants.Tag" [typeahead]="tagListToSelect"
                  [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="description"
                  (ngModelChange)="findTag(tag.description)" (input)="tagPresent=false" class="form-control" required />
                {{isOpenPopup ? Ta.focus() : null}}
                <!-- {{isOpenPopup ? Tag.reset() : null}} -->
              </div>
            </div>

            <div class="text-danger" *ngIf="Tag.invalid && (Tag.dirty || isFormSubmitted)">
              <div [hidden]="!Tag.errors['required']">
                Enter tag
              </div>
              <div [hidden]="!Tag.errors?.['maxlength']">
                Only 35 characters
              </div>
            </div>
            <div class="text-danger" *ngIf="tagPresent">
              Tag already present
            </div>
            <div *ngIf="maxTagLimit" class="text-danger">
              Sorry You have reached maximun limit
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add">Add</button>
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="titletoClose();addTagModal.hide(tag.description = null);resetforms(productForm);tagPresent=false;maxTagLimit=false">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>
<div bsModal #deleteConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <!-- <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="deleteConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        <div claas="">
          <span>Are you sure you want to delete this tag?
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide(onDeleteTag(index))">Yes</button>
        <button type="button" class="btn btn-default" (click)="deleteConfirmModal.hide()">No</button>
      </div>
    </div>
  </div> -->
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(deleteConfirmModal)"
    (no)="no(deleteConfirmModal)" (hide)="hide(deleteConfirmModal);"></app-toaster>
</div>