<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  account-detail-table ">

  <table class="table table-responsive common-table">
    <thead>
      <tr>
        <th (click)="sortQuotes('Name')">Company Name
          <i aria-hidden="true" *ngIf="keyall !=='Name'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='Name'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='UniqueId'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('CreatedOn')">Registration Date
          <i aria-hidden="true" *ngIf="keyall !=='CreatedOn'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='CreatedOn'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Name'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('Expiry')">Trial Expiry Date
          <i aria-hidden="true" *ngIf="keyall !=='Expiry'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='Expiry'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Total'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('NoOfUsers')">No.of Users
          <i aria-hidden="true" *ngIf="keyall !=='NoOfUsers'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='NoOfUsers'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Status'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('FirstName')">First Name
          <i aria-hidden="true" *ngIf="keyall !=='FirstName'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='FirstName'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Status'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('LastName')">Last Name
          <i aria-hidden="true" *ngIf="keyall !=='LastName'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='LastName'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Total'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('Email')">Email ID
          <i aria-hidden="true" *ngIf="keyall !=='Email'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='Email'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Total'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
        <th (click)="sortQuotes('ContactNo')">Contact No
          <i aria-hidden="true" *ngIf="keyall !=='ContactNo'" class="fa fa-sort column-sortable-icon float-right"></i>
          <i aria-hidden="true" *ngIf="keyall =='ContactNo'" class="fa float-right"
            [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
          <!-- <i aria-hidden="true" *ngIf="key =='Total'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
        </th>
      </tr>
    </thead>
    <tbody>

      <tr
        *ngFor="let listOfQuotes of allCompanies.records | paginate: {id:'StatusPage', itemsPerPage: allCompanies.pageSize, currentPage: allCompanies.pageNumber, totalItems: allCompanies.totalCount }">

        <td>
          {{listOfQuotes.name}}
        </td>
        <td class="hover-edit-list">
          {{listOfQuotes.createdOn | date:'dd MMM yy'}}
        </td>
        <td class="hover-edit-list">
          <div *ngFor="let type of listOfQuotes.payment">
            <div *ngIf="type.isActive === true && type.subscriptionType === 'SUBSCRIPTION_TRIAL'">
              {{type.subscriptionEndDate | date:'dd MMM yy'}}
            </div>
          </div>
        </td>
        <td>
          {{listOfQuotes.noOfUsers}}
        </td>
        <td>
          {{listOfQuotes.firstName}}
        </td>

        <td>
          {{listOfQuotes.lastName}}
        </td>
        <td>
          {{listOfQuotes.email}}
        </td>
        <td>
          {{listOfQuotes.contactNo}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mt-2">
    <pagination-controls id="StatusPage" (pageChange)="pageChanged($event)" #StatusPage></pagination-controls>
  </div>
</div>