<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card success">
          <div class="success-card-header text-capitalize font-18 text-dark-blue medium-montserrat">
            <h4 class="modal-title  text-capitalize font-18 text-dark-blue medium-montserrat">
              <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Congratulations!
            </h4>
          </div>
          <div class="card-block">
            <h5 *ngIf="!alreadyActive" class="success-lead">Your account has been successfully activated.
              <a class="color-blue" routerLink="['/account/login']">Click here to Sign In.</a>
              <!-- (click)="onClick()" -->
            </h5>
            <h5 *ngIf="alreadyActive">
              Your account is already activated.
              <a class="color-blue" routerLink="['/account/login']">Click here to Sign In.</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>