<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="container-fluid">
    <div class="margin-bottom-15 margin-top-15">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <!-- (click)="isAddProduct?addProductModal.show(isPartNovalid=false,duplicatePartNo = false):'' //#Revisit_PreviousCode -->
          <a href="#" data-target="#addProductModal" data-toggle="modal" [ngClass]="{'btn-disabled': !isAddProduct}"
            [title]="!isAddProduct?'Access denied':'Add Product'"
            (click)="isAddProduct?addProductModal.show():'';setFocus()">
            <div class="black-box padding-top-15 padding-bottom-15 padding-left-15 padding-right-15">
              <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-5 col-sm-7 col-8">
                  <div class="font-12 text-white medium-montserrat black-box-name">
                    Add Product
                  </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-7 col-sm-5 col-4">
                  <div class="back-box-icon">
                    <img src="assets/img/add-Products.svg" class="img-fluid" />
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <a href="#" data-target="#addQuoteModal" data-toggle="modal" [ngClass]="{'btn-disabled': !isAddQuote}"
            [title]="!isAddQuote?'Access denied':'Add Quote'" (click)="isAddQuote?addQuoteModal.show():'';setFocus()">
            <div class="black-box padding-top-15 padding-bottom-15 padding-left-15 padding-right-15">
              <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-5 col-sm-7 col-8">
                  <div class="font-12 text-white medium-montserrat black-box-name">
                    Add Quote
                  </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-7 col-sm-5 col-4">
                  <div class="back-box-icon">
                    <img src="assets/img/new-Quotes.svg" class="img-fluid" />
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <a href="#" data-toggle="modal" data-target="#addKitModal" [ngClass]="{'btn-disabled': !isAddKit}"
            [title]="!isAddKit?'Access denied':'Add Kit'" (click)="isAddKit?addKitModal.show():'';setFocus()">
            <div class="black-box padding-top-15 padding-bottom-15 padding-left-15 padding-right-15">
              <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-5 col-sm-7 col-8">
                  <div class="font-12 text-white medium-montserrat black-box-name small-name-padding">
                    Add Kit
                  </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-7 col-sm-5 col-4">
                  <div class="back-box-icon">
                    <img src="assets/img/add-kit.svg" class="img-fluid" />
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="quote-status-box padding-bottom-15">
      <div class="text-capitalize text-title-gray font-14 medium-montserrat">
        quote status
      </div>
      <div class="margin-top-10">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6" *ngIf="quoteStats?.length">
            <div class="text-center status-box" data-toggle="modal" data-target="#QuoteQuotedModal"
              (click)="goToQuoteList('All');">
              <div class="circle-status bg-black margin-bottom-10">
                <img src="assets/img/total.svg" />
              </div>
              <div class="medium-montserrat font-10 text-gray">Total</div>
              <div class="semibold-montserrat font-14 text-dark-blue">
                {{quoteStats[0]?.totalCount}}
              </div>
              <div class="medium-montserrat font-10 text-black-blue">
                ${{quoteStats[0]?.totalValue | number : '1.2-2'}}
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6" *ngFor="let obj of quoteStats">
            <div class="text-center status-box">
              <div class="circle-status bg-orange margin-bottom-10" *ngIf="obj.description === constants.InProgress"
                (click)="goToQuoteList('In Progress');">
                <img src="assets/img/in-Progress.svg" />
              </div>
              <div class="circle-status bg-blue margin-bottom-10" *ngIf="obj.description === constants.Quoted"
                (click)="goToQuoteList('Quoted')">
                <img src="assets/img/quoted.svg" />
              </div>
              <div class="circle-status bg-green margin-bottom-10" *ngIf="obj.description === constants.Accepted"
                (click)="goToQuoteList('Accepted')">
                <img src="assets/img/accepted.svg" />
              </div>
              <div class="circle-status bg-pink margin-bottom-10" *ngIf="obj.description === constants.Rejected"
                (click)="goToQuoteList('Rejected')">
                <img src="assets/img/rejected.svg" />
              </div>
              <div class="circle-status bg-violet margin-bottom-10" *ngIf="obj.description === constants.Expired"
                (click)="goToQuoteList('Expired')">
                <img src="assets/img/expired.svg" />
              </div>
              <div class="medium-montserrat font-10 text-gray">
                {{obj?.description}}
              </div>
              <div class="semibold-montserrat font-14 text-dark-blue">
                {{obj?.count}}
              </div>
              <div class="medium-montserrat font-10 text-black-blue">
                ${{obj?.value | number : '1.2-2'}}
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding-bottom-20">
    <div class="padding-top-10 padding-bottom-10 recent-quote-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-9">
            <div class="font-14 medium-montserrat text-dark-blue text-capitalize title-table">
              <span class="margin-top-5">Recent Quotes</span>
              <span *ngIf="!(quotesInfo.records === null || quotesInfo.records === undefined)"
                class="quote-count bg-notif-blue semibold-montserrat">{{quotesInfo.totalCount}}</span>
              <span *ngIf="(quotesInfo.records === null || quotesInfo.records === undefined)"
                class="quote-count bg-notif-blue semibold-montserrat">0</span>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-3">
            <div class="text-right btn-expand margin-top-5">
              <button type="button">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="common-table dash-qtable">
      <table *ngIf="!(quotesInfo.records === null || quotesInfo.records === undefined)" class="table table-responsive">
        <thead>
          <tr>
            <th *ngIf="showQuoteID" (click)="sort('UniqueId')">
              Quote ID
              <i aria-hidden="true" *ngIf="key !=='UniqueId'" class="fa fa-sort column-sortable-icon float-right"></i>
              <i aria-hidden="true" *ngIf="key =='UniqueId'" class="fa float-right"
                [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('Name')">
              Quote Title
              <i aria-hidden="true" *ngIf="key !=='Name'" class="fa fa-sort column-sortable-icon float-right"></i>
              <i aria-hidden="true" *ngIf="key =='Name'" class="fa float-right"
                [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('Account')">
              Account
              <i aria-hidden="true" *ngIf="key !=='Account'" class="fa fa-sort column-sortable-icon float-right"></i>
              <i aria-hidden="true" *ngIf="key =='Account'" class="fa float-right"
                [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('Status')">
              Status
              <i aria-hidden="true" *ngIf="key !=='Status'" class="fa fa-sort column-sortable-icon float-right"></i>
              <i aria-hidden="true" *ngIf="key =='Status'" class="fa float-right"
                [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('Total')">
              Value
              <i aria-hidden="true" *ngIf="key !=='Total'" class="fa fa-sort column-sortable-icon float-right"></i>
              <i aria-hidden="true" *ngIf="key =='Total'" class="fa float-right"
                [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let q of quotesInfo.records | paginate: { itemsPerPage: quotesInfo?.pageSize, currentPage: quotesInfo?.pageNumber, totalItems: quotesInfo?.totalCount } ">
            <td *ngIf="showQuoteID" (click)="goToDetails(q.id)"
              class="text-table-record-blue semibold-montserrat hover-edit-list">
              <a class="text-table-record-blue medium-montserrat" tooltip="{{q?.uniqueId}}">{{q?.uniqueId}}</a>
            </td>
            <td width="30%" (click)="goToDetails(q.id)"
              class="text-table-record-blue semibold-montserrat hover-edit-list">
              <a class="text-table-record-blue medium-montserrat" tooltip="{{q?.name}}">{{q?.name | slice:0:50}}</a>
            </td>
            <td class="hover-edit-list">
              <span class="medium-montserrat"
                tooltip="{{q?.contact?.accounts?.name}}">{{q?.contact?.accounts?.name}}</span>
            </td>
            <td class="hover-edit-list">
              <div tooltip="{{q.status.description}}">
                <span *ngIf="q.status.description === constants.Accepted"
                  class="semibold-montserrat text-status-green">{{q?.status?.description}}</span>
                <span *ngIf="q.status.description === constants.Rejected"
                  class="semibold-montserrat text-status-pink">{{q?.status?.description}}</span>
                <span *ngIf="q.status.description === constants.Expired"
                  class="semibold-montserrat text-status-violet">{{q?.status?.description}}</span>
                <span *ngIf="q.status.description === constants.Quoted"
                  class="semibold-montserrat text-status-blue">{{q?.status?.description}}</span>
                <span *ngIf="q.status.description === constants.InProgress"
                  class="semibold-montserrat text-status-orange">{{q?.status?.description}}</span>
              </div>
            </td>
            <td class="hover-edit-list">
              <span class="medium-montserrat" tooltip="$ {{q?.total | number : '1.2-2'}}">$ {{q?.total | number :
                '1.2-2'}}</span>
            </td>
          </tr>

          <!-- <tr *ngIf="quotesInfo?.records?.length === 0" class="text-center">
            <td colspan="5">
              <span>Currently no data available</span>
            </td>
          </tr> -->
        </tbody>
      </table>
      <div class="mt-2">
        <pagination-controls (pageChange)="getQuotes($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div bsModal #addKitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" (ngSubmit)="addKit(kitForm.valid,addKitModal)" #kitForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Kit
          </h4>
          <button type="reset" class="close common-close" (click)="addKitModal.hide();resetforms(kitForm);"
            aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">kit no.</label>
                <!-- <input type="text" name="KitNumber" placeholder="Kit No" #KitNumber="ngModel" #KitNumbe [maxlength]="constants.MaxLengthConstants.kitNumber" -->
                <input type="text" name="KitNumber" placeholder="Kit No" #KitNumber="ngModel" #KitNumbe
                  [maxlength]="constants.MaxLengthConstants.kitNumber" [(ngModel)]="kit.number"
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                  [ngClass]="{'has-error': KitNumber.invalid && (KitNumber.dirty ||  kitForm.submitted) }" required
                  class="form-control" />
                {{isOpenPopup ? KitNumbe.focus() : null}}
                <!-- {{isOpenPopup ? KitNumber.reset() : null}} -->
              </div>

              <!-- <div class="text-danger" *ngIf="KitNumber.invalid && (KitNumber.dirty || KitNumber.touched ||isFormSubmitted)"> -->
              <div class="text-danger" *ngIf="KitNumber.invalid && (KitNumber.dirty ||isFormSubmitted)">
                <div [hidden]="!KitNumber.errors['required']" class="popover-body">
                  Enter kit no
                </div>
                <div [hidden]="!KitNumber.errors['pattern']" class="popover-body">
                  Enter valid kit no
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">kit title</label>
                <input type="text" name="KitTitle" placeholder="Kit Title" #KitTitle="ngModel"
                  [maxlength]="constants.MaxLengthConstants.KitTitle" [(ngModel)]="kit.name"
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                  [ngClass]="{'has-error': KitTitle.invalid && (KitTitle.dirty || KitTitle.touched || kitForm.submitted) }"
                  required class="form-control" />
              </div>
              <div class="text-danger"
                *ngIf="KitTitle.invalid && (KitTitle.dirty || KitTitle.touched ||isFormSubmitted)">
                <div [hidden]="!KitTitle.errors['required']" class="popover-body">
                  Enter kit title
                </div>
                <div [hidden]="!KitTitle.errors['pattern']" class="popover-body">
                  Enter valid kit title
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add">Add</button>
            <!-- (click)="addKitModal.hide(onModelClose());resetforms(kitForm);"  //#Revisit_PreviousCode -->
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="addKitModal.hide();resetforms(kitForm);">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #addProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate (ngSubmit)="addProduct(productForm.valid,addProductModal)" autocomplete="off"
        #productForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Product
          </h4>
          <button type="reset" class="close common-close" (click)="addProductModal.hide();resetforms(productForm);"
            aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">part no.</label>
                <input type="text" name="ProductNumber" (keyup)="CheckPartNo(product.partNo)"
                  (change)="removeLeadSpace(product.partNo)" placeholder="Part No"
                  [maxlength]="constants.MaxLengthConstants.PartNumber"
                  [pattern]="constants.AnythingWhithoutSpace_REGEXP" #ProductNumber="ngModel" #ProductNumbe
                  [(ngModel)]="product.partNo"
                  [ngClass]="{'has-error': ProductNumber.invalid && (ProductNumber.dirty || productForm.submitted) ||
                       (isPartNovalid &&!duplicatePartNo&& !(ProductNumber.invalid &&(ProductNumber.dirty || productForm.submitted))) ||
                       (duplicatePartNo&& !isPartNovalid&& !(ProductNumber.invalid &&(ProductNumber.dirty || productForm.submitted)))}" required
                  class="form-control" />
                {{isOpenPopup ? ProductNumbe.focus() : null}}
                <!-- {{isOpenPopup ? ProductNumber.reset() : null}} -->
              </div>

              <div class="text-danger" *ngIf="ProductNumber.invalid && (ProductNumber.dirty || productForm.submitted)">
                <div [hidden]="!ProductNumber.errors['required']" class="popover-body">
                  Enter part no
                </div>
                <div [hidden]="!ProductNumber.errors['pattern']" class="popover-body">
                  Enter valid part no
                </div>
              </div>
              <div
                *ngIf="isPartNovalid && !duplicatePartNo && !(ProductNumber.invalid &&(ProductNumber.dirty || ProductNumber.touched || productForm.submitted))"
                class="text-danger">
                Part no can not be zero
              </div>
              <div
                *ngIf="duplicatePartNo && !isPartNovalid && !(ProductNumber.invalid &&(ProductNumber.dirty || ProductNumber.touched || productForm.submitted))"
                class="text-danger">
                Duplicate part no
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div claas="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div claas="input-group">
                <label class="text-dark-blue medium-montserrat text-capitalize">product title</label>
                <input type="text" name="ProductTitle" [maxlength]="constants.MaxLengthConstants.ProductTitle"
                  #ProductTitle="ngModel" placeholder="Product Title" [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                  [(ngModel)]="product.name"
                  [ngClass]="{'has-error': ProductTitle.invalid && (ProductTitle.dirty || ProductTitle.touched || productForm.submitted) }"
                  required class="form-control" />
              </div>
              <div class="text-danger"
                *ngIf="ProductTitle.invalid && (ProductTitle.dirty || ProductTitle.touched || productForm.submitted)">
                <div [hidden]="!ProductTitle.errors['required']" class="popover-body">
                  Enter product title
                </div>
                <div [hidden]="!ProductTitle.errors['pattern']" class="popover-body">
                  Enter valid product title
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add">Add</button>
            <!-- (click)="addProductModal.hide(onModelClose()); resetforms(productForm);" //#Revisit_PreviousCode -->
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="addProductModal.hide(); resetforms(productForm);">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #addQuoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <form novalidate autocomplete="off" (ngSubmit)="AddQuotes(QuoteForm.valid, addQuoteModal)" #QuoteForm="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            Add Quote
          </h4>
          <!-- (click)="addQuoteModal.hide(presentContact = false)" //#Revisit_PreviousCode -->
          <button type="reset" class="close common-close" (click)="addQuoteModal.hide()" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div claas="">
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Contact</label>
              <!-- <select class="form-control" #Contact="ngModel" [ngClass]="{'has-error': Contact.invalid && (Contact.dirty || Contact.touched || QuoteForm.submitted) }"
                name="Contact" required [(ngModel)]="quote.contact.id">
                <option [value]="null" [selected]="!quote.contact.id">Select Contact</option>
                <option *ngFor="let item of contacts" value="{{item.id}}">
                  {{item.firstName}}
                </option>
              </select> -->
              <!-- <div *ngIf="Contact.invalid && (Contact.dirty || Contact.touched || QuoteForm.submitted )" class="text-danger">
                <div [hidden]="!Contact.errors?.required">
                  Select contact
                </div>
              </div> -->

              <ng-template #customItemTemplate let-model="item" let-index="index">
                <span>{{model.firstName}}</span>
              </ng-template>

              <input (focus)="presentContact=false" placeholder="Contact" name="SearchContact" #SearchContact="ngModel"
                #SearchContac
                [ngClass]="{'has-error':(SearchContact.invalid && (SearchContact.dirty || QuoteForm.submitted))}"
                [(ngModel)]="searchContact" [typeahead]="contacts" [typeaheadItemTemplate]="customItemTemplate"
                typeaheadOptionField="firstName" (ngModelChange)="FindContact()" class="form-control"
                (typeaheadOnSelect)="saveContactOnSelectContact($event)" required />
              {{isOpenPopup ? SearchContac.focus() : null}}
              <!-- {{isOpenPopup ? SearchContact.reset() : null}} -->

              <!-- <div class="text-danger" *ngIf="(SearchContact.invalid && (SearchContact.dirty || SearchContact.touched || QuoteForm.submitted))"> -->
              <div class="text-danger" *ngIf="(SearchContact.invalid && (SearchContact.dirty ||  QuoteForm.submitted))">
                <div [hidden]="!SearchContact.errors['required']">
                  Enter contact
                </div>
              </div>
              <div class="text-danger"
                *ngIf="presentContact && !(SearchContact.invalid && (SearchContact.dirty || SearchContact.touched || QuoteForm.submitted))">
                Contact not present
              </div>
            </div>
            <div class="form-group">
              <label class="text-dark-blue medium-montserrat text-capitalize">Quote Title</label>
              <input type="text" [(ngModel)]="quote.name" required [maxlength]="constants.MaxLengthConstants.QuoteTitle"
                #Name="ngModel" placeholder="Quote Title" name="Name" [pattern]="constants.AnythingWhithoutSpace_REGEXP"
                [ngClass]="{'has-error': Name.invalid && (Name.dirty || Name.touched || QuoteForm.submitted)}"
                class="form-control medium-montserrat font-14 text-dark-blue" />
              <div *ngIf="Name.invalid && (Name.dirty || Name.touched || QuoteForm.submitted )" class="text-danger">
                <div [hidden]="!Name.errors?.['required']">
                  Enter quote title
                </div>
                <div [hidden]="!Name.errors?.['pattern']">
                  Enter valid quote title
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="submit" class="btn primary-btn btn-add">Add</button>
            <!-- (click)="addQuoteModal.hide(presentContact = false);" //#Revisit_PreviousCode -->
            <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
              (click)="addQuoteModal.hide();">
              Cancel
            </button>
          </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </form>
</div>

<div bsModal #QuoteQuotedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <form novalidate autocomplete="off" #Form="ngForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="modal-title text-capitalize font-18 text-dark-blue medium-montserrat">
            {{status === 'All' ? 'Total' : status}} Quotes
          </h4>
          <button type="button" class="close common-close" (click)="QuoteQuotedModal.hide()" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 account-detail-table">
            <table class="table table-responsive common-table">
              <thead>
                <tr>
                  <th (click)="sortQuotes('UniqueId')">
                    Quote Id
                    <i aria-hidden="true" *ngIf="keyall !=='UniqueId'"
                      class="fa fa-sort column-sortable-icon float-right"></i>
                    <i aria-hidden="true" *ngIf="keyall =='UniqueId'" class="fa float-right"
                      [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
                    <!-- <i aria-hidden="true" *ngIf="key =='UniqueId'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
                  </th>
                  <th (click)="sortQuotes('Name')">
                    Quote Title
                    <i aria-hidden="true" *ngIf="keyall !=='Name'"
                      class="fa fa-sort column-sortable-icon float-right"></i>
                    <i aria-hidden="true" *ngIf="keyall =='Name'" class="fa float-right"
                      [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
                    <!-- <i aria-hidden="true" *ngIf="key =='Name'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
                  </th>
                  <th (click)="sortQuotes('Status')">
                    Status
                    <i aria-hidden="true" *ngIf="keyall !=='Status'"
                      class="fa fa-sort column-sortable-icon float-right"></i>
                    <i aria-hidden="true" *ngIf="keyall =='Status'" class="fa float-right"
                      [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
                    <!-- <i aria-hidden="true" *ngIf="key =='Status'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
                  </th>
                  <th (click)="sortQuotes('Total')">
                    Value
                    <i aria-hidden="true" *ngIf="keyall !=='Total'"
                      class="fa fa-sort column-sortable-icon float-right"></i>
                    <i aria-hidden="true" *ngIf="keyall =='Total'" class="fa float-right"
                      [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
                    <!-- <i aria-hidden="true" *ngIf="key =='Total'" class="fa" [ngClass]="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse}"></i> -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let listOfQuotes of allquotesInfo.records | paginate: {id:'StatusPage', itemsPerPage: allquotesInfo.pageSize, currentPage: allquotesInfo.pageNumber, totalItems: allquotesInfo.totalCount }">
                  <td>
                    <span class="text-table-record-blue semibold-montserrat">
                      <a (click)="goToDetails(listOfQuotes.id)">
                        {{listOfQuotes.uniqueId}}</a>
                    </span>
                  </td>
                  <td>
                    <span class="medium-montserrat color-blue" tooltip="{{listOfQuotes.name}}">
                      <a (click)="goToDetails(listOfQuotes.id)">
                        {{listOfQuotes.name | slice:0:40}}</a>
                    </span>
                  </td>
                  <td>
                    <!-- <span class="medium-montserrat">{{listOfQuotes.status.description}}</span> -->
                    <span *ngIf="listOfQuotes.status.description === constants.Accepted"
                      class="medium-montserrat text-status-green">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.Rejected"
                      class="medium-montserrat text-status-pink">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.Expired"
                      class="medium-montserrat text-status-violet">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.Quoted"
                      class="medium-montserrat text-status-blue">{{listOfQuotes.status.description}}</span>
                    <span *ngIf="listOfQuotes.status.description === constants.InProgress"
                      class="medium-montserrat text-status-orange">{{listOfQuotes.status.description}}</span>
                  </td>

                  <td>
                    <span class="medium-montserrat">${{listOfQuotes.total| number : '1.2-2'}}</span>
                  </td>
                </tr>
                <!-- <tr *ngIf="!allquotesInfo.records || !allquotesInfo.records.length" class="text-center">
                  <td colspan="10">Currently no data available</td>
                </tr> -->
              </tbody>
            </table>
            <div class="mt-2">
              <pagination-controls id="StatusPage" (pageChange)="pageChanged($event)" #StatusPage></pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn secondary-btn btn-default" (click)="QuoteQuotedModal.hide()">
            Done
          </button>
        </div>
      </div>
    </div>
  </form>
</div>