<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card card-main">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-7 col-md-6 col-12">
      </div>
      <div class="col-xl-5 col-md-6 col-12">
        <div class=" row">
          <div class="form-group mb-0 col-xl-12 col-md-12 col-12">
            <div class="row">
              <div class="col-md-5">
                <label class="col-form-label float-right" for="select1">Select&nbsp;User</label>
              </div>
              <!-- <label class="col-md-4 col-form-label" for="select1">Select User</label> -->
              <div class="col-md-7 pl-1">
                <select class="form-control" (change)="getData()" required name="SelectedUser" [(ngModel)]="SelectedUser.id" class="form-control common-text-box font-14 text-dark-blue">
                  <option *ngFor="let User of Users" [ngValue]="User.id">
                    {{User.firstName + ' ' + User.lastName}}</option>
                    
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-block">
      <div class="card-title">
        <span class="medium-montserrat font-16">{{SelectedUser.firstName + ' ' + SelectedUser.lastName}}</span>
      </div>
      <div class="card mb-0 b-t-0">
        <div class="content-box">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs dragscroll horizontal common-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all">All</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" data-toggle="tab" href="#note">Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#history">History</a>
              </li>
            </ul>
          </div>

          <div class="tab-content tab-content-custom custom-scroll">
            <div class="tab-pane fade show active" id="all">
              <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                <div [ngClass]="{'line-point': alldata?.length}" class=""></div>
                <div *ngFor="let activity of alldata?.slice().reverse()">
                  <div class="padding-top-50">
                    <div class="date-point left-float">

                      <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">{{activity.createdOn | date:'dd MMM yy'}}</div>
                    </div>

                    <div class="note-box left-float">
                      <div class="text-gray-quote font-13 margin-bottom-5">
                        <div class="row">

                          <div class="col-md-2 col-sm-3 ">
                            <div class="text-uppercase">{{activity.createdOn | date:'h:mm a'}}</div>
                          </div>
                          <div class="col-md-10 col-sm-9">

                            <div class="text-capitalize" *ngIf="activity.name">{{activity.name}}</div>
                            <div class="text-capitalize" *ngIf="activity.description">{{activity.description}}</div>

                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="note">
              <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                <div [ngClass]="{'line-point': Notes?.length}" class=""></div>
                <div *ngFor="let activity of Notes?.slice().reverse()">
                  <div class="padding-top-50">
                    <div class="date-point left-float">
                      <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">{{activity.createdOn | date:'dd MMM'}}</div>
                      <div class="text-dark-blue font-14">{{activity.createdOn | date:'yyyy'}}</div>
                    </div>
                    <div class="note-box left-float">
                      <div class="text-gray-quote font-13 margin-bottom-5">
                        <div class="row">

                          <div class="col-md-2 col-sm-3 ">
                            <div class="text-uppercase">{{activity.createdOn | date:'h:mm a'}}</div>
                          </div>
                          <div class="col-md-10 col-sm-9">
                            <div class="text-capitalize">{{activity.createdBy}}</div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="amount-no type-text-link semibold-montserrat font-13">
                        <span class="text-gray-quote">{{activity.description}}</span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="history">
              <div class="padding-top-15 padding-left-15 padding-right-15 padding-bottom-50 inner-content">
                <div [ngClass]="{'line-point': History?.length}" class=""></div>
                <div *ngFor="let activity of History?.slice().reverse()">
                  <div class="padding-top-50">
                    <div class="date-point left-float">
                      <div class="text-dark-blue font-13 semibold-montserrat text-uppercase">{{activity.createdOn | date:'dd MMM'}}</div>
                      <div class="text-dark-blue font-14">{{activity.createdOn | date:'yyyy'}}</div>
                    </div>
                    <div class="note-box left-float">
                      <div class="text-gray-quote font-13 margin-bottom-5">
                        <div class="row">

                          <div class="col-md-2 col-sm-3 ">
                            <div class="text-uppercase">{{activity.createdOn | date:'h:mm a'}}</div>
                          </div>
                          <div class="col-md-10 col-sm-9">
                            <div class="text-capitalize">{{activity.Name}}</div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="amount-no type-text-link semibold-montserrat font-13">
                        <span class="text-gray-quote">{{activity.name}}</span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
