<div class="padding-left-15 padding-right-15 padding-top-15 padding-bottom-15">
  <div id="content">

    <div class="accordion-container" id="config-accordion">

      <div class="content-entry">
        <a data-toggle="collapse"
          (click)="resetforms(trialForm);isTPClicked = !isTPClicked;isRQClicked  = false;isSBlicked = false;isTLlicked = false;"
          class="text-black article-title medium-montserrat " data-parent="#config-accordion" href="#TrialPeriod"
          aria-expanded="true" aria-controls="TrialPeriod">
          Trial Period
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isTPClicked,'fa-minus-circle':isTPClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="TrialPeriod" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="trialForm" #trialForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Trial" placeholder="{{configuration.trialPeriod}}" autocomplete="off" #Trial="ngModel"
                    [pattern]="constants.Num_REXEXP" required [(ngModel)]="formConfiguration.trialPeriod"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Trial.invalid && (Trial.dirty || Trial.touched || isTrialFormSubmitted)">
                    <div [hidden]="!Trial.errors['required']" class="alert">
                      Enter trial period
                    </div>
                    <div [hidden]="!Trial.errors['pattern']" class="alert">
                      Enter valid trial period
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addTrial(trialForm)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div class="content-entry">
        <a data-toggle="collapse" class="text-black article-title medium-montserrat"
          (click)="resetforms(quoteForm);isRQClicked = !isRQClicked;isTPClicked = false;isSBlicked = false;isTLlicked = false;"
          data-parent="#config-accordion" href="#RecentQuote" aria-expanded="true" aria-controls="TrialPeriod">Recent
          Quote (Time span)
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isRQClicked,'fa-minus-circle':isRQClicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="RecentQuote" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="quoteForm" #quoteForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Quote" placeholder="{{configuration.recentQuote}}" [pattern]="constants.Num_REXEXP"
                    autocomplete="off" #Quote="ngModel" required [(ngModel)]="formConfiguration.recentQuote"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Quote.invalid && (Quote.dirty || Quote.touched || isQuoteFormSubmitted)">
                    <div [hidden]="!Quote.errors['required']" class="alert">
                      Enter recent quote count (time span)
                    </div>
                    <div [hidden]="!Quote.errors['pattern']" class="alert">
                      Enter valid quote count(time span)
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addRecentQuote(quoteForm)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div class="content-entry">
        <a data-toggle="collapse" class="text-black article-title medium-montserrat"
          (click)="resetforms(tagForm);isTLlicked = !isTLlicked;isRQClicked = false;isSBlicked = false;isTPClicked = false;"
          data-parent="#config-accordion" href="#TagLimit" aria-expanded="true" aria-controls="TrialPeriod">
          Tag Limit
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isTLlicked,'fa-minus-circle':isTLlicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="TagLimit" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="tagForm" #tagForm="ngForm">
            <div class="row">
              <div class="col-xl-8 col-md-8 col-lg-8">
                <div class="form-group margin-bottom-0">
                  <input name="Tag" placeholder="{{configuration.tagLimit}}" [pattern]="constants.Num_REXEXP"
                    autocomplete="off" #Tag="ngModel" required [(ngModel)]="formConfiguration.tagLimit"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger" *ngIf="Tag.invalid && (Tag.dirty || Tag.touched || isTagFormSubmitted)">
                    <div [hidden]="!Tag.errors['required']" class="alert">
                      Enter tag limit
                    </div>
                    <div [hidden]="!Tag.errors['pattern']" class="alert">
                      Enter valid tag limit
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
                <div class="btn-config">
                  <button (click)="addRecentTagLimit(tagForm)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>

      <div class="content-entry">
        <a data-toggle="collapse" class="text-black article-title medium-montserrat"
          (click)="resetforms(subscriptionForm);isSBlicked = !isSBlicked;isTLlicked = false;isRQClicked = false;isTPClicked = false;"
          data-parent="#config-accordion" href="#SubscriptionPlan" aria-expanded="true" aria-controls="TrialPeriod">
          Subscription Plan
          <i class="fa pull-right" [ngClass]="{'fa-plus-circle':!isSBlicked,'fa-minus-circle':isSBlicked}"></i>
        </a>
        <div class="collapse accordion-content show-accordian-content" id="SubscriptionPlan" role="tabpanel"
          aria-labelledby="headingThree">
          <form novalidate name="subscriptionForm" #subscriptionForm="ngForm">
            <div class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">Name</label>
                  <input placeholder="{{configuration?.subscriptionPlan?.planName}}" name="Name" autocomplete="off"
                    #Name="ngModel" required [(ngModel)]="plan.planName"
                    class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Name.invalid && (Name.dirty || Name.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!Name.errors['required']" class="alert">
                      Enter name
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0 mobile-text-margin">
                  <label class="text-other-gray medium-montserrat">Cost</label>
                  <input name="Cost" placeholder="{{configuration?.subscriptionPlan?.cost}}"
                    [pattern]="constants.Cost_REXEXP" autocomplete="off" #Cost="ngModel" required
                    [(ngModel)]="plan.cost" class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Cost.invalid && (Cost.dirty || Cost.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!Cost.errors['required']" class="alert">
                      Enter cost
                    </div>
                    <div [hidden]="!Cost.errors['pattern']" class="alert">
                      Enter valid cost
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0">
                  <label class="text-other-gray medium-montserrat">User Limit</label>
                  <input name="ULimit" placeholder="{{configuration?.subscriptionPlan?.userLimit}}"
                    [pattern]="constants.Num_REXEXP" autocomplete="off" #ULimit="ngModel" required
                    [(ngModel)]="plan.userLimit" class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="ULimit.invalid && (ULimit.dirty || ULimit.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!ULimit.errors['required']" class="alert">
                      Enter user limit
                    </div>
                    <div [hidden]="!ULimit.errors['pattern']" class="alert">
                      Enter valid user limit
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="form-group margin-bottom-0 mobile-text-margin">
                  <label class="text-other-gray medium-montserrat">Time Span</label>
                  <input name="Span" placeholder="{{configuration?.subscriptionPlan?.timeSpan}}"
                    [pattern]="constants.Num_REXEXP" autocomplete="off" #Span="ngModel" required
                    [(ngModel)]="plan.timeSpan" class="form-control height-43-textbox common-text-box" type="text">
                  <div class="text-danger"
                    *ngIf="Span.invalid && (Span.dirty || Span.touched || isSubscriptionFormSubmitted)">
                    <div [hidden]="!Span.errors['required']" class="alert">
                      Enter time span
                    </div>
                    <div [hidden]="!Span.errors['pattern']" class="alert">
                      Enter valid time span
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-md-4 col-lg-4">
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4">
                <div class="btn-sub-plan pull-right">
                  <button (click)="addSubsciption(subscriptionForm)"
                    class="btn primary-btn height-43-textbox btn-add margin-right-10" type="submit">Save</button>
                  <button class="btn secondary-btn height-43-textbox btn-cancel" type="reset"
                    data-dismiss="modal">Cancel</button>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-lg-4 padding-left-0">
              </div>
            </div>
          </form>
        </div>
        <!--/.accordion-content-->
      </div>


    </div>
  </div>
</div>