/*******************************************Confidential*****************************************
 * <copyright file = "home.component.css">
 *   Copyright (c) BlueBenz Digitizations Pvt. Ltd. All rights reserved.
 *   NOTICE: Bluebenz Digitizations Core Framework SOFTWARE LICENSE AGREEMENT as per License file.
 * </copyright>
 * <author>Akshara,Tanveer</author>
 */

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 200px;
    margin: auto;
  }
  .navbar {
    float: right;
    min-height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  nav {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .slider-content {
    width: 550px;
    margin: auto;
    color: #fff;
  }
  #main-slider .read-more {
    margin-top: 40px;
  }
  .about-section .left {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 10px;
    flex: 1;
  }
  .about-section .left,
  .about-section .right {
    height: 500px;
  }
  .contact-form-section {
    text-align: center;
  }
  .contact-form-section .col-md-8 {
    margin-top: 50px;
  }
  .features-container .left {
    display: none;
  }

  .features-container .left::after {
    display: none;
  }
  .features-container .right {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
  }
  .features-container .owl-prev {
    left: -20px;
  }
  .features-container .owl-next {
    right: -20px;
  }
  .plan-price {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .price-box .body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .faq-container .right {
    padding-top: 20px;
    padding-bottom: 2opx;
    height: auto;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .slider-content {
    width: 100%;
    margin: auto;
  }
  header .text-right {
    padding-left: 0px;
    padding-right: 0px;
  }
  .sign-up {
    width: 120px;
    margin: auto;
    margin-top: 10px;
  }
  .nav li {
    border-top: 1px solid #f5f5f5;
  }
  .navbar {
    float: none;
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  .nav > li > a {
    text-align: center;
  }
  .logo {
    width: 200px;
  }
  .slider-content h1 {
    font-size: 13px;
    margin: 0px;

    margin-bottom: 5px;
  }
  .slider-content h3 {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 15px;
    margin: 0px;
  }
  #main-slider .owl-next {
    right: -10px;
    border: 0px;
  }
  #main-slider .owl-prev {
    left: -10px;
    border: 0px;
  }
  #main-slider .read-more {
    margin-top: 15px;
  }
  #main-slider .read-more a {
    background: #00a9fe;
    color: #fff !important;
    padding: 8px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 10px;
  }
  .about-section .left {
    padding-top: 30px;
    padding-bottom: 60px;
    padding-right: 15px;
    height: auto;
  }
  .about-section .right {
    height: auto;
  }
  .big-logo {
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact-form-section {
    text-align: center;
  }
  .features-container .left {
    height: auto;
  }
  .features-container .right {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    text-align: center;
    padding-right: 15px;
    height: auto;
  }
  .features-container .owl-prev {
    font-size: 40px;
    left: -10px;
  }
  .features-container .owl-next {
    font-size: 40px;
    right: -10px;
  }
  .features-container .left::after {
    display: none;
  }
  .contact-form-section input {
    margin-top: 15px;
  }
  .faq-container .left {
    height: auto;
  }
  .faq-container .right {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
  .faq-container .left::before {
    display: none;
  }
  .price-box {
    margin-bottom: 30px;
  }
  .pricing-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer {
    text-align: center;
  }
  footer .text-right {
    text-align: center;
    margin-top: 10px;
  }
  .contact-form-section .padding-right-0 {
    padding-right: 15px;
  }
  .contact-form-section .padding-left-0 {
    padding-left: 15px;
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
  /* opacity: 0; */
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  display: block;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state:not(:checked) ~ .read-more-wrap .read-more-target {
  display: none;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Show more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}

#aboutUs .read-more-trigger {
  cursor: pointer;
  background: #00a9fe;
  color: #fff;
  padding: 10px 15px;
  border-radius: 25px;
  width: 115px;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
}

.read-more-target ul.a {
  list-style-position: inside;
  list-style-type: solid;
  /* text-indent: 15px;
  text-align-last: center; */
}

.read-more-target ul li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: 0em;
  padding-left: 2em;
}
.read-more-target ul li:before {
  /* content: "✓ ";
  font-weight: bold;
  font-weight: bolder;
  padding-right: 10px; */
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
}
#faq .read-more-trigger {
  cursor: pointer;
}
