<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class='outer-div'>
  <div class='middle-div sign-in-middle'>
    <div class="text-center margin-bottom-20">
      <img src="../assets/img/main-logo-white.png" />
    </div>
    <div class="white-box">

      <!--
      <a href="javascript:void(0)"
         data-cb-type="checkout"
         data-cb-plan-id="annual">subscribe</a>

      <a href="javascript:void(0)"
         data-cb-type="checkout"
         data-cb-plan-id="monthly"> subscribe Monthly </a> -->


      <div class="margin-bottom-30">
        <div class="row">

          <div class="col-xl-4 col-12 col-sm-4 col-lg-4">
            <div class="medium-montserrat font-24 text-dark-blue text-capitalize title-form-sign">sign in</div>
          </div>
          <div class="col-xl-8 col-12 col-sm-8 col-lg-8">
            <div class="sign-links right-float">

              <a routerLink='/account/login' class="semibold-montserrat active">sign in
                <i class="fa fa-sign-in margin-left-5"></i>
              </a>
              <a routerLink='/account/register' class="semibold-montserrat">sign up
                <i class="fa fa-file-text margin-left-5"></i>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <form novalidate autocomplete="off" (ngSubmit)="login(myForm.valid)" #myForm="ngForm">
        <div class="sign-form">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group margin-bottom-30">
                <label for="usr" class="font-14 text-label-sign text-uppercase">Username</label>
                <input type="text" [(ngModel)]="email" required #Email="ngModel" name="User Name"
                  [ngClass]="{'has-error': Email.invalid && (Email.dirty || Email.touched) }"
                  class="form-control semibold-montserrat font-14 text-dark-blue" id="usr">
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="text-danger">
                  <div [hidden]="!Email.errors['required']">
                    Enter user name
                  </div>
                  <div [hidden]="!Email.errors['pattern']">
                    Enter valid user name
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="pwd" class="font-14 text-label-sign text-uppercase">Password</label>
                <input type="password" [(ngModel)]="password" required
                  [ngClass]="{'has-error': Password.invalid && (Password.dirty || Password.touched) }"
                  #Password="ngModel" name="Password" class="form-control semibold-montserrat font-14 text-dark-blue"
                  id="pwd">
                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="text-danger">
                  <div [hidden]="!Password.errors['required']">
                    Enter password
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="margin-top-20 margin-bottom-20">
            <div class="row">
              <div class="col-xl-6 col-12 col-sm-6 col-lg-6">
                <div class="form-check remember-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="RememberMe"
                      (change)="RememberMe = !RememberMe" /> Remember me
                  </label>
                </div>
              </div>
              <div class="col-xl-6 col-12 col-sm-6 col-lg-6">
                <div class="forget-password">
                  <a routerLink='/account/forgot-password' class="text-status-blue medium-montserrat font-14">Forgot
                    Password?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-btn">
            <button type="submit" class="semibold-montserrat primary-btn">sign in
              <i class="fa fa-check margin-left-5"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div bsModal #myModal="bs-modal" id="myModal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'" class="modal fade in"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: true}">

  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Error</span>
        <button type="button" class="close" (click)="show=false" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">

        <span>Please enter valid username and valid password</span>

      </div>
    </div>
  </div>
</div> -->

<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel);">
  </app-toaster>
</div>