<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
        <div class="card-group mb-0">
          <div class="card">
            <div class="card-header text-center">
              <i class="fa fa-lock fa-2x"></i>
              <b class="h5">{{newUserForPasswordGeneration ? 'Create Password' : 'Forgot Your Password?'}} </b>
            </div>
            <form novalidate autocomplete="off" #myForm="ngForm">
              <div class="card-block">
                <p *ngIf="!isOTPSend && !isOTP" class="text-muted text-center">Enter your email address to request a
                  password reset.</p>
                <div class="" *ngIf="!isOTPSend && !isOTP">
                  <div class="form-group mb-4">
                    <label>Email
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-envelope"></i>
                      </span>
                      <input type="text" [(ngModel)]="forgotPassword.email" required #Email="ngModel"
                        [maxlength]="constants.MaxLengthConstants.Email" name="Email" placeholder="Email"
                        class="form-control" required (input)="validEmail=false" [pattern]="constants.EMAIL_REGEXP"
                        [ngClass]="{'has-error': Email.invalid && (Email.dirty || Email.touched || myForm.submitted) }">
                    </div>
                    <div *ngIf="Email.invalid && (Email.dirty || Email.touched || myForm.submitted)"
                      class="text-danger">
                      <div [hidden]="!Email.errors['required']">
                        Enter email
                      </div>
                      <div [hidden]="!Email.errors['pattern']">
                        Enter valid email
                      </div>
                    </div>
                    <div *ngIf="validEmail" class="text-danger">
                      Please provide valid email.
                    </div>

                  </div>
                </div>
                <div class="input-group text-center" *ngIf="isOTP">
                  <p class="color-blue">Reset password link is sent to your registered email.</p>
                  <br />
                </div>
                <div class="" *ngIf="isOTPSend">
                  <div class="form-group mb-4">
                    <label>New Password
                      <sup class="text-danger">*</sup>
                    </label>
                    <!-- <button type="button" class="btn-danger-tooltip right-float" *ngIf="Password?.invalid && ( Password?.dirty || Password?.touched || myForm.submitted) "
                    placement="top" triggers="" #pop1="bs-popover" [popover]="popTemplate1" (blur)="pop1.hide()" (click)="pop1.show();">
                    <i class=" fa fa-exclamation-circle right-float"></i>
                    <ng-template class="w-90 h-100" #popTemplate1>
                      <div class="form-group">
                          <i class="fa fa-times right-float" aria-label="Close" (click)="pop1.hide()"></i>
                        <label class="text-red ">Use 8 or more characters with a mix of letters, numbers & symbols. Eg.&nbsp;Pass@123</label>

                      </div>

                    </ng-template>
                  </button> -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock"></i>
                      </span>
                      <input type="password" [(ngModel)]="forgotPassword.password" required
                        [maxlength]="constants.MaxLengthConstants.Password" [pattern]="constants.PASSWORD_REGEXP"
                        [ngClass]="{'has-error': Password.invalid && (Password.dirty || Password.touched || myForm.submitted) }"
                        #Password="ngModel" validateEqual="ConfirmPassword" reverse="true" name="Password"
                        placeholder="Password" class="form-control">
                    </div>
                    <div *ngIf="Password.invalid && (Password.dirty || Password.touched || myForm.submitted)"
                      class="text-danger margin-left-40" role="tooltip">
                      <div [hidden]="!Password.errors['required']">
                        Enter password
                      </div>
                      <div [hidden]="!Password.errors['pattern']">
                        <!-- Enter valid password -->
                        Use 8 or more characters with a mix of letters, numbers & symbols. Eg.&nbsp;Pass@123
                      </div>
                    </div>
                  </div>
                </div>
                <div class="" *ngIf="isOTPSend">
                  <div class="form-group mb-4">
                    <label>Confirm Password
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock"></i>
                      </span>
                      <input type="password" [(ngModel)]="forgotPassword.confirmPassword" required
                        [maxlength]="constants.MaxLengthConstants.Password" [pattern]="constants.PASSWORD_REGEXP"
                        #ConfirmPassword="ngModel" validateEqual="Password" name="ConfirmPassword"
                        [ngClass]="{'has-error': ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched || myForm.submitted) }"
                        reverse="false" placeholder="Confirm Password" class="form-control">
                    </div>
                    <div
                      *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched || myForm.submitted)"
                      class="text-danger margin-left-40" role="tooltip">
                      <div [hidden]="!ConfirmPassword.errors['required']">
                        Confirm password
                      </div>
                      <div
                        *ngIf="(!ConfirmPassword.valid || !ConfirmPassword.pristine) && forgotPassword.confirmPassword">
                        Password mismatch
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" *ngIf="!isOTPSend &&  !isOTP " [disabled]="isOTP"
                      (click)="GenerateOTP(myForm.valid)" class="btn primary-btn btn-add px-4">Reset Password</button>
                    <button type="submit" *ngIf="isOTPSend &&  !isOTP" (click)="ResetPassword(myForm.valid)"
                      class="btn primary-btn btn-add px-4">{{newUserForPasswordGeneration ? 'Create Password' : 'Reset
                      Password'}}</button>
                    <!-- class="btn primary-btn btn-add px-4">Reset Password</button> -->
                    <!-- {{newUserForPasswordGeneration ? 'Generate Your Password' : 'Forgot Your Password?'}} -->
                  </div>
                  <div class="col-6 text-right forget-password">
                    <a [hidden]="newUserForPasswordGeneration" routerLink="['/account/login']"
                      class="text-status-blue medium-montserrat font-14">Sign In</a>
                    <!-- <button type="submit"
                            routerLink="['/account/login']"
                            class="btn btn-link px-0">Sign In</button> -->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{'show':show}" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static',  keyboard: false}">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel);">
  </app-toaster>
</div>