<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card card-main">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-8 col-md-8 col-12">
      </div>
      <div class="col-xl-4 col-md-4 col-12">
        <div class=" row">
          <div class="form-group mb-0 col-xl-12 col-md-12 col-12">
            <div class="row">
              <label class="col-md-3 col-form-label" for="select1">Period</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="daterangeInput" daterangepicker (selected)="getData($event)"
                  (applyDaterangepicker)="someFunction($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-block">
      <div class="card mb-0">
        <div class="card-block">
          <div id="chart"></div>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card">
        <div class="common-table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">User Name</th>
                <th scope="col">Quote Rejected</th>
                <th scope="col">Total Quote Value</th>
                <th scope="col">Average Quote Value</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Quote of allRejectedQuotes">
                <td scope="row">{{Quote.UserName}}</td>
                <td>{{Quote['Total Quotes Rejected']}}</td>
                <td>${{Quote.TotalQuoteValue  | number : '1.2-2'}}</td>
                <td>${{Quote.AverageQuoteValue  | number : '1.2-2'}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .c3-ygrid-line.grid800 line {
    stroke: green;
}
.c3-ygrid-line.grid800 text {
    fill: green;
}
</style>
