<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="margin-bottom-5 padding-left-15 padding-right-15"
    *ngIf="currentRole && currentRole?.description != 'Admin'">
    <div class="page-title padding-bottom-15 padding-top-15">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12 col-12">
          <div>
            <div *ngIf="!expairyDays"
              class="text-capitalize text-title-gray font-16 semibold-montserrat padding-top-5 text-center">
              Your Subscription has been expired. Please contact your administrator.
            </div>
            <div *ngIf="expairyDays"
              class="text-capitalize text-title-gray font-16 semibold-montserrat padding-top-5 text-center">
              You do not have permissions to manage subscription plans, Please contact your administrator.
              <!-- Please contact your administrator for subscription details. -->
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="margin-bottom-5 padding-left-15 padding-right-15"
    *ngIf="currentRole && currentRole?.description=='Admin'">
    <div class="page-title padding-bottom-15 padding-top-15">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12 col-12">
          <div class="text-uppercase text-title-gray font-18 semibold-montserrat padding-top-5 text-center">
            my subscription plans
          </div>
        </div>

        <div class="col-xl-12 col-md-12 col-lg-12 col-12">
          <div *ngIf="currentPlan?.subscriptionType=='SUBSCRIPTION_TRIAL' && expairyDays>0">
            <div *ngIf="currentPlan?.isActive"
              class="text-capitalize text-title-gray font-16 semibold-montserrat padding-top-5 text-center">
              Trial Period is activated.
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="currentRole?.description=='Admin'">
    <div class="subscribe-container">

      <div *ngIf="currentPlan?.isActive && currentPlan?.subscriptionType!='SUBSCRIPTION_TRIAL'" class="row">

        <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-6 col-sm-6 col-12 ">
          <div class="current-box">
            <div class="medium-montserrat font-14 text-current-plan">Current Plan</div>
            <div class="semibold-montserrat font-18 text-dark-blue text-uppercase">{{currentPlan.planName}}</div>
            <div class="font-14 text-current-plan medium-montserrat">USD/Month/Company(Inc. 3 Users)</div>
            <div class="font-14 text-current-plan text-uppercase medium-montserrat">(Billed&nbsp;Monthly)</div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12">
          <div class="user-count-box">
            <div class="semibold-montserrat font-18 text-dark-blue text-uppercase">users</div>
            <div class="semibold-montserrat font-36 text-dark-blue">{{ userCount}}</div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12 ">
          <div class="costing-box">
            <div class="semibold-montserrat font-18 text-dark-blue text-uppercase">cost</div>
            <div class="semibold-montserrat font-36 text-dark-blue">${{GetTotalCost()}}</div>
            <div class="font-14 text-current-plan text-uppercase medium-montserrat">(Billed&nbsp;Monthly)</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-6 col-sm-6 col-12 ">
          <div class="current-plan-box">
            <div class="top-subscribe">
              <div class="text-white semibold-montserrat font-18 text-uppercase">{{SubscriptionType[0].planName}}</div>
              <div class="text-white semibold-montserrat font-36 margin-top-5">{{SubscriptionType[0].cost}}</div>
              <div class="font-14 text-faint-gray medium-montserrat">USD/Month/Company(Inc.
                {{SubscriptionType[0].userLimit}} Users)</div>
              <div class="font-14 text-faint-gray text-uppercase medium-montserrat">(Billed&nbsp;Monthly)</div>
            </div>

            <div class="bottom-subscribe">
              <div class="semibold-montserrat font-30 text-dark-blue">
                <span class="font-14">Plus</span> ${{SubscriptionType[2].cost}}
              </div>
              <div class="font-14 text-subscribe-gray medium-montserrat">USD/Month/Each Additional User</div>
              <div class="font-14 text-subscribe-gray text-uppercase medium-montserrat">(Billed&nbsp;Monthly)</div>
              <div
                *ngIf="currentPlan?.planName=='Monthly Plan' || !currentPlan?.isRenewed || currentPlan?.subscriptionType=='SUBSCRIPTION_TRIAL'">
                <div
                  *ngIf="!currentPlan?.isActive || !expairyDays || currentPlan?.subscriptionType=='SUBSCRIPTION_TRIAL'"
                  class="mt-3">
                  <a class="secondary-btn btn-cancel-subscribe semibold-montserrat margin-top-25"
                    href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="plan_monthly">Subscribe Now</a>
                  <!-- <a class="secondary-btn btn-cancel-subscribe semibold-montserrat margin-top-25"
                     href="javascript:void(0)"
                     data-cb-type="checkout"
                     data-cb-plan-id="monthly">Subscribe Now</a> -->
                </div>
                <div
                  *ngIf="currentPlan?.isActive && currentPlan?.isRenewed && currentPlan?.subscriptionType!=='SUBSCRIPTION_TRIAL'"
                  class="mt-3">
                  <a class="secondary-btn btn-cancel-subscribe semibold-montserrat margin-top-25"
                    (click)="ConfirmModal.show()">
                    Cancel Subscription</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="SubscriptionType.length" class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="subscribe-plan-box">
            <div class="top-subscribe">
              <div class="text-white semibold-montserrat font-18 text-uppercase">{{SubscriptionType[1].planName}}</div>
              <div class="text-white semibold-montserrat font-36 margin-top-5">{{SubscriptionType[1].cost}}</div>
              <div class="font-14 text-faint-gray medium-montserrat">USD/Month/Company(Inc.
                {{SubscriptionType[1].userLimit}} Users)</div>
              <div class="font-14 text-faint-gray text-uppercase medium-montserrat">(Billed&nbsp;annually)</div>
            </div>
            <div class="bottom-subscribe">
              <div class="semibold-montserrat font-30 text-dark-blue">
                <span class="font-14">Plus</span> ${{SubscriptionType[3].cost}}
              </div>
              <div class="font-14 text-subscribe-gray medium-montserrat">USD/Month/Each Additional User</div>
              <div class="font-14 text-subscribe-gray text-uppercase medium-montserrat">(Billed&nbsp;annually)</div>
              <div
                *ngIf="currentPlan?.planName=='Annual Plan' || !currentPlan?.isRenewed || currentPlan?.subscriptionType==='SUBSCRIPTION_TRIAL' || currentPlan?.subscriptionType==='SUBSCRIPTION_MONTHLY'">
                <div
                  *ngIf="!currentPlan?.isActive || !expairyDays || currentPlan?.subscriptionType=='SUBSCRIPTION_TRIAL' || currentPlan?.planName=='Monthly Plan'"
                  class="mt-3">
                  <a class="secondary-btn btn-cancel-subscribe semibold-montserrat margin-top-25"
                    href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="plan_annual">Subscribe Now</a>
                  <!-- <a class="secondary-btn btn-cancel-subscribe semibold-montserrat margin-top-25"
                     href="javascript:void(0)"
                     data-cb-type="checkout"
                     data-cb-plan-id="annual">Subscribe Now</a> -->
                </div>
                <div
                  *ngIf="currentPlan?.isActive && currentPlan?.isRenewed && currentPlan?.subscriptionType!=='SUBSCRIPTION_TRIAL' && currentPlan?.subscriptionType!=='SUBSCRIPTION_MONTHLY'"
                  class="mt-3">
                  <a class="secondary-btn btn-cancel-subscribe semibold-montserrat margin-top-25"
                    (click)="ConfirmModal.show()">Cancel
                    Subscription</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div bsModal #ConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <!-- <div class="modal-dialog modal-warning modal-sm" role="document">
    <div class="modal-content">
      <div class="p-3">
        <span class="font-22 color-blue pr-2">
          <i class="fa fa-question"></i>
        </span>
        <span class="font-22 font-weight-bold">Hello</span>
        <button type="button" class="close" (click)="ConfirmModal.hide()" aria-label="Close">
          <span class=" font-26" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div claas="">
          <span class="text-danger">Are you sure you want to cancel your subscription!
          </span>
        </div>
      </div>
      <div class="mb-3 pl-3">
        <button type="button" class="btn btn-default" (click)="ConfirmModal.hide(CancelSubscription())">Yes</button>
        <button type="button" class="btn btn-default" (click)="ConfirmModal.hide()">No</button>
      </div>
    </div>
  </div> -->
  <app-toaster [notification]="'Are you sure you want to cancel your subscription!'" [typeofMessage]="" [message]=""
    [note]="" [data]="" [showButtons]=true (yes)="ConfirmModal.hide()" (no)="ConfirmModal.hide()"
    (hide)="ConfirmModal.hide()"></app-toaster>
  <!-- ConfirmModal.hide(CancelSubscription()) #Revisit_PreviousCode -- this is changed to rectify error -->
</div>