<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="main-container main-container-compress">
  <div class="padding-bottom-20">
    <div class="padding-left-15 padding-right-15">
      <div class="page-title padding-bottom-15 padding-top-15">
        <div class="row">
          <div class="col-xl-7 col-md-6">
            <div class="
                text-uppercase text-title-gray
                font-16
                semibold-montserrat
                padding-top-5
              ">
              accounts
              <span class="quote-count bg-notif-blue semibold-montserrat">{{
                accountsList.totalCount
                }}</span>
            </div>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="right-float">
              <div class="add-common-btn left-float">
                <button type="button" data-toggle="modal" data-target="#add-account" [disabled]="!accessValid.create"
                  [ngClass]="{ 'btn-disabled': !accessValid.create }" [title]="
                    !accessValid.create ? 'Access denied' : 'Add account'
                  " (click)="addContactModal.show(); discard(); setFocus()" class="semibold-montserrat">
                  Add account
                </button>
              </div>
              <div class="
                  view-btn
                  common-blue-btn
                  dropdown
                  left-float
                  margin-left-15
                ">
                <button type="button" data-toggle="dropdown" (click)="discard()">
                  <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> -->
                  <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                  <i class="icon-menu icons d-block" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" [disabled]="!accessValid.import"
                      [ngClass]="{ 'btn-disabled': !accessValid.import }"
                      [title]="!accessValid.import ? 'Access denied' : 'Import'" data-toggle="modal"
                      data-target="#importModal" (click)="importModal.show()">
                      <i class="fa fa-download" aria-hidden="true"></i> Import
                    </button>
                  </li>

                  <li>
                    <button type="button" [disabled]="!accessValid.export"
                      [ngClass]="{ 'btn-disabled': !accessValid.export }"
                      [title]="!accessValid.export ? 'Access denied' : 'Export'" (click)="exportToCSV()">
                      <i class="fa fa-upload" aria-hidden="true"></i> Export
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="
        sorting-btn-list
        padding-left-15 padding-right-15 padding-bottom-15
      ">
      <div class="row">
        <div class="col-6 col-xl-10 col-md-12 mb-2">
          <ul>
            <li *ngFor="let data of constants.Alphabets">
              <button type="button" (click)="SearchAccount(data)" [ngClass]="{ active: data == selectedAlpha }">
                {{ data }}
              </button>
            </li>
            <li>
              <button type="button" (click)="SearchAccount('Other')" [ngClass]="{ active: data == 'Other' }">
                Other
              </button>
            </li>
          </ul>
        </div>
        <div class="col-6 col-xl-2 col-md-4 mb-2 ml-auto">
          <div class="input-group mb-0 right-float">
            <label class="left-float inline-label">Show</label>&nbsp;&nbsp;
            <select (click)="discard()" name="KitspageSize" [(ngModel)]="accountsList.pageSize"
              (change)="getAccountsList(0)" class="
                ml-4
                form-control
                common-text-box
                font-14
                text-dark-blue
                medium-montserrat
                width-100-percent
              ">
              <option *ngFor="let obj of constants.PageViewSize" [value]="obj">
                {{ obj }} items
              </option>
            </select>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!-- Commenting dynamic columns until David comes up with Default Columns List -->
    <!-- <div>
      <i class="fa fa-eye eyeIcon" aria-hidden="true" (click)="openModal(template)"></i>
    </div> -->
    <ng-template #template class="modalColumn">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body checkboxList">
        <div *ngFor="let item of checkboxesDataList">
          <input type="checkbox" name="" id="" [(ngModel)]="item.ischecked" ng-checked="item.ischecked"
            (change)="changeSelection()">{{item.header}}
        </div>
      </div>
    </ng-template>
    <!-- class="common-table table-responsive" -->
    <div class="card common-table table-responsive">
      <!-- //#revisit_CommentForV1 -->
      <!-- responsiveLayout="scroll"  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" -->
      <!-- columnResizeMode [rows]="accountsList.pageSize" -->
      <!-- [rowsPerPageOptions]="[10,25,50]" To Show Number of Records dropdown in Primeng Pagination-->
      <p-table id="contacts-grid" [columns]="columns" [value]="items" editMode="row" [rows]="accountsList.pageSize"
        [lazy]="true" [autoLayout]="true" (onLazyLoad)="getAccountsList($event)" [paginator]="true"
        [totalRecords]="accountsList.totalCount" [resizableColumns]="true" dataKey="accounts.id"
        styleClass="p-datatable-striped" columnResizeMode="fit">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.property" sortMode="multiple"
              pReorderableColumn pResizableColumn>
              <span [tooltip]="column.header">{{
                column.header}}</span>
              <p-sortIcon [field]="column.property"></p-sortIcon>
            </th>
            <th style="width:3rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="item">
            <td class="ui-resizable-column" *ngIf="isAccountName">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="AccountGridNameForm" #AccountGridNameForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input pInputText type="text" name="AccountGridName" #AccountGridName="ngModel"
                            [maxlength]="constants.MaxLengthConstants.AccountName"
                            [pattern]="constants.FULL_NAME_REGEXP" [(ngModel)]="item.accounts.name" class="form-control"
                            (input)="isUniqueAccountName(item.accounts)" [ngClass]="{
                                'has-error':
                                  AccountGridName.invalid &&
                                  (AccountGridName.dirty ||
                                    AccountGridName.touched ||
                                    AccountGridNameForm.submitted)
                              }" required [autofocus]="tobeEdit === 'name'" />
                        </div>
                        <div *ngIf="
                              AccountGridName.invalid &&
                              (AccountGridName.dirty ||
                                AccountGridName.touched ||
                                AccountGridNameForm.submitted)
                            " class="text-danger">
                          <span [hidden]="!AccountGridName.errors?.['required']">
                            Enter account name
                          </span>
                          <span [hidden]="!AccountGridName.errors?.['pattern']">
                            Enter valid account name
                          </span>
                        </div>
                        <div *ngIf="isAccountRepated === true" class="text-danger">
                          Duplicate account name
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span style="cursor: pointer;" class="color-blue" (click)="goToDetails(item?.accounts?.id)"
                    [tooltip]="item?.accounts?.name">{{
                    item?.accounts?.name }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <!-- <td *ngIf="isAddress">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="AccountGridAddresForm" #AccountGridAddresForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input type="text" pInputText name="AccountGridAddress" #AccountGridAddress="ngModel"
                            [maxlength]="constants.MaxLengthConstants.Address" [(ngModel)]="item.accounts.address"
                            [pattern]="constants.AnythingWhithoutSpace_REGEXP" class="form-control" [ngClass]="{
                        'has-error':
                          AccountGridAddress.invalid &&
                          (AccountGridAddress.dirty ||
                            AccountGridAddress.touched ||
                            AccountGridAddresForm.submitted)
                      }" required [autofocus]="tobeEdit === 'address'" />
                        </div>
                        <div *ngIf="
                      AccountGridAddress.invalid &&
                      (AccountGridAddress.dirty ||
                        AccountGridAddress.touched ||
                        AccountGridAddresForm.submitted)
                    " class="text-danger">
                          <span [hidden]="!AccountGridAddress.errors?.['required']">
                            Enter account address
                          </span>
                          <span [hidden]="!AccountGridAddress.errors?.['pattern']">
                            Enter valid account address
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item?.accounts?.address">{{ item?.accounts?.address }}</span>
                </ng-template>
              </p-cellEditor>
            </td> -->
            <td class="ui-resizable-column" *ngIf="isWebsite">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="AccountGridWebsiteForm" #AccountGridWebsiteForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input type="text" pInputText name="AccountGridWebsite" #AccountGridWebsite="ngModel"
                            [maxlength]="50" pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?"
                            [(ngModel)]="item.accounts.website" class="form-control" [ngClass]="{
                        'has-error':
                          AccountGridWebsite.invalid &&
                          (AccountGridWebsite.dirty ||
                            AccountGridWebsite.touched ||
                            AccountGridWebsiteForm.submitted)
                      }" [autofocus]="tobeEdit === 'website'" />
                        </div>
                        <div *ngIf="
                      AccountGridWebsite.invalid &&
                      (AccountGridWebsite.dirty ||
                        AccountGridWebsite.touched ||
                        AccountGridWebsiteForm.submitted)
                    " class="text-danger">

                          <span [hidden]="!AccountGridWebsite.errors?.['pattern']">
                            Enter valid account website
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span class="editable-txt color-blue">
                    <a class="color-blue" tooltip="{{ item?.accounts?.website }}"
                      (click)="openNewTab($event, item?.accounts?.website); discard()">
                      {{ item?.accounts?.website }}</a>
                  </span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td class="ui-resizable-column" *ngIf="isContactNo">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="AccountGridContactNoForm"
                    #AccountGridContactNoForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input type="text" pInputText name="AccountGridContactNo" #AccountGridContactNo="ngModel"
                            [maxlength]="constants.MaxLengthConstants.Phone" [pattern]="constants.PHONE_REGEXP"
                            prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
                            [(ngModel)]="item.accounts.contactNo" class="form-control" [ngClass]="{
                        'has-error':
                          AccountGridContactNo.invalid &&
                          (AccountGridContactNo.dirty ||
                            AccountGridContactNo.touched ||
                            AccountGridContactNoForm.submitted)
                      }" required [autofocus]="tobeEdit === 'contactNo'" />

                        </div>
                        <div *ngIf="
                      AccountGridContactNo.invalid &&
                      (AccountGridContactNo.dirty ||
                        AccountGridContactNo.touched ||
                        AccountGridContactNoForm.submitted)
                    " class="text-danger">
                          <span [hidden]="!AccountGridContactNo.errors?.['required']">
                            Enter account work no
                          </span>
                          <span [hidden]="!AccountGridContactNo.errors?.['pattern']">
                            Enter valid account work no
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item?.accounts?.contactNo"> {{ item?.accounts?.contactNo }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td class="ui-resizable-column" *ngIf="isFaxNumber">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <form novalidate autocomplete="off" name="AccountGridContactNoForm"
                    #AccountGridContactNoForm="ngForm">
                    <div class="form-group row mb-0">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input type="text" pInputText name="AccountGridContactNo" #AccountGridContactNo="ngModel"
                            [maxlength]="constants.MaxLengthConstants.Phone" [pattern]="constants.PHONE_REGEXP"
                            prefix="+1" [mask]="newMask" [dropSpecialCharacters]="false"
                            [(ngModel)]="item.accounts.faxNo" class="form-control" [autofocus]="tobeEdit === 'faxNo'" />

                        </div>

                        <span [hidden]="!AccountGridContactNo.errors?.['pattern']">
                          Enter valid account fax no
                        </span>
                      </div>
                    </div>
                  </form>
                </ng-template>
                <ng-template pTemplate="output">
                  <span [tooltip]="item?.accounts?.faxNo"> {{ item?.accounts?.faxNo }}</span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td *ngIf="isContact">
              <span class="editable-txt" [tooltip]="item.contact">{{
                item?.contact
                }}</span>
            </td>
            <td *ngIf="isQuotes">
              <span class="editable-txt" [tooltip]="item.quotes">{{
                item?.quotes
                }}</span>
            </td>
            <td *ngIf="isInprogress"><span class="editable-txt text-status-orange" [tooltip]="item.inProgress">{{
                item?.inProgress }}</span>
            </td>
            <td *ngIf="isQuoted"><span [tooltip]="item.quoted" class="editable-txt text-status-blue">{{ item?.quoted
                }}</span></td>
            <td *ngIf="isAccepted"><span [tooltip]="item.accepted" class="editable-txt text-status-green">{{
                item?.accepted }}</span></td>
            <td *ngIf="isRejected"><span [tooltip]="item.rejected" class="editable-txt text-status-pink">{{
                item?.rejected }}</span></td>
            <td *ngIf="isExpired"><span [tooltip]="item.expired" class="editable-txt text-status-violet">{{
                item?.expired }}</span></td>
            <td>
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template> -->
      </p-table>


      <!-- <div class="mt-2">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div> -->
    </div>
  </div>
</div>

<div bsModal #addContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <form novalidate id="AccountDetailsForm" #AccountDetailsForm="ngForm" name="AccountDetailsForm">
      <div class="modal-content">
        <div class="modal-header common-modal-header">
          <h4 class="
              modal-title
              text-capitalize
              font-18
              text-dark-blue
              medium-montserrat
            ">
            Add Account
          </h4>
          <button type="reset" class="close common-close"
            (click)="cancelAccoutDetail(AccountDetailsForm, addContactModal)" aria-label="Close">
            <i class="fa fa-times-thin fa-2x color-grey-shade"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Account Name</label>
            <!-- <input type="text" autocomplete="off" maxlength="30" placeholder="Account Name" [pattern]="constants.Title_REGEXP" class="form-control"
              #name="ngModel" #nam id="name" name="name" [(ngModel)]="account.name" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched || AccountDetailsForm.submitted) }"
              required (input)="isUniqueAccountName(account)"> -->
            <input type="text" autocomplete="off" [maxlength]="constants.MaxLengthConstants.AccountName"
              placeholder="Account Name" [pattern]="constants.FULL_NAME_REGEXP" class="form-control" #name="ngModel"
              #nam id="name" name="name" [(ngModel)]="account.name" [ngClass]="{
                'has-error':
                  name.invalid && (name.dirty || AccountDetailsForm.submitted)
              }" required (input)="isUniqueAccountName(account)" />
            {{ isOpenPopup ? nam.focus() : null }}
            <!-- {{isOpenPopup ? name.reset() : null}} -->
            <div *ngIf="
                name.invalid &&
                (name.dirty || isFormSubmitted) &&
                !isAccountRepated
              " class="text-danger">
              <div [hidden]="!name.errors?.['required']">Enter account name</div>
              <div [hidden]="!name.errors?.['pattern']">
                Enter valid account name
              </div>
            </div>
            <div *ngIf="isAccountRepated" class="text-danger">
              Duplicate account name
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Address</label>
            <input type="text" placeholder="Address" autocomplete="off" class="form-control"
              [maxlength]="constants.MaxLengthConstants.Address" #address="ngModel" id="address" name="address"
              [(ngModel)]="account.address" [pattern]="constants.AnythingWhithoutSpace_REGEXP" [ngClass]="{
                'has-error':
                  address.invalid &&
                  (address.dirty ||
                    address.touched ||
                    AccountDetailsForm.submitted)
              }" />

            <div *ngIf="
                address.invalid &&
                (address.dirty || address.touched || isFormSubmitted)
              " class="text-danger">
              <!--required <div [hidden]="!address.errors?.required">
                Enter account address
              </div> -->
              <div [hidden]="!address.errors?.['pattern']">
                Enter valid account address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Website</label>
            <input type="url" placeholder="Website" autocomplete="off" class="form-control" #Website="ngModel"
              id="Website" name="Website" [(ngModel)]="account.website"
              pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?" [ngClass]="{
                'has-error':
                  Website.invalid &&
                  (Website.dirty ||
                    Website.touched ||
                    AccountDetailsForm.submitted)
              }" />
            <div *ngIf="
                Website.invalid &&
                (Website.dirty || Website.touched || isFormSubmitted)
              " class="text-danger">
              <!-- <div [hidden]="!Website.errors?.required">
                Enter account website
              </div> -->
              <div [hidden]="!Website.errors?.['pattern']">Enter valid website</div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-dark-blue medium-montserrat text-capitalize">Work No</label>
            <input type="text" placeholder="Work No" autocomplete="off" class="form-control" prefix="+1"
              [mask]="newMask" [dropSpecialCharacters]="false" [maxlength]="constants.MaxLengthConstants.Phone"
              #contactNo="ngModel" id="contactNo" name="contactNo" [(ngModel)]="account.contactNo"
              [pattern]="constants.PHONE_REGEXP" [ngClass]="{
                'has-error':
                  contactNo.invalid &&
                  (contactNo.dirty ||
                    contactNo.touched ||
                    AccountDetailsForm.submitted)
              }" />
            <div *ngIf="
                contactNo.invalid &&
                (contactNo.dirty || contactNo.touched || isFormSubmitted)
              " class="text-danger">
              <!--required <div [hidden]="!contactNo.errors?.required">
                Enter work no
              </div> -->
              <div [hidden]="!contactNo.errors?.['pattern']">
                Enter valid work no
              </div>
            </div>
          </div>

          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-footer">
          <button type="submit" class="btn primary-btn btn-add" (click)="
              addAccountModal(
                AccountDetailsForm.valid,
                addContactModal,
                AccountDetailsForm
              )
            ">
            Add
          </button>
          <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal"
            (click)="cancelAccoutDetail(AccountDetailsForm, addContactModal)">
            Cancel
          </button>
        </div>
      </div>
      <!-- /.modal -->
    </form>
  </div>
</div>

<div bsModal #importModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate autocomplete="off" #kitForm="ngForm">
        <div class="modal-header common-modal-header">
          <h4 class="
              modal-title
              text-capitalize
              font-18
              text-dark-blue
              medium-montserrat
            ">
            Import Account Details
          </h4>
          <!-- importModal.hide(cancelUpload());//#Revisit_PreviousCode -->
          <button type="reset" class="close common-close" (click)="
              importModal.hide();
              showData = false;
              showWarning = false;
              getAccountsList(0)
            " aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="
                image-upload-section
                padding-top-30 padding-bottom-30
                import-image-upload
              ">
              <div class="file-upload">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">
                    <i class="fa fa-file-text"></i>
                  </div>
                  <div class="
                      file-select-name
                      font-14
                      medium-montserrat
                      text-capitalize
                    " id="noFile">
                    upload
                  </div>

                  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary"
                    (change)="fileChangeListener($event)" accept=".csv" />
                  <div *ngIf="showWarning">
                    <label class="text-capitalize semibold-montserrat text-danger">
                      * Please select valid file</label>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="showData">
              <label class="text-capitalize semibold-montserrat">Total Account(s) Imported :</label>
              <span> {{ totalAccount }}</span>
              <br />
              <!-- <div class="row">&nbsp;&nbsp; -->
              <label class="text-capitalize semibold-montserrat text-status-green">Valid Imports:</label>
              <span class="text-status-green"> {{ validAccount }}</span>
              <label class="
                  text-capitalize
                  semibold-montserrat
                  text-danger
                  right-float
                ">Invalid Imports :
                <span class="text-danger"> {{ invalidAccount }}</span>
              </label>
              <!-- </div> -->
            </div>
            <div class="margin-top-15 upload-import-file">
              <div class="row">
                <div class="col-xl-1 col-12 col-sm-1">
                  <div class="text-center">
                    <div class="import-file-type">
                      <i class="fa fa-download"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-11 col-12 col-sm-11">
                  <div class="text-right import-upload-btn">
                    <!-- <button type="button" (click)="cancelUpload()" class="image-delete">
                      <i class="fa fa-times"></i>
                    </button> -->
                  </div>

                  <a (click)="DownloadTemplate()" class="text-table-record-blue semibold-montserrat">
                    Download sample Template</a>
                  <div *ngIf="showFile" class="
                      text-dark-blue
                      font-14
                      semibold-montserrat
                      margin-bottom-5
                    ">
                    {{ myFilename }}
                  </div>
                  <!-- <div class="file-upload-progress">
                    <div class="progress">
                      <div class="progress-bar" style="width:40%"></div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <!-- <button type="submit" class="btn btn-info" (click)="addAccountFile();importModal.hide(cancelUpload())">Add</button> -->
            <!-- (click)="importModal.hide(cancelUpload()) //#Revisit_PreviousCode -->
            <button type="submit" class="btn primary-btn btn-add" (click)="importModal.hide();
                showData = false;
                showWarning = false;
                getAccountsList(0)
              ">
              Done
            </button>

            <!-- <button type="reset" class="btn secondary-btn btn-default" data-dismiss="modal" (click)="importModal.hide(cancelUpload())">Cancel</button> -->
          </div>
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>

<div bsModal #ConfirmationModel="bs-modal" [ngClass]="{ show: show }" [style.display]="show ? 'block' : 'none'"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }">
  <app-toaster [typeofMessage]="typeofMessage" [message]="messageToDisplay" [notification]="notification"
    [note]="noteToDisplay" [data]="dataToDisplay" [showButtons]="showButtons" (yes)="yes(ConfirmationModel)"
    (no)="no(ConfirmationModel)" (hide)="hide(ConfirmationModel)">
  </app-toaster>
</div>